<template>
  <!-- eslint-disable vue/no-v-html -->
  <footer class="footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-about">
          <nuxt-link :to="localePath('/')" class="footer-about-logo">
            <img src="logo.svg" alt="">
          </nuxt-link>
          <div v-if="content.description" class="footer-about-desc" v-html="content.description" />
          <div v-if="content.certificates" class="footer-about-certificates" v-html="content.certificates" />
          <div v-if="content.info" class="footer-about-desc" v-html="content.info" />
          <div class="footer-about-copy" v-html="content.year" />
        </div>
        <nav class="footer-nav">
          <ul>
            <li v-for="(item, index) in content.navigationOne" :key="`navigationOne-${index}`">
              <a :href="item.link" :target="item.target">{{ item.title }}</a>
            </li>
          </ul>
          <ul>
            <li v-for="(item, index) in content.navigationTwo" :key="`navigationTwo-${index}`">
              <a :href="item.link" :target="item.target">{{ item.title }}</a>
            </li>
          </ul>
        </nav>
        <div class="footer-contacts">
          <div>
            <div class="footer-contacts-row footer-social">
              <a v-for="item in content.social" :key="item.icon" :href="item.link" target="_blank">
                <svg class="inline-icon footer-social-icon">
                  <use :href="`#${item.icon}`" />
                </svg>
              </a>
            </div>
            <div class="footer-contacts-row">
              <a :href="content.contact.phoneAction" class="footer-phone">{{ content.contact.phone }}</a>
              <a v-smooth-scroll :href="content.contact.link" class="footer-phone-desc link">{{ content.contact.button }}</a>
            </div>
            <div v-for="phone in content.additionalPhones" :key="phone.number" class="footer-contacts-row">
              <a :href="phone.action" class="footer-phone">{{ phone.number }}</a>
              <span class="footer-phone-desc">{{ phone.country }}</span>
            </div>
            <div v-if="content.additionalLogo" class="footer-contacts-row">
              <a :href="content.additionalLogo.link" target="_blank">
                <img :src="content.additionalLogo.image" :alt="content.additionalLogo.link">
              </a>
              <span v-if="content.additionalLogo.text" class="is-block">
                {{ content.additionalLogo.text }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-icons">
        <div v-for="icon in content.icons" :key="icon" class="footer-icon">
          <img :src="icon" alt="">
        </div>
      </div>
      <div class="footer-content" v-html="content.copy" />
    </div>
    <a :href="content.bottomLink" target="_blank" class="footer-offer">
      <span class="container is-block">
        <span class="footer-offer-content">
          <span v-html="content.bottomText" />
          <svg class="inline-icon footer-offer-content-arrow">
            <use href="#arrow-big" />
          </svg>
        </span>
      </span>
    </a>
  </footer>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
