<template>
  <header :class="[ 'header', classes ]">
    <div class="container">
      <div class="header-wrapper">
        <nuxt-link :to="localePath('/')" class="header-logo">
          <img :src="logo" alt="">
        </nuxt-link>
        <Navigation
          :content="{
            navigation: content.navigation,
            apps: content.apps,
            contact: content.contact,
            socials: content.socials
          }"
        />
        <a :href="content.contact.phoneAction" class="header-phone">{{ content.contact.phone }}</a>
        <!-- <button class="header-search">
          <img src="search.svg" alt="">
        </button> -->
        <DropdownLang :lang="$i18n.locale" />
        <div class="header-hamburger" @click="mobileNavigation = !mobileNavigation">
          <svg class="inline-icon">
            <use href="#hamburger" />
          </svg>
        </div>
        <DropdownMobile
          v-if="mobileNavigation"
          :content="{
            navigation: content.navigation,
            apps: content.apps,
            contact: content.contact,
            socials: content.socials
          }"
          @on:close="closeMobileNavigation"
        />
      </div>
    </div>
  </header>
</template>

<script>
import DropdownLang from '~/components/Dropdowns/DropdownLang.vue'
import Navigation from '~/components/Navigation.vue'

export default {
  components: {
    DropdownMobile: () => import('~/components/Dropdowns/DropdownMobile.vue'),
    DropdownLang,
    Navigation
  },
  props: {
    classes: {
      type: String,
      default: ''
    },
    logo: {
      type: String,
      default: ''
    },
    content: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      mobileNavigation: false
    }
  },
  methods: {
    closeMobileNavigation () {
      this.mobileNavigation = false
    }
  }
}
</script>
