<template>
  <div :class="layoutClasses">
    <Header
      :classes="headerClasses"
      :logo="headerLogo"
      :content="headerContent"
    />
    <slot />
    <Footer
      :content="footerContent"
    />
    <SvgSprite />
    <Cookies
      :content="cookiesContent"
    />
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  components: {
    Header,
    Footer,
    SvgSprite: () => import('@/components/SvgSprite'),
    Cookies: () => import('@/components/Modals/Cookies.vue')
  },
  props: {
    headerClasses: {
      type: String,
      default: ''
    },
    headerLogo: {
      type: String,
      default: 'logo.svg'
    },
    headerContent: {
      type: Object,
      required: true
    },
    footerContent: {
      type: Object,
      required: true
    },
    cookiesContent: {
      type: Object,
      required: true
    },
    layoutClasses: {
      type: String,
      default: ''
    }
  }
}
</script>
