
$container-offset: 25px;
$container-max-width: $fullhd;

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 $container-offset;
  width: auto;

  @include desktop {
    max-width: $desktop
  }

  @include until-widescreen {
    max-width: min($widescreen, $container-max-width)
  }

  @include widescreen {
    max-width: min($widescreen, $container-max-width)
  }
}