@charset "UTF-8";
/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(244,244,244,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  height: 100%; }

body {
  font-stretch: normal;
  font-weight: normal;
  height: 100%;
  position: relative;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fcfcfd;
  overflow-x: hidden; }

.container {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #fcfcfd; }

.wrapper-block {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper.center-items {
    align-items: center; }
  .flex-wrapper .flex-block {
    flex-grow: 1;
    min-width: 50%;
    max-width: 50%; }
    .flex-wrapper .flex-block.w30 {
      min-width: 30%;
      max-width: 30%; }
    .flex-wrapper .flex-block.w40 {
      min-width: 40%;
      max-width: 40%; }
    .flex-wrapper .flex-block.w60 {
      min-width: 60%;
      max-width: 60%; }
    .flex-wrapper .flex-block.w70 {
      min-width: 70%;
      max-width: 70%; }

.white-bg {
  background: #fff; }

.dark-bg {
  background: #353439; }

.light-gray-bg {
  background: #f0f3f8; }

h1, h2, h3, h4 {
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 20px; }

h2 .s31 {
  display: block;
  font-size: 31px;
  line-height: 44px; }
h2.leaf-after {
  position: relative; }
  h2.leaf-after:after {
    content: "";
    display: block;
    width: 25px;
    height: 33px;
    background: url(/img/leaf-icon.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -55px; }

h3 {
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 28px; }

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 20px; }

p, .s16 {
  font-size: 16px;
  line-height: 24px; }
  p.asterisk, .s16.asterisk {
    position: relative; }
    p.asterisk:before, .s16.asterisk:before {
      content: "*";
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      position: absolute;
      left: -10px; }

.s18 {
  font-size: 18px;
  line-height: 28px; }

.s14 {
  font-size: 14px;
  line-height: 24px; }

p {
  margin-bottom: 20px; }
  p:last-child {
    margin: 0; }
  p.s14 {
    margin-bottom: 15px; }

.middle {
  font-weight: 500; }

.semibold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

strong {
  font-weight: 700; }

.white-bg-br-20 {
  background: #fff; }

.br-35 {
  border-radius: 35px; }

.br-20 {
  border-radius: 20px; }

.br-10 {
  border-radius: 10px; }

.box-sh-gray {
  box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2); }

.pr100 {
  padding-right: 100px; }

.pl100 {
  padding-left: 100px; }

.p85 {
  padding-top: 85px;
  padding-bottom: 85px; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: none; }
  a.standart-green {
    color: #57D435;
    border-bottom: 1px solid #57d435;
    transition: all 200ms linear 0s; }
    a.standart-green:hover, a.standart-green.active {
      border-bottom: 1px solid rgba(87, 212, 53, 0); }
  a.standart-dark {
    color: #2a3c46;
    border-bottom: 1px solid rgba(153, 162, 173, 0.7);
    transition: all 200ms linear 0s; }
    a.standart-dark:hover {
      color: #202020;
      border-bottom: 1px solid #202020; }

.s24 {
  font-size: 24px;
  line-height: 36px; }

.fs30 {
  font-size: 30px;
  line-height: 37px; }

.fs40 {
  font-size: 40px;
  line-height: 52px; }

.fs55 {
  font-size: 55px;
  line-height: 52px; }

.m0 {
  margin: 0; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.color-light-gray {
  color: #99a2ad; }

.color-gray {
  color: #2a3c46; }

.color-green {
  color: #57D435; }

.align-center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }

.align-right {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right; }

.align-left {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left; }

.nowrap {
  white-space: nowrap; }

.h-block h1, .h-block h2, .h-block h3, .h-block h4 {
  margin-bottom: 15px; }

div, li, a, span, button, input {
  box-sizing: border-box; }

a, input, span, div, p, ul, li, :before, :after, img {
  outline: none;
  /*transition: color 200ms linear 0s, background 200ms linear 0s, border 200ms linear 0s, opacity 200ms linear 0s, transform 400ms linear 0s;*/ }

a:focus, a:visited {
  -moz-outline-style: none;
  outline: none; }

button, input {
  border: none;
  background: none;
  border-radius: 0; }

.btn {
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  transition: all 200ms linear 0s;
  padding: 0 15px; }
  .btn.btn-small {
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 25px; }
  .btn.btn-middle {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 44px; }
  .btn.btn-big {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 60px; }
  .btn.btn-green {
    color: #296519;
    background: #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15); }
    .btn.btn-green:hover {
      background: #93F878; }
  .btn.btn-green-border {
    background: rgba(147, 248, 120, 0);
    border: 2px solid #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #fff; }
    .btn.btn-green-border.btn-small {
      line-height: 32px; }
    .btn.btn-green-border.btn-middle {
      line-height: 40px; }
    .btn.btn-green-border.btn-big {
      line-height: 56px; }
    .btn.btn-green-border:hover {
      border: 2px solid #93F878;
      background: #93f878;
      box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
      color: #296519; }
  .btn.btn-black {
    background: #000;
    color: #fff; }
  .btn.btn300 {
    width: 300px; }

/*.wrapper-block { //╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╨░╤П ╨╛╨▒╨▓╤П╨╖╨║╨░
                 width: 1200px;
                 margin-left: auto;
                 margin-right: auto;
                 font-size: 0;
}*/
* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

.container.hidden {
  overflow: hidden; }

.bend, .bend-top {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.first-bend-block {
  position: relative;
  padding: 55px 0 175px 0; }
  .first-bend-block .bend {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: -1px; }

.second-bend-block {
  padding: 110px 0 100px 0; }

.loss-of-profit {
  position: relative;
  height: 1050px;
  padding-bottom: 205px;
  overflow: hidden; }
  .loss-of-profit .bend {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 3;
    bottom: -1px; }
    .loss-of-profit .bend.bend-top {
      position: relative;
      top: 0; }

.image-wrapper img {
  display: block; }
.image-wrapper.align-center img {
  margin: 0 auto; }

/*phone block start*/
.phone-image-block {
  position: relative;
  width: 290px; }
  .phone-image-block img {
    display: block;
    width: 100%; }
    .phone-image-block img.phone-frame {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2; }

/*phone block end*/
/*main-top-block start*/
.main-top-block {
  position: relative; }
  .main-top-block .bend {
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: -1px; }

.main-top-slider-wrapper .carousel-cell {
  width: 100%;
  height: 800px; }
.main-top-slider-wrapper .flickity-page-dots {
  opacity: 0; }
  .main-top-slider-wrapper .flickity-page-dots .dot {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 2px;
    background: rgba(153, 162, 173, 0.2);
    margin: 0 3px;
    border-radius: 0;
    transition: all 3s linear 0s; }
    .main-top-slider-wrapper .flickity-page-dots .dot:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #99a2ad;
      position: absolute;
      left: 0;
      transition: all 3s linear 0s; }
    .main-top-slider-wrapper .flickity-page-dots .dot.is-selected:before {
      left: 100%; }
.main-top-slider-wrapper .main-slider-bacs .carousel-cell:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  position: absolute;
  top: 0;
  left: 0; }
.main-top-slider-wrapper .main-slider-bacs .carousel-cell img {
  position: relative;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
.main-top-slider-wrapper .main-slider-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
.main-top-slider-wrapper .slide-image-block-wrapper {
  height: 100%;
  width: 100%; }
  .main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
    padding-top: 156px;
    display: flex;
    justify-content: flex-end; }
.main-top-slider-wrapper .slide-image-block {
  width: 294px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  position: relative;
  z-index: 2;
  padding-bottom: 50px; }
  .main-top-slider-wrapper .slide-image-block .caption {
    color: #6d818c;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .main-top-slider-wrapper .slide-image-block.icebox-box {
    padding-bottom: 30px; }
    .main-top-slider-wrapper .slide-image-block.icebox-box img {
      width: 445px;
      position: relative;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 10; }
  header .logo {
    display: none; }
  header .header {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .open-menu {
    display: none; }
  header menu {
    flex-grow: 1; }
    header menu ul li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      position: relative;
      margin-right: 40px; }
      header menu ul li a {
        display: block;
        font-size: 14px;
        line-height: 30px;
        color: #fff;
        transition: all 200ms linear 0s; }
        header menu ul li a:hover, header menu ul li a.active {
          color: #3acd12; }
        header menu ul li a.open-extra-menu {
          position: relative;
          padding-right: 15px; }
          header menu ul li a.open-extra-menu:after {
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            *display: inline;
            *zoom: 1;
            width: 5px;
            height: 5px;
            content: "";
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            position: absolute;
            right: 0;
            top: 50%;
            -moz-transform: translate(0, -50%) rotate(45deg);
            -ms-transform: translate(0, -50%) rotate(45deg);
            -webkit-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
            transition: all 200ms linear 0s; }
          header menu ul li a.open-extra-menu:hover:after, header menu ul li a.open-extra-menu.active:after {
            border-right: 1px solid #3acd12;
            border-bottom: 1px solid #3acd12; }
      header menu ul li .extra-menu {
        display: none; }
      header menu ul li:hover .extra-menu {
        display: block;
        width: 235px;
        padding: 10px 20px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2);
        position: absolute;
        left: -20px;
        z-index: 2; }
        header menu ul li:hover .extra-menu li {
          display: block;
          margin-right: 0; }
          header menu ul li:hover .extra-menu li a {
            color: #202020;
            line-height: 32px; }
            header menu ul li:hover .extra-menu li a:hover {
              color: #3acd12; }
  header .tel {
    height: 60px;
    line-height: 56px;
    border: 2px solid #77ea58;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 0 30px;
    white-space: nowrap;
    transition: all 200ms linear 0s; }
    header .tel:hover {
      border: 2px solid #93F878; }
  header .languages {
    margin-left: 30px;
    height: 14px;
    position: relative;
    padding-right: 15px; }
    header .languages:after {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      width: 5px;
      height: 5px;
      content: "";
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: absolute;
      right: 0;
      top: 50%;
      -moz-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
      -webkit-transform: translate(0, -50%) rotate(45deg);
      transform: translate(0, -50%) rotate(45deg);
      transition: all 200ms linear 0s; }
    header .languages li {
      padding-bottom: 10px; }
      header .languages li a {
        display: flex; }
        header .languages li a img {
          display: block;
          width: 20px;
          border-radius: 3px;
          margin-right: 5px; }
        header .languages li a span {
          display: block;
          line-height: 14px;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px; }
  header .header-right {
    display: flex;
    align-items: center; }

.main-top-info {
  position: absolute;
  z-index: 9;
  top: 180px;
  left: 50%;
  width: 680px;
  -moz-transform: translate(-580px, 0);
  -ms-transform: translate(-580px, 0);
  -webkit-transform: translate(-580px, 0);
  transform: translate(-580px, 0);
  color: #fff; }
  .main-top-info h1 {
    margin-bottom: 40px; }
  .main-top-info .logo {
    margin-bottom: 20px; }
    .main-top-info .logo a {
      display: block; }
      .main-top-info .logo a img {
        width: 244px; }
  .main-top-info ul {
    margin-bottom: 40px; }
    .main-top-info ul li {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 18px;
      position: relative; }
      .main-top-info ul li:before {
        display: block;
        content: "";
        width: 27px;
        height: 24px;
        background: url(/img/marker-icon.svg) 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        left: -40px;
        top: 2px; }
  .main-top-info .btn {
    margin-bottom: 20px; }

/*main-top-block end*/
/*top-block start*/
.form-block {
    position: relative;
    z-index: 10;
  width: 400px;
  padding: 30px 30px 14px 30px;
  margin-top: 30px; }

#bx_form_iframe_19 {
  overflow: auto !important; }

.pluses-for-you-wrapper {
  margin-top: -4px; }

.pluses-for-you {
  padding-top: 55px; }
  .pluses-for-you li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .pluses-for-you li:last-child {
      margin-bottom: 0; }
    .pluses-for-you li img {
      min-width: 60px;
      max-width: 60px;
      border-radius: 12px;
      margin-right: 22px; }
      .pluses-for-you li img.green-shadow {
        box-shadow: 0px 6px 14px rgba(100, 236, 114, 0.25); }
      .pluses-for-you li img.blue-shadow {
        box-shadow: 0px 6px 14px rgba(127, 186, 255, 0.25); }
      .pluses-for-you li img.pink-shadow {
        box-shadow: 0px 6px 14px rgba(244, 126, 168, 0.25); }

/*top-block end*/
/*about-products start*/
.about-products-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: -180px; }
  .about-products-wrapper .about-product-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 360px;
    max-width: 360px; }
    .about-products-wrapper .about-product-block .image-wrapper {
      margin-bottom: 35px; }
      .about-products-wrapper .about-product-block .image-wrapper.have-icon {
        padding-left: 50px;
        position: relative; }
        .about-products-wrapper .about-product-block .image-wrapper.have-icon .b-pay-icon {
          width: 100px;
          position: absolute;
          bottom: 38px;
          left: 0; }
    .about-products-wrapper .about-product-block .product-info {
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 35px 35px 35px; }
      .about-products-wrapper .about-product-block .product-info .product-info-text {
        padding-bottom: 30px; }
      .about-products-wrapper .about-product-block .product-info p {
        margin-bottom: 0; }
      .about-products-wrapper .about-product-block .product-info h3 {
        margin-bottom: 20px; }
      .about-products-wrapper .about-product-block .product-info .text-block {
        margin-bottom: 20px; }
        .about-products-wrapper .about-product-block .product-info .text-block:last-child {
          margin-bottom: 0; }
    .about-products-wrapper .about-product-block.about-micromarket .image-wrapper img {
      margin-left: -80px; }
    .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img {
      margin-left: 25px; }
      .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img.only-mobile {
        display: none; }

/*about-products end*/
/*instagram-images start*/
.instagram-images-block {
  padding: 150px 0;
  position: relative; }
  .instagram-images-block .insta-icon-bg {
    position: absolute;
    left: 75%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1; }
  .instagram-images-block h3 {
    position: relative;
    z-index: 2; }

.instagram-images-wrapper {
  position: relative;
  z-index: 2; }
  .instagram-images-wrapper .flickity-slider {
    margin-left: 20px; }
  .instagram-images-wrapper .carousel-image {
    display: block;
    width: 180px;
    margin-right: 24px; }
    .instagram-images-wrapper .carousel-image img {
      display: block;
      width: 100%;
      border-radius: 20px; }

/*instagram-images end*/
/*loss-of-profit start*/
.loss-of-profit .wrapper-block {
  padding-top: 40px;
  padding-bottom: 50px; }
.loss-of-profit .flex-block .text-block {
  margin-bottom: 90px; }
  .loss-of-profit .flex-block .text-block:last-child {
    margin-bottom: 0; }
.loss-of-profit .flex-block .phone-image-block {
  width: 440px;
  margin-top: -80px; }
  .loss-of-profit .flex-block .phone-image-block img:not(.phone-frame) {
    border-radius: 60px;
    /*ОБРАТИ ВНИМАНИЕ, ПОПРАВЬ КАРТИНКУ - ПРОЗРАЧНЫЕ ОТСТУПЫ ПО РАЗМЕРУ*/ }

.revenue-growth-block {
  min-height: 280px;
  padding: 45px 45px 20px 45px; }
  .revenue-growth-block .carousel-cell {
    width: 100%;
    min-height: 172px; }
    .revenue-growth-block .carousel-cell span {
      display: block;
      margin-bottom: 30px; }
  .revenue-growth-block .flickity-enabled {
    padding-bottom: 43px; }
  .revenue-growth-block .flickity-page-dots {
    line-height: 0;
    bottom: 0; }
    .revenue-growth-block .flickity-page-dots .dot {
      position: relative;
      width: 13px;
      height: 13px;
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 100%;
      margin: 0 13px 0 0;
      opacity: 1.0; }
      .revenue-growth-block .flickity-page-dots .dot:after {
        content: "";
        width: 14px;
        height: 1px;
        background: #aaa;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -1px; }
      .revenue-growth-block .flickity-page-dots .dot:last-child {
        margin: 0; }
        .revenue-growth-block .flickity-page-dots .dot:last-child:after {
          display: none; }
      .revenue-growth-block .flickity-page-dots .dot.is-selected {
        background: #57D435; }

/*loss-of-profit end*/
/*briskly-components start*/
.briskly-components-wrapper {
  padding: 100px 0 0 0; }
  .briskly-components-wrapper .str-after {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .briskly-components-wrapper .str-after div {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      padding: 0 125px;
      position: relative; }
      .briskly-components-wrapper .str-after div img {
        position: absolute;
        right: 0;
        top: 30px;
        z-index: 10; }

.briskly-components-block {
  padding: 60px 0; }
  .briskly-components-block .flex-block.image-wrapper {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right; }
    .briskly-components-block .flex-block.image-wrapper img {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      max-width: 100%; }
  .briskly-components-block .flex-block.text-wrapper {
    padding-top: 35px; }
    .briskly-components-block .flex-block.text-wrapper .text-block {
      margin-bottom: 40px; }
      .briskly-components-block .flex-block.text-wrapper .text-block:last-child {
        margin-bottom: 0; }

/*briskly-components end*/
/*about-b-pay start*/
.about-b-pay {
  padding: 140px 0;
  /* background: url(/img/b-pay-logo-bg.svg) center center no-repeat; */
  background-size: 102%; }
  .about-b-pay .flex-block .text-block {
    margin-top: 60px; }
    .about-b-pay .flex-block .text-block .s24 {
      display: block;
      margin-bottom: 10px; }
  .about-b-pay .flex-block .phone-image-block {
    margin-top: 90px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1; }
    .about-b-pay .flex-block .phone-image-block.have-icon .b-pay-icon {
      width: 230px;
      position: absolute;
      left: 0;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 64px;
      z-index: 10; }
  .about-b-pay .btns-block {
    margin-top: 80px;
    display: flex; }
    .about-b-pay .btns-block .btn {
      padding: 0 55px;
      position: relative; }
      .about-b-pay .btns-block .btn:first-child {
        margin-right: 20px; }
      .about-b-pay .btns-block .btn.btn-ios:before {
        content: "";
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        width: 20px;
        height: 20px;
        background: url(/img/icons/apple-icon.svg) 0 0 no-repeat;
        background-size: contain;
        margin-right: 10px;
        position: relative;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin-top: -3px; }
      .about-b-pay .btns-block .btn.btn-android:before {
        content: "";
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        width: 20px;
        height: 20px;
        background: url(/img/icons/android-icon.svg) 0 0 no-repeat;
        background-size: contain;
        margin-right: 10px;
        position: relative;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }

/*about-b-pay end*/
/*work-steps start*/
.work-steps-wrapper {
  padding-top: 60px;
  width: 100%;
  justify-content: space-between;
  display: flex; }
  .work-steps-wrapper .work-step-block {
    min-width: 230px;
    max-width: 230px; }
    .work-steps-wrapper .work-step-block span {
      display: block;
      margin-bottom: 10px; }
    .work-steps-wrapper .work-step-block .icon-block {
      position: relative; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        content: "";
        width: 15px;
        height: 30px;
        background: url(/img/arrow-r-gray.svg) 0 0 no-repeat;
        background-size: contain;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        position: absolute;
        top: 50%;
        left: 185px;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .work-steps-wrapper .work-step-block .icon-block img {
        display: block;
        width: 100px;
        margin-bottom: 30px;
        border-radius: 24px; }
        .work-steps-wrapper .work-step-block .icon-block img.green-shadow {
          box-shadow: 0px 6px 24px rgba(95, 218, 62, 0.25); }
        .work-steps-wrapper .work-step-block .icon-block img.blue-shadow {
          box-shadow: 0px 6px 24px rgba(76, 162, 242, 0.25); }
        .work-steps-wrapper .work-step-block .icon-block img.purple-shadow {
          box-shadow: 0px 6px 24px rgba(169, 76, 242, 0.25); }
    .work-steps-wrapper .work-step-block:last-child .icon-block:after {
      display: none; }

/*work-steps ens*/
/*about-terminal start*/
.about-terminal {
  padding: 85px 0 140px 0; }
  .about-terminal .image-wrapper {
    position: relative; }
    .about-terminal .image-wrapper .main-image {
      border-radius: 20px;
      box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25); }
    .about-terminal .image-wrapper .card-image {
      position: absolute;
      left: -60px;
      bottom: -40px;
      border-radius: 20px;
      box-shadow: 3px 12px 70px rgba(111, 236, 77, 0.2); }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 140px 0; }
  .embedded-marketing .spec-text {
    width: 680px;
    margin-bottom: 80px;
    position: relative;
    left: 50%;
    margin-left: -280px; }

.laptop-bg {
  display: flex;
  align-items: center;
  min-height: 730px;
  background: url(/img/laptop-bg.svg) bottom center no-repeat; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .spec-flex-wrapper .flex-block {
    min-width: 50%;
    max-width: 50%;
    padding-left: 60px;
    display: flex;
    align-items: center;
    margin: 50px 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 130px;
      max-width: 130px;
      margin-right: 20px; }
      .spec-flex-wrapper .flex-block .icon-block img {
        display: block;
        width: 100%;
        border-radius: 24px; }
        .spec-flex-wrapper .flex-block .icon-block img.green-shadow {
          box-shadow: 0px 8px 20px rgba(112, 249, 48, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.blue-shadow {
          box-shadow: 0px 8px 20px rgba(48, 200, 249, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.pink-shadow {
          box-shadow: 0px 8px 20px rgba(249, 48, 120, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.purple-shadow {
          box-shadow: 0px 8px 20px rgba(249, 48, 229, 0.15); }
      .spec-flex-wrapper .flex-block .icon-block.have-tail {
        position: relative; }
        .spec-flex-wrapper .flex-block .icon-block.have-tail:before {
          display: block;
          content: "";
          width: 24px;
          height: 23px;
          background: url(/img/icons/tail.svg) 0 0 no-repeat;
          background-size: contain;
          position: absolute;
          left: -13px;
          bottom: 0; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts {
  margin-top: -220px; }
  .about-discounts .w60 {
    padding-right: 40px; }
  .about-discounts .phone-image-block {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 445px; }

/*about-discounts end*/
/*about-security start*/
.about-security {
  padding: 130px 0; }
  .about-security .image-wrapper {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative; }
    .about-security .image-wrapper:before, .about-security .image-wrapper:after {
      content: '';
      position: absolute;
      background: #161313;
      filter: blur(24px);
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      z-index: 10; }
    .about-security .image-wrapper:after {
      width: 68px;
      height: 2px;
      bottom: -88px;
      visibility: hidden; }
    .about-security .image-wrapper:before {
      width: 184px;
      height: 8px;
      opacity: .4;
      bottom: -85px;
      visibility: hidden; }

/*about-security end*/
/*have-questions start*/
.have-questions {
  padding: 150px 0; }
  .have-questions .btns-block {
    display: flex;
    width: 640px;
    justify-content: space-between;
    margin: 40px auto 0 auto; }

/*have-questions end*/
/*articles start*/
.mass-media-about-us {
  padding: 150px 0 0 0; }
  .mass-media-about-us .h-block h2 {
    margin-bottom: 55px; }

.articles-wrapper .flickity-slider {
  margin-left: 40px; }
.articles-wrapper .carousel-cell {
  padding: 5px;
  margin-right: 30px; }
.articles-wrapper .flickity-prev-next-button {
  width: 35px;
  height: 35px;
  background: url(/img/control.svg) 0 0 no-repeat;
  background-size: cover;
  top: -100px;
  left: 50%; }
  .articles-wrapper .flickity-prev-next-button.previous {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: -120px; }
  .articles-wrapper .flickity-prev-next-button.next {
    margin-left: -75px;
    top: -83px; }

.articles-items-wrapper {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  justify-content: space-between; }

.article-item {
  position: relative;
  min-width: 260px;
  max-width: 260px;
  height: 345px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  padding: 25px 20px 65px 20px; }
  .article-item .img-wrapper {
    display: block;
    padding-bottom: 10px; }
    .article-item .img-wrapper img {
      width: 220px;
      max-width: 100%;
      margin: 0 auto; }
  .article-item .media-name {
    display: block;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px; }
  .article-item p {
    font-size: 15px;
    line-height: 22px; }
  .article-item .btn {
    width: 130px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .article-item.wide {
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    margin-bottom: 40px; }
    .article-item.wide .btn {
      left: 20px;
      transform: none; }

/*articles end*/
/*our clients start*/
.our-clients {
  padding: 150px 0; }
  .our-clients h2 {
    margin-bottom: 60px; }

.clients-logos-line-block {
  margin-bottom: 60px; }
  .clients-logos-line-block:last-child {
    margin-bottom: 0; }
  .clients-logos-line-block .carousel-image {
    display: block;
    height: 45px;
    margin: 0 30px; }
    .clients-logos-line-block .carousel-image img {
      display: block;
      height: 100%; }

/*our clients end*/
/*map block start*/
.map-block-wrapper {
  position: relative;
  height: 700px; }
  .map-block-wrapper .bend {
    position: absolute;
    bottom: -1px;
    z-index: 2; }
  .map-block-wrapper .bend-top {
    position: absolute;
    top: -1px;
    z-index: 2; }

.map-block {
  height: 100%; }

/*map block end*/
/*footer start*/
.pay-systems ul {
  height: 40px;
  display: flex; }
  .pay-systems ul li {
    display: block;
    margin-right: 20px; }
    .pay-systems ul li:last-child {
      margin-right: 0; }
    .pay-systems ul li img {
      max-height: 100%; }

.links-block a {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  opacity: .75; }
  .links-block a:hover {
    opacity: 1.0; }
.links-block ul li {
  display: block;
  margin-bottom: 20px; }
  .links-block ul li:last-child {
    margin: 0; }

.footer {
  padding: 30px 0; }
  .footer .flex-wrapper {
    justify-content: space-between;
    padding-bottom: 40px; }
  .footer .logo {
    display: block;
    width: 180px;
    padding-bottom: 15px; }
    .footer .logo img {
      width: 100%; }
  .footer .footer-block {
    padding-right: 75px; }
    .footer .footer-block.flex-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .footer .footer-block:last-child {
      padding-right: 0; }
  .footer p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px; }
    .footer p:last-child {
      margin-bottom: 0; }
  .footer .footer-block-text .tel {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px; }
  .footer .footer-block-text .standart-green {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 30px; }

.to-top {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  background: #202020;
  opacity: .5;
  margin: 40px auto 0 auto;
  transition: all 200ms liner 0s; }
  .to-top:before {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 29px;
    background: url(/img/to-top.svg) 0 0 no-repeat;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .to-top:hover, .to-top.active {
    opacity: 1.0; }

.socila-networks ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-right: 10px; }
  .socila-networks ul li:last-child {
    margin-right: 0; }
  .socila-networks ul li a {
    display: block;
    width: 32px; }
    .socila-networks ul li a img {
      display: block;
      width: 100%; }

/*footer end*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .wrapper-block {
    max-width: 1000px; }

  header .header {
    max-width: 1000px; }
  header menu ul li {
    margin-right: 30px; }
  header .tel {
    height: 50px;
    line-height: 46px;
    padding: 0 20px; }

  .main-top-info {
    width: 580px;
    -moz-transform: translate(-500px, 0);
    -ms-transform: translate(-500px, 0);
    -webkit-transform: translate(-500px, 0);
    transform: translate(-500px, 0); }
    .main-top-info .logo a img {
      width: 230px; }
    .main-top-info h1 {
      font-size: 36px;
      line-height: 50px; }

  .second-bend-block {
    padding: 50px 0 20px 0; }

  .about-products-wrapper {
    margin-top: -80px; }
    .about-products-wrapper .about-product-block {
      min-width: 320px;
      max-width: 320px; }
      .about-products-wrapper .about-product-block .product-info {
        height: 650px; }
      .about-products-wrapper .about-product-block.about-phone-app .image-wrapper img:not(.b-pay-icon) {
        width: 86px; }
      .about-products-wrapper .about-product-block.about-phone-app .image-wrapper.have-icon {
        padding-left: 30px; }
        .about-products-wrapper .about-product-block.about-phone-app .image-wrapper.have-icon .b-pay-icon {
          width: 60px;
          bottom: 22px; }
      .about-products-wrapper .about-product-block.about-micromarket .image-wrapper img {
        width: 250px;
        margin-left: -47px; }
      .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img {
        width: 600px; }

  .loss-of-profit .flex-block .phone-image-block {
    width: 400px; }

  .briskly-components-wrapper .str-after div .s24 {
    font-size: 20px; }

  .about-b-pay {
    padding: 140px 0 70px 0; }

  .steps-wrapper {
    padding-left: 50px; }

  .work-steps-wrapper .work-step-block {
    min-width: 180px;
    max-width: 180px; }

  .about-terminal {
    padding: 54px 0 100px 0; }

  .embedded-marketing {
    padding-top: 80px; }

  .laptop-bg {
    width: 1000px;
    min-height: 570px;
    background-size: 100%;
    margin: 0 auto; }

  .spec-flex-wrapper {
    width: 760px; }
    .spec-flex-wrapper .flex-block {
      padding-left: 30px; }
      .spec-flex-wrapper .flex-block .icon-block {
        min-width: 100px;
        max-width: 100px; }
      .spec-flex-wrapper .flex-block p {
        font-size: 15px; }

  .about-discounts .phone-image-block {
    width: 350px; }

  .about-discounts {
    margin-top: -120px; }

  .about-security {
    padding: 100px 0 60px 0; }

  .have-questions {
    padding: 100px 0; }

  .mass-media-about-us {
    padding: 100px 0 0 0; }

  .our-clients {
    padding: 100px 0; }

  .h-block {
    max-width: 100%;
    padding: 0 40px; }

  .articles-wrapper .flickity-prev-next-button.previous {
    margin-left: -80px; }
  .articles-wrapper .flickity-prev-next-button.next {
    margin-left: -35px; } }
@media screen and (min-width: 1025px) and (max-width: 1139px) {
  .main-top-info ul {
    margin-left: 40px; } }
@media screen and (min-width: 1921px) {
  .bend {
    width: 102%; } }
