<template>
  <!-- eslint-disable vue/no-v-html -->
  <section :id="content.slug" class="section">
    <div class="container">
      <h2 class="section-title has-text-center" v-html="content.title" />
      <p class="section-description has-text-center" v-html="content.description" />
      <div class="section-statistics-cards">
        <div v-for="item in content.items" :key="item.slug" class="card-flexible section-statistics-card">
          <div v-lazy:background-image="item.image" class="card-flexible-background-image" />
          <div class="card-flexible-content">
            <div class="card-flexible-title has-text-white" v-html="item.title" />
            <div class="card-flexible-description has-text-white" v-html="item.text" />
          </div>
        </div>
      </div>
      <div class="section-statistics-images">
        <div v-for="item in content.images" :key="item.image" class="section-statistics-images-item">
          <div class="section-statistics-images-item-logo">
            <img v-lazy="item.image" :alt="item.title">
          </div>
          <div class="section-statistics-images-item-content" v-html="item.title" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
