<template>
  <!-- eslint-disable vue/no-v-html -->
  <section :id="content.slug" class="section section-soft">
    <div class="container">
      <h2 class="section-title" v-html="content.title" />
      <p class="section-description" v-html="content.description" />
    </div>
    <Tabs name="section-soft-tabs">
      <Tab v-for="tab in content.tabs" :key="tab.key" :title="tab.title">
        <div :class="{ 'section-soft-tabs-grid': true, 'section-soft-tabs-grid-special': tab.key === 'all' }">
          <div v-for="(item, index) in itemsArray(content.items, tab)" :key="index" class="section-soft-tabs-grid-item">
            <div class="card-flexible card-flexible-has-side-image">
              <img
                v-if="item.image"
                v-lazy="item.image"
                width="300"
                height="300"
                alt=""
                class="card-image-side"
              >
              <div class="card-content">
                <h5 class="card-title" v-html="item.title" />
                <p class="card-text">{{ item.description }}</p>
                <a v-if="item.link" :href="item.link" class="card-link">
                  {{ item.button }}
                  <svg class="inline-icon card-link-icon">
                    <use href="#arrow-base" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </Tab>
    </Tabs>
  </section>
</template>

<script>
import Tabs from '@/components/Tabs/index.vue'
import Tab from '@/components/Tabs/Tab.vue'

export default {
  components: {
    Tabs,
    Tab
  },
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  methods: {
    itemsArray (array, tab) {
      const output = array.filter((item) => {
        return item.key.includes(tab.key) || tab.key === 'all'
      })
      return output
    }
  }
}
</script>
