<template>
  <!-- eslint-disable vue/no-v-html -->
  <section :id="content.slug" class="section-media section-slider is-relative has-bg-primary">
    <div class="rotation-bg-right is-top" />
    <div class="container">
      <h2 class="title size-1" v-html="content.title" />
    </div>
    <div class="section-media-cards">
      <SliderMedia name="splideMedia" :slides="items" />
    </div>
    <div class="container has-text-center section-media-cards-more">
      <a :href="content.link" target="_blank" class="button">{{ content.button }}</a>
    </div>
    <div class="rotation-bg-right is-bottom" />
  </section>
</template>

<script>
import SliderMedia from '~/components/Sliders/SliderMedia.vue'

export default {
  components: {
    SliderMedia
  },
  props: {
    content: {
      type: Object,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  }
}
</script>
