<template>
  <section :id="content.slug" class="section section-quote container">
    <div class="section-quote-wrapper">
      <img src="quote.svg" alt="" class="section-quote-mark">
      <div>
        <div class="section-quote-text">
          {{ content.quote }}
        </div>
        <div class="section-quote-person">
          <div class="section-quote-person-image">
            <img :src="content.person.image" :alt="content.person.name">
          </div>
          <div>
            <div class="section-quote-person-name">
              {{ content.person.name }}
            </div>
            <div class="section-quote-person-position">
              {{ content.person.position }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
