<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-map">
    <div class="section-map-wrapper">
      <div class="container">
        <h2 class="section-map-title" v-html="content.title" />
      </div>
      <iframe v-if="content.map" loading="lazy" :src="content.map" width="100%" height="100%" />
      <div v-else-if="content.image" v-lazy:background-image="content.image" style="background-size: cover; background-position: right; height: 100%" />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
