<template>
  <!-- eslint-disable vue/no-v-html -->
  <div :id="content.slug" class="section section-scale">
    <div class="container">
      <div v-lazy:background-image="'section-scale-bg.png'" class="section-scale-banner">
        <div class="section-scale-banner-content">
          <p class="section-scale-banner-note" v-html="content.note" />
          <h2 class="section-scale-banner-title" v-html="content.title" />
          <p class="section-scale-banner-description" v-html="content.description" />
          <a :href="content.link" class="button">{{ content.button }}</a>
        </div>
      </div>
      <div class="section-scale-cards">
        <div v-for="item in content.items" :key="item.slug" class="card-flexible section-scale-card">
          <img v-lazy="item.image" class="card-flexible-has-small-image is-right">
          <div>
            <div class="card-flexible-title size-sm" v-html="item.title" />
            <div class="card-flexible-description size-sm has-text-secondary" v-html="item.description" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
