<template>
  <!-- eslint-disable vue/no-v-html -->
  <section :id="content.slug" :class="{ 'section': true, 'section-factory-background': background, 'section-factory-padding': background } ">
    <div class="section-factory-wrapper">
      <div class="section-factory-top">
        <h2 class="section-title has-text-center" v-html="content.title" />
        <p class="section-description has-text-center is-light has-text-focus" v-html="content.description" />
      </div>
      <a v-if="content.video" class="section-factory-video" style="cursor: pointer;" @click="previewVideo = !previewVideo">
        <img v-lazy="content.preview" height="500" width="800" alt="">
        <div v-lazy:background-image="content.image" class="section-factory-fridge" />
        <client-only>
          <FsLightbox
            :toggler="previewVideo"
            :sources="[content.video]"
          />
        </client-only>
      </a>
      <div v-else class="section-factory-video">
        <img v-lazy="content.preview" height="500" width="800" alt="">
        <div v-lazy:background-image="content.image" class="section-factory-fridge" />
      </div>
      <div v-if="form" class="section-factory-form">
        <div class="container">
          <FormLine class="section-working-form" :button="form.button">
            <nuxt-content :document="form" />
          </FormLine>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FormLine from '@/components/Forms/FormLine.vue'
import FsLightbox from 'fslightbox-vue'

export default {
  components: {
    FormLine,
    FsLightbox
  },
  props: {
    content: {
      type: Object,
      required: true
    },
    form: {
      type: Object || null,
      default: null
    },
    background: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      previewVideo: false
    }
  }
}
</script>
