<template>
  <!-- eslint-disable vue/no-v-html -->
  <section id="section-presentation" class="section-presentation">
    <div class="rotation-bg-wrapper">
      <div class="rotation-bg-gradient section-presentation-bg rotation-is-left">
        <div class="section-presentation-meditation-gay">
          <img src="meditation-gay.png" alt="">
        </div>
      </div>
    </div>
    <div class="section-presentation-post-wrapper">
      <div class="container">
        <div class="section-presentation-circle-bg" />
      </div>
      <div class="container section-presentation-post">
        <img src="post-dark.png" alt="">
      </div>
      <div class="dots-line is-green section-presentation-dots" />
    </div>
    <div class="container section-presentation-container">
      <div class="section-presentation-wrapper">
        <div class="section-presentation-content">
          <h3 class="section-presentation-title" v-html="content.title" />
          <p class="section-presentation-desc" v-html="content.description" />
          <div class="section-presentation-form">
            <client-only>
              <nuxt-content :document="content" />
            </client-only>
          </div>
          <!-- <form action="/" class="form section-presentation-form">
            <input type="text" class="input" placeholder="Телефон или никнейм в Telegram">
            <input type="email" class="input" placeholder="Email">
            <div class="checkbox-row">
              <input type="checkbox" class="checkbox">
              <label class="checkbox-label has-text-inverse-tertiary">
                Нажимая кнопку «Отправить», я даю свое согласие <br>
                на обработку моих персональных данных... <br>
                <a href="#" class="link">Читать дальше.</a>
              </label>
            </div>
            <button type="submit" class="button">Жду письмо</button>
          </form> -->
        </div>
        <div v-if="content.video" class="section-presentation-video">
          <a @click="previewVideo = !previewVideo">
            <img :src="content.preview" alt="youtube-presentation" class="section-presentation-video-preview">
          </a>
          <p class="section-presentation-video-desc" v-html="content.about" />
          <client-only>
            <FsLightbox
              :toggler="previewVideo"
              :sources="[content.video]"
            />
          </client-only>
        </div>
        <div v-else class="section-presentation-video">
          <img :src="content.preview" alt="youtube-presentation" class="section-presentation-video-preview">
          <p class="section-presentation-video-desc" v-html="content.about" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FsLightbox from 'fslightbox-vue'

export default {
  components: {
    FsLightbox
  },
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      previewVideo: false
    }
  }
}
</script>
