<template>
  <!-- eslint-disable vue/no-v-html -->
  <section ref="mobileAction" class="section-mobile-action">
    <span v-for="(item, index) in content.links" :key="index" class="section-mobile-action-item">
      <a v-if="item.link.charAt(0) === '#'" v-smooth-scroll :href="item.link" :class="['button', 'is-primary', item.outline && 'is-outline']">
        {{ item.text }}
      </a>
      <a v-else :href="item.link" :class="['button', 'is-primary', item.outline && 'is-outline']">
        {{ item.text }}
      </a>
    </span>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  mounted () {
    const height = this.$refs.mobileAction.getBoundingClientRect().height
    document.body.style.paddingBottom = `${height}px`
  }
}
</script>
