<template>
  <!-- eslint-disable vue/no-v-html -->
  <section :id="content.slug" class="section-slider has-bg-primary">
    <div class="container">
      <h2 class="title size-3" v-html="content.title" />
    </div>
    <SliderCards :name="content.slug" :slides="content.items" :button="content.note" />
  </section>
</template>

<script>
import SliderCards from '~/components/Sliders/SliderCards.vue'

export default {
  components: {
    SliderCards
  },
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
