<template>
  <!-- eslint-disable vue/no-v-html -->
  <section :id="content.slug" class="section section-steps">
    <div class="container">
      <div id="splide-steps" class="splide">
        <div class="splide__track">
          <ul class="splide__list section-steps-cards">
            <div v-for="(item, index) in content.items" :key="index" class="splide__slide section-steps-card">
              <img :src="item.image" alt="" class="section-steps-card-image">
              <div class="section-steps-card-content">
                <div class="section-steps-card-note" v-html="item.note" />
                <div class="section-steps-card-title" v-html="item.title" />
              </div>
              <div class="section-steps-card-loader">
                <div class="section-steps-card-loader-progress" />
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  mounted () {
    this.initSplide()
  },
  methods: {
    initSplide () {
      new this.$Splide('#splide-steps', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: false,
        autoplay: true,
        pauseOnHover: false,
        pauseOnFocus: false,
        focus: 'center',
        rewind: true,
        interval: 4000,
        drag: false
      }).mount()
    }
  }
}
</script>
