<template>
  <!-- eslint-disable vue/no-v-html -->
  <section id="section-starter" class="section-starter">
    <div class="container">
      <h2 class="title size-3 has-text-center has-title-margin-1" v-html="content.title" />
      <p class="subtitle has-text-center" v-html="content.description" />
      <div id="splideStarter" class="starter-cards splide">
        <div class="splide__track">
          <ul class="splide__list starter-cards-list">
            <li
              v-for="(product, index) in products"
              :key="index"
              :class="{
                'splide__slide': true,
                'starter-card': true,
                'is-popular': product.note
              }"
            >
              <div v-if="product.note" class="starter-card-description">
                {{ product.note }}
              </div>
              <div class="starter-image">
                <img :src="product.image" alt="">
              </div>
              <h3 class="starter-title" v-html="product.title" />
              <div class="starter-content">
                <nuxt-content :document="product" />
              </div>
              <div class="starter-price">
                {{ product.price }}
              </div>
              <a v-smooth-scroll :href="product.link" :class="{ 'button': true, 'is-outline': !product.note }">{{ product.button }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {}
    },
    products: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      splide: null
    }
  },
  mounted () {
    this.initSplide()
    this.addListenerForScreenWidth()
  },
  methods: {
    initSplide () {
      this.splide = new this.$Splide('#splideStarter', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: false,
        destroy: true,
        breakpoints: {
          1070: {
            destroy: false
          },
          1024: {
            focus: 'center'
          }
        }
      }).mount()
    },
    addListenerForScreenWidth () {
      if (process.client) {
        window.addEventListener('resize', this.setScreenWidth(window.innerWidth))
      }
    },
    setScreenWidth (width) {
      if (width <= 1024) {
        this.splide.go(1)
      }
    }
  }
}
</script>
