<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-working splide-arrow-on-hover">
    <div class="section-working-bg" />
    <div class="container">
      <h2 class="title size-3 has-text-center" v-html="content.title" />
    </div>
    <div class="slider-fade section-working-slider-fade">
      <div class="container">
        <div id="splideWorking" class="section-working-slider splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li v-for="(slide, index) in content.items" :key="index" class="splide__slide">
                <div class="section-working-slider-item">
                  <div class="section-working-slider-item-image">
                    <img :data-splide-lazy="slide.image" :alt="slide.title">
                  </div>
                  <h5 class="section-working-slider-item-title">
                    {{ slide.title }}
                  </h5>
                  <p class="section-working-slider-item-content">
                    {{ slide.content }}
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <FormLine class="section-working-form" :button="form.button">
        <nuxt-content :document="form" />
      </FormLine>
    </div>
  </section>
</template>

<script>
import FormLine from '@/components/Forms/FormLine.vue'

export default {
  components: {
    FormLine
  },
  props: {
    content: {
      type: Object,
      required: true
    },
    form: {
      type: Object,
      required: true
    }
  },
  mounted () {
    this.initSplide()
  },
  methods: {
    initSplide () {
      new this.$Splide('#splideWorking', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: true,
        lazyLoad: 'sequential'
      }).mount()
    }
  }
}
</script>
