<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-safe">
    <div class="section-safe-camera">
      <img src="section-safe-camera.png" alt="">
    </div>
    <div class="section-safe-bg" />
    <div class="container section-safe-container">
      <div class="section-safe-wrapper">
        <h2 class="title size-5 has-text-white" v-html="content.title" />
        <ul class="section-safe-list list">
          <li v-for="item, index in content.list" :key="`list-${index}`" v-html="item" />
        </ul>
        <client-only>
          <div id="splideSafeGallery" class="splide section-safe-gallery">
            <div class="splide__track">
              <ul class="splide__list">
                <li v-for="(galleryItem, index) in content.thumbs" :key="index" class="splide__slide" @click="openLightbox(index)">
                  <img height="96" width="96" class="section-safe-gallery-item" :data-splide-lazy="galleryItem" :alt="galleryItem">
                </li>
              </ul>
            </div>
          </div>
        </client-only>
        <div id="splideSafeCards" class="splide section-safe-cards">
          <div class="splide__track">
            <ul class="splide__list section-safe-cards-wrapper">
              <li v-for="(item, index) in content.items" :key="`cards-${index}`" class="splide__slide card-bordered has-card-icon is-inverse section-safe-card">
                <img class="card-bordered-icon" :src="item.image" alt="">
                <div>
                  <h3 class="card-bordered-title" v-html="item.title" />
                  <p class="card-bordered-text">
                    <span class="is-light" v-html="item.description" />
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section-safe-form">
      <div class="container">
        <FormLine class="section-working-form" :button="form.button">
          <nuxt-content :document="form" />
        </FormLine>
      </div>
    </div>
    <div class="section-safe-lightbox">
      <FsLightbox
        :toggler="galleryToggler"
        :sources="content.gallery"
        :slide="galleryIndex"
      />
    </div>
  </section>
</template>

<script>
import FormLine from '@/components/Forms/FormLine.vue'
import FsLightbox from 'fslightbox-vue'

export default {
  components: {
    FormLine,
    FsLightbox
  },
  props: {
    content: {
      type: Object,
      required: true
    },
    form: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      galleryToggler: false,
      galleryIndex: 0
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.initSplide()
    })
  },
  methods: {
    initSplide () {
      new this.$Splide('#splideSafeGallery', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: false,
        lazyLoad: 'sequential',
        gap: '38px'
      }).mount()

      new this.$Splide('#splideSafeCards', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: false
      }).mount()
    },
    openLightbox (index = 1) {
      this.galleryIndex = index + 1
      this.galleryToggler = !this.galleryToggler
    }
  }
}
</script>
