<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-offer">
    <div class="container">
      <h2 class="section-offer-title" v-html="content.title" />
      <p class="section-offer-subtitle subtitle is-light" v-html="content.description" />
      <ul class="section-offer-list list">
        <li v-for="(item, index) in content.items" :key="index" v-html="item" />
      </ul>
      <a v-smooth-scroll :href="content.link" class="button">{{ content.button }}</a>
      <div class="section-offer-girl">
        <img src="girl-1.png" alt="">
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
