<template>
  <div class="section section-manual">
    {{ content }}
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
