<template>
  <!-- eslint-disable vue/no-v-html -->
  <section :id="content.slug" class="section section-brands">
    <div class="container">
      <h2 class="section-title has-text-center" v-html="content.title" />
    </div>
    <div v-for="(brands, brandsIndex) in content.brands" :key="`brands-${brandsIndex}`" class="section-brands-wrapper">
      <div :id="`${content.slug}-${brandsIndex}`" class="section-brands-row">
        <div v-for="(brand, index) in brands.images" :key="index" class="section-brands-logo">
          <img :src="brand" :alt="brand">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  mounted () {
    this.content.brands.forEach((element, index) => {
      this.$nextTick(() => {
        this.$loopSlider(document.getElementById(`${this.content.slug}-${index}`), element.direction, 15, `${this.content.slug}-${index}`)
      })
    })
  }
}
</script>
