<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-detail">
    <div class="rotation-bg-wrapper">
      <div class="rotation-bg-gradient rotation-is-right section-detail-bg">
        <div class="section-detail-circle-bg" />
      </div>
    </div>
    <div class="section-detail-money">
      <img src="money.png" alt="">
    </div>
    <div class="container">
      <h2 class="title section-detail-title has-text-center has-text-white size-3" v-html="content.title" />
      <div id="splideDetail" class="splide section-detail-cards-splide">
        <div class="splide__track">
          <ul class="splide__list section-detail-cards">
            <li v-for="(item, index) in content.items" :key="index" class="splide__slide card-outline">
              <h5 class="card-outline-title" v-html="item.title" />
              <p class="card-outline-content" v-html="item.description" />
              <div class="card-outline-info" v-html="item.price" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  mounted () {
    this.initSplide()
  },
  methods: {
    initSplide () {
      new this.$Splide('#splideDetail', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: false,
        destroy: true,
        breakpoints: {
          767: {
            destroy: false,
            gap: '25px'
          }
        }
      }).mount()
    }
  }
}
</script>
