<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-calc">
    <div class="container">
      <div class="dots-line is-grey section-calc-dots" />
      <div class="section-calc-robo" />
      <div class="section-calc-wrapper">
        <h2 class="title size-3" v-html="content.title" />
        <div class="section-calc-content">
          <div data-marquiz-id="60cb1921626c15003ec7efb7" />
          <script defer>
            if (window.matchMedia('(min-width: 768px)').matches) { (function(t, p) {window.Marquiz ? Marquiz.add([t, p]) : document.addEventListener('marquizLoaded', function() {Marquiz.add([t, p])})})('Inline', {id: '60cb1921626c15003ec7efb7', buttonText: 'Рассчитать', bgColor: '#22c950', textColor: '#ffffff', disableOnMobile: true}) }
          </script>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
