<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-web">
    <div class="container">
      <div class="section-web-wrapper">
        <h2 class="title size-1 has-title-margin-2" v-html="content.title" />
        <img src="section-web-image.png" class="section-web-image-mobile" alt="">
        <nuxt-content :document="content" />
        <a v-smooth-scroll :href="content.link" class="button">
          {{ content.button }}
        </a>
      </div>
    </div>
    <img src="section-web-image.png" class="section-web-image" alt="">
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
