<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-about">
    <div class="section-about-lightbox">
      <FsLightbox
        :toggler="galleryToggler"
        :sources="content.gallery"
        :slide="galleryIndex"
      />
    </div>
    <div class="rotation-bg-left is-top" />
    <div class="container">
      <div class="section-about-wrapper">
        <div class="section-about-image">
          <div class="section-about-image-preview">
            <img :src="content.image" alt="section-about-preview">
          </div>
          <div class="section-about-image-desc">
            <div class="section-about-image-desc-mad-in">
              <img src="badge-mad-in-russia.svg" alt="made-in-russia">
            </div>
            <span v-html="content.about" />
          </div>
        </div>
        <div class="section-about-content">
          <div class="title size-2" v-html="content.title" />
          <div class="content section-about-text" v-html="content.description" />
          <nuxt-content :document="content" />
          <a v-smooth-scroll :href="content.link" class="button section-about-more">{{ content.button }}</a>
        </div>
      </div>
      <client-only>
        <div id="splideAboutGallery" class="splide section-about-gallery splide-arrow-on-hover">
          <div class="splide__track">
            <ul class="splide__list">
              <li v-for="(galleryItem, index) in content.thumbs" :key="index" class="splide__slide" @click="openLightbox(index)">
                <img class="section-about-gallery-item" :data-splide-lazy="galleryItem" :alt="galleryItem">
              </li>
            </ul>
          </div>
        </div>
      </client-only>
    </div>
    <div class="rotation-bg-right is-bottom" />
  </section>
</template>

<script>
import FsLightbox from 'fslightbox-vue'

export default {
  components: {
    FsLightbox
  },
  props: {
    content: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      galleryToggler: false,
      galleryIndex: 0
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.initSplide()
    })
  },
  methods: {
    initSplide () {
      new this.$Splide('#splideAboutGallery', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: true,
        lazyLoad: 'sequential',
        gap: '38px'
      }).mount()
    },
    openLightbox (index = 1) {
      this.galleryIndex = index + 1
      this.galleryToggler = !this.galleryToggler
    }
  }
}
</script>
