<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="section-app">
    <div class="rotation-bg-right is-top" />
    <div class="container">
      <div class="section-app-wrapper">
        <div class="section-app-image">
          <img src="mobile-app.png" alt="">
        </div>
        <div class="section-app-content">
          <h2 class="section-app-title title size-1" v-html="content.title" />
          <p class="section-app-text content is-light has-text-secondary" v-html="content.description" />
          <ol class="list">
            <li v-for="(item, index) in content.items" :key="index" v-html="item" />
          </ol>
          <nuxt-content :document="content" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
