<template>
  <!-- eslint-disable vue/no-v-html -->
  <div :id="content.slug" class="section section-catalog">
    <div class="container">
      <h2 class="section-title has-text-center" v-html="content.title" />
      <p class="section-description has-text-center" v-html="content.description" />
      <div class="section-catalog-cards">
        <div v-for="item in content.items" :key="item.slug" class="card-flexible section-catalog-card">
          <img v-lazy="item.image" class="card-flexible-has-small-image is-right">
          <div>
            <div class="card-flexible-title size-sm" v-html="item.title" />
            <div class="card-flexible-description size-sm has-text-secondary" v-html="item.description" />
          </div>
          <div class="card-flexible-content">
            <a v-if="item.link.length" :href="item.link" target="_blank" class="card-link">
              {{ item.button }}
              <svg class="inline-icon card-link-icon">
                <use href="#arrow-base" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="container has-text-center">
        <a :href="content.link" target="_blank" class="button">{{ content.button }}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
