<template>
  <!-- eslint-disable vue/no-v-html -->
  <section id="section-feedback" class="section-feedback">
    <div class="rotation-bg-wrapper">
      <div class="rotation-bg-gradient section-feedback-bg rotation-is-left">
        <img v-lazy="'section-feedback-man.png'" class="section-feedback-man" alt="">
      </div>
    </div>
    <div class="container">
      <div class="section-feedback-wrapper">
        <div class="section-feedback-man-mobile">
          <img v-lazy="'section-feedback-man.png'" alt="">
        </div>
        <div class="section-feedback-content">
          <h2 class="title section-feedback-title size-3 has-text-white">
            {{ content.title }}
          </h2>
          <p class="subtitle has-text-white is-light" v-html="content.description" />
        </div>
        <div class="section-feedback-form">
          <client-only>
            <nuxt-content :document="content" />
          </client-only>
        </div>
        <!-- <form action="/" class="form section-feedback-form">
          <input type="text" class="input" placeholder="Телефон или никнейм в Telegram">
          <input type="email" class="input" placeholder="Email">
          <textarea placeholder="Сообщение" class="textarea" />
          <div class="checkbox-row">
            <input type="checkbox" class="checkbox">
            <label class="checkbox-label has-text-inverse-tertiary">
              Нажимая кнопку «Отправить», я даю свое согласие <br>
              на обработку моих персональных данных... <br>
              <a href="#" class="link">Читать дальше.</a>
            </label>
          </div>
          <button type="submit" class="button">Отправить сообщение</button>
        </form> -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
