
.card-flexible {
  @include card($margin: 0, $hover: false, $width: auto, $height: auto);
  min-height: 300px;
}

.card-flexible-background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 0;
}

.card-flexible-has-side-image {
  flex-direction: row;

  .card-image-side {
    max-width: 300px;
    margin-left: -$card-padding;
    margin-bottom: -$card-padding;
    margin-top: -$card-padding;
  }
}

.card-flexible-has-small-image {
  &.is-right {
    margin-left: auto;
  }

  .card-image-small {
    height: auto;
    max-width: 145px;
  }
}

.card-flexible-content {
  position: relative;
  margin-top: auto;
}

.card-flexible-title {
  font-size: 36px;
  font-weight: 800;
  color: $txtPrimary;

  &.size-sm {
    font-size: 23px;
  }
}

.card-flexible-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: $txtPrimary;

  &.size-sm {
    font-size: 16px;
  }
}

.card-flexible-content {
  margin-top: auto;
}

@include until(1280px) {
  .card-flexible-description {
    font-size: 16px;
  
    &.size-sm {
      font-size: 16px;
    }
  }
}

@include until(1024px) {
  .card-flexible-title {
    &.size-sm {
      font-size: 24px;
      line-height: 100%;
    }
  }
}

@include until(768px) {
  .card-flexible-title {
    font-size: 30px;
  }
}