.cards {
  display: flex;
  padding-top: 90px;
  padding-bottom: 150px;
}

.card {
  @include card();
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-note {
  position: absolute;
  right: -10px;
  top: 20px;
  background: $primary;
  border-radius: $radius-xs;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 90%;
  color: $white;
}

.card-image {
  overflow: hidden;
  margin-bottom: 15px;
}

.card-image-full {
  border-top-right-radius: $radius-xs;
  border-top-left-radius: $radius-xs;
  overflow: hidden;
  margin: (-$card-padding) (-$card-padding) $card-padding (-$card-padding);
}

.card-underline {
  height: 1px;
  background: $bgSecondary;
}

.card-title {
  color: $txtPrimary;
  font-size: 23px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 18px;
}

.card-text {
  font-size: 15px;
  line-height: 24px;
  color: $txtSecondary;
  margin-bottom: auto;
}

.card-link {
  display: inline-flex;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  color: $primary;
  margin-top: 18px;
}

.card-link-icon {
  width: 16px;
  height: 23px;
  margin-left: 5px;
  fill: $primary;
}

.card-outline {
  display: flex;
  flex-direction: column;
  color: $white;
  border: 1px solid $borderCardOutline;
  border-radius: $radius-sm;
  padding: 37px 41px 26px;
}

.card-outline-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.card-outline-content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: auto;
}

.card-outline-info {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: $primary;
  margin-top: 25px;
}

.card-bordered {
  background: $white;
  border: 1px solid $txtInverseSecondary;
  border-radius: $card-bordered-radius;
  padding: $card-bordered-padding-y $card-bordered-padding-x;

  .card-bordered-title {
    font-size: 39px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 10px;
    color: $txtPrimary;
  }

  .card-bordered-text {
    font-size: 18px;
    line-height: 23px;
    color: $txtSecondary;
    font-weight: 300;
  }

  .card-bordered-icon {
    position: absolute;
    width: 170px;
    height: auto;
    right: 25px;
    top: 10px;
    max-height: 150px;
    width: auto;
  }

  &.has-card-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 170px;
  }

  &.is-inverse {
    background: none;
    color: $white;
    border-color: $txtInverseSecondary;

    .card-bordered-title {
      color: $white;
    }

    .card-bordered-text {
      color: $white;
    }
  }
}

// Card

@include until(1024px) {
  .card {
    width: $card-width-mobile;
    margin-right: 25px;
  }

  .card-title {
    font-size: 16px;
    line-height: 18px;
  }

  .card-content {
    font-size: 14px;
    line-height: 23px;
  }

  .card-link {
    font-size: 12px;
  }

  .card-outline-title {
    font-size: 27px;
  }
}

@include until(768px) {
  .card-outline-title {
    font-size: 30px;
  }
}

@include until(640px) {
  .card-outline-title {
    font-size: 27px;
  }
}

@include until(480px) {
  .card-outline-title {
    font-size: 21px;
  }
}

// Card bordered

@include until(1280px) {
  
}

@include until(1140px) {
  .card-bordered {
    margin-right: 25px;
    min-width: 360px;
    max-width: 460px;
    padding-left: 25px;
    padding-right: 25px;

    &.has-card-icon {
      padding-top: 140px;
    }

    .card-bordered-icon {
      max-width: 120px;
      height: auto;
    }
  }
}

@include until(1024px) {
  
}

@include until(768px) {
  .card-outline {
    padding: 30px 25px 20px;
  }
}

@include until(640px) {
  
}

@include until(480px) {
  .card-note {
    font-size: 16px;
    padding: 14px 16px;
    top: 10px;
  }

  .card-bordered {
    min-width: 275px;

    .card-bordered-title {
      font-size: 27px;
    }

    .card-bordered-text {
      font-size: 14px;
      line-height: 18px;
    }

    &.has-card-icon {
      padding-top: 80px;
    }

    .card-bordered-icon {
      max-width: 85px;
      height: auto;
    }
  }
}