.cookies-wrapper {
  position: fixed;
  bottom: $gap-md;
  left: $gap-md;
  z-index: 999;
}

.cookies-modal {
  position: relative;
  background-color: $white;
  padding: ($gap + 4px) $gap;
  max-width: 360px;
  border-radius: $radius-xs;
  overflow: hidden;
  box-shadow: 0px 42px 99px rgba(25, 27, 35, 0.06);
}

.cookies-modal-image {
  background-image: url('static/gallery-about/cookies.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 51px;
  width: 57px;
  position: absolute;
  top: 0;
  right: 0;
}

.cookies-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $txtPrimary;
  margin-bottom: 15px;
}

.cookies-content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $txtFocus;
  margin-bottom: 20px;
}

@include until(1024px) {
  .cookies-wrapper {
    left: $gap * 0.5;
    right: $gap * 0.5;
    bottom: $gap * 0.5;
  }
}