.firstscreen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  min-height: 900px;
  max-height: 1100px;
  background-color: $bgHeader;
  margin-top: -(($header-padding * 2) + $header-height);
  padding-top: (($header-padding * 2)+ $header-height);
}

.firstscreen-fridge {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 2500px;
  margin: 0 auto;
  background-size: 1900px;
  background-position: center;
  background-repeat: no-repeat;
}

.firstscreen-container {
  flex-grow: 1;
  margin-top: -160px;
}

.firstscreen-wrapper {
  position: relative;
  z-index: 2;
}

.firstscreen-logo-hero {
  width: 166px;
  height: auto;
  margin-bottom: 40px;
}

.firstscreen-title {
  font-size: 54px;
  line-height: 60px;
  font-weight: 800;
  max-width: 700px;
}

.firstscreen-list {
  margin-top: 41px;
}

.firstscreen-button {
  margin-top: 41px;
}

.firstscreen-phone {
  position: absolute;
  top: 28%;
  right: 18%;
  max-width: 195px;
  height: auto;
}

.firstscreen-down {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 50px;
  background: none;
  border: 0;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 2;
  color: $primary;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    transform: translateY(-5px);
  }
}

@include until(1280px) {
  .firstscreen-title {
    font-size: 48px;
    line-height: 100%;
  }

  .firstscreen-list {
    padding-right: 37vw;
  }

  .firstscreen-fridge {
    background-position: right;
    top: -350px;
    bottom: -350px;
    right: -300px;
  }
}

@include until(1140px) {
  .firstscreen-down {
    display: none;
  }

  .firstscreen-title {
    font-size: 45px;
    max-width: 650px;
  }
}

@include until(1024px) {
  .firstscreen-title {
    font-size: 36px;
    max-width: 430px;
  }

  .firstscreen-list {
    padding-right: 40vw;
  }
}

@include until(768px) {
  .firstscreen-logo-hero {
    width: 115px;
    margin-bottom: 30px;
  }

  .firstscreen-title {
    font-size: 30px;
    max-width: 320px;
  }

  .firstscreen-phone {
    max-width: 111px;
    right: 15%;
    top: 20%;
  }

  .firstscreen-fridge {
    background-position: right;
    top: -250px;
    bottom: -150px;
    right: -350px;
  }
}

@include until(640px) {
  .firstscreen {
    height: auto;
    min-height: 600px;
  }

  .firstscreen-container {
    margin-top: -80px;
  }

  .firstscreen-logo-hero {
    display: none;
  }

  .firstscreen-title {
    font-size: 24px;
  }

  .firstscreen-button {
    width: 100%;
    min-width: 100%;
  }

  .firstscreen-fridge {
    top: -100px;
    bottom: 0;
    background-size: 1000px;
    right: -150px;
  }

  .firstscreen-phone {
    max-width: 74px;
  }
}

@include until(480px) {
  .firstscreen {
    height: auto;
    max-height: 100%;
    margin: 0;
    padding: 0;
  }

  .firstscreen-fridge {
    top: 0;
    left: -500px;
    right: 0;
    background-position-y: bottom;
    background-position-x: center;
    bottom: -50px;
  }

  .firstscreen-container {
    margin-top: -1px;
    padding-top: 40px;
    background: linear-gradient($white 20%, rgba(255, 255, 255, 0) 80%);
  }

  .firstscreen-logo-hero {
    margin-bottom: 25px;
  }

  .firstscreen-title {
    font-size: 27px;
  }

  .firstscreen-list {
    padding-right: 0;
  }

  .firstscreen-wrapper {
    padding-bottom: 430px;
  }

  .firstscreen-phone {
    top: auto;
    right: auto;
    left: 29%;
    bottom: 160px;
  }
}