.footer {
  padding-top: 150px;
  background-color: $bgPrimary;
  color: $txtInverseTertiary;
  font-weight: 400;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

// about
.footer-about {
  order: 0;
  width: 30%;

  font-size: 11px;

  .footer-about-logo {
    display: block;
    margin-bottom: 10px;
  }
  
  .footer-about-desc {
    margin-bottom: 54px;
    line-height: 16px;
  }
  
  .footer-about-certificates {
    margin-bottom: 48px;
    line-height: 20px;
  }
  
  .footer-about-copy {
    line-height: 18px;
  }
}

// navigation
.footer-nav {
  order: 1;
  width: 40%;

  display: flex;
  justify-content: space-between;

  ul {
    display: block;
  }

  li {
    margin-bottom: 26px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    @include text-hover($txtSecondary, $primary)
  }
}

// contacts
.footer-contacts {
  order: 2;

  .footer-contacts-row {
    margin-bottom: 17px;
  }

  .footer-phone {
    display: block;
    font-size: 21px;
    color: $txtSecondary;
    font-weight: 500;
  }

  .footer-phone-desc {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: $txtQuaternary;
  }

  .footer-social {
    display: flex;

    a {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  .footer-social-icon {
    width: 24px;
    height: 24px;
    fill: $txtSecondary;
    transition: fill 0.3s;

    &:hover {
      fill: $primary;
    }
  }
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 25px;
  border-bottom: 1px solid $bgSecondary;
}

.footer-content {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: $txtInverseTertiary;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-offer {
  display: block;
  background-color: $primary;
  transition: background-color 0.3s;

  &:hover {
    background-color: $acBrisklyPrimary;
  }
}

.footer-offer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 105px;
  color: $white;
  font-size: 27px;
  font-weight: 700;
}

.footer-offer-content-arrow {
  fill: $white;
  width: 50px;
  height: 51px;
  margin-left: 25px;
  flex-grow: 0;
  flex-shrink: 0;
}

@include until(1280px) {
  
}

@include until(1140px) {
  .footer-nav {
    display: block;
  }

  .footer-about {
    width: 35%;
  }

  .footer-nav {
    width: 35%;
  }

  .footer-contacts {
    width: 30%;
  }
}

@include until(1024px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-about {
    width: auto;
    grid-column: 1;
    grid-row: 1 / 2;
  }

  .footer-nav {
    width: auto;
    grid-column: 2;
    grid-row: 1 / 4;
  }

  .footer-contacts {
    width: auto;
    grid-column: 1;
    grid-row: 2 / 4;
  }
  
  .footer-offer-content {
    padding: 10px 0;
  }
}

@include until(768px) {
  .footer {
    padding-top: 70px;
  }

  .footer-offer-content {
    font-size: 24px;
  }
}

@include until(640px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer-nav {
    order: 3;
  }

  .footer-about {
    margin-bottom: 50px;
  }

  .footer-contacts {
    margin-bottom: 50px;
  }

  .footer-icons {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer-icon {
    width: 25%;
    margin-bottom: 25px;
  }
}

@include until(480px) {
  .footer-icon {
    width: 33.33%;
  }

  .footer-offer-content {
    font-size: 21px;
  }

  .footer-offer-content-arrow {
    width: 30px;
    height: 31px;
  }
}