.form {
  display: flex;
  flex-direction: column;
  
  &:not(.form-inline) {
    .input {
      margin-bottom: 20px;
    }

    .textarea {
      margin-bottom: 20px;
    }
  }

  &.form-inline {
    flex-direction: row;
    padding: 38px 34px;
    background: $white;
    border-radius: $radius-md;
    box-shadow: 0px 21px 99px rgba(25, 27, 35, 0.12);

    .input, .button {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      height: 64px;

      &:not(:last-child){
        margin-right: 28px;
      }
    }
  }
}

.form-responsive {
  .form-feedback-button {
    display: none;
  }
}

@include until(1280px) {
  .form {
    &.form-inline {
      .input, .button {
        &:not(:last-child){
          margin-right: 24px;
        }
      }
    }
  }
}

@include until(1140px) {
  .form {
    &.form-inline {
      .input, .button {
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
  }
}

@include until(1024px) {
  .form {
    &.form-inline {
      display: block;
      .input, .button {
        width: 100%;
        &:not(:last-child){
          margin-right: 0;
          margin-bottom: 28px;
        }
      }
    }
  }
}

@include until(480px) {
  .form {
    &.form-inline {
      padding: 20px 15px;
    }
  }

  .form-responsive {
    .form-feedback-button {
      display: block;
    }

    .form {
      &.form-inline {
        display: none;
      }
    }
  }
}

// Bitrix forms
.b24-form {

  // Info block
  .b24-form-state-icon {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-bottom: 20px;
  }

  .b24-form-state {
    display: flex;
    justify-content: center;
    border-radius: $radius-xl;
  }

  .b24-from-state-on .b24-form-state-container {
    background: none;
    border-radius: $radius-xl;
  }

  .b24-form-state-text {
    margin: 0 !important;
    color: $txtFocus !important;
  }
  
  .b24-form-success {
    background-color: rgba(white, 0.9) !important;
  }

  .b24-form-success .b24-form-state-text {
    font: 14px/18px var(--b24-font-family);
  }

  .b24-form-wrapper {
    &.b24-from-state-on {
      .b24-form-content {
        visibility: hidden;
      }
    }
  }

  // Info block End
  
  .b24-form-wrapper {
    --b24-text-color: #323846;
    --b24-primary-color: #22C951;
    --b24-field-background-color: white;
    --b24-field-focus-background-color: white;

    background: none;
    
    .b24-form-header-padding {
      display: none;
    }

    .b24-form-content {
      padding: 0;
    }
    
    .b24-form-control {
      border-radius: $radius-xs;
    }

    .b24-form-btn {
      border-radius: $radius-xs;

      &:hover {
        background-color: $acBrisklyPrimary;
        border-color: $acBrisklyPrimary;
      }
    }

    .b24-form-control-string .b24-form-control-label, .b24-form-control-list .b24-form-control-label, .b24-form-control-text .b24-form-control-label {
      padding-left: 25px;
    }
    // Alert
    .b24-form-control-alert.b24-form-control-checkbox, .b24-form-control-alert.b24-form-control-radiobox, .b24-form-control-alert.b24-form-control-file, .b24-form-control-alert.b24-form-control-list .b24-form-control, .b24-form-control-alert.b24-form-control-string .b24-form-control, .b24-form-control-alert.b24-form-control-text .b24-form-control {
      background: #fce1e1;
      border-color: #f25830;
    }
  }
}

// Bitrix FormLine
.bitrix-form-line {
  .b24-form {
    .b24-form-wrapper {
      background: $white;
      max-width: 100%;
      min-height: auto;
      padding: 38px 35px;
      box-shadow: 0px 21px 99px rgba(25, 27, 35, 0.12);
      border-radius: $radius-xl;

      &.b24-form-border-bottom {
        border: 0;
      }

      form {
        display: flex;
        flex-wrap: wrap;

        > div {
          &:nth-child(1) {
            display: flex;
            margin-right: 22px;
            width: calc(70% - 22px);

            .b24-form-field {
              margin: 0;
              width: 100%;

              &:first-child {
                margin-right: 22px;
              }
            }

            .b24-form-control-container {
              margin: 0;
            }
          }

          &:nth-child(2) {
            order: 3;
            margin-top: 22px;

            .b24-form-field.b24-form-field-agreement.b24-form-control-agreement {
              margin: 0;
            }

            .b24-form-control-container {
              margin: 0;
            }
          }

          &:nth-child(3) {
            width: 30%;
            &.b24-form-btn-container {
              margin: 0;
              display: block;
              .b24-form-btn-block {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}


@include until (768px) {
  .bitrix-form-line {
    .b24-form {
      .b24-form-wrapper {
        box-shadow: 0px 10px 40px rgba(25, 27, 35, 0.10);
        form {
          > div {
            &:nth-child(1) {
              display: block;
              margin: 0;
              width: 100%;

              .b24-form-field {
                margin-bottom: 22px;
              }
            }
  
            &:nth-child(3) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include until(480px) {
  .bitrix-form-line {
    display: none;
  }
}