@mixin slider-shade($position) {
  content: '';
  position: absolute;
  top: -30px;
  bottom: -100px;
  width: 100px;
  z-index: 1;

  @if $position == left {
    left: 0;
    background: linear-gradient(90deg, #F7FAFC 0%, rgba(247, 250, 252, 0) 100%);
  }

  @if $position == right {
    right: 0;
    background: linear-gradient(270deg, #F7FAFC 0%, rgba(247, 250, 252, 0) 100%);
  }
}

.slider-fade {
  position: relative;

  @include from(1440px) {
    &::before {
      @include slider-shade(left)
    }

    &::after {
      @include slider-shade(right)
    }
  }
}

.splide {
  .splide__track {
    overflow: visible;
  }

  .splide__arrow {
    display: none;
    background: $white;
    height: 48px;
    width: 48px;
    z-index: 10;
    transition: opacity 0.5s;
    box-shadow: 0px 3px 42px rgba(25, 27, 35, 0.12);
  
    svg {
      fill: $primary;
      width: 14px;
      height: 14px;
      margin-top: 4px;
    }
  }
}

@include from(1024px) {
  .splide-arrow-on-hover {
    &:hover {
      .splide__arrow {
        display: block;
      }
    }
  }
}

@include from(1440px) {
  .splide {
    .splide__arrow {
      &.splide__arrow--prev {
        left: -70px;
      }

      &.splide__arrow--next {
        right: -70px;
      }
    }
  }
}