<template>
  <li class="dropdown-item">
    <a v-if="!content.dropdown" :href="content.link" class="dropdown-mobile-link">
      <span class="dropdown-mobile-link-title">{{ content.title }}</span>
    </a>
    <a v-else :class="{ 'dropdown-mobile-link': true, 'is-active': active }" @click="active = !active">
      <span class="dropdown-mobile-link-title">
        {{ content.title }}
        <svg class="inline-icon header-nav-dropdown-icon">
          <use href="#icon-dropdown" />
        </svg>
      </span>
      <div v-if="active" class="dropdown-mobile-dropdown">
        <DropdownNavigationItem
          v-for="(item, index) in content.dropdown"
          :key="index"
          :title="item.title"
          :desc="item.desc"
          :link="item.link"
          :icon="item.icon"
        />
      </div>
    </a>
  </li>
</template>

<script>
import DropdownNavigationItem from '~/components/Dropdowns/DropdownNavigation/DropdownNavigationItem.vue'

export default {
  components: {
    DropdownNavigationItem
  },
  props: {
    content: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      active: false
    }
  }
}
</script>
