<template>
  <div :class="{ 'is-active': active, 'dropdown-link': true }">
    <a class="dropdown-lang" @click="active = !active">
      <img :src="`${lang}.svg`" alt="lang">
      <svg class="inline-icon header-nav-dropdown-icon">
        <use href="#icon-dropdown" />
      </svg>
    </a>
    <transition name="fade">
      <div v-if="active" class="dropdown-wrapper is-lang">
        <div class="dropdown is-lang">
          <nuxt-link v-for="locale in availableLocales" :key="locale.code" :to="switchLocalePath(locale.code)" class="dropdown-item">
            <img :src="`${locale.code}.svg`" alt="lang">
            <span class="dropdown-item-title">
              {{ locale.name }}
            </span>
          </nuxt-link>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    lang: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      active: false
    }
  },
  computed: {
    availableLocales () {
      return this.$i18n.locales.filter(locale => locale.code !== this.$i18n.locale)
    }
  },
  mounted () {
    const onClickOutside = (element) => {
      this.active = this.$el.contains(element.target) && this.active
    }

    document.addEventListener('click', onClickOutside)

    this.$on('hook:beforeDestroy', () => {
      document.removeEventListener('click', onClickOutside)
    })
  }
}
</script>
