<template>
  <div ref="dropdownLink" :class="{ 'is-active': active, 'dropdown-link': true }" @mouseleave="active = false">
    <span class="header-nav-link" @mouseover.self="active = true">
      {{ title }}
      <svg class="inline-icon header-nav-dropdown-icon">
        <use href="#icon-dropdown" />
      </svg>
    </span>
    <transition name="fade">
      <div v-if="active" class="dropdown-wrapper is-nav">
        <div class="dropdown is-nav">
          <div class="dropdown-items">
            <slot />
          </div>
          <div class="dropdown-navigation-contacts">
            <div class="dropdown-navigation-contacts-title">
              {{ apps.title }}
            </div>
            <div class="dropdown-navigation-contacts-apps">
              <a :href="apps.google.link" target="_blank">
                <img :src="apps.google.image" alt="">
              </a>
              <a :href="apps.apple.link" target="_blank">
                <img :src="apps.apple.image" alt="">
              </a>
            </div>
            <div class="dropdown-navigation-contacts-title">
              {{ contact.title }}
            </div>
            <div class="dropdown-navigation-contacts-social">
              <a v-for="(item, index) in socials" :key="index" :href="item.link" target="_blank">
                <svg class="inline-icon dropdown-navigation-contacts-social-icon">
                  <use :href="item.icon" />
                </svg>
              </a>
            </div>
            <a :href="contact.phoneAction" class="dropdown-navigation-contacts-phone">{{ contact.phone }}</a>
            <a v-smooth-scroll href="#section-feedback" class="dropdown-navigation-contacts-phone-desc link">{{ contact.button }}</a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    apps: {
      type: Object,
      default: () => {}
    },
    contact: {
      type: Object,
      default: () => {}
    },
    socials: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      active: false
    }
  }
}
</script>
