<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}

    <script>
      setTimeout(() => {
        (function(w, d, s, o){
          var j = d.createElement(s); j.async = true; j.src = '//script.marquiz.ru/v2.js';j.onload = function() {
            if (document.readyState !== 'loading') Marquiz.init(o);
            else document.addEventListener("DOMContentLoaded", function() {
              Marquiz.init(o);
            });
          };
          d.head.insertBefore(j, d.head.firstElementChild);
        })(window, document, 'script', {
            host: '//quiz.marquiz.ru',
            region: 'eu',
            id: '60cb1921626c15003ec7efb7',
            autoOpen: false,
            autoOpenFreq: 'once',
            openOnExit: false,
            disableOnMobile: false
          }
        );
      }, 3000);
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-174153759-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-174153759-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      setTimeout(() => {
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(50899424, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
      }, 3000);
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50899424" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

     <!-- Yandex.Metrika counter -->
     <script type="text/javascript">setTimeout(()=>{var e,t=window,a=document,c="script";t.ym=t.ym||function(){(t.ym.a=t.ym.a||[]).push(arguments)},t.ym.l=+new Date,e=a.createElement(c),c=a.getElementsByTagName(c)[0],e.async=1,e.src="https://mc.yandex.ru/metrika/tag.js",c.parentNode.insertBefore(e,c),ym(50899424,"init",{clickmap:!0,trackLinks:!0,accurateTrackBounce:!0,webvisor:!0})},3e3)</script>
     <noscript><div><img src="https://mc.yandex.ru/watch/50899424" style="position:absolute;left:-9999px" alt=""></div></noscript>
     <!-- /Yandex.Metrika counter -->

    <script>
      (function() {
        window.onload = function () {
          const bitrixSubmitBtns = document.querySelectorAll('button[type=submit].b24-form-btn');
          bitrixSubmitBtns.forEach((button) => {
            button.addEventListener('click', function () {
              gtag('event', 'lead', {'event_category' : 'general'});
              ym(50899424,'reachGoal','lead');
              fbq('track', 'Lead');
            });
          })
        }
      })();
    </script>

    <script>
      (function(w, d, s, h, id) {
      w.roistatProjectId = id; w.roistatHost = h;
      var p = d.location.protocol == "https:" ? "https://" : "http://";
      var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init?referrer="+encodeURIComponent(d.location.href);
      var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
      })(window, document, 'script', 'cloud.roistat.com', 'b3046e7af14084a4dcbceb5ea37a094b');
    </script>

    <!-- BEGIN BITRIX24 WIDGET INTEGRATION WITH ROISTAT -->
    <script>
      (function(w, d, s, h) {
      w.roistatLanguage = '';
      var p = d.location.protocol == "https:" ? "https://" : "http://";
      var u = "/static/marketplace/Bitrix24Widget/script.js";
      var js = d.createElement(s); js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
      })(window, document, 'script', 'cloud.roistat.com');
    </script>
    <!-- END BITRIX24 WIDGET INTEGRATION WITH ROISTAT -->
  </body>
</html>