.dots-line {
  background-repeat: repeat;
  height: 127px;
  width: 100%;

  &.is-green {
    background-image: url('static/dots-bg-green.svg');
  }

  &.is-grey {
    background-image: url('static/dots-bg-grey.svg');
  }
}