.rotation-bg-left {
  &.is-top {
    top: -$rotation-height;
    @include rotation-bg($bgPrimary, 6deg, false);
  }

  &.is-bottom {
    bottom: -$rotation-height;
    @include rotation-bg($bgPrimary, 6deg, true);
  }
}

.rotation-bg-right {
  &.is-top {
    top: -$rotation-height;
    @include rotation-bg($bgPrimary, -6deg, false);
  }

  &.is-bottom {
    bottom: -$rotation-height;
    @include rotation-bg($bgPrimary, -6deg, true);
  }
}

.rotation-bg-wrapper {
  position: absolute;
  top: -$rotation-bg-margin;
  bottom: -$rotation-bg-margin;
  padding: $rotation-bg-margin 0;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.rotation-bg-gradient {
  flex-grow: 1;
  margin-left: -150px;
  margin-right: -150px;
}

.rotation-is-left {
  backface-visibility: hidden;
  transform: rotate3d(1, 1, 1, 6deg);
}

.rotation-is-right {
  backface-visibility: hidden;
  transform: rotate3d(1, 1, 1, -6deg);
}