<template>
  <!-- eslint-disable vue/no-v-html -->
  <section class="firstscreen">
    <div v-lazy:background-image="content.background" class="firstscreen-fridge" />
    <div class="container firstscreen-container">
      <div class="firstscreen-wrapper">
        <img v-lazy="content.logo" alt="" class="firstscreen-logo-hero">
        <h1 class="firstscreen-title">
          <span class="has-text-black" v-html="content.title" />
          <span class="has-text-primary" v-html="content.description" />
        </h1>
        <ul class="list firstscreen-list">
          <li
            v-for="(item, index) in content.items"
            :key="index"
            v-html="item"
          />
        </ul>
        <a v-smooth-scroll :href="content.link" class="button firstscreen-button">{{ content.button }}</a>
        <img v-lazy="content.image" alt="" class="firstscreen-phone">
      </div>
    </div>
    <a v-smooth-scroll href="#section-presentation" class="firstscreen-down">
      {{ content.down }}
      <br>
      <br>
      <svg class="inline-icon size-6">
        <use href="#arrow-button" />
      </svg>
    </a>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
