@mixin control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: $radius-xs;
  box-shadow: none;
  display: inline-flex;
  font-size: 14px;
  line-height: 17px;
  min-height: 54px;
  justify-content: flex-start;
  padding: 16px 36px;
  position: relative;
  vertical-align: top;

  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed
  }

  &.size-xs {
    padding: 12px 8px;
    min-height: 42px;
  }
}