<template>
  <div class="dropdown-mobile">
    <div class="dropdown-mobile-actions">
      <!-- <button class="dropdown-mobile-actions-item">
        <img src="search.svg" alt="">
      </button> -->
      <!-- <DropdownLang :lang="$i18n.locale" class="dropdown-mobile-actions-item" /> -->
      <button class="dropdown-mobile-actions-item" @click="$emit('on:close')">
        <img src="https://briskly.online/close.svg" alt="">
      </button>
    </div>
    <div class="dropdown-mobile-links">
      <DropdownMobileItem
        v-for="(item, index) in content.navigation"
        :key="index"
        :content="item"
      />
    </div>
    <div class="dropdown-navigation-contacts">
      <div class="dropdown-navigation-contacts-title">
        {{ content.apps.title }}
      </div>
      <div class="dropdown-navigation-contacts-apps">
        <a :href="content.apps.google.link" target="_blank">
          <img :src="content.apps.google.image" alt="">
        </a>
        <a :href="content.apps.apple.link" target="_blank">
          <img :src="content.apps.apple.image" alt="">
        </a>
      </div>
      <div class="dropdown-navigation-contacts-title">
        {{ content.contact.title }}
      </div>
      <div class="dropdown-navigation-contacts-social">
        <a v-for="(item, index) in content.socials" :key="index" :href="item.link" target="_blank">
          <svg class="inline-icon dropdown-navigation-contacts-social-icon">
            <use :href="item.icon" />
          </svg>
        </a>
      </div>
      <a :href="content.contact.phoneAction" class="dropdown-navigation-contacts-phone">{{ content.contact.phone }}</a>
      <span v-if="content.contact.button" @click="$emit('on:close')">
        <a :href="`${currentPath}#section-feedback`" class="dropdown-navigation-contacts-phone-desc link">{{ content.contact.button }}</a>
      </span>
    </div>
  </div>
</template>

<script>
import DropdownMobileItem from '@/components/Dropdowns/DropdownMobileItem.vue'

export default {
  components: {
    DropdownMobileItem
  },
  props: {
    content: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      currentPath: ''
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.currentPath = window.location.pathname
    })
  }
}
</script>

