<template>
  <!-- eslint-disable vue/no-v-html -->
  <div class="cookies-wrapper">
    <transition name="fade">
      <div v-if="active" class="cookies-modal">
        <div class="cookies-modal-image" />
        <h3 class="cookies-title">
          {{ content.title }}
        </h3>
        <div class="cookies-content" v-html="content.description" />
        <button class="button is-primary is-full size-xs" @click="acceptCookies">
          {{ content.button }}
        </button>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      active: false
    }
  },
  mounted () {
    this.checkCookiesAccept()
  },
  methods: {
    acceptCookies () {
      this.active = false
      localStorage.setItem('cookies-accept', true)
    },
    checkCookiesAccept () {
      if (localStorage.getItem('cookies-accept')) {
        this.active = localStorage.getItem('cookies-accept') !== 'true'
      } else {
        setTimeout(() => {
          this.active = true
        }, 30000)
        setTimeout(() => {
          this.active = false
          localStorage.setItem('cookies-accept', true)
        }, 35000)
      }
    }
  }
}
</script>
