html, body {
  font-family: $font-family;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100vw;
}

.layout-primary-bg {
  background: $bgPrimary;
}

.layout-white-bg {
  background: $white;
}

button {
  font-family: $font-family;
}

$container-offset: 25px;
$container-max-width: $fullhd;

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 $container-offset;
  width: auto;

  @include desktop {
    max-width: $desktop
  }

  @include until-widescreen {
    max-width: min($widescreen, $container-max-width)
  }

  @include widescreen {
    max-width: min($widescreen, $container-max-width)
  }
}