<template>
  <!-- eslint-disable vue/no-v-html -->
  <section v-lazy:background-image="content.background" class="firstscreen-index firstscreen-index-wrapper">
    <div>
      <div class="container">
        <h1 class="firstscreen-index-title" v-html="content.title" />
        <h3 class="firstscreen-index-description" v-html="content.description" />
        <div class="firstscreen-index-text" v-html="content.text" />
      </div>
    </div>
    <div id="splideFirstScreenIndex" class="splide firstscreen-index-links-slider container">
      <div class="splide__track">
        <ul class="splide__list firstscreen-index-links">
          <a v-for="(item, index) in content.items" :key="index" v-smooth-scroll :href="item.link" class="button is-outline splide__slide">
            {{ item.title }}
          </a>
        </ul>
      </div>
    </div>
    <a v-smooth-scroll :href="content.action" class="firstscreen-index-down">
      <svg class="inline-icon firstscreen-index-down-icon">
        <use href="#icon-dropdown" />
      </svg>
      {{ content.button }}
    </a>
  </section>
</template>

<script>

export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },

  mounted () {
    this.initSplide()
  },
  methods: {
    initSplide () {
      this.splide = new this.$Splide('#splideFirstScreenIndex', {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: false,
        destroy: true,
        breakpoints: {
          767: {
            destroy: false
          }
        }
      }).mount()
    }
  }
}
</script>
