/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
.btn.btn300 {
  width: 100% !important;
  max-width: 300px; }

h1, h2, h3 {
  font-size: 23px;
  line-height: 32px;
  margin-bottom: 25px; }

h2 .s31 {
  font-size: 20px;
  line-height: 28px; }

h4 {
  font-size: 19px;
  line-height: 27px; }

.s14, .s18 {
  font-size: 16px;
  line-height: 24px; }

.s24 {
  font-size: 19px;
  line-height: 27px; }

.p85 {
  padding-top: 65px;
  padding-bottom: 65px; }

.bold {
  font-weight: 600; }

.btn.btn-big {
  font-size: 16px; }
.btn.btn300 {
  width: 240px; }

.bend, .bend-top {
  width: 800px; }

.bend-top {
  top: -2px; }

.standart.marker-abroad {
  margin-left: 0; }
  .standart.marker-abroad li {
    font-size: 16px;
    line-height: 26px;
    padding-left: 38px; }
.standart.s24 li:before {
  width: 27px;
  height: 24px; }

.wrapper-block {
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px; }

.flex-wrapper {
  flex-wrap: wrap; }
  .flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%; }
    .flex-wrapper .flex-block.w70, .flex-wrapper .flex-block.w60, .flex-wrapper .flex-block.w40 {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper .flex-block.on-mobile-none {
      display: none; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 0;
      margin-bottom: 40px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 0; }
  .flex-wrapper.mobile-reverse {
    flex-wrap: wrap-reverse; }

.pr100 {
  padding-right: 0;
  padding-bottom: 50px; }

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 20px 15px 15px 15px; }
  header .header {
    width: auto;
    padding: 0;
    justify-content: flex-end;
    margin: 0; }
    header .header .logo {
      width: 110px;
      display: block; }
  header .languages {
    position: absolute;
    right: 100px; }
  header .open-menu {
    display: block;
    width: 50px;
    height: 28px;
    z-index: 10;
    margin-left: 30px;
    position: fixed;
    top: 25px;
    right: 20px; }
    header .open-menu span {
      display: block;
      width: 100%;
      height: 2px;
      margin: 5px 0;
      background: #fff; }
    header .open-menu.dark-color span {
      background: #191B23; }
  header menu {
    display: none; }
    header menu ul li {
      margin-right: 22px; }
  header .tel {
    display: none; }
  header.header-dark-color .open-menu span {
    background: #191B23; }
  header.header-dark-color .logo a.logo-dark {
    display: block; }
  header.header-dark-color .logo a.logo-white {
    display: none; }
  /*header.header-dark-color.on-scan-go .logo a.logo-dark {
    display: none; }
  header.header-dark-color.on-scan-go .logo a.logo-white {
    display: block; }
  header.header-dark-color.on-scan-go .open-menu span {
    background-color: #fff; }
  header.header-dark-color.on-scan-go.have-opened-menu .open-menu span {
    background: #191B23; }*/
  header.have-opened-menu {
    display: block;
    height: 100vh;
    overflow: auto;
    padding: 20px 30px 100px 30px;
    background: #fff; }
    header.have-opened-menu .open-menu {
      position: fixed;
      top: 24px;
      right: 15px; }
      header.have-opened-menu .open-menu span {
        transition: all 200ms linear 0s;
        position: absolute;
        top: 8px;
        background: #191B23; }
        header.have-opened-menu .open-menu span:nth-child(2) {
          display: none; }
        header.have-opened-menu .open-menu span:first-child {
          left: 0;
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        header.have-opened-menu .open-menu span:last-child {
          right: 0;
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    header.have-opened-menu .header {
      display: block;
      margin: 0 auto; }
      header.have-opened-menu .header .btn-tariffs {
        display: block;
        width: 250px;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
        font-size: 18px;
        margin: 0 auto; }
      header.have-opened-menu .header .logo {
        margin-bottom: 40px;
        margin-left: -15px; }
        header.have-opened-menu .header .logo a.logo-dark {
          display: block; }
        header.have-opened-menu .header .logo a.logo-white {
          display: none; }
    header.have-opened-menu .languages {
      display: none; }
    header.have-opened-menu .tel {
      display: block;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      width: 100%;
      color: #000; }
    header.have-opened-menu .header-right {
      min-width: 100%;
      justify-content: flex-end; }
      header.have-opened-menu .header-right .tel {
        display: none; }
    header.have-opened-menu menu {
      display: block;
      width: 100%;
      max-width: 300px;
      margin-bottom: 30px; }
      header.have-opened-menu menu ul li {
        display: block;
        margin-bottom: 25px; }
        header.have-opened-menu menu ul li a {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          *display: inline;
          *zoom: 1;
          font-size: 18px;
          color: #333; }
          header.have-opened-menu menu ul li a.only-desktop {
            display: none; }
          header.have-opened-menu menu ul li a.only-mobile-view {
            display: block; }
        header.have-opened-menu menu ul li .extra-menu {
          margin-top: 15px;
          padding-left: 40px;
          display: block; }
          header.have-opened-menu menu ul li .extra-menu li {
            margin-bottom: 10px; }
            header.have-opened-menu menu ul li .extra-menu li a {
              font-size: 16px;
              font-weight: 300;
              color: #333; }
        header.have-opened-menu menu ul li:hover .extra-menu, header.have-opened-menu menu ul li.active .extra-menu {
          position: initial;
          background: none;
          box-shadow: none; }
        header.have-opened-menu menu ul li .only-mobile {
          display: block;
          padding: 20px 0 0 30px; }
          header.have-opened-menu menu ul li .only-mobile li a {
            font-weight: 400; }
    header.have-opened-menu.header-dark-color {
      background: #fff; }
      header.have-opened-menu.header-dark-color menu ul li a {
        font-weight: 500; }
      header.have-opened-menu.header-dark-color menu ul li .extra-menu li a {
        opacity: 1.0;
        font-weight: 400; }
    header.have-opened-menu .extra-menu-wrapper.only-mobile {
      display: block;
      padding: 0;
      margin-top: 50px;
      border: none; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .wrapper-block {
        padding: 0;
        max-width: 100%; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .extra-menu-block {
        display: block; }
        header.have-opened-menu .extra-menu-wrapper.only-mobile .extra-menu-block .flex-block {
          margin-right: 0;
          max-width: 100%;
          margin-bottom: 45px; }
        header.have-opened-menu .extra-menu-wrapper.only-mobile .extra-menu-block .tel {
          width: 250px;
          margin: 0 auto; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .application-stores a {
        margin: 0 0 20px 0; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .ul-block-line {
        margin-bottom: 45px; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .download-app .h-style {
        font-size: 18px;
        line-height: 30px; }
  header.top .header {
    width: 100%;
    padding: 0;
    justify-content: space-between;
    margin: 0; }
  header.top .logo a.logo-dark {
    display: block; }
  header.top .logo a.logo-white {
    display: none; }
  header.top .open-menu span {
    background: #333; }
  /*header.top.on-scan-go .logo a.logo-dark {
    display: block; }
  header.top.on-scan-go .logo a.logo-white {
    display: none; }
  header.top.on-scan-go .open-menu span {
    background-color: #191B23; }*/

/*main-slider*/
/*about-b-pay start*/
.about-b-pay {
  background-position: center 10%;
  padding: 30px 0; }
  .about-b-pay .flex-wrapper {
    flex-wrap: wrap-reverse; }
    .about-b-pay .flex-wrapper .flex-block.align-right {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      margin-bottom: 40px; }
    .about-b-pay .flex-wrapper .flex-block .phone-image-block {
      margin: 30px auto 0 auto; }
      .about-b-pay .flex-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
        width: 100px; }
    .about-b-pay .flex-wrapper .flex-block .text-block {
      margin-bottom: 30px; }
      .about-b-pay .flex-wrapper .flex-block .text-block:last-child {
        margin-bottom: 0; }
    .about-b-pay .flex-wrapper .flex-block .btns-block {
      margin-bottom: 40px; }
      .about-b-pay .flex-wrapper .flex-block .btns-block .btn {
        padding: 0 30px; }

/*about-b-pay end*/
/*have-questions start*/
.have-questions {
  padding: 40px 0; }
  .have-questions .btns-block {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    .have-questions .btns-block .btn {
      width: 280px;
      margin: 0 auto; }
      .have-questions .btns-block .btn:first-child {
        margin-bottom: 20px; }

/*have-questions end*/
/*articles start*/
.mass-media-about-us {
  padding: 75px 0 0 0; }

.articles-wrapper.swiper-container {
  padding: 20px 15px; }

/*articles end*/
/*our clients start*/
.our-clients {
  padding: 75px 0; }
  .our-clients .swiper-container {
    margin-bottom: 40px; }

/*our clients end*/
/*map block start*/
.map-block-wrapper {
  height: 600px; }

/*map block end*/
/*work-steps start*/
.phone-image-block.tab-w100 {
  width: 100%; }

.steps-wrapper {
  padding-left: 0; }

.work-steps-wrapper {
  padding: 0;
  flex-wrap: wrap; }
  .work-steps-wrapper .work-step-block {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px; }
    .work-steps-wrapper .work-step-block:last-child {
      padding-bottom: 0; }
    .work-steps-wrapper .work-step-block .icon-block {
      min-width: 80px;
      max-width: 80px;
      margin-right: 20px; }
      .work-steps-wrapper .work-step-block .icon-block img {
        width: 100%;
        margin: 0;
        border-radius: 18px; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        display: none; }

/*work-steps ens*/
/*about-terminal start*/
.about-terminal {
  padding: 30px 15px 100px 15px; }
  .about-terminal .flex-wrapper .flex-block {
    padding-bottom: 50px; }
    .about-terminal .flex-wrapper .flex-block.pl100 {
      padding: 0; }
  .about-terminal .image-wrapper .main-image {
    width: 80%;
    margin: auto 0 auto auto; }
  .about-terminal .image-wrapper .card-image {
    width: 200px;
    left: -5px; }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 100px 0 0 0; }
  .embedded-marketing .spec-text {
    width: 100%;
    margin-bottom: 50px;
    left: 0;
    margin-left: 0; }

.laptop-bg {
  background: none;
  min-height: 0;
  padding-bottom: 0;
  max-width: 480px;
  margin: 0 auto; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 690px; }
  .spec-flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 0 40px 0; }
    .spec-flex-wrapper .flex-block:last-child {
      margin-bottom: 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 70px;
      max-width: 70px; }
      .spec-flex-wrapper .flex-block .icon-block img {
        border-radius: 12px; }
    .spec-flex-wrapper .flex-block .s18 {
      font-size: 16px; }
    .spec-flex-wrapper .flex-block p {
      font-size: 16px; }

/*embedded-marketing end*/
/*have-questions start*/
.have-questions {
  padding: 40px 0; }
  .have-questions .btns-block {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    .have-questions .btns-block .btn {
      width: 280px;
      margin: 0 auto; }
      .have-questions .btns-block .btn:first-child {
        margin-bottom: 20px; }

/*have-questions end*/
/*footer start*/
.links-block a {
  font-size: 14px; }

.foot-contacts .pay-systems {
  min-width: 100%;
  max-width: 100%;
  margin: 30px 0 0 0; }
  .foot-contacts .pay-systems ul {
    justify-content: center; }
.foot-contacts .footer-block-text {
  order: -1; }

.to-top {
  margin-top: 20px; }

.footer {
  padding: 30px 0 56px 0; }
  .footer .footer-block-text .request-call.standart-green {
    font-size: 18px;
    margin-bottom: 35px;
    margin-top: 20px; }
  .footer .footer-block-text p {
    margin-bottom: 20px; }
  .footer p {
    font-size: 14px; }
    .footer p.color-light-gray {
      font-size: 10px; }
  .footer .logo {
    margin: 0 auto;
    padding-bottom: 0; }
  .footer .flex-wrapper {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around; }
  .footer .footer-block {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 20px; }
    .footer .footer-block .tel {
      font-size: 18px; }
    .footer .footer-block.patent-info {
      order: -1;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      min-width: 100%;
      max-width: 100%;
      padding: 0 0; }
      .footer .footer-block.patent-info .links-block ul {
        text-align: center;
        -moz-text-align-last: center;
        text-align-last: center;
        margin-top: 30px; }
        .footer .footer-block.patent-info .links-block ul li {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          *display: inline;
          *zoom: 1;
          margin: 0 0 10px 0; }
    .footer .footer-block.foot-contacts.flex-column {
      order: -1;
      display: block;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      margin-bottom: 30px; }
  .footer .copyright {
    position: absolute;
    bottom: 0;
    left: 0; }

.socila-networks {
  margin-bottom: 30px; }

.mobile-bottom-btns {
  position: relative;
  z-index: 100;
  /*background: $color-hard-gray;*/
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  justify-content: space-between; }
  .mobile-bottom-btns .btn {
    position: relative;
    min-width: calc(50% - 5px);
    max-width: calc(50% - 5px);
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    padding: 0 5px;
    box-shadow: 0px 2px 8px rgba(8, 199, 146, 0.25); }
    .mobile-bottom-btns .btn.btn-green-border {
      line-height: 32px;
      color: #296519; }
  .mobile-bottom-btns .tel:before {
    content: '';
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 15px;
    height: 15px;
    background: url(/img/tel-icon.svg) 0 0 no-repeat;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-right: 6px; }
  .mobile-bottom-btns .to-mail {
    color: #57D435;
    background: #fff; }
    .mobile-bottom-btns .to-mail:before {
      content: '';
      position: relative;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      width: 18px;
      height: 13px;
      background: url(/img/mail-icon.svg) 0 0 no-repeat;
      top: 50%;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      margin-right: 6px; }
    .mobile-bottom-btns .to-mail:hover {
      background: #fff; }

/*footer end*/
@media screen and (min-width: 0px) and (max-width: 359px) {
  .mobile-bottom-btns .btn {
    font-size: 11px; } }

/*# sourceMappingURL=common-elems-styles-mobile.css.map */
