/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
h1, h2 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 25px; }

h3 {
  font-size: 32px;
  line-height: 44px; }

.s14, .s18 {
  font-size: 16px;
  line-height: 24px; }

.s24 {
  font-size: 22px;
  line-height: 33px; }

.p85 {
  padding-top: 55px;
  padding-bottom: 55px; }

.standart li:before {
  left: 5px; }

.btn.btn-big {
  height: 45px;
  line-height: 45px;
  font-size: 14px; }
  .btn.btn-big.btn-green-border {
    line-height: 41px; }
  .btn.btn-big.btn-white {
    height: 45px;
    line-height: 41px;
    font-size: 14px; }
.btn.btn300 {
  width: 240px; }

.bend, .bend-top {
  width: 102%; }

.bend-top {
  top: -2px; }

.wrapper-block {
  width: 100%;
  max-width: 650px; }

.flex-wrapper {
  flex-wrap: wrap; }
  .flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 0;
      margin-bottom: 40px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 0; }
  .flex-wrapper.tab-no-wrap {
    flex-wrap: nowrap; }
    .flex-wrapper.tab-no-wrap .flex-block {
      min-width: 50%;
      max-width: 50%; }
  .flex-wrapper.tablet-wrap {
    flex-wrap: wrap; }
    .flex-wrapper.tablet-wrap .flex-block.w60 {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper.tablet-wrap .flex-block.w40 {
      min-width: 100%;
      max-width: 100%; }
  .flex-wrapper.mobile-reverse {
    flex-wrap: wrap-reverse; }

.pr100 {
  padding-right: 0;
  padding-bottom: 50px; }

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 30px 60px 20px 60px; }
  header .header {
    width: auto;
    padding: 0;
    justify-content: space-between;
    margin: 0; }
    header .header .logo {
      width: 110px;
      display: block; }
  header .languages {
    position: absolute;
    right: 145px; }
  header .open-menu {
    display: block;
    width: 50px;
    height: 28px;
    z-index: 10;
    margin-left: 30px;
    position: fixed;
    top: 36px;
    right: 60px; }
    header .open-menu span {
      display: block;
      width: 100%;
      height: 2px;
      margin: 5px 0;
      background: #fff; }
    header .open-menu.dark-color span {
      background: #191B23; }
  header menu {
    display: none; }
    header menu ul li {
      margin-right: 22px; }
  header .tel {
    display: none; }
  header.header-dark-color .open-menu span {
    background: #191B23; }
  header.header-dark-color .logo a.logo-dark {
    display: block; }
  header.header-dark-color .logo a.logo-white {
    display: none; }
  header.have-opened-menu {
    height: 100vh;
    overflow: auto;
    background: #fff; }
    header.have-opened-menu .open-menu {
      /*position: fixed;
      top: 34px;
      right: 60px;*/ }
      header.have-opened-menu .open-menu span {
        transition: all 200ms linear 0s;
        position: absolute;
        top: 8px;
        background: #191B23; }
        header.have-opened-menu .open-menu span:nth-child(2) {
          display: none; }
        header.have-opened-menu .open-menu span:first-child {
          left: 0;
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        header.have-opened-menu .open-menu span:last-child {
          right: 0;
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    header.have-opened-menu .header {
      min-width: 50%;
      max-width: 50%;
      display: block;
      margin: 0 auto; }
      header.have-opened-menu .header .btn-tariffs {
        display: block;
        width: 250px;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
        font-size: 18px; }
      header.have-opened-menu .header .logo {
        margin-bottom: 36px;
        margin-right: 0; }
        header.have-opened-menu .header .logo a.logo-dark {
          display: block; }
        header.have-opened-menu .header .logo a.logo-white {
          display: none; }
    header.have-opened-menu .languages {
      display: none; }
    header.have-opened-menu .tel {
      display: block;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      width: 100%;
      color: #000; }
    header.have-opened-menu .header-right {
      min-width: 100%;
      justify-content: flex-end; }
      header.have-opened-menu .header-right .tel {
        display: none; }
    header.have-opened-menu menu {
      display: block;
      width: 100%;
      max-width: 300px;
      margin-bottom: 60px; }
      header.have-opened-menu menu ul li {
        display: block;
        margin-bottom: 25px; }
        header.have-opened-menu menu ul li a {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          *display: inline;
          *zoom: 1;
          font-size: 18px;
          color: #333; }
          header.have-opened-menu menu ul li a.only-desktop {
            display: none; }
          header.have-opened-menu menu ul li a.only-mobile-view {
            display: block; }
        header.have-opened-menu menu ul li .extra-menu {
          margin-top: 15px;
          padding-left: 40px;
          display: block; }
          header.have-opened-menu menu ul li .extra-menu li {
            margin-bottom: 10px; }
            header.have-opened-menu menu ul li .extra-menu li a {
              font-size: 16px;
              font-weight: 300;
              color: #333; }
        header.have-opened-menu menu ul li .only-mobile {
          display: block;
          padding: 20px 0 0 30px; }
          header.have-opened-menu menu ul li .only-mobile li a {
            font-weight: 400; }
    header.have-opened-menu.header-dark-color {
      background: #fff; }
      header.have-opened-menu.header-dark-color .header .logo {
        margin-bottom: 36px;
        margin-right: 0; }
        header.have-opened-menu.header-dark-color .header .logo.logo-dark {
          display: block; }
        header.have-opened-menu.header-dark-color .header .logo.logo-white {
          display: none; }
    header.have-opened-menu .extra-menu-wrapper.only-mobile {
      display: block;
      min-width: 50%;
      max-width: 50%;
      padding: 0;
      margin-top: 80px;
      border: none; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .extra-menu-block {
        display: block; }
        header.have-opened-menu .extra-menu-wrapper.only-mobile .extra-menu-block .flex-block {
          margin-right: 0;
          max-width: 100%;
          margin-bottom: 60px; }
        header.have-opened-menu .extra-menu-wrapper.only-mobile .extra-menu-block .tel {
          width: 250px; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .application-stores a {
        margin: 0 0 20px 0; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .ul-block-line {
        margin-bottom: 65px; }
      header.have-opened-menu .extra-menu-wrapper.only-mobile .download-app .h-style {
        font-size: 18px;
        line-height: 30px; }
  header.top .header {
    width: 100%;
    padding: 0;
    justify-content: space-between;
    margin: 0; }
  header.top .logo a.logo-dark {
    display: block; }
  header.top .logo a.logo-white {
    display: none; }
  header.top .open-menu span {
    background: #333; }

/*about-b-pay start*/
.about-b-pay {
  background-position: center 18%;
  padding: 70px 0; }
  .about-b-pay .flex-wrapper .flex-block:first-child {
    min-width: 60%;
    max-width: 60%; }
  .about-b-pay .flex-wrapper .flex-block.align-right {
    min-width: 40%;
    max-width: 40%; }
  .about-b-pay .flex-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
    width: 138px; }
  .about-b-pay .flex-wrapper .flex-block .text-block {
    margin-bottom: 30px; }
    .about-b-pay .flex-wrapper .flex-block .text-block:last-child {
      margin-bottom: 0; }
  .about-b-pay .flex-wrapper .flex-block .btns-block {
    margin-bottom: 40px; }
    .about-b-pay .flex-wrapper .flex-block .btns-block .btn {
      padding: 0 30px; }

/*about-b-pay end*/
/*have-questions start*/
.have-questions {
  padding: 75px 0; }
  .have-questions .btns-block {
    justify-content: center; }
    .have-questions .btns-block .btn {
      margin: 0 20px; }

/*have-questions end*/
/*articles start*/
.mass-media-about-us {
  padding: 75px 0 0 0; }

.articles-wrapper.swiper-container {
  padding: 20px; }

/*articles end*/
/*our clients start*/
.our-clients {
  padding: 75px 0; }

/*our clients end*/
/*map block start*/
.map-block-wrapper {
  height: 600px; }

/*map block end*/
/*footer start*/
.links-block ul li {
  margin-bottom: 20px; }

.pay-systems {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  margin: 0; }
  .pay-systems ul {
    justify-content: center; }
    .pay-systems ul li {
      margin-right: 20px; }

.footer .wrapper-block {
  padding: 0; }
.footer .logo {
  margin: 0 auto;
  padding-bottom: 0; }
.footer .flex-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-bottom: 100px; }
.footer .footer-block-text .standart-green {
  margin-bottom: 40px; }
.footer .footer-block-text p {
  margin-bottom: 20px; }
.footer .footer-block {
  padding: 0; }
  .footer .footer-block:last-child {
    padding: 0; }
  .footer .footer-block.patent-info {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    min-width: 100%;
    max-width: 100%;
    padding: 0 20px 40px 20px; }
    .footer .footer-block.patent-info .links-block ul {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      margin-top: 30px; }
      .footer .footer-block.patent-info .links-block ul li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        margin: 0 20px 10px 20px; }

/*footer end*/
/*work-steps start*/
.phone-image-block.tab-w100 {
  width: 100%; }

.steps-wrapper {
  padding-left: 40px; }

.work-steps-wrapper {
  padding: 20px 0 0 0;
  flex-wrap: wrap; }
  .work-steps-wrapper .work-step-block {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px; }
    .work-steps-wrapper .work-step-block:last-child {
      padding-bottom: 0; }
    .work-steps-wrapper .work-step-block .icon-block {
      min-width: 80px;
      max-width: 80px;
      margin-right: 20px; }
      .work-steps-wrapper .work-step-block .icon-block img {
        width: 100%;
        margin: 0;
        border-radius: 18px; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        display: none; }

/*work-steps end*/
/*about-terminal start*/
.about-terminal .flex-wrapper .flex-block {
  padding-bottom: 50px; }
  .about-terminal .flex-wrapper .flex-block.pl100 {
    padding: 0; }
.about-terminal .image-wrapper .main-image {
  width: 80%;
  margin: 0 auto; }
.about-terminal .image-wrapper .card-image {
  width: 268px;
  left: -5px; }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 100px 0 0 0; }
  .embedded-marketing .spec-text {
    width: 100%;
    margin-bottom: 50px;
    left: 0;
    margin-left: 0; }

.laptop-bg {
  background: none;
  min-height: 0;
  padding-bottom: 50px; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 690px; }
  .spec-flex-wrapper .flex-block {
    padding: 0 20px;
    margin: 20px 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 100px;
      max-width: 100px; }
    .spec-flex-wrapper .flex-block p {
      font-size: 15px; }

/*embedded-marketing end*/
/*have-questions start*/
.have-questions {
  padding: 75px 0; }
  .have-questions .btns-block {
    justify-content: center; }
    .have-questions .btns-block .btn {
      margin: 0 20px; }

/*have-questions end*/

/*# sourceMappingURL=common-elems-styles-tablet.css.map */
