/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*@import "inc/_my_reset.scss";*/
html {
  height: 100%; }

body {
  font-stretch: normal;
  font-weight: normal;
  min-height: 100%;
  position: relative;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fcfcfd;
  overflow-x: hidden; }

.container {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  background: #fcfcfd; }

.wrapper-block {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper.center-items {
    align-items: center; }
  .flex-wrapper .flex-block {
    flex-grow: 1;
    min-width: 50%;
    max-width: 50%; }
    .flex-wrapper .flex-block.w30 {
      min-width: 30%;
      max-width: 30%; }
    .flex-wrapper .flex-block.w40 {
      min-width: 40%;
      max-width: 40%; }
    .flex-wrapper .flex-block.w60 {
      min-width: 60%;
      max-width: 60%; }
    .flex-wrapper .flex-block.w70 {
      min-width: 70%;
      max-width: 70%; }
    .flex-wrapper .flex-block.full-width {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 100px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 100px; }
    .flex-wrapper .flex-block.vertical-flex {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between; }
    .flex-wrapper .flex-block.w660 {
      min-width: 660px;
      max-width: 660px; }
    .flex-wrapper .flex-block.auto-width {
      min-width: 0;
      max-width: 100%; }

.right-alignment {
  margin: auto 0 auto auto; }

.left-alignment {
  margin: auto auto auto 0; }

.white-bg {
  background: #fff; }

.dark-bg {
  background: #353439; }

.light-gray-bg {
  background: #f0f3f8; }

.beige-bg {
  background: #f4f4f4; }

h1, h2, h3, h4 {
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 35px; }

h2 {
  margin-bottom: 50px; }
  h2 .s31 {
    display: block;
    font-size: 31px;
    line-height: 44px; }
  h2.leaf-after {
    position: relative; }
  /*  h2.leaf-after:after {
      content: "";
      display: block;
      width: 25px;
      height: 33px;
      background: url(/img/leaf-icon.svg) 0 0 no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: -55px; } */

h3, .h3 {
  display: block;
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 35px; }

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 35px; }

h5 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px; }

p, .s16 {
  font-size: 16px;
  line-height: 24px; }
  p.asterisk, .s16.asterisk {
    position: relative; }
    p.asterisk:before, .s16.asterisk:before {
      content: "*";
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      position: absolute;
      left: -10px; }

.s18 {
  font-size: 18px;
  line-height: 28px; }

.s14 {
  font-size: 14px;
  line-height: 24px; }

p {
  margin-bottom: 20px; }
  p:last-child {
    margin: 0; }
  p.s14 {
    margin-bottom: 15px; }

.middle {
  font-weight: 500; }

.semibold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.fatter {
  font-weight: 800; }

.fattest {
  font-weight: 900; }

strong {
  font-weight: 700; }

.white-bg-br-20 {
  background: #fff; }

.br-35 {
  border-radius: 35px; }

.br-20 {
  border-radius: 20px; }

.br-10 {
  border-radius: 10px; }

.box-sh-gray {
  box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2); }

.box-sh-gray-mini {
  box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }

.pr100 {
  padding-right: 100px; }

.pl100 {
  padding-left: 100px; }

.p85 {
  padding-top: 85px;
  padding-bottom: 85px; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: none; }
  a.standart-green {
    color: #57D435;
    border-bottom: 1px solid #57d435;
    transition: all 200ms linear 0s; }
    a.standart-green:hover, a.standart-green.active {
      border-bottom: 1px solid rgba(87, 212, 53, 0); }
  a.standart-dark {
    color: #2a3c46;
    border-bottom: 1px solid rgba(153, 162, 173, 0.7);
    transition: all 200ms linear 0s; }
    a.standart-dark:hover {
      color: #202020;
      border-bottom: 1px solid #202020; }
  a.standart-gray {
    color: #b1b1b1;
    transition: all 200ms linear 0s; }
    a.standart-gray:hover {
      color: #191B23; }
    a.standart-gray.border-decor {
      border-bottom: 1px solid rgba(177, 177, 177, 0.8); }
      a.standart-gray.border-decor:hover {
        border-bottom: 1px solid rgba(177, 177, 177, 0); }

.s24 {
  font-size: 24px;
  line-height: 36px; }

.fs30 {
  font-size: 30px;
  line-height: 37px; }

.fs40 {
  font-size: 40px;
  line-height: 52px; }

.fs50 {
  font-size: 50px;
  line-height: 64px; }

.fs55 {
  font-size: 55px;
  line-height: 52px; }

.m0 {
  margin: 0; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.color-light-gray {
  color: #99a2ad; }

.color-gray {
  color: #2a3c46; }

.color-green {
  color: #57D435; }

.align-center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }

.align-right {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right; }

.align-left {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left; }

.nowrap {
  white-space: nowrap; }

.h-block h1, .h-block h2, .h-block h3, .h-block h4 {
  margin-bottom: 15px; }

div, li, a, span, button, input {
  box-sizing: border-box; }

a, input, span, div, p, ul, li, :before, :after, img {
  outline: none; }

a:focus, a:visited {
  -moz-outline-style: none;
  outline: none; }

button, input {
  border: none;
  background: none;
  border-radius: 0; }

.btn {
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  transition: all 200ms linear 0s;
  padding: 0 15px; }
  .btn.center-position {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .btn.btn-small {
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 25px; }
  .btn.btn-middle {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 44px; }
  .btn.btn-big {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 60px; }
  .btn.btn-medium {
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 14px;
    padding: 0 25px; }
  .btn.btn-green {
    color: #296519;
    background: #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15); }
    .btn.btn-green:hover {
      background: #93F878; }
  .btn.btn-green-border {
    background: rgba(147, 248, 120, 0);
    border: 2px solid #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #fff; }
    .btn.btn-green-border.btn-small {
      line-height: 32px; }
    .btn.btn-green-border.btn-middle {
      line-height: 40px; }
    .btn.btn-green-border.btn-big {
      line-height: 56px; }
    .btn.btn-green-border.btn-medium {
      line-height: 44px; }
    .btn.btn-green-border:hover {
      border: 2px solid #93F878;
      background: #93f878;
      box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
      color: #296519; }
    .btn.btn-green-border.full-green {
      color: #57D435; }
      .btn.btn-green-border.full-green:hover {
        border: 2px solid #93F878;
        background: #93f878;
        box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
        color: #296519; }
  .btn.btn-gray-border {
    background: none;
    border: 2px solid #2a3c46;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #2a3c46; }
  .btn.btn-black {
    background: #000;
    color: #fff; }
  .btn.btn-white {
    color: #57D435;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.25);
    border: 2px solid rgba(87, 212, 53, 0); }
    .btn.btn-white:hover {
      border: 2px solid #57d435; }
    .btn.btn-white.btn-small {
      line-height: 32px; }
    .btn.btn-white.btn-middle {
      line-height: 40px; }
    .btn.btn-white.btn-big {
      line-height: 56px; }
    .btn.btn-white.btn-medium {
      line-height: 44px; }
  .btn.btn300 {
    width: 300px; }
  .btn.btn-spec-green {
    position: relative;
    color: #fff;
    background: #9ee6a1;
    box-shadow: 0px 5px 14px rgba(158, 231, 161, 0.5), 0px 1px 6px rgba(158, 231, 161, 0.15);
    transition: all 200ms linear 0s; }
    .btn.btn-spec-green:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-spec-green:hover, .btn.btn-spec-green .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-spec-green:hover:before, .btn.btn-spec-green .active:before {
        opacity: 1.0; }
  .btn.btn-light-blue {
    position: relative;
    color: #fff;
    background: #76c6c2;
    box-shadow: 0px 5px 14px rgba(118, 198, 194, 0.5), 0px 1px 6px rgba(118, 198, 194, 0.15); }
    .btn.btn-light-blue:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-light-blue:hover, .btn.btn-light-blue .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-light-blue:hover:before, .btn.btn-light-blue .active:before {
        opacity: 1.0; }
  .btn.btn-blue {
    position: relative;
    color: #fff;
    background: #69bfbb;
    box-shadow: 0px 5px 14px rgba(105, 191, 187, 0.2), 0px 1px 6px rgba(105, 191, 187, 0.15); }
    .btn.btn-blue:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-blue:hover, .btn.btn-blue .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-blue:hover:before, .btn.btn-blue .active:before {
        opacity: 1.0; }
  .btn.btn-red {
    position: relative;
    color: #fff;
    background: #f5aa65;
    box-shadow: 0px 5px 14px rgba(245, 170, 101, 0.5), 0px 1px 6px rgba(245, 170, 101, 0.15); }
    .btn.btn-red:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-red:hover, .btn.btn-red .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-red:hover:before, .btn.btn-red .active:before {
        opacity: 1.0; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1.0;
  background: rgba(255, 255, 255, 0);
  transition: transform .2s ease-in-out 0s,opacity .2s ease-in-out 0s,background .2s ease-in-out 0s, -webkit-transform .2s ease-in-out 0s;
  will-change: transform, opacity;
  box-shadow: 0 10px 20px 0 transparent;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 10px 20px 0 transparent; }
  header .header {
    width: 100%;
    max-width: 1160px;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out 0s; }
    header .header .btn-tariffs {
      display: none; }
    header .header .logo {
      width: 80px;
      margin-right: 40px; }
      header .header .logo a {
        display: block; }
        header .header .logo a img {
          width: 100%; }
        header .header .logo a.logo-dark {
          display: none; }
        header .header .logo a.logo-white {
          display: block; }
  header .open-menu {
    display: none; }
  header menu {
    flex-grow: 1; }
    header menu ul li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      position: relative;
      margin-right: 40px; }
      header menu ul li a {
        display: block;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #fff;
        transition: all 200ms linear 0s; }
        header menu ul li a:hover, header menu ul li a.active {
          color: #3acd12; }
        header menu ul li a.only-mobile-view {
          display: none; }
        header menu ul li a.open-extra-menu {
          position: relative;
          padding-right: 15px; }
      header menu ul li .extra-menu {
        display: none; }
      header menu ul li:hover .extra-menu {
        display: block;
        width: 235px;
        padding: 10px 20px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2);
        position: absolute;
        left: -20px;
        z-index: 2; }
        header menu ul li:hover .extra-menu li {
          display: block;
          margin-right: 0; }
          header menu ul li:hover .extra-menu li a {
            color: #202020;
            line-height: 32px; }
            header menu ul li:hover .extra-menu li a:hover {
              color: #3acd12; }
      header menu ul li .only-mobile {
        display: none; }
  header .tel {
    height: 50px;
    line-height: 46px;
    border: 2px solid #77ea58;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 0 30px;
    white-space: nowrap;
    transition: all 200ms linear 0s; }
    header .tel:hover {
      border: 2px solid #93F878; }
  header .languages {
    width: 62px;
    box-sizing: border-box;
    margin-left: 30px;
    height: 14px;
    position: relative;
    padding-right: 15px; }
    header .languages:after {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      width: 5px;
      height: 5px;
      content: "";
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: absolute;
      right: 0;
      top: 2px;
      /*@include transform(translate(0,-50%) rotate(45deg));*/
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: all 200ms linear 0s; }
    header .languages li {
      display: none;
      padding-top: 10px;
      height: 24px; }
      header .languages li a {
        height: 14px;
        display: flex; }
        header .languages li a img {
          display: block;
          width: 20px;
          border-radius: 3px;
          margin-right: 5px; }
        header .languages li a span {
          display: block;
          line-height: 14px;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500; }
      header .languages li.active {
        display: block;
        height: 14px;
        padding-top: 0; }
    header .languages:hover li {
      display: block; }
  header .header-right {
    display: flex;
    align-items: center; }
  header.header-dark-color .header .logo a.logo-dark {
    display: block; }
  header.header-dark-color .header .logo a.logo-white {
    display: none; }
  header.header-dark-color menu ul li a {
    color: #333; }
    header.header-dark-color menu ul li a:hover, header.header-dark-color menu ul li a.active {
      color: #3acd12; }
    header.header-dark-color menu ul li a.open-extra-menu:after {
      border-right: 1px solid #000;
      border-bottom: 1px solid #000; }
  header.header-dark-color .tel {
    color: #000; }
  header.header-dark-color.on-scan-go .tel {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #fff; }
    header.header-dark-color.on-scan-go .tel:hover {
      background: white; }
  header.header-dark-color.on-scan-go.have-opened-extra-menu .tel {
    border: 2px solid #77ea58; }
  header.header-dark-color .languages li a span {
    color: #000; }
  header.header-dark-color .languages:after {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000; }
  header.top {
    will-change: transform;
    background: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); }
    header.top .header {
      transition: padding .4s ease-in-out 0s, max-width .4s ease-in-out 0s;
      padding: 10px 0; }
      header.top .header .logo a.logo-white {
        display: none; }
      header.top .header .logo a.logo-dark {
        display: block; }
    header.top menu ul li a {
      color: #333; }
      header.top menu ul li a:hover, header.top menu ul li a.active {
        color: #3acd12; }
      header.top menu ul li a.open-extra-menu:after {
        border-right: 1px solid #333;
        border-bottom: 1px solid #333; }
    header.top .tel {
      color: #333; }
    header.top.on-scan-go .tel {
      border: 2px solid #77ea58; }
    header.top .languages li a span {
      color: #000; }
    header.top .languages:after {
      border-right: 1px solid #000;
      border-bottom: 1px solid #000; }
  header.have-opened-extra-menu {
    background: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); }
    header.have-opened-extra-menu .header .logo a.logo-dark {
      display: block; }
    header.have-opened-extra-menu .header .logo a.logo-white {
      display: none; }
    header.have-opened-extra-menu menu ul li a {
      color: #333; }
      header.have-opened-extra-menu menu ul li a:hover, header.have-opened-extra-menu menu ul li a.active {
        color: #3acd12; }
      header.have-opened-extra-menu menu ul li a.open-extra-menu:after {
        border-right: 1px solid #333;
        border-bottom: 1px solid #333; }
    header.have-opened-extra-menu .tel {
      color: #333; }
    header.have-opened-extra-menu .languages li a span {
      color: #000; }
    header.have-opened-extra-menu .languages:after {
      border-right: 1px solid #000;
      border-bottom: 1px solid #000; }

.extra-menu-wrapper {
  background: #fff;
  padding: 30px 0;
  border-top: 1px solid #d9d9d9;
  display: none; }
  .extra-menu-wrapper .extra-menu-block {
    display: flex; }
    .extra-menu-wrapper .extra-menu-block .flex-block {
      max-width: 200px;
      margin-right: 75px; }
      .extra-menu-wrapper .extra-menu-block .flex-block:last-child {
        margin-right: 0;
        max-width: 100%; }
      .extra-menu-wrapper .extra-menu-block .flex-block:nth-last-child(2) {
        flex-grow: 1;
        max-width: 100%; }
  .extra-menu-wrapper .h-style {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px; }
  .extra-menu-wrapper .standart-text {
    font-size: 16px;
    line-height: 20px;
    color: #828282; }
  .extra-menu-wrapper .ul-block-line {
    margin-bottom: 35px; }
    .extra-menu-wrapper .ul-block-line:last-child {
      margin-bottom: 0; }
    .extra-menu-wrapper .ul-block-line a {
      display: block; }
      .extra-menu-wrapper .ul-block-line a:hover .h-style {
        color: #3acd12;
        transition: all 200ms linear 0s; }
      .extra-menu-wrapper .ul-block-line a:hover .standart-text {
        color: #333;
        transition: all 200ms linear 0s; }
  .extra-menu-wrapper .download-app .h-style {
    margin-bottom: 35px; }
  .extra-menu-wrapper .application-stores {
    display: block;
    font-size: 0; }
    .extra-menu-wrapper .application-stores a {
      display: block;
      width: 150px;
      margin: 0 auto 20px auto;
      border: none;
      border-radius: 0; }
      .extra-menu-wrapper .application-stores a:last-child {
        margin-bottom: 0; }
      .extra-menu-wrapper .application-stores a img {
        width: 100%; }
  .extra-menu-wrapper .socila-networks ul {
    padding-bottom: 5px;
    font-size: 0; }
    .extra-menu-wrapper .socila-networks ul li {
      margin-right: 20px; }
      .extra-menu-wrapper .socila-networks ul li:last-child {
        margin: 0; }
      .extra-menu-wrapper .socila-networks ul li a {
        width: 45px; }
  .extra-menu-wrapper .btn.tariffs {
    width: 170px;
    font-size: 16px; }

/*about-b-pay start*/
.about-b-pay {
  padding: 140px 0;
  /* background: url(/img/b-pay-logo-bg.svg) center center no-repeat; */
  background-size: 102%; }
  .about-b-pay h2 {
    margin-bottom: 20px; }
  .about-b-pay .flex-block .text-block {
    margin-bottom: 35px; }
    .about-b-pay .flex-block .text-block:last-child {
      margin-bottom: 0; }
    .about-b-pay .flex-block .text-block .s24 {
      display: block;
      margin-bottom: 10px; }
  .about-b-pay .flex-block .phone-image-block {
    margin-top: 90px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1; }
    .about-b-pay .flex-block .phone-image-block.have-icon .b-pay-icon {
      width: 230px;
      position: absolute;
      left: 0;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 64px;
      z-index: 10; }
  .about-b-pay .btns-block {
    margin-bottom: 60px; }

/*about-b-pay end*/
/*work-steps start*/
.work-steps-wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex; }
  .work-steps-wrapper .work-step-block {
    min-width: 230px;
    max-width: 230px; }
    .work-steps-wrapper .work-step-block span {
      display: block;
      margin-bottom: 10px; }
    .work-steps-wrapper .work-step-block .icon-block {
      position: relative; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        content: "";
        width: 15px;
        height: 30px;
        background: url(/img/arrow-r-gray.svg) 0 0 no-repeat;
        background-size: contain;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        position: absolute;
        top: 50%;
        left: 185px;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .work-steps-wrapper .work-step-block .icon-block img {
        display: block;
        width: 100px;
        margin-bottom: 30px;
        border-radius: 24px; }
        .work-steps-wrapper .work-step-block .icon-block img.green-shadow {
          box-shadow: 0px 6px 24px rgba(95, 218, 62, 0.25); }
        .work-steps-wrapper .work-step-block .icon-block img.blue-shadow {
          box-shadow: 0px 6px 24px rgba(76, 162, 242, 0.25); }
        .work-steps-wrapper .work-step-block .icon-block img.purple-shadow {
          box-shadow: 0px 6px 24px rgba(169, 76, 242, 0.25); }
    .work-steps-wrapper .work-step-block:last-child .icon-block:after {
      display: none; }
  .work-steps-wrapper.vertical-view {
    padding: 0;
    display: block; }
    .work-steps-wrapper.vertical-view .work-step-block {
      min-width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 35px; }
      .work-steps-wrapper.vertical-view .work-step-block:last-child {
        padding-bottom: 0; }
      .work-steps-wrapper.vertical-view .work-step-block .text-block {
        max-width: 400px; }
      .work-steps-wrapper.vertical-view .work-step-block span {
        margin-bottom: 0; }
      .work-steps-wrapper.vertical-view .work-step-block .icon-block {
        margin-right: 25px; }
        .work-steps-wrapper.vertical-view .work-step-block .icon-block:after {
          display: none; }
        .work-steps-wrapper.vertical-view .work-step-block .icon-block img {
          margin-bottom: 0; }

/*work-steps ens*/
/*about-terminal start*/
.about-terminal {
  padding-top: 85px;
  padding-bottom: 140px; }
  .about-terminal .image-wrapper {
    position: relative; }
    .about-terminal .image-wrapper .main-image {
      border-radius: 20px;
      box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25); }
    .about-terminal .image-wrapper .card-image {
      position: absolute;
      left: -60px;
      bottom: -40px;
      border-radius: 20px;
      box-shadow: 3px 12px 70px rgba(111, 236, 77, 0.2); }

/*about-terminal end*/
/*have-questions start*/
.have-questions {
  padding: 150px 0; }
  .have-questions .btns-block {
    display: flex;
    width: 640px;
    justify-content: space-between;
    margin: 40px auto 0 auto; }

/*have-questions end*/
/*articles start*/
.mass-media-about-us {
  padding: 150px 0 0 0; }
  .mass-media-about-us .h-block h2 {
    margin-bottom: 30px; }

.articles-wrapper .swiper-button-prev, .articles-wrapper .swiper-button-next {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  margin-top: -17px;
  opacity: 0;
  transition: all 200ms linear 0s; }
.articles-wrapper .swiper-button-prev {
  transform: rotate(180deg);
  left: 23px; }
.articles-wrapper .swiper-button-next {
  right: 23px; }
.articles-wrapper.swiper-container {
  padding: 20px 40px; }
  .articles-wrapper.swiper-container:hover .swiper-button-prev, .articles-wrapper.swiper-container:hover .swiper-button-next {
    opacity: 1.0; }

.articles-items-wrapper {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  justify-content: space-between; }

.article-item {
  position: relative;
  min-width: 260px;
  max-width: 260px;
  height: 345px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  padding: 25px 20px 65px 20px;
  transition: 150ms linear 0s;
  cursor: default; }
  .article-item .img-wrapper {
    display: block;
    padding-bottom: 10px; }
    .article-item .img-wrapper img {
      width: 220px;
      max-width: 100%;
      margin: 0 auto; }
  .article-item .media-name {
    display: block;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px; }
  .article-item p {
    font-size: 15px;
    line-height: 22px; }
  .article-item .btn {
    width: 130px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .article-item.wide {
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    margin-bottom: 40px; }
    .article-item.wide .btn {
      left: 20px;
      transform: none; }
  .article-item:hover {
    margin-top: -10px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    transition: 150ms linear 0s; }

/*articles end*/
/*our clients start*/
.our-clients {
  padding: 150px 0; }
  .our-clients h2 {
    margin-bottom: 60px; }
  .our-clients .swiper-container {
    margin-bottom: 60px; }
    .our-clients .swiper-container:last-child {
      margin-bottom: 0; }
  .our-clients .carousel-image img {
    height: 100%;
    height: 45px;
    margin: 0 50px; }

.clients-logos-line-block {
  margin-bottom: 60px; }
  .clients-logos-line-block:last-child {
    margin-bottom: 0; }

/*our clients end*/
/*map block start*/
.map-block-wrapper {
  position: relative;
  height: 700px; }
  .map-block-wrapper:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 12px;
    background: #353439;
    bottom: 0;
    left: 0; }
  .map-block-wrapper .bend-bottom {
    position: absolute;
    bottom: 10px;
    z-index: 2; }
  .map-block-wrapper .bend-top {
    position: absolute;
    top: -1px;
    z-index: 2; }

.map-block {
  height: 100%; }

/*map block end*/
/*footer start*/
.pay-systems {
  margin: 10px 0 -10px 0; }
  .pay-systems ul {
    height: 40px;
    display: flex; }
    .pay-systems ul li {
      display: block;
      height: 30px;
      margin-right: 10px; }
      .pay-systems ul li:last-child {
        margin-right: 0; }
      .pay-systems ul li img {
        max-height: 100%; }

.links-block a {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  opacity: .75; }
  .links-block a:hover {
    opacity: 1.0; }
.links-block ul li {
  display: block;
  margin-bottom: 28px; }
  .links-block ul li:last-child {
    margin: 0; }

.footer {
  padding: 30px 0; }
  .footer .flex-wrapper {
    justify-content: space-between;
    padding-bottom: 40px; }
  .footer .logo {
    display: block;
    width: 180px;
    padding-bottom: 15px; }
    .footer .logo img {
      width: 100%; }
  .footer .footer-block {
    padding-right: 75px; }
    .footer .footer-block.flex-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .footer .footer-block:last-child {
      padding-right: 0; }
  .footer p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px; }
    .footer p:last-child {
      margin-bottom: 0; }
    .footer p a {
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      white-space: nowrap;
      opacity: .75; }
      .footer p a:hover {
        opacity: 1.0; }
  .footer .footer-block-text .tel {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px; }
  .footer .footer-block-text .standart-green {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px; }

.to-top {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  background: #202020;
  opacity: .5;
  margin: 40px auto 0 auto;
  transition: all 200ms liner 0s; }
  .to-top:before {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 29px;
    background: url(/img/to-top.svg) 0 0 no-repeat;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .to-top:hover, .to-top.active {
    opacity: 1.0; }

.socila-networks {
  margin-bottom: 10px; }
  .socila-networks ul li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    margin-right: 10px; }
    .socila-networks ul li:last-child {
      margin-right: 0; }
    .socila-networks ul li a {
      display: block;
      width: 32px; }
      .socila-networks ul li a img {
        display: block;
        width: 100%; }

.mobile-bottom-btns {
  display: none; }

/*footer end*/
@media screen and (min-width: 1025px) {
  header menu ul li a.open-extra-menu:after {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 5px;
    height: 5px;
    content: "";
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 0;
    top: 50%;
    -moz-transform: translate(0, -50%) rotate(45deg);
    -ms-transform: translate(0, -50%) rotate(45deg);
    -webkit-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    transition: all 200ms linear 0s; }
  header menu ul li a.open-extra-menu:hover:after, header menu ul li a.open-extra-menu.active:after {
    border-right: 1px solid #3acd12;
    border-bottom: 1px solid #3acd12; } }
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .wrapper-block {
    max-width: 1000px;
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }

  header .header {
    padding: 20px; }
    header .header .logo {
      margin-right: 30px; }
  header.top .header {
    padding: 10px 20px; }
  header menu ul li {
    margin-right: 20px; }
    header menu ul li a {
      font-size: 15px; }
  header .languages {
    margin-left: 15px; }
  header .tel {
    padding: 0 15px; }

  .extra-menu-wrapper .wrapper-block {
    padding-left: 20px;
    padding-right: 20px; }
  .extra-menu-wrapper .extra-menu-block .flex-block {
    margin-right: 50px; }

  .about-products.wrapper-block {
    padding-left: 20px;
    padding-right: 20px; }

  .flex-wrapper .flex-block.left-position {
    padding-right: 50px; }
  .flex-wrapper .flex-block.right-position {
    padding-left: 50px; }

  .have-questions {
    padding: 100px 0; }

  .mass-media-about-us {
    padding: 100px 0 0 0; }

  .our-clients {
    padding: 100px 0; }

  .footer .footer-block {
    padding-right: 40px; }
    .footer .footer-block:last-child {
      margin-right: 0; }
    .footer .footer-block.flex-column {
      padding-right: 40px; }
    .footer .footer-block .footer-block-text p br {
      display: none; }

  .pay-systems ul {
    height: 35px; }
    .pay-systems ul li {
      margin-right: 10px; }

  .steps-wrapper {
    padding-left: 50px; }

  .work-steps-wrapper .work-step-block {
    min-width: 180px;
    max-width: 180px; }
    .work-steps-wrapper .work-step-block .icon-block:after {
      left: 160px; }

  .about-b-pay {
    padding: 140px 0 70px 0; }

  .about-terminal {
    padding: 54px 60px 100px 60px; }

  .embedded-marketing {
    padding-top: 80px; }

  .laptop-bg {
    width: 1000px;
    min-height: 530px;
    background-size: 100%;
    margin: 0 auto; } }

/*# sourceMappingURL=common-elems-styles.css.map */
