/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
header menu ul li {
  margin-right: 30px; }

.about-products-wrapper .about-product-block.swiper-slide .product-info h3 {
  font-size: 30px; }

.about-delivery .about-delivery-top-block .text-block {
  width: auto;
  padding-right: 100px; }

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  header menu ul li {
    margin-right: 12px; }
    header menu ul li a {
      font-size: 15px; }
  header .languages {
    margin-left: 15px; }

  .about-delivery .about-delivery-top-block .image-wrapper img {
    float: right; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-delivery .about-delivery-top-block .text-block {
    padding-right: 0; } }

/*# sourceMappingURL=en-style.css.map */
