/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
.btn.btn300 {
  width: 100% !important;
  max-width: 300px; }

h1, h2, h3 {
  font-size: 23px;
  line-height: 32px; }

h2 .s31 {
  font-size: 20px;
  line-height: 28px; }

h4 {
  font-size: 19px;
  line-height: 27px; }

.s14, .s18 {
  font-size: 16px;
  line-height: 24px; }

.s24 {
  font-size: 19px;
  line-height: 27px; }

.p85 {
  padding-top: 65px;
  padding-bottom: 65px; }

.bold {
  font-weight: 600; }

.btn.btn-big {
  font-size: 16px; }
.btn.btn300 {
  width: 240px; }

.bend, .bend-top {
  width: 800px; }

.bend-top {
  top: -2px; }

.first-bend-block {
  padding: 55px 0 115px 0; }

.second-bend-block {
  padding: 50px 0 0 0; }
  .second-bend-block h2 {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
  .second-bend-block .wrapper-block {
    padding: 0; }

.wrapper-block {
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px; }

.flex-wrapper {
  flex-wrap: wrap; }
  .flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%; }
    .flex-wrapper .flex-block.w70, .flex-wrapper .flex-block.w60, .flex-wrapper .flex-block.w40 {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper .flex-block.on-mobile-none {
      display: none; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 0;
      margin-bottom: 40px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 0; }
  .flex-wrapper.mobile-reverse {
    flex-wrap: wrap-reverse; }

.pr100 {
  padding-right: 0;
  padding-bottom: 50px; }

/*phone block start*/
.phone-image-block {
  width: 175px; }

/*phone block end*/
/*main-top-block start*/
.main-top-block .bend {
  width: 1024px;
  left: -150px;
  transform: none; }

.main-top-info {
  top: 100px;
  margin-left: 0;
  left: 0;
  transform: none;
  width: 100%;
  padding: 0 15px; }
  .main-top-info .logo {
    display: none; }
  .main-top-info h1 {
    font-size: 23px;
    line-height: 32px; }
  .main-top-info ul {
    margin-left: 40px; }
    .main-top-info ul li {
      font-size: 16px; }
      .main-top-info ul li:before {
        width: 22px;
        height: 19px; }
  .main-top-info .btn.btn300 {
    margin: 0 auto;
    max-width: 260px; }

.main-top-slider-wrapper {
  background: #f0f3f8;
  /*.swiper-slide {
      height: 680px;
  }*/ }
  .main-top-slider-wrapper .bend {
    top: 495px; }
  .main-top-slider-wrapper .main-slider-images {
    height: 438px;
    position: relative;
    margin-top: -60px; }
    .main-top-slider-wrapper .main-slider-images .swiper-slide {
      height: auto; }
  .main-top-slider-wrapper .slide-image-block.icebox-box img {
    max-width: 100%; }
  .main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
    height: auto;
    align-items: flex-end;
    justify-content: center;
    padding-top: 0; }
  .main-top-slider-wrapper .slide-image-block-wrapper .caption {
    font-size: 14px; }
  .main-top-slider-wrapper .slide-image-block-wrapper.icebox-box img {
    width: 100%; }
  .main-top-slider-wrapper .phone-image-block {
    margin: 0 auto; }
  .main-top-slider-wrapper .main-slider-bacs {
    height: 600px;
    background: url(/files/slider-images/slide1-mobile.jpg) center top no-repeat;
    background-size: cover; }

/*main-top-block end*/
/*top-block start*/
.form-block {
  width: 100%;
  max-width: 400px;
  margin: 30px auto 0 auto;
  padding: 20px 5px 10px 5px; }
  .form-block .s18 {
    font-size: 19px;
    line-height: 27px;
    padding: 0 10px; }

/*top-block end*/
/*about-products start*/
.box-sh-gray {
  box-shadow: 0px 4px 10px rgba(25, 27, 35, 0.2); }

.about-products {
  max-width: 100%; }

.about-products-wrapper {
  padding-bottom: 50px;
  margin-top: 30px;
  display: block; }
  .about-products-wrapper .about-product-block.swiper-slide {
    min-width: 0;
    width: calc(100% - 30px);
    max-width: 360px;
    padding: 15px 10px; }
    .about-products-wrapper .about-product-block.swiper-slide:last-child {
      width: calc(100% - 5px); }
    .about-products-wrapper .about-product-block.swiper-slide .product-info {
      padding: 30px 25px; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info p.s14 {
        font-size: 14px;
        line-height: 24px; }
    .about-products-wrapper .about-product-block.swiper-slide .image-wrapper {
      height: 250px;
      margin-bottom: 50px; }
      .about-products-wrapper .about-product-block.swiper-slide .image-wrapper img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto; }
      .about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon {
        padding-left: 0; }
        .about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon .b-pay-icon {
          left: 50%;
          margin-left: -100px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
      margin: 0 auto; }
    .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img {
      margin: auto;
      position: relative;
      /*top: 50%;
      @include transform(translate(0,-50%));*/ }
  .about-products-wrapper .flickity-slider {
    margin-left: 5px; }
  .about-products-wrapper .flickity-page-dots {
    bottom: auto;
    top: 280px; }
    .about-products-wrapper .flickity-page-dots .dot {
      position: relative;
      width: 13px;
      height: 13px;
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 100%;
      margin: 0 13px 0 0;
      opacity: 1.0; }
      .about-products-wrapper .flickity-page-dots .dot:after {
        content: "";
        width: 14px;
        height: 1px;
        background: #aaa;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -1px; }
      .about-products-wrapper .flickity-page-dots .dot:last-child:after {
        display: none; }
      .about-products-wrapper .flickity-page-dots .dot.is-selected {
        background: #57D435; }

/*instagram-images start*/
.instagram-images-wrapper .flickity-slider {
  margin-left: 20px; }

.instagram-images-block {
  padding: 75px 0; }
  .instagram-images-block .insta-icon-bg {
    width: 400px; }
  .instagram-images-block .carousel-image {
    width: 150px;
    margin-right: 20px; }

/*instagram-images end*/
/*loss-of-profit start*/
.loss-of-profit {
  height: 1295px;
  padding-bottom: 105px; }
  .loss-of-profit .pl100 {
    padding-left: 0; }
  .loss-of-profit .wrapper-block.revenue-growth-wrapper h2 {
    margin-bottom: 40px; }
  .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block.pl100 {
    padding-left: 0; }
  .loss-of-profit .revenue-growth-block {
    padding: 30px 30px 20px 30px; }
  .loss-of-profit .flex-wrapper .flex-block {
    margin-bottom: 50px; }
    .loss-of-profit .flex-wrapper .flex-block:last-child {
      margin-bottom: 0; }
    .loss-of-profit .flex-wrapper .flex-block .phone-image-block {
      width: 260px;
      margin: 0 auto; }
    .loss-of-profit .flex-wrapper .flex-block h4, .loss-of-profit .flex-wrapper .flex-block .s18 {
      font-size: 16px;
      line-height: 24px; }

/*loss-of-profit end*/
/*briskly-components start*/
.briskly-components-wrapper {
  padding: 50px 0 0 0; }
  .briskly-components-wrapper .briskly-components-block {
    padding: 0 0 40px 0;
    flex-wrap: wrap-reverse;
    align-items: center; }
    .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center; }
      .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper img {
        max-width: 280px; }
    .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper {
      padding-top: 0; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper.pl100 {
        padding-left: 0; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block {
        margin-bottom: 20px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block .s16 {
          padding-bottom: 5px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block p {
          font-size: 14px;
          line-height: 22px; }

.str-after {
  max-width: 310px;
  margin: 0 auto 20px auto; }
  .str-after div {
    padding: 0; }
    .str-after div .s24 {
      font-size: 16px;
      line-height: 24px; }
    .str-after div img {
      width: 50px;
      right: -8px;
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
  .str-after.on-scan-go {
    max-width: 280px; }
    .str-after.on-scan-go div {
      min-width: 100%; }

/*briskly-components end*/
/*work-steps start*/
.phone-image-block.tab-w100 {
  width: 100%; }

.steps-wrapper {
  padding-left: 0; }

.work-steps-wrapper {
  padding: 0;
  flex-wrap: wrap; }
  .work-steps-wrapper .work-step-block {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px; }
    .work-steps-wrapper .work-step-block:last-child {
      padding-bottom: 0; }
    .work-steps-wrapper .work-step-block .icon-block {
      min-width: 80px;
      max-width: 80px;
      margin-right: 20px; }
      .work-steps-wrapper .work-step-block .icon-block img {
        width: 100%;
        margin: 0;
        border-radius: 18px; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        display: none; }

/*work-steps ens*/
/*about-terminal start*/
.about-terminal {
  padding: 30px 15px 100px 15px; }
  .about-terminal .flex-wrapper .flex-block {
    padding-bottom: 50px; }
    .about-terminal .flex-wrapper .flex-block.pl100 {
      padding: 0; }
  .about-terminal .image-wrapper .main-image {
    width: 80%;
    margin: auto 0 auto auto; }
  .about-terminal .image-wrapper .card-image {
    width: 200px;
    left: -5px; }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 100px 0 0 0; }
  .embedded-marketing .spec-text {
    width: 100%;
    margin-bottom: 50px;
    left: 0;
    margin-left: 0; }

.laptop-bg {
  background: none;
  min-height: 0;
  padding-bottom: 0;
  max-width: 480px;
  margin: 0 auto; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 690px; }
  .spec-flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 0 40px 0; }
    .spec-flex-wrapper .flex-block:last-child {
      margin-bottom: 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 70px;
      max-width: 70px; }
      .spec-flex-wrapper .flex-block .icon-block img {
        border-radius: 12px; }
    .spec-flex-wrapper .flex-block .s18 {
      font-size: 16px; }
    .spec-flex-wrapper .flex-block p {
      font-size: 16px; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts {
  margin-top: 50px; }
  .about-discounts .phone-image-block {
    width: 175px; }
  .about-discounts .flex-wrapper .flex-block.w60 {
    padding-right: 0;
    padding-bottom: 50px; }
  .about-discounts .flex-wrapper .flex-block.align-right {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
  .about-discounts.on-main-page {
    margin-top: 30px; }
    .about-discounts.on-main-page h2 {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      font-size: 21px; }
    .about-discounts.on-main-page .flex-wrapper .flex-block.w60 {
      padding-bottom: 25px; }
    .about-discounts.on-main-page .flex-wrapper .flex-block.w40 img {
      max-width: 200px; }
  .about-discounts.on-scan-go {
    margin-top: 30px; }
    .about-discounts.on-scan-go h2 {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      font-size: 21px; }
    .about-discounts.on-scan-go .flex-wrapper .flex-block.w60 {
      padding-bottom: 25px; }
    .about-discounts.on-scan-go .flex-wrapper .flex-block.w40 img {
      max-width: 200px; }

/*about-discounts end*/
/*about-security start*/
.about-security {
  padding: 50px 15px; }
  .about-security .flex-wrapper {
    flex-wrap: wrap-reverse; }
    .about-security .flex-wrapper .flex-block.align-center {
      margin-top: 40px; }
      .about-security .flex-wrapper .flex-block.align-center img {
        width: 360px; }

/*about-security end*/
/*have-questions start*/
.have-questions {
  padding: 40px 0; }
  .have-questions .btns-block {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    .have-questions .btns-block .btn {
      width: 280px;
      margin: 0 auto; }
      .have-questions .btns-block .btn:first-child {
        margin-bottom: 20px; }

/*have-questions end*/
/*briskly start*/
.first-bend-block.on-affiliate-program {
  padding: 50px 0 100px 0; }

.dots {
  height: 90px;
  background-size: contain; }

.w660 {
  min-width: 60%;
  max-width: 60%; }
  .w660.absolute-position {
    left: 0;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.standart.marker-abroad {
  margin-left: 0; }
  .standart.marker-abroad li {
    font-size: 16px;
    line-height: 26px;
    padding-left: 38px; }
.standart.s24 li:before {
  width: 27px;
  height: 24px; }

.top-block-wrapper {
  background-color: #fcfcfd;
  background-position: 0 0;
  background-size: 1500px;
  padding: 100px 0 250px 0; }
  .top-block-wrapper .logo-top {
    display: none; }
  .top-block-wrapper .standart {
    margin-bottom: 40px; }
    .top-block-wrapper .standart li {
      padding-left: 38px;
      font-size: 16px;
      line-height: 23px; }
    .top-block-wrapper .standart.marker-abroad {
      margin-left: 0; }
  .top-block-wrapper .btns-block {
    margin-bottom: 40px;
    display: block; }
    .top-block-wrapper .btns-block .btn {
      margin: 0 auto; }
      .top-block-wrapper .btns-block .btn:first-child {
        margin-bottom: 20px;
        margin-right: auto; }
  .top-block-wrapper .w660 {
    min-width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: initial; }
  .top-block-wrapper.on-micromarket-page {
    min-height: auto;
    height: auto;
    padding-bottom: 130px; }
  .top-block-wrapper.on-for-partners .text-block h4 {
    max-width: 660px; }
  .top-block-wrapper.on-for-partners .text-block .see-more {
    margin-left: 38px; }
  .top-block-wrapper.scan-go-top-block {
    min-height: auto;
    padding: 100px 0 0 0;
    background: url(/img/scan-go/top-block-bg-mobile.jpg) no-repeat;
    background-position: top right; }
    .top-block-wrapper.scan-go-top-block .flex-wrapper {
      padding: 0; }
      .top-block-wrapper.scan-go-top-block .flex-wrapper .flex-block.w660 {
        min-width: 100%;
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto; }
    .top-block-wrapper.scan-go-top-block .text-block {
      color: #fff; }
      .top-block-wrapper.scan-go-top-block .text-block h3, .top-block-wrapper.scan-go-top-block .text-block ul li {
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
    .top-block-wrapper.scan-go-top-block .standart li {
      color: #fff; }
    .top-block-wrapper.scan-go-top-block .phone-image-block {
      margin: 0 auto 40px auto; }
      .top-block-wrapper.scan-go-top-block .phone-image-block .icon-image {
        width: 60px;
        left: -15px;
        bottom: -15px; }
    .top-block-wrapper.scan-go-top-block .bend.bend-bottom {
      position: relative; }
    .top-block-wrapper.scan-go-top-block .btns-block {
      position: relative;
      z-index: 1; }
  .top-block-wrapper.on-tariffs-page {
    padding-bottom: 0; }
  .top-block-wrapper.on-delivery-page {
    min-height: 0;
    padding-bottom: 100px; }
    .top-block-wrapper.on-delivery-page .main-image {
      max-width: 100%; }
    .top-block-wrapper.on-delivery-page .standart.marker-abroad li br {
      display: none; }

.img-block-responsive {
  padding: 50px 0 0 0;
  width: 75%;
  margin: 0 auto; }
  .img-block-responsive .image-wrapper {
    width: 100%; }
    .img-block-responsive .image-wrapper img {
      margin: 0 auto; }
      .img-block-responsive .image-wrapper img.main-image {
        width: 100%; }
      .img-block-responsive .image-wrapper img.max-height {
        height: auto;
        width: 100%;
        max-width: 500px; }

.dots-bottom-under-div {
  background-color: #f4f4f4;
  margin-top: -250px; }
  .dots-bottom-under-div .top-form-wrapper {
    height: auto;
    background-position: top left;
    background-size: 1380px;
    padding: 100px 0 0 0; }
    .dots-bottom-under-div .top-form-wrapper .image-wrapper {
      margin-top: 100px; }
    .dots-bottom-under-div .top-form-wrapper .flex-block .s24 {
      color: #000;
      font-weight: 700;
      max-width: 360px; }
  .dots-bottom-under-div .dots {
    display: none; }

.top-form-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
  width: 120px; }

.work-steps-wrapper.vertical-view .work-step-block {
  padding-bottom: 20px; }

.revenue-growth-block-2-wrapper {
  padding-top: 25px;
  padding-bottom: 25px; }
  .revenue-growth-block-2-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0; }
  .revenue-growth-block-2-wrapper .flex-wrapper .flex-block {
    padding: 15px; }

.revenue-growth-block-2 h3 {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
  padding: 0 15px;
  margin-bottom: 15px; }
  .revenue-growth-block-2 h3 br {
    display: none; }
.revenue-growth-block-2 .flex-wrapper .flex-block .text-block {
  max-width: 100%; }
  .revenue-growth-block-2 .flex-wrapper .flex-block .text-block .s18 {
    display: block;
    font-size: 16px;
    margin-bottom: 10px; }

.placements-wrapper h3.color-green {
  width: 250px;
  margin: 0 auto 25px auto; }

.placements-block {
  display: block;
  padding: 30px 5px;
  margin-bottom: 40px; }
  .placements-block .carousel-cell {
    margin: 0; }
  .placements-block .flickity-slider {
    margin-left: 5px; }

.connection-cost-wrapper .wrapper-block {
  max-width: 100%;
  padding: 40px 0; }
  .connection-cost-wrapper .wrapper-block h3 {
    max-width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 27px; }
.connection-cost-wrapper .flex-wrapper {
  display: block;
  padding-bottom: 30px; }
  .connection-cost-wrapper .flex-wrapper .flex-block.carousel-cell {
    min-width: calc(100% - 60px);
    min-width: calc(100% - 60px);
    margin-right: 15px;
    margin-bottom: 15px; }
.connection-cost-wrapper .flickity-slider {
  margin-left: 15px; }
.connection-cost-wrapper .cost {
  font-size: 25px;
  line-height: 34px; }

.about-benefit-wrapper {
  padding-bottom: 50px; }
  .about-benefit-wrapper .about-benefit-top h3, .about-benefit-wrapper .about-benefit-top .h3 {
    padding: 0 15px;
    font-size: 19px;
    line-height: 27px;
    margin-left: auto;
    margin-right: auto; }
  .about-benefit-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0; }
  .about-benefit-wrapper h4 {
    padding: 0 15px; }
  .about-benefit-wrapper .flex-wrapper .flex-block {
    min-width: 100%; }
    .about-benefit-wrapper .flex-wrapper .flex-block:not(.narrow-block) {
      height: 300px; }
      .about-benefit-wrapper .flex-wrapper .flex-block:not(.narrow-block) .text-block {
        position: relative; }
    .about-benefit-wrapper .flex-wrapper .flex-block.narrow-block {
      min-width: 100%;
      max-width: 100%;
      height: 210px;
      margin-bottom: 10px; }
    .about-benefit-wrapper .flex-wrapper .flex-block img {
      width: auto;
      height: 300px; }
    .about-benefit-wrapper .flex-wrapper .flex-block .h3, .about-benefit-wrapper .flex-wrapper .flex-block .fs50, .about-benefit-wrapper .flex-wrapper .flex-block .bnt {
      bottom: 15px; }
    .about-benefit-wrapper .flex-wrapper .flex-block h4 {
      font-size: 19px;
      line-height: 22px;
      padding: 0;
      margin-bottom: 10px; }
    .about-benefit-wrapper .flex-wrapper .flex-block .btn {
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: calc(100% - 30px);
      max-width: 280px; }
  .about-benefit-wrapper .text-block {
    padding: 15px 15px 60px 15px; }
    .about-benefit-wrapper .text-block .s18 {
      font-size: 14px;
      line-height: 24px; }
  .about-benefit-wrapper .btn.center-position {
    margin-top: 40px; }
  .about-benefit-wrapper .benefits-block.swiper-container {
    padding: 0 0 0 15px; }
    .about-benefit-wrapper .benefits-block.swiper-container .swiper-slide {
      width: calc(100% - 60px);
      max-width: 400px;
      margin-right: 15px; }
    .about-benefit-wrapper .benefits-block.swiper-container .flickity-slider {
      margin-left: 15px; }

.about-commission .wrapper-block {
  max-width: 100%;
  padding: 40px 15px; }
  .about-commission .wrapper-block .standart {
    margin-left: 0; }
    .about-commission .wrapper-block .standart li {
      font-size: 16px;
      line-height: 23px; }
.about-commission .standart-gray {
  display: block;
  line-height: 24px; }
.about-commission .image-wrapper img {
  width: 80%;
  margin: 40px auto 0 auto; }

.connection-steps-wrapper {
  padding-bottom: 50px; }

.connection-steps {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0; }
  .connection-steps .step-item {
    min-width: 0;
    max-width: 450px;
    margin-bottom: 40px; }
    .connection-steps .step-item h4 {
      width: 260px;
      margin: 0 auto 20px auto; }
    .connection-steps .step-item img {
      width: 120px;
      margin-bottom: 30px; }

.for-partners .wrapper-block {
  padding: 50px 15px; }
  .for-partners .wrapper-block h3 {
    margin-bottom: 30px; }

.standart.two-columns-view {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0; }
  .standart.two-columns-view li {
    font-size: 16px;
    line-height: 26px; }

.str-after-wrapper {
  padding-top: 50px; }
  .str-after-wrapper .str-after {
    margin: 0 auto; }

.first-bend-block.on-scan-go {
  padding: 50px 0 150px 0;
  overflow: hidden; }
  .first-bend-block.on-scan-go .flex-wrapper {
    padding-bottom: 40px; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper {
      padding: 60px 0; }
      .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper img {
        max-width: 100%; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 {
      padding-left: 0; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.w40 {
      padding-bottom: 50px; }
  .first-bend-block.on-scan-go h3 br {
    display: none; }

.to-video {
  bottom: -20px; }

.scan-go-work .wrapper-block {
  padding: 40px 15px; }

.application-stores.center-position {
  justify-content: space-between; }
  .application-stores.center-position a {
    min-width: calc(50% - 8px);
    max-width: calc(50% - 8px);
    margin: 0; }
    .application-stores.center-position a.appstore {
      margin: 0; }

.video-wrapper {
  margin: 0 auto 20px auto; }

.flex-table-view {
  padding: 0;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .flex-table-view .table-tr {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 30px; }
    .flex-table-view .table-tr:last-child {
      margin: 0; }
    .flex-table-view .table-tr .table-cell {
      padding: 0;
      font-size: 16px; }
      .flex-table-view .table-tr .table-cell .logos-block {
        margin-right: 15px; }
        .flex-table-view .table-tr .table-cell .logos-block img {
          width: 55px; }

.small-icon-block {
  border-radius: 15px;
  width: 110px;
  height: 110px; }
  .small-icon-block img {
    height: 40px;
    margin: 0; }
  .small-icon-block span {
    font-size: 11px; }
    .small-icon-block span.t-up {
      font-size: 16px;
      line-height: 20px;
      margin: 0; }
  .small-icon-block.sup-m {
    right: 0; }

.image-wrapper.have-small-icon-blocks {
  margin-top: 100px;
  position: relative; }
  .image-wrapper.have-small-icon-blocks .main-image {
    max-width: 95%;
    margin: 60px auto 0 auto; }

.on-preorder-and-delivery-page .image-wrapper.have-small-icon-blocks {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto; }
.on-preorder-and-delivery-page .flex-wrapper:first-child {
  padding: 0; }
.on-preorder-and-delivery-page .flex-wrapper .flex-block.right-position {
  padding-top: 50px; }

.scan-go-work .wrapper-block.like-cashbox {
  padding: 60px 15px; }
.scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap {
  flex-wrap: nowrap; }
  .scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap .flex-block {
    min-width: 0;
    flex-grow: 1; }
    .scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap .flex-block .s18 {
      font-size: 14px; }

.about-delivery .about-delivery-block img {
  width: 100px;
  margin-bottom: 30px; }
.about-delivery .about-delivery-top-block .text-block {
  width: 100%; }
  .about-delivery .about-delivery-top-block .text-block p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px; }
.about-delivery .about-delivery-top-block .image-wrapper {
  padding-top: 50px; }
  .about-delivery .about-delivery-top-block .image-wrapper img {
    max-width: 100%;
    margin: 0; }
    .about-delivery .about-delivery-top-block .image-wrapper img.ml40 {
      margin: 0 auto; }
.about-delivery .about-delivery-top-block .flex-block {
  position: relative; }
.about-delivery .about-delivery-top-block .box-image {
  position: absolute;
  width: 120px;
  right: 0;
  bottom: -90px;
  z-index: 2; }
.about-delivery .flex-wrapper .flex-block.right-position {
  padding-top: 40px;
  padding-left: 0; }
.about-delivery .flex-wrapper .flex-block .s18 {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
.about-delivery .our-delivery-service ul {
  flex-wrap: wrap; }
  .about-delivery .our-delivery-service ul li {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .about-delivery .our-delivery-service ul li:first-child {
      padding-bottom: 60px; }
    .about-delivery .our-delivery-service ul li p {
      display: block;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      min-width: 100%; }
    .about-delivery .our-delivery-service ul li img {
      margin: 0 auto; }
      .about-delivery .our-delivery-service ul li img.mts-logo {
        margin-bottom: 20px; }

.about-discounts.on-scan-go {
  padding: 50px 15px; }
  .about-discounts.on-scan-go .phone-image-block {
    width: 250px; }

.included-in-price .flex-wrapper {
  padding: 50px 0; }

.questions-wrapper .question-block {
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 15px; }
  .questions-wrapper .question-block:after {
    top: 15px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-size: cover; }
  .questions-wrapper .question-block:before {
    display: none; }
  .questions-wrapper .question-block span {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600; }
  .questions-wrapper .question-block .text {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0; }

/*scan-go end*/
/*preorder-and-delivery start*/
.special-decor {
  padding-left: 35px; }
  .special-decor li .big-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500; }

.preorder-process .flex-wrapper {
  padding: 0; }
.preorder-process .special-decor {
  margin-bottom: 120px; }
  .preorder-process .special-decor li {
    margin-bottom: 20px; }
.preorder-process .image-wrapper {
  max-width: 345px;
  margin: 0 auto;
  padding-left: 0;
  justify-content: center;
  flex-wrap: wrap; }
  .preorder-process .image-wrapper .image-wrapper-left {
    padding: 0 0 50px 0; }
    .preorder-process .image-wrapper .image-wrapper-left img {
      margin: 0 auto 30px auto; }
  .preorder-process .image-wrapper .image-wrapper-right p {
    font-size: 16px;
    line-height: 24px; }
  .preorder-process .image-wrapper .application-stores {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 30px; }
    .preorder-process .image-wrapper .application-stores a {
      width: calc(50% - 10px);
      margin: 0 5px; }
      .preorder-process .image-wrapper .application-stores a.appstore {
        margin: 0 5px; }
  .preorder-process .image-wrapper .main-image {
    max-width: 260px; }
  .preorder-process .image-wrapper .phone-image-block {
    width: 175px;
    left: auto;
    right: 0; }

.about-delivery .absolute-position {
  display: none; }

.delivery-options-wrapper {
  padding-top: 50px; }

.delivery-options-block .option-item {
  height: auto;
  background: none;
  margin: 40px 0;
  padding: 0; }
  .delivery-options-block .option-item img {
    min-width: 80px;
    max-width: 80px;
    margin-left: 0; }
  .delivery-options-block .option-item span {
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500; }
  .delivery-options-block .option-item.modile-row-reverse {
    flex-direction: row-reverse; }

.checker-screens-wrapper {
  padding: 50px 0; }
  .checker-screens-wrapper .flex-wrapper .flex-block.w60 {
    padding-right: 0; }
  .checker-screens-wrapper .swiper-container {
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 360px; }
    .checker-screens-wrapper .swiper-container .phone-image-block {
      width: 100%; }
    .checker-screens-wrapper .swiper-container .swiper-button-prev, .checker-screens-wrapper .swiper-container .swiper-button-next {
      opacity: 1.0; }

.preorder-block {
  padding-top: 50px; }
  .preorder-block .image-wrapper {
    padding-top: 50px; }
    .preorder-block .image-wrapper img {
      max-width: 100%; }
  .preorder-block .bottom-position {
    margin-top: 50px; }
  .preorder-block .str-after {
    margin: 0 auto; }

.horizontal-special-decor-list .special-decor {
  padding: 100px 0 50px 0;
  display: block; }
  .horizontal-special-decor-list .special-decor li {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px; }
    .horizontal-special-decor-list .special-decor li div {
      height: auto;
      display: block; }
    .horizontal-special-decor-list .special-decor li h4 {
      margin-bottom: 0; }
    .horizontal-special-decor-list .special-decor li p {
      padding: 0; }
    .horizontal-special-decor-list .special-decor li img {
      max-width: 280px; }

.first-bend-block.on-preorder-and-delivery-page {
  padding: 55px 0; }
  .first-bend-block.on-preorder-and-delivery-page .flex-wrapper:first-child {
    padding: 0; }
    .first-bend-block.on-preorder-and-delivery-page .flex-wrapper:first-child .image-wrapper {
      padding-top: 50px; }
      .first-bend-block.on-preorder-and-delivery-page .flex-wrapper:first-child .image-wrapper img {
        max-width: 100%;
        margin: 0 auto; }

.pluses-for-you.big-icons li {
  align-items: flex-start; }
  .pluses-for-you.big-icons li img {
    min-width: 60px;
    max-width: 60px;
    border-radius: 12px;
    margin-right: 10px; }

.delivery-organization {
  max-width: 460px;
  margin: 0 auto;
  flex-wrap: wrap; }
  .delivery-organization li {
    min-width: 100%;
    max-width: 100%;
    padding-bottom: 40px; }
    .delivery-organization li:last-child {
      padding-bottom: 0; }
    .delivery-organization li img {
      width: 120px;
      border-radius: 25px; }

@media screen and (min-width: 0px) and (max-width: 374px) {
  .delivery-options-block .option-item img {
    min-width: 70px;
    max-width: 70px; }
  .delivery-options-block .option-item span {
    font-size: 15px;
    padding-left: 10px; } }
/*preorder-and-delivery end*/
/*micromarket page start*/
.form-block-wrapper-special-bg {
  background: none; }
  .form-block-wrapper-special-bg .flex-wrapper .flex-block.full-width {
    margin-top: 0; }

.form-block-wrapper {
  height: auto;
  background-size: 2235px;
  margin-top: -205px;
  background-position: top left; }
  .form-block-wrapper .wrapper-block {
    padding-top: 200px;
    padding-bottom: 100px;
    width: 100%; }
    .form-block-wrapper .wrapper-block h2 {
      font-size: 23px;
      line-height: 32px;
      margin-bottom: 25px; }
      .form-block-wrapper .wrapper-block h2 br {
        display: none; }
    .form-block-wrapper .wrapper-block h4 {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px; }
  .form-block-wrapper .dots {
    height: 65px;
    bottom: 50px; }
  .form-block-wrapper .flex-wrapper {
    flex-wrap: wrap; }
    .form-block-wrapper .flex-wrapper .flex-block {
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 15px; }
      .form-block-wrapper .flex-wrapper .flex-block .video-block {
        left: auto;
        right: auto;
        width: 100%;
        max-width: 400px;
        margin: auto;
        top: 0; }
      .form-block-wrapper .flex-wrapper .flex-block .video-icon {
        width: 60px; }
  .form-block-wrapper p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px; }
    .form-block-wrapper p.fs24 {
      margin-bottom: 15px; }

.flex-wrapper-two-parts.mobile-reverse {
  flex-wrap: wrap-reverse; }
  .flex-wrapper-two-parts.mobile-reverse .flex-block {
    min-width: 100%;
    max-width: 100%;
    padding-bottom: 40px; }

.for-whom-wrapper {
  padding-top: 30px; }

.for-whom {
  margin-bottom: 0;
  padding: 0; }
  .for-whom h2 {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
  .for-whom .btn {
    margin: 0 auto; }
  .for-whom .icon-text-item {
    width: 100%;
    margin: 0 auto 30px auto; }
    .for-whom .icon-text-item .icon-image {
      min-width: 52px;
      max-width: 52px;
      padding: 5px;
      border-radius: 12px; }
    .for-whom .icon-text-item .icon-text {
      padding-left: 15px; }
  .for-whom .flex-block.for-image {
    margin-top: 50px; }
    .for-whom .flex-block.for-image img {
      display: block;
      z-index: 4;
      float: none;
      max-width: 100%;
      margin: 0 auto; }
    .for-whom .flex-block.for-image .dots {
      width: 100%;
      background-position: top right;
      bottom: 20px;
      right: auto;
      left: -50%;
      height: 63px;
      z-index: 3;
      background-size: cover;
      background-repeat: repeat; }
  .for-whom.flex-wrapper .flex-block.left-position {
    margin-bottom: 0;
    padding-bottom: 40px; }

.food-types {
  flex-wrap: wrap; }
  .food-types li {
    min-width: 33.3%;
    max-width: 33.3%;
    margin-bottom: 20px; }
    .food-types li img {
      width: 40px;
      margin: 0 auto 5px auto; }
    .food-types li span {
      font-size: 12px;
      line-height: 15px; }

.places-of-use {
  /*padding-top: 40px;*/ }
  .places-of-use h2 {
    margin-bottom: 25px; }

.places-carousel.swiper-container {
  margin-bottom: 20px; }
  .places-carousel.swiper-container .swiper-slide {
    width: 286px;
    height: 210px;
    padding: 10px 14px 20px 14px; }
    .places-carousel.swiper-container .swiper-slide.first-elem-1 {
      display: none; }

.place-item {
  box-shadow: 0px 8px 14px rgba(25, 27, 35, 0.2); }
  .place-item .place-item-info {
    padding: 15px; }
    .place-item .place-item-info span {
      font-size: 16px;
      line-height: 20px; }

.food-icons-active .food-icon {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  margin-right: 15px; }

.icebox-work-steps-block {
  padding: 0;
  display: block; }
  .icebox-work-steps-block .work-step-block {
    min-width: 0;
    max-width: 300px;
    padding: 0;
    margin: 0 auto 50px auto; }
    .icebox-work-steps-block .work-step-block:last-child {
      margin-bottom: 0; }
    .icebox-work-steps-block .work-step-block img {
      width: 160px;
      margin: 0 auto 10px auto; }
    .icebox-work-steps-block .work-step-block h4 {
      display: none; }
    .icebox-work-steps-block .work-step-block p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700; }
      .icebox-work-steps-block .work-step-block p br {
        display: none; }

.food-suppliers-carousel.swiper-container {
  padding: 0 5px; }
  .food-suppliers-carousel.swiper-container .swiper-slide {
    width: 220px;
    height: 285px;
    padding: 10px 10px 15px 10px; }
    .food-suppliers-carousel.swiper-container .swiper-slide.first-elem-2 {
      display: none; }
  .food-suppliers-carousel.swiper-container .flickity-viewport {
    padding-left: 5px; }

.supplier-card {
  box-shadow: 0px 2px 6px rgba(25, 27, 35, 0.15);
  padding: 20px 15px; }
  .supplier-card img {
    height: 100px; }
  .supplier-card p {
    font-size: 13px;
    line-height: 18px; }
  .supplier-card .supplier-name {
    height: 70px; }
    .supplier-card .supplier-name h4 {
      font-size: 16px;
      line-height: 20px; }

.food-suppliers-wrapper {
  padding: 30px 0; }
  .food-suppliers-wrapper .h-block .fs24 {
    font-size: 16px;
    line-height: 20px; }
  .food-suppliers-wrapper .full-width-block {
    padding-top: 20px; }
    .food-suppliers-wrapper .full-width-block .dots {
      left: 0;
      right: auto;
      margin: 0;
      bottom: 0; }
    .food-suppliers-wrapper .full-width-block .absolute-position {
      display: none; }

.offers-wrapper {
  padding: 40px 0 0 0; }
  .offers-wrapper .offer-block {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    min-height: auto; }
    .offers-wrapper .offer-block .standart {
      margin-bottom: 0; }
      .offers-wrapper .offer-block .standart li {
        font-size: 16px; }
  .offers-wrapper .absolute-position.left-position {
    display: none; }
  .offers-wrapper .absolute-position.right-img {
    width: 130px;
    left: 100%;
    bottom: -240px;
    margin-left: 0;
    margin-bottom: 0;
    transform: translate(-40%, 0); }

.about-nums.flex-wrapper {
  display: block; }
  .about-nums.flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%; }

.about-nums-block {
  margin-bottom: 10px;
  padding: 10px; }
  .about-nums-block:last-child {
    margin-bottom: 10px; }
  .about-nums-block .fattest {
    font-weight: 800; }

.markets-in-num-wrapper {
  min-height: auto;
  padding-top: 160px;
  padding-bottom: 60px;
  background-size: cover; }
  .markets-in-num-wrapper .have-questions {
    margin-top: 60px; }
    .markets-in-num-wrapper .have-questions .btns-block .btn {
      margin: 0 auto 10px auto; }

.installation-options-wrapper .wrapper-block {
  padding: 60px 0; }
.installation-options-wrapper h2 {
  margin-bottom: 20px; }

.installation-options-carousel {
  display: block;
  width: 100%;
  margin: 0 auto; }
  .installation-options-carousel:not(:last-child) {
    margin-bottom: 50px; }
  .installation-options-carousel .swiper-slide {
    min-width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    /*height: 650px;*/
    height: auto;
    padding: 10px 5px 20px 5px; }

.installation-type-wrapper {
  padding-top: 20px; }
  .installation-type-wrapper.spec-type .popular {
    font-size: 11px;
    line-height: 20px; }

.installation-type {
  padding: 20px 10px 120px 10px;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }
  .installation-type .installation-type-text h4 {
    margin-bottom: 10px;
    line-height: 24px; }
  .installation-type .img-block {
    min-width: 220px;
    max-width: 220px;
    margin: 0 auto 15px auto; }
    .installation-type .img-block img {
      max-width: 190px; }
  .installation-type p {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 10px 0; }
  .installation-type .price {
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    bottom: 20px; }
    .installation-type .price .service-cost {
      font-size: 32px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      line-height: 40px; }
    .installation-type .price .btn.btn-big {
      margin-top: 10px;
      height: 40px;
      line-height: 40px; }

.gallery-wrapper {
  padding: 0 0 50px 0; }
  .gallery-wrapper .swiper-container {
    padding-left: 15px; }

/*micromarket page end*/
@media screen and (min-width: 0px) and (max-width: 413px) {
  .about-products-wrapper .about-product-block.swiper-slide .product-info {
    padding: 30px 20px 25px 20px; }

  .form-block-wrapper .wrapper-block {
    padding-top: 170px; }

  .on-preorder-and-delivery-page h3 br {
    display: none; }

  .delivery-organization-wrapper h3 br {
    display: none; } }
@media screen and (min-width: 0px) and (max-width: 359px) {
  .main-top-info h1 {
    font-size: 18px;
    line-height: 30px; }

  .about-products-wrapper .about-product-block.swiper-slide .product-info {
    height: 640px;
    padding: 20px; }

  .main-top-slider-wrapper .slide-image-block .caption {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    white-space: normal; }

  .flexible-middle-width .content-wrap {
    min-width: 100% !important; }

  .about-products-wrapper .about-product-block .product-info {
    height: 640px; }

  .placements-wrapper .btn {
    font-size: 14px; }

  .about-benefit-wrapper .benefits-block .carousel-cell {
    width: calc(100% - 45px); }
  .about-benefit-wrapper .text-block {
    padding: 10px 10px 50px 10px; }
  .about-benefit-wrapper .flex-wrapper .flex-block .h3 {
    bottom: 5px; }

  .first-bend-block.on-scan-go h3 {
    font-size: 20px; }

  .mobile-bottom-btns .btn {
    font-size: 11px; }

  .dots-bottom-under-div .top-form-wrapper {
    background-size: 1450px; }

  .about-delivery .our-delivery-service img {
    height: 50px; }

  .about-discounts.on-main-page h2 {
    font-size: 18px;
    line-height: 25px; }

  .about-delivery .about-delivery-top-block .box-image {
    width: 100px; } }
.have-page-dots .flickity-page-dots {
  line-height: 0; }
  .have-page-dots .flickity-page-dots .dot {
    position: relative;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 100%;
    margin: 0 13px 0 0;
    opacity: 1.0; }
    .have-page-dots .flickity-page-dots .dot:after {
      content: "";
      width: 14px;
      height: 1px;
      background: #aaa;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -1px; }
    .have-page-dots .flickity-page-dots .dot:last-child {
      margin: 0; }
      .have-page-dots .flickity-page-dots .dot:last-child:after {
        display: none; }
    .have-page-dots .flickity-page-dots .dot.is-selected {
      background: #57D435; }
.have-page-dots.bottom-dots .flickity-page-dots {
  bottom: 0; }

/**/
/*tariffs-page start*/
.tariffs-wrapper.wrapper-block {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 0;
  position: relative; }
  .tariffs-wrapper.wrapper-block:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 100%;
    background: linear-gradient(to left, #fcfcfd, rgba(252, 252, 253, 0.6) 60%, rgba(252, 252, 253, 0));
    top: 0;
    right: 0; }

.table-wrapper-1 {
  overflow-x: auto; }

.table-wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 555px;
  padding-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .table-wrapper .two-fingers {
    display: block;
    width: 40px;
    position: absolute;
    z-index: 100;
    left: 220px;
    top: 188px; }
  .table-wrapper .tr-block .td-block {
    padding: 6px; }
    .table-wrapper .tr-block .td-block:not(.first-td-block) {
      min-width: 100px;
      max-width: 100px; }
    .table-wrapper .tr-block .td-block.first-td-block {
      position: sticky;
      position: -webkit-sticky;
      left: 0;
      z-index: 10;
      min-width: 140px;
      max-width: 140px;
      background: #fff; }
      .table-wrapper .tr-block .td-block.first-td-block .have-explanatory-note-block .explanatory-note-block {
        width: 280px !important; }
      .table-wrapper .tr-block .td-block.first-td-block.hight-z-index {
        z-index: 15;
        cursor: default; }
        .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block {
          z-index: 14; }
          .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block {
            height: auto;
            z-index: 14; }
            .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:before, .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:after {
              opacity: 1.0; }
            .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:before {
              z-index: 12; }
            .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:after {
              z-index: 14; }
          .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block-text {
            height: auto;
            opacity: 1.0;
            padding: 15px;
            z-index: 13; }
    .table-wrapper .tr-block .td-block .prices-menu {
      position: absolute;
      top: -80px;
      left: 0;
      width: 300px; }
    .table-wrapper .tr-block .td-block span {
      font-size: 12px;
      line-height: 18px; }
      .table-wrapper .tr-block .td-block span.price {
        font-size: 16px; }
      .table-wrapper .tr-block .td-block span.have-icon:after {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 11px; }
    .table-wrapper .tr-block .td-block i {
      width: 30px; }
  .table-wrapper .tr-block.title-tr .td-block {
    height: 45px; }
    .table-wrapper .tr-block.title-tr .td-block span {
      font-size: 13px;
      line-height: 45px; }
    .table-wrapper .tr-block.title-tr .td-block.td-gray span.only-mobile {
      display: block;
      width: 100%;
      height: 45px;
      line-height: 45px;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      color: #fff;
      background: #ccc;
      padding: 0 10px;
      border-radius: 20px 20px 0 0; }
    .table-wrapper .tr-block.title-tr .td-block.first-td-block.td-gray {
      background: #fcfcfd;
      border-radius: 0 20px 0 0;
      z-index: 20; }
  .table-wrapper .tr-block.standart-view .td-block {
    min-height: 60px; }
  .table-wrapper .tr-block.special-colors .td-block span {
    font-size: 14px; }
  .table-wrapper .tr-block.special-colors .td-block.td-gray span {
    font-size: 12px;
    line-height: 18px; }

.table-wrapper .tr-block.btns-fixed-position {
  justify-content: flex-start;
  padding: 20px 0;
  position: initial; }
  .table-wrapper .tr-block.btns-fixed-position.abs-bottom {
    position: initial; }
  .table-wrapper .tr-block.btns-fixed-position .td-block.first-td-block {
    min-width: 140px;
    max-width: 140px; }
    .table-wrapper .tr-block.btns-fixed-position .td-block.first-td-block:before {
      position: absolute;
      content: '';
      width: calc(100% - 1px);
      height: 80px;
      left: 0;
      top: -20px;
      background: #fcfcfd;
      border-right: 2px solid #e8e2e1; }
  .table-wrapper .tr-block.btns-fixed-position .td-block .btn {
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-size: 12px;
    padding: 0 5px; }

/*tariffs-page end*/
/*map block*/
.map-block-wrapper {
  height: 450px;
  background: url(/img/map-bg.jpg) center center no-repeat; }

/*map block*/

/*# sourceMappingURL=mobile.css.map */

.screen-block img {
    width: 100%;
}
