/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  height: 100%; }

body {
  font-stretch: normal;
  font-weight: normal;
  min-height: 100%;
  position: relative;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fcfcfd;
  overflow-x: hidden; }

.container {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  background: #fcfcfd; }

.wrapper-block {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper.center-items {
    align-items: center; }
  .flex-wrapper .flex-block {
    flex-grow: 1;
    min-width: 50%;
    max-width: 50%; }
    .flex-wrapper .flex-block.w30 {
      min-width: 30%;
      max-width: 30%; }
    .flex-wrapper .flex-block.w40 {
      min-width: 40%;
      max-width: 40%; }
    .flex-wrapper .flex-block.w60 {
      min-width: 60%;
      max-width: 60%; }
    .flex-wrapper .flex-block.w70 {
      min-width: 70%;
      max-width: 70%; }
    .flex-wrapper .flex-block.full-width {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 100px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 100px; }
    .flex-wrapper .flex-block.vertical-flex {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between; }
    .flex-wrapper .flex-block.w660 {
      min-width: 660px;
      max-width: 660px; }
    .flex-wrapper .flex-block.auto-width {
      min-width: 0;
      max-width: 100%; }

.right-alignment {
  margin: auto 0 auto auto; }

.left-alignment {
  margin: auto auto auto 0; }

.white-bg {
  background: #fff; }

.dark-bg {
  background: #353439; }

.light-gray-bg {
  background: #f0f3f8; }

.beige-bg {
  background: #f4f4f4; }

h1, h2, h3, h4 {
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 35px; }

h2 {
  margin-bottom: 50px; }
  h2 .s31 {
    display: block;
    font-size: 31px;
    line-height: 44px; }
  h2.leaf-after {
    position: relative; }
   /* h2.leaf-after:after {
      content: "";
      display: block;
      width: 25px;
      height: 33px;
      background: url(/img/leaf-icon.svg) 0 0 no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: -55px; } */

h3, .h3 {
  display: block;
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 35px; }

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 35px; }

h5 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px; }

p, .s16 {
  font-size: 16px;
  line-height: 24px; }
  p.asterisk, .s16.asterisk {
    position: relative; }
    p.asterisk:before, .s16.asterisk:before {
      content: "*";
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      position: absolute;
      left: -10px; }

.s18 {
  font-size: 18px;
  line-height: 28px; }

.s14 {
  font-size: 14px;
  line-height: 24px; }

p {
  margin-bottom: 20px; }
  p:last-child {
    margin: 0; }
  p.s14 {
    margin-bottom: 15px; }

.middle {
  font-weight: 500; }

.semibold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.fatter {
  font-weight: 800; }

.fattest {
  font-weight: 900; }

strong {
  font-weight: 700; }

.white-bg-br-20 {
  background: #fff; }

.br-35 {
  border-radius: 35px; }

.br-20 {
  border-radius: 20px; }

.br-10 {
  border-radius: 10px; }

.box-sh-gray {
  box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2); }

.box-sh-gray-mini {
  box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }

.pr100 {
  padding-right: 100px; }

.pl100 {
  padding-left: 100px; }

.p85 {
  padding-top: 85px;
  padding-bottom: 85px; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: none; }
  a.standart-green {
    color: #57D435;
    border-bottom: 1px solid #57d435;
    transition: all 200ms linear 0s; }
    a.standart-green:hover, a.standart-green.active {
      border-bottom: 1px solid rgba(87, 212, 53, 0); }
  a.standart-dark {
    color: #2a3c46;
    border-bottom: 1px solid rgba(153, 162, 173, 0.7);
    transition: all 200ms linear 0s; }
    a.standart-dark:hover {
      color: #202020;
      border-bottom: 1px solid #202020; }
  a.standart-gray {
    color: #b1b1b1;
    transition: all 200ms linear 0s; }
    a.standart-gray:hover {
      color: #191B23; }
    a.standart-gray.border-decor {
      border-bottom: 1px solid rgba(177, 177, 177, 0.8); }
      a.standart-gray.border-decor:hover {
        border-bottom: 1px solid rgba(177, 177, 177, 0); }

.s24 {
  font-size: 24px;
  line-height: 36px; }

.fs30 {
  font-size: 30px;
  line-height: 37px; }

.fs40 {
  font-size: 40px;
  line-height: 52px; }

.fs50 {
  font-size: 50px;
  line-height: 64px; }

.fs55 {
  font-size: 55px;
  line-height: 52px; }

.m0 {
  margin: 0; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.color-light-gray {
  color: #99a2ad; }

.color-gray {
  color: #2a3c46; }

.color-green {
  color: #57D435; }

.align-center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }

.align-right {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right; }

.align-left {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left; }

.nowrap {
  white-space: nowrap; }

.h-block h1, .h-block h2, .h-block h3, .h-block h4 {
  margin-bottom: 15px; }

div, li, a, span, button, input {
  box-sizing: border-box; }

a, input, span, div, p, ul, li, :before, :after, img {
  outline: none; }

a:focus, a:visited {
  -moz-outline-style: none;
  outline: none; }

button, input {
  border: none;
  background: none;
  border-radius: 0; }

.btn {
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  transition: all 200ms linear 0s;
  padding: 0 15px; }
  .btn.center-position {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .btn.btn-small {
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 25px; }
  .btn.btn-middle {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 44px; }
  .btn.btn-big {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 60px; }
  .btn.btn-medium {
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 14px;
    padding: 0 25px; }
  .btn.btn-green {
    color: #296519;
    background: #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15); }
    .btn.btn-green:hover {
      background: #93F878; }
  .btn.btn-green-border {
    background: rgba(147, 248, 120, 0);
    border: 2px solid #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #fff; }
    .btn.btn-green-border.btn-small {
      line-height: 32px; }
    .btn.btn-green-border.btn-middle {
      line-height: 40px; }
    .btn.btn-green-border.btn-big {
      line-height: 56px; }
    .btn.btn-green-border.btn-medium {
      line-height: 44px; }
    .btn.btn-green-border:hover {
      border: 2px solid #93F878;
      background: #93f878;
      box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
      color: #296519; }
    .btn.btn-green-border.full-green {
      color: #57D435; }
      .btn.btn-green-border.full-green:hover {
        border: 2px solid #93F878;
        background: #93f878;
        box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
        color: #296519; }
  .btn.btn-gray-border {
    background: none;
    border: 2px solid #2a3c46;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #2a3c46; }
  .btn.btn-black {
    background: #000;
    color: #fff; }
  .btn.btn-white {
    color: #57D435;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.25);
    border: 2px solid rgba(87, 212, 53, 0); }
    .btn.btn-white:hover {
      border: 2px solid #57d435; }
    .btn.btn-white.btn-small {
      line-height: 32px; }
    .btn.btn-white.btn-middle {
      line-height: 40px; }
    .btn.btn-white.btn-big {
      line-height: 56px; }
    .btn.btn-white.btn-medium {
      line-height: 44px; }
  .btn.btn300 {
    width: 300px; }
  .btn.btn-spec-green {
    position: relative;
    color: #fff;
    background: #9ee6a1;
    box-shadow: 0px 5px 14px rgba(158, 231, 161, 0.5), 0px 1px 6px rgba(158, 231, 161, 0.15);
    transition: all 200ms linear 0s; }
    .btn.btn-spec-green:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-spec-green:hover, .btn.btn-spec-green .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-spec-green:hover:before, .btn.btn-spec-green .active:before {
        opacity: 1.0; }
  .btn.btn-light-blue {
    position: relative;
    color: #fff;
    background: #76c6c2;
    box-shadow: 0px 5px 14px rgba(118, 198, 194, 0.5), 0px 1px 6px rgba(118, 198, 194, 0.15); }
    .btn.btn-light-blue:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-light-blue:hover, .btn.btn-light-blue .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-light-blue:hover:before, .btn.btn-light-blue .active:before {
        opacity: 1.0; }
  .btn.btn-blue {
    position: relative;
    color: #fff;
    background: #69bfbb;
    box-shadow: 0px 5px 14px rgba(105, 191, 187, 0.2), 0px 1px 6px rgba(105, 191, 187, 0.15); }
    .btn.btn-blue:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-blue:hover, .btn.btn-blue .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-blue:hover:before, .btn.btn-blue .active:before {
        opacity: 1.0; }
  .btn.btn-red {
    position: relative;
    color: #fff;
    background: #f5aa65;
    box-shadow: 0px 5px 14px rgba(245, 170, 101, 0.5), 0px 1px 6px rgba(245, 170, 101, 0.15); }
    .btn.btn-red:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 200ms linear 0s; }
    .btn.btn-red:hover, .btn.btn-red .active {
      box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
      .btn.btn-red:hover:before, .btn.btn-red .active:before {
        opacity: 1.0; }

* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

#map {
  font-display: swap; }

body.h100 {
  height: 100%; }

.container.hidden {
  overflow: hidden;
  height: 100%; }

.bend {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }
  .bend.bend-top {
    top: -2px; }
  .bend.bend-bottom {
    bottom: -2px; }

.standart {
  color: #000;
  margin-bottom: 50px;
  padding: 0; }
  .standart li {
    display: block;
    position: relative;
    padding-left: 47px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px; }
    .standart li:before {
      content: '';
      display: block;
      position: absolute;
      width: 27px;
      height: 24px;
      background: url(/img/marker-icon.svg) 0 0 no-repeat;
      background-size: contain;
      left: 0;
      top: 2px; }
    .standart li:last-child {
      margin: 0; }
  .standart.marker-abroad {
    margin-left: -47px; }

.first-bend-block {
  position: relative;
  padding: 55px 0 175px 0; }
  .first-bend-block .bend {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: -2px; }
    .first-bend-block .bend.special {
      z-index: 3; }

.second-bend-block {
  padding: 110px 0 100px 0; }

/*application-stores start*/
.application-stores {
  font-size: 0;
  display: flex; }
  .application-stores a {
    display: block;
    width: 200px;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0);
    transition: all 200ms linear 0s; }
    .application-stores a img {
      width: 100%; }
    .application-stores a.appstore {
      margin-right: 20px; }
    .application-stores a:hover {
      box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.45); }
  .application-stores.center-position {
    justify-content: center; }
    .application-stores.center-position a {
      margin: 0 25px; }
      .application-stores.center-position a.appstore {
        margin: 0 25px; }
  .application-stores.on-white-bg a {
    border: 1px solid #fff; }

/*application-stores end*/
/*phone block start*/
.phone-image-block {
  position: relative;
  width: 290px; }
  .phone-image-block img {
    display: block;
    width: 100%; }
    .phone-image-block img.phone-frame {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2; }

/*phone block end*/
/*main-top-block start*/
.main-top-block {
  position: relative; }
  .main-top-block .bend {
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 2;
    bottom: -1px; }

.main-top-slider-wrapper .carousel-cell {
  width: 100%;
  height: 800px; }
.main-top-slider-wrapper .flickity-page-dots {
  opacity: 0; }
  .main-top-slider-wrapper .flickity-page-dots .dot {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 2px;
    background: rgba(153, 162, 173, 0.2);
    margin: 0 3px;
    border-radius: 0;
    transition: all 3s linear 0s; }
    .main-top-slider-wrapper .flickity-page-dots .dot:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #99a2ad;
      position: absolute;
      left: 0;
      transition: all 3s linear 0s; }
    .main-top-slider-wrapper .flickity-page-dots .dot.is-selected:before {
      left: 100%; }
.main-top-slider-wrapper .main-slider-bacs .swiper-slide:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  position: absolute;
  top: 0;
  left: 0; }
.main-top-slider-wrapper .main-slider-bacs .swiper-slide img {
  position: relative;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
.main-top-slider-wrapper .main-slider-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
.main-top-slider-wrapper .slide-image-block-wrapper {
  height: 100%;
  width: 100%; }
  .main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
    padding-top: 156px;
    display: flex;
    justify-content: flex-end; }
.main-top-slider-wrapper .slide-image-block {
  width: 294px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  position: relative;
  z-index: 2;
  padding-bottom: 50px; }
  .main-top-slider-wrapper .slide-image-block .caption {
    color: #6d818c;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .main-top-slider-wrapper .slide-image-block.icebox-box {
    padding-bottom: 30px; }
    .main-top-slider-wrapper .slide-image-block.icebox-box img {
      width: 445px;
      position: relative;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.main-top-info {
  position: absolute;
  z-index: 9;
  top: 180px;
  left: 50%;
  width: 680px;
  -moz-transform: translate(-580px, 0);
  -ms-transform: translate(-580px, 0);
  -webkit-transform: translate(-580px, 0);
  transform: translate(-580px, 0);
  color: #fff; }
  .main-top-info .standart {
    color: #fff; }
  .main-top-info .logo {
    margin-bottom: 20px; }
    .main-top-info .logo a {
      display: block; }
      .main-top-info .logo a img {
        width: 244px; }

/*main-top-block end*/
/*top-block start*/
.form-block {
  position: relative;
  z-index: 10;
  width: 400px;
  padding: 30px 30px 14px 30px;
  margin-top: 30px; }

/*#bx_form_iframe_19 {
    overflow: auto !important;
}*/
.pluses-for-you-wrapper {
  margin-top: -4px; }

.pluses-for-you {
  padding-top: 55px; }
  .pluses-for-you li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .pluses-for-you li:last-child {
      margin-bottom: 0; }
    .pluses-for-you li img {
      min-width: 60px;
      max-width: 60px;
      border-radius: 12px;
      margin-right: 22px; }
      .pluses-for-you li img.green-shadow {
        box-shadow: 0px 6px 14px rgba(100, 236, 114, 0.25); }
      .pluses-for-you li img.blue-shadow {
        box-shadow: 0px 6px 14px rgba(127, 186, 255, 0.25); }
      .pluses-for-you li img.pink-shadow {
        box-shadow: 0px 6px 14px rgba(244, 126, 168, 0.25); }
  .pluses-for-you.big-icons {
    padding: 0; }
    .pluses-for-you.big-icons li img {
      min-width: 80px;
      max-width: 80px;
      border-radius: 20px; }

/*top-block end*/
/*about-products start*/
.about-products .swiper-container {
  overflow: visible; }

.about-products-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: -180px; }
  .about-products-wrapper .about-product-block.swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 360px;
    max-width: 360px; }
    .about-products-wrapper .about-product-block.swiper-slide .image-wrapper {
      margin-bottom: 35px; }
      .about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon {
        padding-left: 50px;
        position: relative; }
        .about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon .b-pay-icon {
          width: 100px;
          position: absolute;
          bottom: 38px;
          left: 0; }
    .about-products-wrapper .about-product-block.swiper-slide .product-info {
      height: 660px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 35px 35px 35px; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info .product-info-text {
        padding-bottom: 30px; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info p {
        margin-bottom: 0; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info h3 {
        font-size: 32px;
        margin-bottom: 20px; }
        .about-products-wrapper .about-product-block.swiper-slide .product-info h3 span {
          font-size: 18px; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info .text-block {
        margin-bottom: 20px; }
        .about-products-wrapper .about-product-block.swiper-slide .product-info .text-block:last-child {
          margin-bottom: 0; }
    .about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
      margin-left: -80px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img {
      margin-left: 25px; }
      .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img.only-mobile {
        display: none; }

/*about-products end*/
/*briskly-components start*/
.briskly-components-wrapper {
  padding: 100px 0 0 0; }

.str-after {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
  .str-after div {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 0 125px;
    position: relative; }
    .str-after div img {
      position: absolute;
      right: 0;
      top: 30px;
      z-index: 10; }
  .str-after.on-scan-go div {
    min-width: 900px; }

.briskly-components-block {
  padding: 60px 0; }
  .briskly-components-block .flex-block.image-wrapper {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right; }
    .briskly-components-block .flex-block.image-wrapper img {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      max-width: 100%; }
  .briskly-components-block .flex-block.text-wrapper {
    padding-top: 35px; }
    .briskly-components-block .flex-block.text-wrapper .text-block {
      margin-bottom: 40px; }
      .briskly-components-block .flex-block.text-wrapper .text-block:last-child {
        margin-bottom: 0; }

/*briskly-components end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 140px 0; }
  .embedded-marketing.on-scan-go {
    padding: 80px 0 40px 0; }

.spec-text {
  width: 100%;
  max-width: 680px;
  margin: 0 auto 80px auto; }

.laptop-bg {
  display: flex;
  align-items: center;
  min-height: 650px;
  background: url(/img/laptop-bg.svg) bottom center no-repeat; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .spec-flex-wrapper .flex-block {
    min-width: 50%;
    max-width: 50%;
    padding-left: 60px;
    display: flex;
    align-items: center;
    margin: 50px 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 130px;
      max-width: 130px;
      margin-right: 20px; }
      .spec-flex-wrapper .flex-block .icon-block img {
        display: block;
        width: 100%;
        border-radius: 24px; }
        .spec-flex-wrapper .flex-block .icon-block img.green-shadow {
          box-shadow: 0px 8px 20px rgba(112, 249, 48, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.blue-shadow {
          box-shadow: 0px 8px 20px rgba(48, 200, 249, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.pink-shadow {
          box-shadow: 0px 8px 20px rgba(249, 48, 120, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.purple-shadow {
          box-shadow: 0px 8px 20px rgba(249, 48, 229, 0.15); }
      .spec-flex-wrapper .flex-block .icon-block.have-tail {
        position: relative; }
        .spec-flex-wrapper .flex-block .icon-block.have-tail:before {
          display: block;
          content: "";
          width: 24px;
          height: 23px;
          background: url(/img/icons/tail.svg) 0 0 no-repeat;
          background-size: contain;
          position: absolute;
          left: -13px;
          bottom: 0; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts.on-main-page {
  margin-top: -220px; }
  .about-discounts.on-main-page h2 {
    margin-bottom: 0; }
  .about-discounts.on-main-page .flex-wrapper .flex-block.w40 img {
    width: 100%;
    max-width: 320px;
    position: relative;
    z-index: 10; }
.about-discounts.on-scan-go {
  padding: 50px 0; }
  .about-discounts.on-scan-go .phone-image-block {
    width: 310px; }

/*about-discounts end*/
/*about-security start*/
.about-security {
  padding: 130px 0; }
  .about-security .image-wrapper {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative; }
    .about-security .image-wrapper:before, .about-security .image-wrapper:after {
      content: '';
      position: absolute;
      background: #161313;
      filter: blur(24px);
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      z-index: 10; }
    .about-security .image-wrapper:after {
      width: 68px;
      height: 2px;
      bottom: -88px;
      visibility: hidden; }
    .about-security .image-wrapper:before {
      width: 184px;
      height: 8px;
      opacity: .4;
      bottom: -85px;
      visibility: hidden; }

/*about-security end*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .wrapper-block {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }

  .flex-wrapper .flex-block.left-position {
    padding-right: 50px; }
  .flex-wrapper .flex-block.right-position {
    padding-left: 50px; }

  header .header {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }
  header menu ul li {
    margin-right: 30px; }
  header .tel {
    height: 50px;
    line-height: 46px;
    padding: 0 20px; }

  .main-top-info {
    width: 580px;
    padding-left: 60px;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    left: 0; }
    .main-top-info .logo a img {
      width: 230px; }
    .main-top-info h1 {
      font-size: 36px;
      line-height: 50px; }
    .main-top-info ul.standart {
      margin-bottom: 40px; }

  .second-bend-block {
    padding: 50px 0 20px 0; }

  .about-produscts.wrapper-block {
    padding-left: 20px;
    padding-right: 20px; }

  .about-products-wrapper {
    margin-top: -80px; }
    .about-products-wrapper .about-product-block.swiper-slide {
      min-width: calc(33% - 10px);
      max-width: calc(33% - 10px); }
      .about-products-wrapper .about-product-block.swiper-slide .product-info {
        padding: 20px 15px;
        height: 640px; }
        .about-products-wrapper .about-product-block.swiper-slide .product-info h3 {
          font-size: 28px; }
      .about-products-wrapper .about-product-block.swiper-slide.about-phone-app .image-wrapper img:not(.b-pay-icon) {
        width: 86px; }
      .about-products-wrapper .about-product-block.swiper-slide.about-phone-app .image-wrapper.have-icon {
        padding-left: 30px; }
        .about-products-wrapper .about-product-block.swiper-slide.about-phone-app .image-wrapper.have-icon .b-pay-icon {
          width: 60px;
          bottom: 22px; }
      .about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
        width: 250px;
        margin-left: -47px; }
      .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img {
        width: 600px; }

  .loss-of-profit .flex-block .phone-image-block {
    width: 400px; }

  .briskly-components-wrapper .str-after div .s24 {
    font-size: 20px; }

  .spec-flex-wrapper {
    width: 760px; }
    .spec-flex-wrapper .flex-block {
      padding-left: 30px; }
      .spec-flex-wrapper .flex-block .icon-block {
        min-width: 100px;
        max-width: 100px; }
      .spec-flex-wrapper .flex-block p {
        font-size: 15px; }

  .about-discounts {
    margin-top: -120px; }
    .about-discounts .phone-image-block {
      width: 350px; }

  .about-security {
    padding: 100px 0 60px 0; }

  .phone-image-block {
    max-width: 100%; } }
@media screen and (min-width: 1025px) and (max-width: 1139px) {
  .main-top-info ul {
    margin-left: 40px; } }
@media screen and (min-width: 1921px) {
  .bend {
    width: 102%; }

  .main-top-slider-wrapper .main-slider-bacs .carousel-cell img {
    width: 100%; }

  .top-form-wrapper {
    background-size: 100% 100%; }

  .top-block-wrapper.scan-go-top-block {
    background-size: 100%; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .first-bend-block {
    padding: 55px 0 115px 0; }
    .first-bend-block.on-affiliate-program {
      padding: 60px 0 100px 0; }
    .first-bend-block.on-preorder-and-delivery-page .flex-wrapper:first-child {
      padding: 0 0 100px 0; }
    .first-bend-block.on-preorder-and-delivery-page .flex-wrapper .flex-block.w40 .image-wrapper {
      margin-top: 50px; }
      .first-bend-block.on-preorder-and-delivery-page .flex-wrapper .flex-block.w40 .image-wrapper img {
        margin: 0 auto;
        max-width: 100%; }
    .first-bend-block.on-preorder-and-delivery-page .image-wrapper.have-small-icon-blocks {
      max-width: 450px;
      margin: 150px auto 50px auto; }
    .first-bend-block.on-scan-go .flex-wrapper {
      padding-bottom: 40px; }
      .first-bend-block.on-scan-go .flex-wrapper .flex-block.w40 {
        padding-bottom: 80px; }
      .first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 {
        padding-left: 0; }

  .second-bend-block {
    padding: 50px 0 0 0; }
    .second-bend-block h2 {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center; }

  /*phone block start*/
  .phone-image-block {
    width: 175px; }

  /*phone block end*/
  /*main-top-block start*/
  .main-top-block .bend {
    width: 1024px; }

  .main-top-info {
    top: 120px;
    transform: none;
    width: 50%;
    left: 60px;
    margin-left: 0; }
    .main-top-info .logo {
      display: none; }
    .main-top-info h1 {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 30px; }

  .main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
    padding-top: 0;
    height: 100%;
    align-items: flex-end; }
  .main-top-slider-wrapper .slide-image-block-wrapper .caption {
    font-size: 14px; }
  .main-top-slider-wrapper .slide-image-block-wrapper.icebox-box img {
    width: 100%; }
  .main-top-slider-wrapper .phone-image-block {
    margin: 0 auto; }
  .main-top-slider-wrapper .swiper-slide {
    height: 650px; }
  .main-top-slider-wrapper .slide-image-block.icebox-box img {
    width: 260px; }
  .main-top-slider-wrapper .main-slider-bacs .swiper-slide:not(:first-child) {
    display: none; }
  .main-top-slider-wrapper .main-slider-bacs .swiper-slide img {
    max-height: 100%; }

  /*main-top-block end*/
  /*top-block start*/
  .form-block {
    margin: 30px auto 0 auto; }

  /*top-block end*/
  /*about-products start*/
  .about-products-wrapper {
    flex-wrap: wrap;
    margin-top: 20px; }
    .about-products-wrapper .about-product-block.swiper-slide {
      min-width: 100%;
      max-width: 100%;
      align-items: center;
      margin-bottom: 70px;
      flex-direction: row; }
      .about-products-wrapper .about-product-block.swiper-slide .image-wrapper {
        margin-bottom: 0; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info {
        height: auto;
        min-width: 60%;
        max-width: 60%;
        box-shadow: none;
        padding: 0 0 0 50px; }
        .about-products-wrapper .about-product-block.swiper-slide .product-info h3 {
          font-size: 28px;
          line-height: 36px;
          margin-bottom: 10px; }
        .about-products-wrapper .about-product-block.swiper-slide .product-info .text-block .s14 {
          font-size: 14px; }
        .about-products-wrapper .about-product-block.swiper-slide .product-info .btn {
          width: 280px; }
      .about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
        width: 300px;
        margin-left: 0; }
      .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img:not(.only-mobile) {
        display: none; }
      .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img.only-mobile {
        display: block;
        width: 600px; }

  /*about-products end*/
  /*briskly-components start*/
  .briskly-components-wrapper {
    padding: 50px 0 0 0; }
    .briskly-components-wrapper .briskly-components-block {
      padding: 0 0 40px 0;
      align-items: center; }
      .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper {
        min-width: 40%;
        max-width: 40%; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper {
        padding-top: 20px;
        min-width: 60%;
        max-width: 60%; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper.pl100 {
          padding-left: 40px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block {
          margin-bottom: 20px; }
          .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block .s16 {
            padding-bottom: 5px; }
          .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block p {
            font-size: 14px;
            line-height: 22px; }

  .str-after div {
    padding: 0 50px; }
    .str-after div img {
      width: 80px;
      right: 45px;
      top: 50px; }
  .str-after.on-scan-go div {
    min-width: 100%; }
    .str-after.on-scan-go div img {
      top: 20px;
      right: 20px; }

  /*briskly-components end*/
  /*about-discounts start*/
  .about-discounts.wrapper-block {
    margin-top: 50px;
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }
    .about-discounts.wrapper-block.on-main-page {
      margin-top: 50px;
      padding-bottom: 50px; }

  /*about-discounts end*/
  /*about-security start*/
  .about-security.wrapper-block {
    max-width: 100%;
    padding: 250px 60px 100px 60px;
    position: relative; }
    .about-security.wrapper-block h2, .about-security.wrapper-block h4 {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100px;
      padding-left: 60px;
      padding-right: 60px;
      box-sizing: border-box;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center; }
    .about-security.wrapper-block h2 {
      top: 50px; }
    .about-security.wrapper-block h4 {
      top: 100px; }

  /*about-security end*/ }
@media screen and (min-width: 0px) and (max-width: 767px) {
  .first-bend-block {
    padding: 55px 0 115px 0; }

  .second-bend-block {
    padding: 50px 0 0 0; }
    .second-bend-block h2 {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center; }
    .second-bend-block .wrapper-block {
      padding: 0; }

  .wrapper-block {
    width: 100%;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px; }

  .flex-wrapper {
    flex-wrap: wrap; }
    .flex-wrapper .flex-block {
      min-width: 100%;
      max-width: 100%; }
      .flex-wrapper .flex-block.w70, .flex-wrapper .flex-block.w60, .flex-wrapper .flex-block.w40 {
        min-width: 100%;
        max-width: 100%; }
      .flex-wrapper .flex-block.on-mobile-none {
        display: none; }
      .flex-wrapper .flex-block.left-position {
        padding-right: 0;
        margin-bottom: 40px; }
      .flex-wrapper .flex-block.right-position {
        padding-left: 0; }
    .flex-wrapper.mobile-reverse {
      flex-wrap: wrap-reverse; }

  .pr100 {
    padding-right: 0;
    padding-bottom: 50px; }

  /*phone block start*/
  .phone-image-block {
    width: 175px; }

  /*phone block end*/
  /*main-top-block start*/
  .main-top-block .bend {
    width: 1024px;
    left: -150px;
    transform: none; }

  .main-top-info {
    top: 100px;
    margin-left: 0;
    left: 0;
    transform: none;
    width: 100%;
    padding: 0 15px; }
    .main-top-info .logo {
      display: none; }
    .main-top-info h1 {
      font-size: 23px;
      line-height: 32px; }
    .main-top-info ul {
      margin-left: 40px; }
      .main-top-info ul li {
        font-size: 16px; }
        .main-top-info ul li:before {
          width: 22px;
          height: 19px; }
    .main-top-info .btn {
      margin: 0 auto; }

  .main-top-slider-wrapper {
    background: #f0f3f8; }
    .main-top-slider-wrapper .bend {
      top: 575px; }
    .main-top-slider-wrapper .swiper-slide {
      height: 680px; }
    .main-top-slider-wrapper .main-slider-images {
      height: 438px;
      position: relative;
      margin-top: -60px; }
      .main-top-slider-wrapper .main-slider-images .swiper-slide {
        height: auto; }
    .main-top-slider-wrapper .slide-image-block.icebox-box img {
      max-width: 100%; }
    .main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
      height: auto;
      align-items: flex-end;
      justify-content: center;
      padding-top: 0; }
    .main-top-slider-wrapper .slide-image-block-wrapper .caption {
      font-size: 14px; }
    .main-top-slider-wrapper .slide-image-block-wrapper.icebox-box img {
      width: 100%; }
    .main-top-slider-wrapper .phone-image-block {
      margin: 0 auto; }
    .main-top-slider-wrapper .main-slider-bacs .swiper-slide:not(:first-child) {
      display: none; }
    .main-top-slider-wrapper .main-slider-bacs .swiper-slide img {
      max-height: 100%; }

  /*main-top-block end*/
  /*top-block start*/
  .form-block {
    width: 100%;
    max-width: 400px;
    margin: 30px auto 0 auto;
    padding: 20px 5px 10px 5px; }
    .form-block .s18 {
      font-size: 19px;
      line-height: 27px;
      padding: 0 10px; }

  /*top-block end*/
  /*about-products start*/
  .box-sh-gray {
    box-shadow: 0px 4px 10px rgba(25, 27, 35, 0.2); }

  .about-products {
    max-width: 100%; }

  .about-products-wrapper {
    padding-bottom: 50px;
    margin-top: 30px;
    display: block; }
    .about-products-wrapper .about-product-block.swiper-slide {
      min-width: 0;
      width: calc(100% - 30px);
      max-width: 360px;
      padding: 15px 10px; }
      .about-products-wrapper .about-product-block.swiper-slide:last-child {
        width: calc(100% - 5px); }
      .about-products-wrapper .about-product-block.swiper-slide .product-info {
        padding: 30px 25px; }
        .about-products-wrapper .about-product-block.swiper-slide .product-info p.s14 {
          font-size: 14px;
          line-height: 24px; }
      .about-products-wrapper .about-product-block.swiper-slide .image-wrapper {
        height: 250px;
        margin-bottom: 50px; }
        .about-products-wrapper .about-product-block.swiper-slide .image-wrapper img {
          display: block;
          max-height: 100%;
          max-width: 100%;
          margin: 0 auto; }
        .about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon {
          padding-left: 0; }
          .about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon .b-pay-icon {
            left: 50%;
            margin-left: -100px; }
      .about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
        margin: 0 auto; }
      .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img {
        margin: auto;
        position: relative;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }

  /*briskly-components start*/
  .briskly-components-wrapper {
    padding: 50px 0 0 0; }
    .briskly-components-wrapper .briskly-components-block {
      padding: 0 0 40px 0;
      flex-wrap: wrap-reverse;
      align-items: center; }
      .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper {
        text-align: center;
        -moz-text-align-last: center;
        text-align-last: center; }
        .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper img {
          max-width: 280px; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper {
        padding-top: 0; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper.pl100 {
          padding-left: 0; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block {
          margin-bottom: 20px; }
          .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block .s16 {
            padding-bottom: 5px; }
          .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block p {
            font-size: 14px;
            line-height: 22px; }

  .str-after {
    max-width: 310px;
    margin: 0 auto 20px auto; }
    .str-after div {
      padding: 0; }
      .str-after div .s24 {
        font-size: 16px;
        line-height: 24px; }
      .str-after div img {
        width: 50px;
        right: -8px;
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg); }
    .str-after.on-scan-go {
      max-width: 280px; }
      .str-after.on-scan-go div {
        min-width: 100%; }

  /*briskly-components end*/
  /*about-discounts start*/
  .about-discounts {
    margin-top: 50px; }
    .about-discounts .phone-image-block {
      width: 175px; }
    .about-discounts .flex-wrapper .flex-block.w60 {
      padding-right: 0;
      padding-bottom: 50px; }
    .about-discounts .flex-wrapper .flex-block.align-right {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center; }
    .about-discounts.on-main-page {
      margin-top: 50px; }

  /*about-discounts end*/
  /*about-security start*/
  .about-security {
    padding: 50px 15px; }
    .about-security .flex-wrapper {
      flex-wrap: wrap-reverse; }
      .about-security .flex-wrapper .flex-block.align-center {
        margin-top: 40px; }
        .about-security .flex-wrapper .flex-block.align-center img {
          width: 175px; }

  /*about-security end*/ }
@media screen and (min-width: 0px) and (max-width: 413px) {
  .about-products-wrapper .about-product-block.swiper-slide .product-info {
    padding: 30px 20px 25px 20px; }

  .form-block-wrapper .wrapper-block {
    padding-top: 170px; } }
@media screen and (min-width: 0px) and (max-width: 359px) {
  .main-top-info h1 {
    font-size: 18px;
    line-height: 30px; }

  .about-products-wrapper .about-product-block.swiper-slide .product-info {
    height: 640px;
    padding: 20px; }

  .main-top-slider-wrapper .slide-image-block .caption {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    white-space: normal; }

  .flexible-middle-width .content-wrap {
    min-width: 100% !important; }

  .about-products-wrapper .about-product-block .product-info {
    height: 640px; }

  .first-bend-block.on-scan-go h3 {
    font-size: 20px; }

  .mobile-bottom-btns .btn {
    font-size: 11px; } }
