@charset "UTF-8";
/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }

html {
    line-height: 1; }

ol, ul {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }

q, blockquote {
    quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
    border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block; }

html {
    height: 100%; }

body {
    font-stretch: normal;
    font-weight: normal;
    min-height: 100%;
    position: relative;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #202020;
    font-family: 'Montserrat', Arial, sans-serif;
    background: #fcfcfd;
    overflow-x: hidden; }

.container {
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background: #fcfcfd; }

.wrapper-block {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto; }

.flex-wrapper {
    display: flex; }
.flex-wrapper.center-items {
    align-items: center; }
.flex-wrapper .flex-block {
    flex-grow: 1;
    min-width: 50%;
    max-width: 50%; }
.flex-wrapper .flex-block.w30 {
    min-width: 30%;
    max-width: 30%; }
.flex-wrapper .flex-block.w40 {
    min-width: 40%;
    max-width: 40%; }
.flex-wrapper .flex-block.w60 {
    min-width: 60%;
    max-width: 60%; }
.flex-wrapper .flex-block.w70 {
    min-width: 70%;
    max-width: 70%; }
.flex-wrapper .flex-block.full-width {
    min-width: 100%;
    max-width: 100%; }
.flex-wrapper .flex-block.left-position {
    padding-right: 100px; }
.flex-wrapper .flex-block.right-position {
    padding-left: 100px; }
.flex-wrapper .flex-block.vertical-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; }
.flex-wrapper .flex-block.w660 {
    min-width: 660px;
    max-width: 660px; }
.flex-wrapper .flex-block.auto-width {
    min-width: 0;
    max-width: 100%; }

.right-alignment {
    margin: auto 0 auto auto; }

.left-alignment {
    margin: auto auto auto 0; }

.white-bg {
    background: #fff; }

.dark-bg {
    background: #353439; }

.light-gray-bg {
    background: #f0f3f8; }

.beige-bg {
    background: #f4f4f4; }

h1, h2, h3, h4 {
    display: block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0; }

h1, h2 {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 35px; }

h2 {
    margin-bottom: 50px; }
h2 .s31 {
    display: block;
    font-size: 31px;
    line-height: 44px; }
h2.leaf-after {
    position: relative; }
/*h2.leaf-after:after {
    content: "";
    display: block;
    width: 25px;
    height: 33px;
    background: url(/img/leaf-icon.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -55px; } */

h3, .h3 {
    display: block;
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 35px; }

h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 35px; }

h5 {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px; }

p, .s16 {
    font-size: 16px;
    line-height: 24px; }
p.asterisk, .s16.asterisk {
    position: relative; }
p.asterisk:before, .s16.asterisk:before {
    content: "*";
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: absolute;
    left: -10px; }

.s18 {
    font-size: 18px;
    line-height: 28px; }

.s14 {
    font-size: 14px;
    line-height: 24px; }

p {
    margin-bottom: 20px; }
p:last-child {
    margin: 0; }
p.s14 {
    margin-bottom: 15px; }

.middle {
    font-weight: 500; }

.semibold {
    font-weight: 600; }

.bold {
    font-weight: 700; }

.fatter {
    font-weight: 800; }

.fattest {
    font-weight: 900; }

strong {
    font-weight: 700; }

.white-bg-br-20 {
    background: #fff; }

.br-35 {
    border-radius: 35px; }

.br-20 {
    border-radius: 20px; }

.br-10 {
    border-radius: 10px; }

.box-sh-gray {
    box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2); }

.box-sh-gray-mini {
    box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }

.pr100 {
    padding-right: 100px; }

.pl100 {
    padding-left: 100px; }

.p85 {
    padding-top: 85px;
    padding-bottom: 85px; }

a {
    text-decoration: none; }
a:hover, a.active {
    text-decoration: none; }
a.standart-green {
    color: #57D435;
    border-bottom: 1px solid #57d435;
    transition: all 200ms linear 0s; }
a.standart-green:hover, a.standart-green.active {
    border-bottom: 1px solid rgba(87, 212, 53, 0); }
a.standart-dark {
    color: #2a3c46;
    border-bottom: 1px solid rgba(153, 162, 173, 0.7);
    transition: all 200ms linear 0s; }
a.standart-dark:hover {
    color: #202020;
    border-bottom: 1px solid #202020; }
a.standart-gray {
    color: #b1b1b1;
    transition: all 200ms linear 0s; }
a.standart-gray:hover {
    color: #191B23; }
a.standart-gray.border-decor {
    border-bottom: 1px solid rgba(177, 177, 177, 0.8); }
a.standart-gray.border-decor:hover {
    border-bottom: 1px solid rgba(177, 177, 177, 0); }

.s24 {
    font-size: 24px;
    line-height: 36px; }

.fs30 {
    font-size: 30px;
    line-height: 37px; }

.fs40 {
    font-size: 40px;
    line-height: 52px; }

.fs50 {
    font-size: 50px;
    line-height: 64px; }

.fs55 {
    font-size: 55px;
    line-height: 52px; }

.m0 {
    margin: 0; }

.color-white {
    color: #fff; }

.color-black {
    color: #000; }

.color-light-gray {
    color: #99a2ad; }

.color-gray {
    color: #2a3c46; }

.color-green {
    color: #57D435; }

.align-center {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }

.align-right {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right; }

.align-left {
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left; }

.nowrap {
    white-space: nowrap; }

.h-block h1, .h-block h2, .h-block h3, .h-block h4 {
    margin-bottom: 15px; }

div, li, a, span, button, input {
    box-sizing: border-box; }

a, input, span, div, p, ul, li, :before, :after, img {
    outline: none; }

a:focus, a:visited {
    -moz-outline-style: none;
    outline: none; }

button, input {
    border: none;
    background: none;
    border-radius: 0; }

.btn {
    position: relative;
    z-index: 10;
    display: block;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transition: all 200ms linear 0s;
    padding: 0 15px; }
.btn.center-position {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
.btn.btn-small {
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 25px; }
.btn.btn-middle {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 44px; }
.btn.btn-big {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 60px; }
.btn.btn-medium {
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 14px;
    padding: 0 25px; }
.btn.btn-green {
    color: #296519;
    background: #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15); }
.btn.btn-green:hover {
    background: #93F878; }
.btn.btn-green-border {
    background: rgba(147, 248, 120, 0);
    border: 2px solid #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #fff; }
.btn.btn-green-border.btn-small {
    line-height: 32px; }
.btn.btn-green-border.btn-middle {
    line-height: 40px; }
.btn.btn-green-border.btn-big {
    line-height: 56px; }
.btn.btn-green-border.btn-medium {
    line-height: 44px; }
.btn.btn-green-border:hover {
    border: 2px solid #93F878;
    background: #93f878;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
    color: #296519; }
.btn.btn-green-border.full-green {
    color: #57D435; }
.btn.btn-green-border.full-green:hover {
    border: 2px solid #93F878;
    background: #93f878;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
    color: #296519; }
.btn.btn-gray-border {
    background: none;
    border: 2px solid #2a3c46;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #2a3c46; }
.btn.btn-black {
    background: #000;
    color: #fff; }
.btn.btn-white {
    color: #57D435;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.25);
    border: 2px solid rgba(87, 212, 53, 0); }
.btn.btn-white:hover {
    border: 2px solid #57d435; }
.btn.btn-white.btn-small {
    line-height: 32px; }
.btn.btn-white.btn-middle {
    line-height: 40px; }
.btn.btn-white.btn-big {
    line-height: 56px; }
.btn.btn-white.btn-medium {
    line-height: 44px; }
.btn.btn300 {
    width: 300px; }
.btn.btn-spec-green {
    position: relative;
    color: #fff;
    background: #9ee6a1;
    box-shadow: 0px 5px 14px rgba(158, 231, 161, 0.5), 0px 1px 6px rgba(158, 231, 161, 0.15);
    transition: all 200ms linear 0s; }
.btn.btn-spec-green:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 200ms linear 0s; }
.btn.btn-spec-green:hover, .btn.btn-spec-green .active {
    box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
.btn.btn-spec-green:hover:before, .btn.btn-spec-green .active:before {
    opacity: 1.0; }
.btn.btn-light-blue {
    position: relative;
    color: #fff;
    background: #76c6c2;
    box-shadow: 0px 5px 14px rgba(118, 198, 194, 0.5), 0px 1px 6px rgba(118, 198, 194, 0.15); }
.btn.btn-light-blue:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 200ms linear 0s; }
.btn.btn-light-blue:hover, .btn.btn-light-blue .active {
    box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
.btn.btn-light-blue:hover:before, .btn.btn-light-blue .active:before {
    opacity: 1.0; }
.btn.btn-blue {
    position: relative;
    color: #fff;
    background: #69bfbb;
    box-shadow: 0px 5px 14px rgba(105, 191, 187, 0.2), 0px 1px 6px rgba(105, 191, 187, 0.15); }
.btn.btn-blue:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 200ms linear 0s; }
.btn.btn-blue:hover, .btn.btn-blue .active {
    box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
.btn.btn-blue:hover:before, .btn.btn-blue .active:before {
    opacity: 1.0; }
.btn.btn-red {
    position: relative;
    color: #fff;
    background: #f5aa65;
    box-shadow: 0px 5px 14px rgba(245, 170, 101, 0.5), 0px 1px 6px rgba(245, 170, 101, 0.15); }
.btn.btn-red:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 200ms linear 0s; }
.btn.btn-red:hover, .btn.btn-red .active {
    box-shadow: 0px 5px 14px rgba(158, 231, 161, 0), 0px 1px 6px rgba(158, 231, 161, 0); }
.btn.btn-red:hover:before, .btn.btn-red .active:before {
    opacity: 1.0; }

* {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0; }

.green {
    color: #00d83c; }

body.h100 {
    height: 100%; }

.application-stores {
    font-size: 0;
    display: flex; }
.application-stores a {
    display: block;
    width: 200px;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0);
    transition: all 200ms linear 0s; }
.application-stores a img {
    width: 100%; }
.application-stores a.appstore {
    margin-right: 20px; }
.application-stores a:hover {
    box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.45); }
.application-stores.center-position {
    justify-content: center; }
.application-stores.center-position a {
    margin: 0 25px; }
.application-stores.center-position a.appstore {
    margin: 0 25px; }
.application-stores.on-white-bg a {
    border: 1px solid #fff; }

.container.hidden {
    overflow: hidden;
    height: 100%; }

.bend {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); }
.bend.bend-top {
    top: -2px; }
.bend.bend-bottom {
    bottom: -2px; }

.first-bend-block {
    position: relative;
    padding: 55px 0 175px 0; }
.first-bend-block.on-affiliate-program {
    padding: 100px 0 175px 0; }
.first-bend-block.on-scan-go {
    padding: 100px 0 250px 0; }
.first-bend-block.on-scan-go .flex-wrapper {
    padding-bottom: 80px; }
.first-bend-block.on-scan-go .flex-wrapper:last-child {
    padding: 0; }
.first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 {
    padding-left: 50px; }
.first-bend-block.on-scan-go h3 {
    margin-bottom: 50px; }
.first-bend-block.on-preorder-and-delivery-page .flex-wrapper:first-child {
    padding: 50px 0 0 0; }
.first-bend-block .bend {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: -2px; }
.first-bend-block .bend.special {
    z-index: 3; }

.second-bend-block {
    padding: 110px 0 100px 0; }

.loss-of-profit {
    position: relative;
    height: 1100px;
    padding-bottom: 205px;
    overflow: hidden; }
.loss-of-profit .bend {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 3;
    bottom: -1px; }
.loss-of-profit .bend.bend-top {
    position: relative;
    top: 0; }

.image-wrapper img {
    display: block; }
.image-wrapper.align-center img {
    margin: 0 auto; }

/*phone block start*/
.phone-image-block {
    position: relative;
    width: 290px; }
.phone-image-block img {
    display: block;
    width: 100%; }
.phone-image-block img.phone-frame {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2; }

/*phone block end*/
/*main-top-block start*/
.main-top-block {
    position: relative; }
.main-top-block .bend {
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 2;
    bottom: -1px; }

.main-top-slider-wrapper .carousel-cell {
    width: 100%;
    height: 800px; }
.main-top-slider-wrapper .flickity-page-dots {
    opacity: 0; }
.main-top-slider-wrapper .flickity-page-dots .dot {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 2px;
    background: rgba(153, 162, 173, 0.2);
    margin: 0 3px;
    border-radius: 0;
    transition: all 3s linear 0s; }
.main-top-slider-wrapper .flickity-page-dots .dot:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #99a2ad;
    position: absolute;
    left: 0;
    transition: all 3s linear 0s; }
.main-top-slider-wrapper .flickity-page-dots .dot.is-selected:before {
    left: 100%; }
/*.main-top-slider-wrapper .main-slider-bacs .swiper-slide:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.7);
    position: absolute;
    top: 0;
    left: 0; }*/
.main-top-slider-wrapper .main-slider-bacs .swiper-slide img {
    display: block;
    position: relative;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
.main-top-slider-wrapper .main-slider-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; }
.main-top-slider-wrapper .slide-image-block-wrapper {
    height: 100%;
    width: 100%; }
.main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
    padding-top: 156px;
    display: flex;
    justify-content: flex-end; }
.main-top-slider-wrapper .slide-image-block {
    width: 294px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative;
    z-index: 2;
    padding-bottom: 50px; }
.main-top-slider-wrapper .slide-image-block .caption {
    color: #6d818c;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
.main-top-slider-wrapper .slide-image-block.icebox-box {
    padding-bottom: 30px; }
.main-top-slider-wrapper .slide-image-block.icebox-box img {
    width: 445px;
    position: relative;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.main-top-info {
    position: absolute;
    z-index: 9;
    top: 180px;
    left: 50%;
    width: 680px;
    -moz-transform: translate(-580px, 0);
    -ms-transform: translate(-580px, 0);
    -webkit-transform: translate(-580px, 0);
    transform: translate(-580px, 0);
    color: #fff; }
.main-top-info .standart {
    color: #fff; }
.main-top-info .logo {
    margin-bottom: 20px; }
.main-top-info .logo a {
    display: block; }
.main-top-info .logo a img {
    width: 244px; }

/*main-top-block end*/
/*top-block start*/
.form-block {
    position: relative;
    z-index: 10;
    width: 400px;
    padding: 30px 30px 14px 30px;
    margin-top: 30px; }

#bx_form_iframe_19 {
    overflow: auto !important; }

.pluses-for-you-wrapper {
    margin-top: -4px; }

.pluses-for-you {
    padding-top: 55px; }
.pluses-for-you li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
.pluses-for-you li:last-child {
    margin-bottom: 0; }
.pluses-for-you li img {
    min-width: 60px;
    max-width: 60px;
    border-radius: 12px;
    margin-right: 22px; }
.pluses-for-you li img.green-shadow {
    box-shadow: 0px 6px 14px rgba(100, 236, 114, 0.25); }
.pluses-for-you li img.blue-shadow {
    box-shadow: 0px 6px 14px rgba(127, 186, 255, 0.25); }
.pluses-for-you li img.pink-shadow {
    box-shadow: 0px 6px 14px rgba(244, 126, 168, 0.25); }
.pluses-for-you.big-icons {
    padding: 0; }
.pluses-for-you.big-icons li img {
    min-width: 80px;
    max-width: 80px;
    border-radius: 20px; }

/*top-block end*/
/*about-products start*/
.about-products .swiper-container {
    overflow: visible; }

.about-products-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin-top: -180px; }
.about-products-wrapper .about-product-block.swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 360px;
    max-width: 360px; }
.about-products-wrapper .about-product-block.swiper-slide .image-wrapper {
    margin-bottom: 35px; }
.about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon {
    padding-left: 50px;
    position: relative; }
.about-products-wrapper .about-product-block.swiper-slide .image-wrapper.have-icon .b-pay-icon {
    width: 100px;
    position: absolute;
    bottom: 38px;
    left: 0; }
.about-products-wrapper .about-product-block.swiper-slide .product-info {
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 35px 35px 35px; }
.about-products-wrapper .about-product-block.swiper-slide .product-info .product-info-text {
    padding-bottom: 30px; }
.about-products-wrapper .about-product-block.swiper-slide .product-info p {
    margin-bottom: 0; }
.about-products-wrapper .about-product-block.swiper-slide .product-info h3 {
    font-size: 32px;
    margin-bottom: 20px; }
.about-products-wrapper .about-product-block.swiper-slide .product-info h3 span {
    font-size: 18px; }
.about-products-wrapper .about-product-block.swiper-slide .product-info .text-block {
    margin-bottom: 20px; }
.about-products-wrapper .about-product-block.swiper-slide .product-info .text-block:last-child {
    margin-bottom: 0; }
.about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
    margin-left: -80px; }
.about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img {
    margin-left: 25px; }
.about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img.only-mobile {
    display: none; }

/*about-products end*/
/*instagram-images start*/
.instagram-images-block {
    padding: 150px 0;
    position: relative; }
.instagram-images-block .insta-icon-bg {
    position: absolute;
    left: 75%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1; }
.instagram-images-block h3 {
    position: relative;
    z-index: 2; }

.instagram-images-wrapper {
    position: relative;
    z-index: 2; }
.instagram-images-wrapper .flickity-slider {
    margin-left: 20px; }
.instagram-images-wrapper .carousel-image {
    display: block;
    width: 180px;
    margin-right: 24px; }
.instagram-images-wrapper .carousel-image img {
    display: block;
    width: 100%;
    border-radius: 20px; }

/*instagram-images end*/
/*loss-of-profit start*/
.loss-of-profit .wrapper-block {
    padding-top: 40px;
    padding-bottom: 50px; }
.loss-of-profit .flex-block .text-block {
    margin-bottom: 90px; }
.loss-of-profit .flex-block .text-block:last-child {
    margin-bottom: 0; }
.loss-of-profit .flex-block .phone-image-block {
    width: 440px;
    margin-top: -80px; }
.loss-of-profit .flex-block .phone-image-block img:not(.phone-frame) {
    border-radius: 60px;
    /*ОБРАТИ ВНИМАНИЕ, ПОПРАВЬ КАРТИНКУ - ПРОЗРАЧНЫЕ ОТСТУПЫ ПО РАЗМЕРУ*/ }

.revenue-growth-block {
    min-height: 280px;
    padding: 45px 45px 20px 45px; }
.revenue-growth-block .carousel-cell {
    width: 100%;
    min-height: 172px; }
.revenue-growth-block .carousel-cell span {
    display: block;
    margin-bottom: 30px; }
.revenue-growth-block .flickity-enabled {
    padding-bottom: 43px; }
.revenue-growth-block .flickity-page-dots {
    line-height: 0;
    bottom: 0; }
.revenue-growth-block .flickity-page-dots .dot {
    position: relative;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 100%;
    margin: 0 13px 0 0;
    opacity: 1.0; }
.revenue-growth-block .flickity-page-dots .dot:after {
    content: "";
    width: 14px;
    height: 1px;
    background: #aaa;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -1px; }
.revenue-growth-block .flickity-page-dots .dot:last-child {
    margin: 0; }
.revenue-growth-block .flickity-page-dots .dot:last-child:after {
    display: none; }
.revenue-growth-block .flickity-page-dots .dot.is-selected {
    background: #57D435; }

/*loss-of-profit end*/
/*briskly-components start*/
.briskly-components-wrapper {
    padding: 100px 0 0 0; }

.str-after {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.str-after div {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 0 125px;
    position: relative; }
.str-after div img {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 10; }
.str-after.on-scan-go div {
    min-width: 900px; }

.briskly-components-block {
    padding: 60px 0; }
.briskly-components-block .flex-block.image-wrapper {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right; }
.briskly-components-block .flex-block.image-wrapper img {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    max-width: 100%; }
.briskly-components-block .flex-block.text-wrapper {
    padding-top: 35px; }
.briskly-components-block .flex-block.text-wrapper .text-block {
    margin-bottom: 40px; }
.briskly-components-block .flex-block.text-wrapper .text-block:last-child {
    margin-bottom: 0; }

/*briskly-components end*/
/*embedded-marketing start*/
.embedded-marketing {
    padding: 140px 0; }
.embedded-marketing.on-scan-go {
    padding: 80px 0 40px 0; }

.spec-text {
    width: 100%;
    max-width: 680px;
    margin: 0 auto 80px auto; }

.laptop-bg {
    display: flex;
    align-items: center;
    min-height: 650px;
    background: url(/img/laptop-bg.svg) bottom center no-repeat; }

.spec-flex-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
.spec-flex-wrapper .flex-block {
    min-width: 50%;
    max-width: 50%;
    padding-left: 60px;
    display: flex;
    align-items: center;
    margin: 50px 0; }
.spec-flex-wrapper .flex-block .icon-block {
    min-width: 130px;
    max-width: 130px;
    margin-right: 20px; }
.spec-flex-wrapper .flex-block .icon-block img {
    display: block;
    width: 100%;
    border-radius: 24px; }
.spec-flex-wrapper .flex-block .icon-block img.green-shadow {
    box-shadow: 0px 8px 20px rgba(112, 249, 48, 0.15); }
.spec-flex-wrapper .flex-block .icon-block img.blue-shadow {
    box-shadow: 0px 8px 20px rgba(48, 200, 249, 0.15); }
.spec-flex-wrapper .flex-block .icon-block img.pink-shadow {
    box-shadow: 0px 8px 20px rgba(249, 48, 120, 0.15); }
.spec-flex-wrapper .flex-block .icon-block img.purple-shadow {
    box-shadow: 0px 8px 20px rgba(249, 48, 229, 0.15); }
.spec-flex-wrapper .flex-block .icon-block.have-tail {
    position: relative; }
.spec-flex-wrapper .flex-block .icon-block.have-tail:before {
    display: block;
    content: "";
    width: 24px;
    height: 23px;
    background: url(/img/icons/tail.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    left: -13px;
    bottom: 0; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts.on-main-page {
    margin-top: -220px; }
.about-discounts.on-main-page h2 {
    margin-bottom: 0; }
.about-discounts.on-main-page .flex-wrapper .flex-block.w40 img {
    width: 100%;
    max-width: 320px;
    position: relative;
    z-index: 10; }
.about-discounts.on-scan-go {
    padding: 50px 0; }
.about-discounts.on-scan-go .phone-image-block {
    width: 310px; }

/*about-discounts end*/
/*about-security start*/
.about-security {
    padding: 130px 0; }
.about-security .image-wrapper {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative; }
.about-security .image-wrapper:before, .about-security .image-wrapper:after {
    content: '';
    position: absolute;
    background: #161313;
    filter: blur(24px);
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 10; }
.about-security .image-wrapper:after {
    width: 68px;
    height: 2px;
    bottom: -88px;
    visibility: hidden; }
.about-security .image-wrapper:before {
    width: 184px;
    height: 8px;
    opacity: .4;
    bottom: -85px;
    visibility: hidden; }

/*about-security end*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .wrapper-block {
        max-width: 100%;
        padding-left: 60px;
        padding-right: 60px; }

    .flex-wrapper .flex-block.left-position {
        padding-right: 50px; }
    .flex-wrapper .flex-block.right-position {
        padding-left: 50px; }

    header .header {
        max-width: 100%;
        padding-left: 60px;
        padding-right: 60px; }
    header menu ul li {
        margin-right: 30px; }
    header .tel {
        height: 50px;
        line-height: 46px;
        padding: 0 20px; }

    .main-top-info {
        width: 580px;
        padding-left: 60px;
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        left: 0; }
    .main-top-info .logo a img {
        width: 230px; }
    .main-top-info h1 {
        font-size: 36px;
        line-height: 50px; }
    .main-top-info ul.standart {
        margin-bottom: 40px; }

    .second-bend-block {
        padding: 50px 0 20px 0; }

    .about-produscts.wrapper-block {
        padding-left: 20px;
        padding-right: 20px; }

    .about-products-wrapper {
        margin-top: -80px; }
    .about-products-wrapper .about-product-block.swiper-slide {
        min-width: calc(33% - 10px);
        max-width: calc(33% - 10px); }
    .about-products-wrapper .about-product-block.swiper-slide .product-info {
        padding: 20px 15px;
        height: 640px; }
    .about-products-wrapper .about-product-block.swiper-slide .product-info h3 {
        font-size: 28px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-phone-app .image-wrapper img:not(.b-pay-icon) {
        width: 86px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-phone-app .image-wrapper.have-icon {
        padding-left: 30px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-phone-app .image-wrapper.have-icon .b-pay-icon {
        width: 60px;
        bottom: 22px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
        width: 250px;
        margin-left: -47px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img {
        width: 600px; }

    .loss-of-profit .flex-block .phone-image-block {
        width: 400px; }

    .briskly-components-wrapper .str-after div .s24 {
        font-size: 20px; }

    .about-b-pay {
        padding: 140px 0 70px 0; }

    .steps-wrapper {
        padding-left: 50px; }

    .about-terminal {
        padding: 54px 60px 100px 60px; }

    .embedded-marketing {
        padding-top: 80px; }

    .laptop-bg {
        width: 1000px;
        min-height: 530px;
        background-size: 100%;
        margin: 0 auto; }

    .spec-flex-wrapper {
        width: 760px; }
    .spec-flex-wrapper .flex-block {
        padding-left: 30px; }
    .spec-flex-wrapper .flex-block .icon-block {
        min-width: 100px;
        max-width: 100px; }
    .spec-flex-wrapper .flex-block p {
        font-size: 15px; }

    .about-discounts {
        margin-top: -120px; }
    .about-discounts .phone-image-block {
        width: 350px; }

    .about-security {
        padding: 100px 0 60px 0; }

    .food-suppliers-wrapper .full-width-block .absolute-position {
        display: none; } }
@media screen and (min-width: 1025px) and (max-width: 1139px) {
    .main-top-info ul {
        margin-left: 40px; } }
/*briskly-for-partners start*/
.str-after-wrapper {
    padding-top: 100px; }

.dots {
    height: 127px;
    width: 100%;
    background: url(/img/dots-bg.svg) top left repeat-x;
    position: absolute; }
.dots.green-dots {
    background: url(/img/dots-green-bg.svg) top left repeat; }

.standart {
    color: #000;
    margin-bottom: 50px;
    padding: 0; }
.standart li {
    display: block;
    position: relative;
    padding-left: 47px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px; }
.standart li:before {
    content: '';
    display: block;
    position: absolute;
    width: 27px;
    height: 24px;
    background: url(/img/marker-icon.svg) 0 0 no-repeat;
    background-size: contain;
    left: 0;
    top: 2px; }
.standart li:last-child {
    margin: 0; }
.standart.two-columns-view {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 130px;
    -moz-column-gap: 130px;
    column-gap: 130px; }
.standart.marker-abroad {
    margin-left: -47px; }
.standart.s24 li {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px; }
.standart.s24 li:before {
    width: 34px;
    height: 30px; }

.see-more {
    display: block;
    font-size: 18px;
    line-height: 23px;
    color: #2a3c46;
    position: relative;
    padding-left: 24px;
    transition: all 200ms linear 0s; }
.see-more:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 23px;
    background: url(/img/str-to-bottom.svg) 0 0 no-repeat;
    opacity: .2;
    left: 0;
    transition: all 200ms linear 0s; }
.see-more:hover, .see-more.active {
    color: #202020; }
.see-more:hover:before, .see-more.active:before {
    opacity: .5; }

.w660 {
    width: 100%;
    min-width: 660px;
    max-width: 660px; }
.w660.absolute-position {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-580px, 0);
    -ms-transform: translate(-580px, 0);
    -webkit-transform: translate(-580px, 0);
    transform: translate(-580px, 0);
    z-index: 2; }

/*top-block start*/
.top-block-wrapper {
    min-height: 950px;
    position: relative;
    background: url(/img/affiliate-program/top-block-bg-2.svg) top center no-repeat;
    padding: 140px 0 0 0;
    overflow: hidden; }
.top-block-wrapper .btns-block {
    margin-bottom: 60px;
    display: flex; }
.top-block-wrapper .btns-block .btn:first-child {
    margin-right: 20px; }
.top-block-wrapper.scan-go-top-block {
    min-height: 820px;
    background: url(/img/scan-go/top-block-bg.png) top center no-repeat; }
.top-block-wrapper.scan-go-top-block .bend.bend-bottom {
    position: absolute; }
.top-block-wrapper.scan-go-top-block .phone-image-block {
    z-index: 3;
    margin: auto 0 auto auto; }
.top-block-wrapper.scan-go-top-block .phone-image-block:before {
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 30px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1; }
.top-block-wrapper.scan-go-top-block .phone-image-block .icon-image {
    position: absolute;
    z-index: 3;
    width: 100px;
    border-radius: 20px;
    left: -30px;
    bottom: -50px;
    box-shadow: 0px 6px 24px rgba(218, 90, 62, 0.25); }
.top-block-wrapper.on-delivery-page {
    background-image: none;
    min-height: 750px; }
.top-block-wrapper.on-delivery-page .flex-wrapper {
    align-items: center; }
.top-block-wrapper.on-delivery-page .bend.bend-bottom {
    position: absolute;
    z-index: 1; }
.top-block-wrapper.on-delivery-page .main-image {
    position: relative;
    z-index: 2; }
.top-block-wrapper .flex-wrapper .flex-block.center-position .phone-image-block {
    margin-left: auto;
    margin-right: auto; }
.top-block-wrapper.on-tariffs-page {
    min-height: 0;
    height: auto;
    background: none; }

.img-block-responsive {
    position: relative;
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto; }
.img-block-responsive .image-wrapper {
    position: relative;
    width: 40%; }
.img-block-responsive .image-wrapper img {
    display: block;
    width: 100%;
    max-width: 700px; }
.img-block-responsive .image-wrapper img.max-height {
    max-height: 700px;
    max-width: auto;
    width: auto; }
.img-block-responsive .image-wrapper .phone-image-block {
    width: 26%;
    position: absolute;
    top: 50%;
    left: 5%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.logo-top {
    width: 178px;
    margin-bottom: 40px; }
.logo-top a {
    display: block; }
.logo-top a img {
    display: block;
    width: 100%; }

.top-menu-wrapper .open-menu {
    display: none; }

.top-menu {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    font-size: 0;
    transition: all 200ms liner 0; }
.top-menu li {
    position: relative;
    padding-right: 35px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    transition: all 200ms liner 0; }
.top-menu li a {
    display: block;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    opacity: .85;
    color: #202020;
    transition: all 200ms liner 0;
    color: #202020; }
.top-menu li a:hover {
    opacity: 1.0; }
.top-menu li ul {
    display: none;
    width: 220px;
    position: absolute;
    padding: 15px 15px;
    border: 1px solid #2a3c46;
    background: #fff;
    box-shadow: 0 0 5px 3px rgba(153, 162, 173, 0); }
.top-menu li ul li {
    display: block;
    padding: 0; }
.top-menu li ul li a {
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px dashed #2a3c46; }
.top-menu li ul li:last-child a {
    border: none; }
.top-menu li ul:hover {
    box-shadow: 0 0 3px 0px rgba(153, 162, 173, 0.8); }
.top-menu li.nested-list .nested-list-a {
    padding-right: 20px;
    position: relative; }
.top-menu li.nested-list .nested-list-a:after {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-top: 2px solid #202020;
    border-right: 2px solid #202020;
    -moz-transform: translate(0, -50%) rotate(45deg);
    -ms-transform: translate(0, -50%) rotate(45deg);
    -webkit-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    top: 50%;
    right: 0;
    transition: all 200ms liner 0; }
.top-menu li.nested-list:hover .nested-list-a:after {
    -moz-transform: translate(0, -50%) rotate(135deg);
    -ms-transform: translate(0, -50%) rotate(135deg);
    -webkit-transform: translate(0, -50%) rotate(135deg);
    transform: translate(0, -50%) rotate(135deg); }
.top-menu li.nested-list:hover ul {
    display: block; }
.top-block-wrapper h1, .top-block-wrapper h3 {
    font-weight: 400;
}
/*top-block end*/
/*top form start*/
.dots-bottom-under-div {
    margin-top: -100px;
    position: relative; }
.dots-bottom-under-div .dots {
    bottom: 0;
    z-index: 1;
    background-color: #f4f4f4; }

.top-form-wrapper {
    position: relative;
    z-index: 2;
    height: 1080px;
    background: url(/img/affiliate-program/top-form-bg.png) 0 0 no-repeat;
    display: flex;
    align-items: center; }
.top-form-wrapper .flex-block .phone-image-block {
    margin: 0 auto; }
.top-form-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
    width: 230px;
    position: absolute;
    left: 0;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 64px;
    z-index: 10; }
.top-form-wrapper .flex-block .s24 {
    display: block;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    max-width: 390px;
    margin: 20px auto 0 auto; }

/*top form end*/
/*revenue-growth-block-2 start*/
.revenue-growth-block-2 .flex-wrapper {
    justify-content: center;
    align-items: stretch; }
.revenue-growth-block-2 .flex-wrapper .flex-block {
    min-width: auto;
    max-width: auto;
    flex-grow: 0;
    padding: 20px 60px 30px 60px; }
.revenue-growth-block-2 .flex-wrapper .flex-block .text-block {
    width: 100%;
    height: 100%;
    padding: 25px 20px; }
.revenue-growth-block-2 .flex-wrapper .flex-block .text-block .standart {
    margin-bottom: 0;
    margin-top: 30px; }
.revenue-growth-block-2 .flex-wrapper .flex-block .text-block .standart li {
    font-size: 16px;
    line-height: 25px; }

/*revenue-growth-block-2 end*/
/*placements start*/
.placements-block {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex; }
.placements-block .swiper-slide {
    min-width: 290px;
    max-width: 290px;
    padding: 10px 10px 15px 10px;
    margin: 0; }
.placements-block .placements-item {
    height: 385px;
    padding: 25px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.placements-block .placements-item h5 {
    height: 48px; }
.placements-block .placements-item img {
    display: block;
    width: 150px;
    border-radius: 100%;
    margin: 0 auto 20px auto; }

/*placements end*/
/*connection-cost start*/
.connection-cost-wrapper {
    position: relative; }
.connection-cost-wrapper .wrapper-block {
    padding: 85px 0; }
.connection-cost-wrapper .wrapper-block h3 {
    margin-bottom: 60px; }
.connection-cost-wrapper .dots {
    top: 0; }
.connection-cost-wrapper .flex-wrapper {
    justify-content: space-between; }
.connection-cost-wrapper .flex-wrapper .flex-block {
    padding: 20px 25px;
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px); }
.connection-cost-wrapper .cost {
    display: block;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px; }

/*connection-cost end*/
/*about-benefit start*/
.about-benefit-wrapper {
    padding-bottom: 50px; }
.about-benefit-wrapper .about-benefit-top {
    margin-bottom: 60px; }
.about-benefit-wrapper .about-benefit-top h3 {
    margin-bottom: 10px; }
.about-benefit-wrapper .about-benefit-top .h3.color-green {
    margin-bottom: 0; }
.about-benefit-wrapper .flex-wrapper {
    margin-bottom: 30px; }
.about-benefit-wrapper .flex-wrapper:last-child {
    margin-bottom: 0; }
.about-benefit-wrapper .flex-wrapper .flex-block {
    min-width: auto;
    max-width: 100%;
    overflow: hidden;
    position: relative; }
.about-benefit-wrapper .flex-wrapper .flex-block.narrow-block {
    min-width: 400px;
    max-width: 400px;
    margin-right: 60px; }
.about-benefit-wrapper .flex-wrapper .flex-block img {
    display: block;
    width: 100%; }
.about-benefit-wrapper .flex-wrapper .flex-block h3 {
    line-height: 34px; }
.about-benefit-wrapper .flex-wrapper .flex-block .fs50 {
    line-height: 50px; }
.about-benefit-wrapper .flex-wrapper .flex-block .h3, .about-benefit-wrapper .flex-wrapper .flex-block .fs50, .about-benefit-wrapper .flex-wrapper .flex-block .btn {
    position: absolute;
    bottom: 20px;
    margin: 0; }
.about-benefit-wrapper .text-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 555px;
    height: 100%;
    padding: 20px 20px 90px 20px; }
.about-benefit-wrapper .text-block.green-bg {
    background: linear-gradient(180deg, rgba(95, 218, 62, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(0deg, rgba(95, 218, 62, 0.5), rgba(95, 218, 62, 0.5)), url(image.png); }

/*about-benefit end*/
/*about-commission start*/
.about-commission .wrapper-block {
    padding-top: 100px;
    padding-bottom: 100px; }

/*about-commission end*/
/*connection-steps start*/
.connection-steps-wrapper {
    padding-top: 100px;
    padding-bottom: 50px; }

.connection-steps {
    padding: 50px 0;
    display: flex;
    justify-content: space-between; }
.connection-steps .step-item {
    min-width: 30%;
    max-width: 30%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.connection-steps .step-item h4 {
    line-height: 32px; }
.connection-steps .step-item img {
    display: block;
    width: 180px;
    border-radius: 40px;
    margin: 0 auto 50px auto; }
.connection-steps .step-item img.green-shadow {
    box-shadow: 0px 6px 24px rgba(95, 218, 62, 0.25); }
.connection-steps .step-item img.blue-shadow {
    box-shadow: 0px 6px 24px rgba(76, 162, 242, 0.25); }
.connection-steps .step-item img.purple-shadow {
    box-shadow: 0px 6px 24px rgba(169, 76, 242, 0.25); }

/*connection-steps end*/
/*for-partners start*/
.for-partners .wrapper-block {
    padding-top: 50px;
    padding-bottom: 50px; }
.for-partners .wrapper-block h3 {
    margin-bottom: 60px; }
.for-partners .wrapper-block .standart {
    margin-bottom: 0; }

/*for-partners end*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .wrapper-block {
        max-width: 100%;
        padding-left: 60px;
        padding-right: 60px; }

    .w660 {
        min-width: 580px;
        max-width: 580px;
        padding: 0; }
    .w660.absolute-position {
        left: 60px;
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
    .w660.absolute-position .btn.btn300 {
        width: 250px; }

    .top-form-wrapper .flex-block.left-position h3 {
        font-size: 30px;
        line-height: 40px; }
    .top-form-wrapper .flex-block .phone-image-block {
        margin: auto; }
    .top-form-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
        width: 180px; }

    .img-block-responsive {
        padding-top: 80px;
        padding-right: 0; }
    .img-block-responsive .image-wrapper {
        padding: 0 15px; }
    .img-block-responsive .image-wrapper img.max-height {
        width: 100%;
        height: auto; }

    .placements-wrapper.swiper-container {
        max-width: 100%;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px; }

    .placements-block .placements-item {
        padding: 25px 10px; }
    .placements-block .swiper-slide {
        min-width: 25%;
        max-width: 25%;
        margin: 0;
        padding: 25px 10px; }

    .about-commission .wrapper-block .standart {
        margin-left: 0; }

    .connection-steps .step-item h4 {
        font-size: 20px; }

    .standart.two-columns-view {
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px; }

    .revenue-growth-block-2 .flex-wrapper .flex-block {
        padding: 20px; } }
@media screen and (min-width: 1025px) and (max-width: 1139px) {
    .placements-block .swiper-slide .text-block p {
        font-size: 15px; } }
/*briskly-for-partners end*/
@media screen and (min-width: 1921px) {
    .bend {
        width: 102%; }

    .main-top-slider-wrapper .main-slider-bacs .carousel-cell img {
        width: 100%; }

    .top-form-wrapper {
        background-size: 100% 100%; }

    .top-block-wrapper.scan-go-top-block {
        background-size: 100%; } }
/*micromarket start*/
.top-block-left-spec-bg {
/*    background: url(/img/top-spec-bg.png) top center no-repeat;*/
}

.flex-wrapper-two-parts {
    display: flex; }
.flex-wrapper-two-parts .flex-block {
    min-width: 50%;
    max-width: 50%; }
.flex-wrapper-two-parts.for-whom .flex-block {
    padding-bottom: 85px;
    overflow: hidden; }

/*form-block start*/
.form-block-wrapper {
    position: relative;
    height: 1510px;
    /*background: url(/img/dark-bend-bg.svg) top center no-repeat;*/
    background: url(/img/micro-market/dark-bend-bg-2.png) top center no-repeat;
    margin-top: -220px;
    z-index: 1; }
.form-block-wrapper .dots {
    height: 128px;
    bottom: 240px;
    left: 0;
    z-index: 1; }
.form-block-wrapper .wrapper-block {
    padding-top: 280px; }
.form-block-wrapper .flex-wrapper-two-parts {
    flex-wrap: wrap;
    justify-content: space-between; }
.form-block-wrapper .flex-wrapper-two-parts .flex-block {
    min-width: 520px;
    max-width: 520px; }
.form-block-wrapper .flex-wrapper-two-parts .flex-block.full-width {
    min-width: 100%;
    max-width: 100%; }
.form-block-wrapper .fs24 {
    margin-bottom: 30px; }

.form-block-wrapper-special-bg {
    width: 100%;
    height: 100%;
    /*background: url(/img/greens-bg.png) top center no-repeat;*/
    background: url(/img/micro-market/greens-bg-new-4.png) top center no-repeat;
    position: relative;
    z-index: 2; }
.form-block-wrapper-special-bg .flex-wrapper {
    flex-wrap: wrap; }
.form-block-wrapper-special-bg .flex-wrapper .flex-block.full-width {
    margin-top: 20px; }
.form-block-wrapper-special-bg .flex-wrapper .flex-block .image-wrapper img {
    max-height: 700px; }

.video-block {
    position: relative;
    width: 600px;
    top: -60px; }
.video-block img:not(.video-icon) {
    width: 100%; }
.video-block .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: all 200ms linear 0s; }
.video-block a {
    display: block; }
.video-block a:hover .video-icon {
    opacity: .7; }

.form-block.on-micromarket-page {
    width: 100%;
    padding: 0;
    font-size: 0; }
.form-block.on-micromarket-page .input-wrapper {
    padding-bottom: 16px; }
.form-block.on-micromarket-page .input-wrapper.half-width {
    width: calc(50% - 8px);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1; }
.form-block.on-micromarket-page .input-wrapper.mr16 {
    margin-right: 16px; }
.form-block.on-micromarket-page .btn {
    margin: 30px auto 0 auto; }

input.input-standart {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #fff;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 18px;
    font-family: 'Montserrat', Arial, sans-serif; }

/*form-block end*/
.for-whom-wrapper {
    padding-top: 60px; }
.for-whom-wrapper h2 {
    margin-bottom: 50px; }

.for-whom .flex-block.for-image {
    padding-right: 60px;
    position: relative; }
.for-whom .flex-block.for-image img {
    position: relative;
    z-index: 2;
    float: right; }
.for-whom .flex-block.for-image .green-dots {
    width: 200%;
    bottom: -35px;
    right: 220px;
    z-index: 1; }
.for-whom .icon-image {
    display: block;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    border-radius: 25px;
    width: 125px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12); }
.for-whom .icon-image img {
    display: block;
    width: 100%; }
.for-whom .for-whom-block {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.for-whom .for-whom-block .icon-text-item {
    margin-bottom: 50px; }
.for-whom .for-whom-block .flex-block {
    padding-bottom: 85px; }
.for-whom .icon-text-item {
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    align-items: flex-start;
    display: flex; }
.for-whom .icon-text-item .icon-image {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    min-width: 96px;
    max-width: 96px;
    transition: all 200ms linear 0s; }
.for-whom .icon-text-item h4 {
    margin-bottom: 8px; }
.for-whom .icon-text-item .icon-text {
    flex-grow: 1;
    padding-left: 50px; }
.for-whom .icon-text-item .icon-text p {
    font-size: 14px;
    line-height: 22px; }
.for-whom .icon-text-item:hover .icon-image {
    box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.5); }

/*places-of-use start*/
.places-of-use {
    /*padding-top: 110px;*/ }
.places-of-use h2 {
    margin-bottom: 50px; }

.food-types {
    display: flex;
    justify-content: space-between; }
.food-types li {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.food-types li img {
    display: block;
    margin: 0 auto 20px auto;
    width: 82px; }
.food-types li span {
    display: block;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600; }

.food-icons-active {
    display: flex;
    justify-content: flex-start; }
.food-icons-active .food-icon {
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    display: block;
    margin-right: 30px;
    position: relative; }
.food-icons-active .food-icon:last-child {
    margin-right: 0; }
.food-icons-active .food-icon:before, .food-icons-active .food-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.food-icons-active .food-icon:after {
    opacity: 0; }
.food-icons-active .food-icon.salad:before {
    background: url(/img/micro-market/food-icons/salad.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.salad:after {
    background: url(/img/micro-market/food-icons/salad-white.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.sandwich:before {
    background: url(/img/micro-market/food-icons/sandwich.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.sandwich:after {
    background: url(/img/micro-market/food-icons/sandwich-white.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.freezing:before {
    background: url(/img/micro-market/food-icons/freezing.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.freezing:after {
    background: url(/img/micro-market/food-icons/freezing-white.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.snacks:before {
    background: url(/img/micro-market/food-icons/snacks.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.snacks:after {
    background: url(/img/micro-market/food-icons/snacks-white.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.non-food:before {
    background: url(/img/micro-market/food-icons/non-food.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.non-food:after {
    background: url(/img/micro-market/food-icons/non-food-white.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.coffee:before {
    background: url(/img/micro-market/food-icons/coffee.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active .food-icon.coffee:after {
    background: url(/img/micro-market/food-icons/coffee-white.svg) 0 0 no-repeat;
    background-size: contain; }
.food-icons-active:hover .food-icon:before {
    opacity: 0; }
.food-icons-active:hover .food-icon:after {
    opacity: 1.0; }

.places-carousel.swiper-container {
    margin-bottom: 80px; }
.places-carousel.swiper-container .swiper-slide {
    padding: 20px 20px 30px 20px;
    width: 580px;
    height: 427px; }

.place-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2); }
.place-item img {
    display: block;
    width: 100%;
    height: 100%; }
.place-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
.place-item .place-item-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #4acb27 0%, rgba(8, 199, 146, 0.25) 100%);
    padding: 40px 20px; }
.place-item .place-item-info span {
    font-size: 35px;
    height: 43px;
    color: #fff;
    font-weight: 700;
    position: relative;
    z-index: 2; }
.place-item .place-item-info:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(74, 203, 39, 0.5), rgba(74, 203, 39, 0.5));
    z-index: 1; }
.place-item .food-icons-active {
    z-index: 2; }
.place-item .food-icons-active .food-icon:before {
    opacity: 0; }
.place-item .food-icons-active .food-icon:after {
    opacity: 1.0; }

.icebox-work-steps-wrapper {
    padding: 50px 0; }

.icebox-work-steps-block {
    width: 100%;
    display: flex;
    justify-content: space-between; }
.icebox-work-steps-block .work-step-block {
    min-width: 33.3%;
    max-width: 33.3%;
    padding: 0 10px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.icebox-work-steps-block .work-step-block img {
    display: block;
    width: 270px;
    margin: 60px auto; }

/*places-of-use end*/
/*food-suppliers start*/
.food-suppliers-wrapper {
    padding: 80px 0; }
.food-suppliers-wrapper .h-block h2 br {
    display: none; }
.food-suppliers-wrapper .full-width-block {
    padding-top: 80px;
    width: 100%;
    overflow: hidden;
    position: relative; }
.food-suppliers-wrapper .full-width-block .absolute-position {
    position: absolute;
    right: 50%;
    bottom: 40px;
    margin-right: 500px;
    max-height: 100%; }
.food-suppliers-wrapper .full-width-block .dots {
    right: 50%;
    margin-right: 300px;
    bottom: 50px; }

.food-suppliers-carousel .swiper-slide {
    width: 340px;
    height: 430px;
    padding: 20px 20px 30px 20px; }

.supplier-card {
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15);
    border-radius: 10px;
    padding: 35px 30px; }
.supplier-card .logo-block {
    display: block;
    margin: 0 auto 15px auto; }
.supplier-card .logo-block img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
.supplier-card .supplier-name {
    height: 85px;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left; }
.supplier-card .supplier-name h4 {
    line-height: 28px;
    margin: 0; }
.supplier-card p {
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left; }

/*food-suppliers end*/
/*offers-block start*/
.offers-wrapper {
    position: relative;
    padding: 50px 0 0 0; }
.offers-wrapper h2 {
    margin-bottom: 50px; }
.offers-wrapper .absolute-position {
    display: none;
    width: 240px;
    position: absolute; }
.offers-wrapper .absolute-position.left-img {
    top: 0;
    right: 50%;
    margin-right: 670px; }
.offers-wrapper .absolute-position.right-img {
    left: 50%;
    bottom: 0;
    margin-left: 670px;
    margin-bottom: 120px;
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%); }

.offer-blocks-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
.offer-blocks-wrapper .offer-block {
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    min-height: 400px;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2);
    padding: 30px;
    transition: all 200ms liner 0s; }
.offer-blocks-wrapper .offer-block p {
    margin-bottom: 20px; }
.offer-blocks-wrapper .offer-block p:last-child {
    margin-bottom: 0; }
.offer-blocks-wrapper .offer-block:hover {
    box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.5); }

/*offers-block end*/
/*markets-in-numbers start*/
.markets-in-num-wrapper {
    position: relative;
    overflow-x: hidden;
    background: url(/img/micro-market/micromarket-bg.jpg) top center no-repeat;
    min-height: 1570px;
    padding-top: 250px; }
.markets-in-num-wrapper .have-questions {
    margin-top: 110px;
    padding: 0; }

.about-nums {
    justify-content: space-between; }
.about-nums.flex-wrapper .flex-block {
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; }

.about-nums-block {
    width: 100%;
    border: 1px solid #57D435;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 40px;
    color: #fff; }
.about-nums-block:last-child {
    margin-bottom: 0; }
.about-nums-block h4 {
    margin-bottom: 10px; }
.about-nums-block p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px; }

.have-questions h2 {
    margin-bottom: 30px; }

/*markets-in-numbers end*/
/*green-dots-decoration start*/
.green-dots-decoration {
    position: relative; }
.green-dots-decoration:before, .green-dots-decoration:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(/img/dots-green-bg.svg) 0 0 repeat; }
.green-dots-decoration:before {
    right: 100%; }
.green-dots-decoration:after {
    left: 100%; }

/*green-dots-decoration end*/
/*installation-options start*/
.installation-options-wrapper h2 {
    margin-bottom: 50px; }
.installation-options-wrapper .wrapper-block {
    padding: 120px 0; }

.installation-options-carousel .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
.installation-options-carousel .swiper-slide {
    height: auto;
    min-width: calc(33% - 20px);
    max-width: calc(33% - 20px); }
.installation-options-carousel:not(:last-child) {
    margin-bottom: 100px; }

.installation-type-wrapper {
    position: relative;
    height: 100%;
    padding: 32px 2px 2px 2px;
    border-radius: 10px; }
.installation-type-wrapper.spec-type {
    background: #ccd3dd;
    box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }
.installation-type-wrapper.spec-type .popular {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 16px;
    line-height: 32px;
    color: #6d818c;
    font-weight: 700; }

.installation-type {
    position: relative;
    height: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    background: #fff;
    border-radius: 10px;
    padding: 30px 25px 170px 25px; }
.installation-type p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 12px 0; }
.installation-type .price {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    position: absolute;
    left: 0;
    bottom: 30px; }
.installation-type .price .btn {
    margin-top: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 240px; }
.installation-type .price .service-cost {
    display: block; }
.installation-type .img-block {
    margin-bottom: 20px; }
.installation-type .img-block img {
    margin: 0 auto;
    width: 100%;
    max-width: 230px; }
.installation-type .installation-type-text h4 {
    margin-bottom: 15px;
    line-height: 30px; }

/*installation-options end*/
/*gallery start*/
.gallery-wrapper {
    padding: 0 0 100px 0; }
.gallery-wrapper .swiper-container {
    padding-left: 50px; }
.gallery-wrapper .swiper-container .swiper-slide {
    width: 250px; }
.gallery-wrapper .swiper-container .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 20px; }

/*gallery end*/
@media screen and (min-width: 1921px) {
    .top-block-wrapper {
        background-size: 100%; }

    .img-block-responsive {
        max-width: 1920px;
        margin: 0 auto; }

    .top-block-left-spec-bg {
        background-size: 100%; }

    .form-block-wrapper {
        background-size: 100% 100%; }

    .white-beng-bg-mini {
        background-size: 100%; }

    .markets-in-num-wrapper {
        background-size: 100% 100%; }

    .map-block-wrapper .map-bend-top {
        top: -1px;
        width: 100%; }

    .map-block-wrapper .map-bend-bottom {
        bottom: -1px;
        width: 100%; }

    .bottom-dark-wrapper {
        background-size: 100%;
        position: relative; }
    .bottom-dark-wrapper:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -2px;
        background: #353439; }

    .dop-bottom-bg {
        background-position: center right; } }
/*micromarket end*/
/*scan-go start*/
/*scan-go-work start*/
.scan-go-work .wrapper-block {
    padding: 50px 0; }

.video-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 50px auto; }
.video-wrapper .video-block {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    border-radius: 25px;
    overflow: hidden;
    top: 0; }
.video-wrapper .video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.to-video {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 10px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 250px;
    height: 210px;
    border-radius: 100%;
    /*padding: 45px 0 0 0;
    background: $color-btn-green;
    box-shadow: -8px 1px 14px rgba(119, 234, 88, 0.25), 5px 5px 14px rgba(95, 218, 62, 0.5);*/ }
.to-video a {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 45px 0 0 0;
    background: #77ea58;
    box-shadow: -8px 1px 14px rgba(119, 234, 88, 0.25), 5px 5px 14px rgba(95, 218, 62, 0.5); }
.to-video a span {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #296519;
    margin-bottom: 10px; }
.to-video a img {
    margin: 0 auto;
    width: 33px; }

.image-wrapper.have-small-icon-blocks {
    position: relative; }
.image-wrapper.have-small-icon-blocks .main-image {
    max-width: 100%;
    margin: 0 auto; }

.small-icon-block {
    position: absolute;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 3px 25px rgba(119, 234, 88, 0.5);
    border-radius: 20px;
    padding: 0 15px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.small-icon-block.azs {
    top: 0;
    left: 70px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
.small-icon-block.sup-m {
    top: 50%;
    right: -30px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
.small-icon-block.micro-m {
    left: 10px;
    bottom: -30px; }
.small-icon-block ima {
    display: block;
    height: 55px;
    margin: 0 auto 15px auto; }
.small-icon-block span {
    display: block;
    font-size: 12px;
    line-height: 17px; }
.small-icon-block span.t-up {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 5px; }
.small-icon-block.bac-green {
    background: #64ec72;
    color: #fff; }

/*scan-go-work end*/
/*questions start*/
.questions-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto; }
.questions-wrapper .question-block {
    position: relative;
    padding: 22px 45px;
    border-radius: 35px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 200ms linear 0s;
    cursor: pointer; }
.questions-wrapper .question-block:last-child {
    margin: 0; }
.questions-wrapper .question-block:before {
    position: absolute;
    display: block;
    content: "";
    width: 36px;
    height: 36px;
    background: #84e46b;
    border-radius: 100%;
    right: 34px;
    top: 17px;
    transition: all 200ms linear 0s;
    opacity: 0; }
.questions-wrapper .question-block:after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background: url(/img/arrow-right-black.svg) 0 0 no-repeat;
    background-size: cover;
    right: 44px;
    top: 27px;
    transition: all 200ms linear 0s; }
.questions-wrapper .question-block span {
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    padding-right: 30px; }
.questions-wrapper .question-block .text {
    display: none;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 30px; }
.questions-wrapper .question-block .text ul {
    margin-left: 0; }
.questions-wrapper .question-block .text ul li {
    font-size: 16px;
    line-height: 26px; }
.questions-wrapper .question-block:hover {
    box-shadow: 0 0 3px 0 rgba(74, 203, 39, 0.8); }
.questions-wrapper .question-block:hover:before {
    opacity: 1.0; }
.questions-wrapper .question-block:hover:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
.questions-wrapper .question-block.opened:after {
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }

/*questions end*/
/*video-block start*/
/*video-block end*/
/*like-cashbox start*/
/*like-cashbox end*/
/*about-delivery start*/
.about-delivery {
    position: relative;
    padding-top: 50px; }
.about-delivery .absolute-position {
    position: absolute;
    left: -50px;
    top: -30px;
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
.about-delivery .flex-wrapper {
    padding-bottom: 80px; }
.about-delivery .flex-wrapper .flex-block.right-position {
    padding-left: 80px; }
.about-delivery .about-delivery-top-block .text-block {
    width: 480px;
    padding-bottom: 50px; }
.about-delivery .about-delivery-top-block .text-block:last-child {
    padding-bottom: 0; }
.about-delivery .about-delivery-top-block .text-block p {
    font-size: 18px;
    margin-bottom: 35px; }
.about-delivery .about-delivery-top-block .text-block p:last-child {
    margin-bottom: 0; }
.about-delivery .about-delivery-top-block .image-wrapper img {
    margin-left: -40px; }
.about-delivery .about-delivery-top-block .image-wrapper img.ml40 {
    margin-left: 40px; }
.about-delivery .about-delivery-block img {
    display: block;
    width: 130px;
    border-radius: 30px;
    margin: 0 auto 50px auto; }
.about-delivery .about-delivery-block span {
    display: block;
    margin-bottom: 35px; }
.about-delivery .our-delivery-service {
    padding-bottom: 50px;
    align-items: flex-end;
    justify-content: center; }
.about-delivery .our-delivery-service ul {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
.about-delivery .our-delivery-service ul li img {
    display: block;
    height: 40px;
    margin-bottom: 25px; }
.about-delivery .our-delivery-service ul li img.mts-logo {
    margin-top: 5px;
    height: 35px; }
.about-delivery .our-delivery-service p {
    font-size: 18px;
    margin: 0;
    padding-bottom: 25px;
    font-weight: 500; }
.about-delivery .our-delivery-service p:last-child {
    margin: 0; }

/*about-delivery end*/
/*included-in-price start*/
.included-in-price .image-wrapper img {
    width: 100%;
    max-width: 425px;
    margin: auto 0 auto auto; }
.included-in-price .flex-wrapper {
    padding: 50px 0 150px 0; }

.flex-table-view {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 150px 0; }
.flex-table-view .table-tr {
    display: flex;
    align-items: center; }
.flex-table-view .table-tr .table-cell {
    padding: 0 20px;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    font-size: 24px; }
.flex-table-view .table-tr .table-cell .logos-block {
    display: flex;
    padding-right: 20px;
    margin-right: 30px; }
.flex-table-view .table-tr .table-cell .logos-block img {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    margin-right: -20px; }

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .form-block-wrapper {
        margin-top: -260px; }
    .form-block-wrapper .flex-block h4 {
        font-size: 20px; }
    .form-block-wrapper .video-block {
        width: 100%;
        top: 0; }

    .for-image.left-position img {
        right: 0; }

    .for-whom .for-whom-block {
        padding: 0; }
    .for-whom .flex-block.for-image {
        padding-right: 30px; }

    .scan-go-work .wrapper-block {
        padding: 50px 60px; }
    .scan-go-work .wrapper-block .like-cashbox {
        padding: 130px 60px 60px 60px; }

    .like-cashbox .image-wrapper .main-image {
        max-width: 100%; }

    .about-discounts.on-scan-go {
        padding: 50px 60px; }

    .top-block-wrapper.scan-go-top-block .phone-image-block {
        width: 250px; }

    .first-bend-block.on-scan-go .form-block {
        width: 100%;
        padding: 30px 15px 14px 15px; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 {
        padding-left: 100px; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 h3 {
        font-size: 28px;
        line-height: 36px; }

    .about-delivery .about-delivery-top-block .image-wrapper img {
        margin-left: 0; }

    .flex-table-view .table-tr .table-cell .logos-block {
        margin-right: 15px; }

    .installation-options-carousel .swiper-slide {
        min-width: calc(33% - 10px);
        max-width: calc(33% - 10px); }
    .installation-options-carousel .swiper-slide .installation-type {
        padding: 45px 10px 200px 10px; } }
/*scan-go end*/
/*preorder-and-delivery start*/
.preorder-process {
    padding: 50px 0; }
.preorder-process .flex-wrapper {
    padding: 50px 0; }
.preorder-process .image-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end; }
.preorder-process .image-wrapper .image-wrapper-left {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 0 30px; }
.preorder-process .image-wrapper .image-wrapper-left img {
    display: block;
    width: 245px;
    margin: 0 auto 30px auto; }
.preorder-process .image-wrapper .image-wrapper-left a {
    line-height: 24px; }
.preorder-process .image-wrapper .image-wrapper-right {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.preorder-process .image-wrapper .image-wrapper-right .b-pay {
    display: block;
    width: 96px;
    margin: 0 auto 15px auto; }
.preorder-process .image-wrapper .image-wrapper-right p {
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
    margin: 0; }
.preorder-process .image-wrapper .application-stores {
    padding-top: 15px;
    display: block; }
.preorder-process .image-wrapper .application-stores a {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 20px auto 0 auto;
    width: 178px; }
.preorder-process .image-wrapper .application-stores a img {
    width: 100%; }
.preorder-process .special-decor li .big-text {
    font-weight: 500; }

.special-decor {
    counter-reset: point; }
.special-decor li {
    height: 78px;
    position: relative;
    padding-top: 22px;
    margin-bottom: 30px; }
.special-decor li .big-text {
    display: block;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    z-index: 3;
    cursor: default; }
.special-decor li:before, .special-decor li:after {
    position: absolute;
    display: block;
    content: "";
    display: block;
    content: counter(point);
    font-size: 78px;
    position: absolute;
    left: -30px;
    top: 0px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    width: 50px;
    height: 78px;
    line-height: 78px;
    color: #fff;
    font-weight: 700;
    transition: all 200ms linear 0s; }
.special-decor li:before {
    counter-increment: point 1;
    text-shadow: 0 0 2px #505050;
    z-index: 2; }
.special-decor li:after {
    text-shadow: 0 0 3px rgba(98, 193, 73, 0);
    z-index: 1; }
.special-decor li:hover:before {
    text-shadow: 0 0 2px #25a100; }
.special-decor li:hover:after {
    text-shadow: 0 0 3px #25a100; }

.delivery-options-wrapper {
    padding-top: 100px; }

.delivery-options-block {
    max-width: 800px;
    margin: 0 auto; }
.delivery-options-block .option-item {
    width: 100%;
    position: relative;
    height: 115px;
    border-radius: 115px;
    background: #fff;
    padding: 0 45px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.delivery-options-block .option-item:last-child {
    margin-bottom: 50px; }
.delivery-options-block .option-item img {
    min-width: 200px;
    max-width: 200px;
    margin-left: 10px; }
.delivery-options-block .option-item span {
    font-size: 18px;
    line-height: 26px;
    flex-grow: 1;
    padding-left: 10px; }

.checker-screens-wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
.checker-screens-wrapper .flex-wrapper .flex-block.w60 {
    padding-right: 50px; }
.checker-screens-wrapper .swiper-container {
    width: 370px;
    padding: 0 40px; }
.checker-screens-wrapper .swiper-container .swiper-button-prev, .checker-screens-wrapper .swiper-container .swiper-button-next {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #fff;
    top: 50%;
    margin-top: -17px;
    opacity: 0;
    transition: all 200ms linear 0s; }
.checker-screens-wrapper .swiper-container .swiper-button-prev.swiper-button-disabled, .checker-screens-wrapper .swiper-container .swiper-button-next.swiper-button-disabled {
    opacity: 0; }
.checker-screens-wrapper .swiper-container .swiper-button-prev {
    transform: rotate(180deg);
    left: 0; }
.checker-screens-wrapper .swiper-container .swiper-button-next {
    right: 0; }
.checker-screens-wrapper .swiper-container:hover .swiper-button-prev, .checker-screens-wrapper .swiper-container:hover .swiper-button-next {
    transition: all 200ms linear 0s;
    opacity: 1.0; }
.checker-screens-wrapper .swiper-container:hover .swiper-button-prev.swiper-button-disabled, .checker-screens-wrapper .swiper-container:hover .swiper-button-next.swiper-button-disabled {
    opacity: 0; }
.checker-screens-wrapper .standart {
    margin-bottom: 0; }

.preorder-block {
    padding-top: 100px; }
.preorder-block .bottom-position {
    margin-bottom: 0;
    margin-top: 100px; }

.horizontal-special-decor-list .special-decor {
    padding: 100px 0;
    display: flex; }
.horizontal-special-decor-list .special-decor li {
    height: auto;
    min-width: 33%;
    max-width: 33%;
    /*padding: 0 45px;*/
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.horizontal-special-decor-list .special-decor li:after {
    display: none; }
.horizontal-special-decor-list .special-decor li:before {
    position: initial;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    color: #f0f3f8;
    margin-right: -28px; }
.horizontal-special-decor-list .special-decor li h4 {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    line-height: 78px;
    margin-bottom: 10px; }
.horizontal-special-decor-list .special-decor li p {
    padding: 0 45px; }
.horizontal-special-decor-list .special-decor li img {
    width: 90%;
    max-width: 325px;
    margin: 30px auto; }
.horizontal-special-decor-list .special-decor li div {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.delivery-options-wrapper h3 br {
    display: none; }

.delivery-organization {
    display: flex;
    padding: 50px 0; }
.delivery-organization li {
    min-width: 33.3%;
    max-width: 33.3%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.delivery-organization li img {
    width: 180px;
    border-radius: 40px;
    margin-bottom: 40px; }

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .special-decor {
        padding-left: 50px; }

    .horizontal-special-decor-list .special-decor li {
        padding: 0 20px; }
    .horizontal-special-decor-list .special-decor li p {
        padding: 0; }
    .horizontal-special-decor-list .special-decor li h4 {
        font-size: 22px; }

    .preorder-process .image-wrapper .image-wrapper-left img {
        width: 220px; } }
@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .top-block-wrapper.on-delivery-page .main-image {
        max-width: 100%; } }
/*preorder-and-delivery end*/
/*tariffs-page start*/
.top-block-wrapper.on-tariffs-page p {
    font-size: 18px; }

.table-wrapper {
    position: relative;
    padding: 30px 0 140px 0; }
.table-wrapper.dop-pad-top {
    padding-top: 100px; }
.table-wrapper.dop-pad-top2 {
    padding-top: 190px; }
.table-wrapper .two-fingers {
    display: none; }
.table-wrapper .tr-block {
    width: 100%;
    display: flex; }
.table-wrapper .tr-block .td-block {
    display: inline-flex;
    align-items: center;
    padding: 12px;
    flex-grow: 1; }
.table-wrapper .tr-block .td-block:not(.first-td-block) {
    min-width: 215px;
    max-width: 215px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.table-wrapper .tr-block .td-block:not(.first-td-block) span {
    display: block;
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.table-wrapper .tr-block .td-block.first-td-block {
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left; }
.table-wrapper .tr-block .td-block span {
    font-size: 16px;
    line-height: 24px;
    color: #5f6268; }
.table-wrapper .tr-block .td-block span.price {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700; }
.table-wrapper .tr-block .td-block span.have-icon:after {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    border-radius: 100%;
    content: "i";
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: #dee1e5;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700; }
.table-wrapper .tr-block .td-block .have-explanatory-note-block {
    width: 100%;
    position: relative; }
.table-wrapper .tr-block .td-block .have-explanatory-note-block .explanatory-note-block {
    position: absolute;
    height: 0;
    top: calc(100% + 20px);
    width: 100%;
    z-index: 2;
    /*opacity: 0;*/
    transition: all 200ms linear 0s; }
.table-wrapper .tr-block .td-block .have-explanatory-note-block .explanatory-note-block:before, .table-wrapper .tr-block .td-block .have-explanatory-note-block .explanatory-note-block:after {
    position: absolute;
    top: -10px;
    left: 35px;
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    transition: all 200ms linear 0s; }
.table-wrapper .tr-block .td-block .have-explanatory-note-block .explanatory-note-block:before {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 2; }
.table-wrapper .tr-block .td-block .have-explanatory-note-block .explanatory-note-block:after {
    z-index: 4; }
.table-wrapper .tr-block .td-block .have-explanatory-note-block .explanatory-note-block .explanatory-note-block-text {
    position: relative;
    z-index: 3;
    height: 0;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 15px;
    transition: all 200ms linear 0s;
    opacity: 0;
    overflow: hidden; }
.table-wrapper .tr-block .td-block i {
    display: block;
    margin: auto;
    width: 39px; }
.table-wrapper .tr-block .td-block i img {
    width: 100%; }
.table-wrapper .tr-block .td-block .prices-menu {
    position: relative;
    height: 60px;
    width: 100%; }
.table-wrapper .tr-block .td-block .prices-menu ul {
    display: block;
    font-size: 0;
    position: absolute;
    padding-top: 58px;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.25);
    border: 1px solid #7ac97e;
    border-radius: 20px;
    background: #fff;
    transition: all 200ms linear 0s; }
.table-wrapper .tr-block .td-block .prices-menu ul:hover {
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.4); }
.table-wrapper .tr-block .td-block .prices-menu ul li {
    display: block;
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.table-wrapper .tr-block .td-block .prices-menu ul li span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative;
    padding-right: 25px;
    line-height: 58px;
    font-size: 18px;
    font-weight: 600;
    color: #5f6268;
    transition: all 200ms linear 0s; }
.table-wrapper .tr-block .td-block .prices-menu ul li.selected {
    cursor: default;
    position: absolute;
    border-radius: 20px;
    top: 1px; }
.table-wrapper .tr-block .td-block .prices-menu ul li.selected span:after {
    content: '';
    width: 16px;
    height: 10px;
    background: url(/img/arrow-bot-gray.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 0;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1.0;
    transition: all 200ms linear 0s; }
.table-wrapper .tr-block .td-block .prices-menu ul li.selected span:before {
    content: '';
    width: 16px;
    height: 10px;
    background: url(/img/arrow-bot-green.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 0;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 0;
    transition: all 200ms linear 0s; }
.table-wrapper .tr-block .td-block .prices-menu ul li.selected:hover span:after {
    opacity: 0; }
.table-wrapper .tr-block .td-block .prices-menu ul li.selected:hover span:before {
    opacity: 1.0; }
.table-wrapper .tr-block .td-block .prices-menu ul li:hover {
    cursor: pointer; }
.table-wrapper .tr-block .td-block .prices-menu ul li:hover span {
    color: #3acd12; }
.table-wrapper .tr-block .td-block .prices-menu ul.opened {
    height: auto; }
.table-wrapper .tr-block.standart-view .td-block {
    min-height: 90px;
    border: 1px solid #e8e2e1; }
.table-wrapper .tr-block.standart-view .td-block:first-child {
    border-left: none; }
.table-wrapper .tr-block.standart-view .td-block:last-child {
    border-right: none; }
.table-wrapper .tr-block.standart-view.border-top-none .td-block {
    border-top: none; }
.table-wrapper .tr-block.title-tr {
    padding-top: 20px; }
.table-wrapper .tr-block.title-tr .td-block {
    min-height: 0;
    height: auto;
    padding: 0;
    height: 60px;
    border-radius: 20px 20px 0 0; }
.table-wrapper .tr-block.title-tr .td-block span {
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: 600; }
.table-wrapper .tr-block.title-tr .td-block span.on-mobile-none {
    display: none; }
.table-wrapper .tr-block.title-tr .td-block.td-gray {
    background: #f3f3f4; }
.table-wrapper .tr-block.title-tr .td-block.td-gray span {
    color: #5f6268; }
.table-wrapper .tr-block.title-tr .td-block.td-gray span.only-mobile {
    display: none; }
.table-wrapper .tr-block.title-tr .td-block.td-green {
    background: #7ac97e; }
.table-wrapper .tr-block.title-tr .td-block.td-light-blue {
    background: #5caca8; }
.table-wrapper .tr-block.title-tr .td-block.td-blue {
    background: #4da49f; }
.table-wrapper .tr-block.title-tr .td-block.td-red {
    background: #de914a; }
.table-wrapper .tr-block.title-tr.top-fixed {
    position: fixed;
    width: 1160px;
    top: 70px;
    background: #fcfcfd;
    z-index: 100; }
.table-wrapper .tr-block.title-tr.bot-fixed {
    position: absolute;
    bottom: 230px;
    background: #fcfcfd; }
.table-wrapper .tr-block.special-colors .td-block {
    min-height: 0;
    height: auto; }
.table-wrapper .tr-block.special-colors .td-block span {
    font-size: 22px;
    font-weight: 500;
    color: #fff; }
.table-wrapper .tr-block.special-colors .td-block.td-gray {
    background: #f3f3f4; }
.table-wrapper .tr-block.special-colors .td-block.td-gray span {
    font-size: 16px;
    font-weight: 600;
    color: #5f6268; }
.table-wrapper .tr-block.special-colors .td-block.td-green {
    background: #9ee6a1; }
.table-wrapper .tr-block.special-colors .td-block.td-light-blue {
    background: #76c6c2; }
.table-wrapper .tr-block.special-colors .td-block.td-blue {
    background: #69bfbb; }
.table-wrapper .tr-block.special-colors .td-block.td-red {
    background: #f5aa65; }
.table-wrapper .tr-block.special-colors.td-border-bottom .td-block {
    border-bottom: 1px solid rgba(252, 252, 253, 0.5); }
.table-wrapper .tr-block.btns-fixed-position {
    padding: 40px 0;
    background: linear-gradient(to top, rgba(252, 252, 253, 0), rgba(252, 252, 253, 0.85) 20%, rgba(252, 252, 253, 0.85) 80%, rgba(252, 252, 253, 0));
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0; }
.table-wrapper .tr-block.btns-fixed-position .td-block {
    padding: 0 3px;
    position: relative;
    z-index: 9; }
.table-wrapper .tr-block.btns-fixed-position .td-block.first-td-block {
    min-width: 300px;
    max-width: 300px; }
.table-wrapper .tr-block.btns-fixed-position .td-block .btn {
    width: 100%; }
.table-wrapper .tr-block.btns-fixed-position.abs-bottom {
    position: absolute; }
.table-wrapper .tr-block.prices-line.top-fixed {
    position: fixed;
    top: 150px;
    width: 1160px;
    background: #fcfcfd;
    z-index: 99; }
.table-wrapper .tr-block.prices-line.bot-fixed {
    position: absolute;
    bottom: 140px;
    background: #fcfcfd; }

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .table-wrapper .tr-block .td-block:not(.first-td-block) {
        min-width: 18%;
        max-width: 18%; }
    .table-wrapper .tr-block.title-tr {
        width: 100%; }
    .table-wrapper .tr-block.title-tr .td-block span {
        font-size: 20px; }
    .table-wrapper .tr-block.title-tr.top-fixed {
        width: calc(100% - 120px); }
    .table-wrapper .tr-block.prices-line {
        width: 100%; }
    .table-wrapper .tr-block.prices-line.top-fixed {
        width: calc(100% - 120px); }
    .table-wrapper .tr-block.btns-fixed-position {
        padding: 40px 60px; }
    .table-wrapper .tr-block.btns-fixed-position .td-block.first-td-block {
        min-width: 0;
        max-width: auto; }
    .table-wrapper .tr-block.btns-fixed-position.abs-bottom {
        padding: 40px 0; } }
@media screen and (min-width: 1025px) {
    .table-wrapper .tr-block .td-block .have-explanatory-note-block:hover {
        cursor: default; }
    .table-wrapper .tr-block .td-block .have-explanatory-note-block:hover .explanatory-note-block:before, .table-wrapper .tr-block .td-block .have-explanatory-note-block:hover .explanatory-note-block:after {
        opacity: 1.0; }
    .table-wrapper .tr-block .td-block .have-explanatory-note-block:hover .explanatory-note-block-text {
        height: auto;
        opacity: 1.0;
        padding: 15px; } }
/*tariffs-page end*/

/*# sourceMappingURL=style.css.map */


/*bitrix forms 11.01.2021 start*/
.b24-form-padding-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.b24-form-content {
    padding: 0 !important;
}

/*bitrix forms 11.01.2021 end*/

.screen-block img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.main-top-info-text h1 {
    font-weight: 400;
}
