body {
  min-width: 0 !important; }

div, p, a, ul, li {
  box-sizing: border-box; }

.bpay-container .wrapper {
  box-sizing: border-box; }

.flex-wrapper {
  display: flex; }

p a {
  color: #39E569;
  border-bottom: 1px solid #39e569;
  text-decoration: none;
  transition: all 200ms linear 0s; }
  p a:hover {
    border-bottom: 1px solid rgba(57, 229, 105, 0);
    text-decoration: none;
    transition: all 200ms linear 0s; }

.green-dots {
  color: #00d83c; }

.bpay-container h2, .bpay-container .h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold; }
.bpay-container h3, .bpay-container .h3 {
  font-size: 28px;
  margin: 0 0 20px 0; }

.fs30bold {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold; }

.top-promo-wrapper {
  background: url(/briskly-images/bg-images/top-bg.jpg) top center no-repeat;
  height: 760px;
  padding-top: 106px; }
  .top-promo-wrapper .wrapper {
    display: flex;
    align-items: center;
    height: calc(100% - 106px); }
    .top-promo-wrapper .wrapper .flex-wrapper {
      height: 100%;
      display: flex;
      align-items: flex-start; }
      .top-promo-wrapper .wrapper .flex-wrapper .flex-block.info-block {
        display: flex;
        align-items: center;
        padding-left: 58px; }
      .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block {
        width: 710px;
        padding-top: 100px; }
        .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block img {
          display: block;
          width: 173px;
          margin-bottom: 30px; }
        .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block h3 {
          margin-bottom: 30px; }

.text-block p {
  margin-bottom: 50px; }
  .text-block p:last-child {
    margin-bottom: 0; }

.h1-style {
  display: flex;
  align-items: stretch;
  margin-top: 130px;
  margin-bottom: 100px; }
  .h1-style .bpay-logo img {
    width: 230px; }
  .h1-style h2 {
    padding-left: 50px;
    margin: 0 0 0 40px;
    border-left: 1px solid #d0e0e3; }

.about-bpay-wrapper {
  padding-bottom: 100px;
  background: url(/briskly-images/bg-images/bg1.jpg) top center no-repeat; }

.about-bpay {
  display: flex;
  align-items: center; }
  .about-bpay .lp-images {
    margin-left: -50px; }
  .about-bpay .text-block {
    min-width: 460px;
    max-width: 460px;
    text-align: left;
    text-align-last: left; }
  .about-bpay .form-wrapper {
    flex-grow: 1;
    padding-left: 10px; }
    .about-bpay .form-wrapper .form-name {
      display: block;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px; }
    .about-bpay .form-wrapper .form-block {
      width: 380px;
      background: #fff;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 40px 30px; }

.special-radial-green-bg {
  padding: 128px 0;
  position: relative; }
  .special-radial-green-bg:before {
    display: block;
    content: '';
    width: 125%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(179, 214, 192, 0.4) 40%, rgba(0, 204, 85, 0) 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0); }
  .special-radial-green-bg .fs30bold {
    display: block;
    text-align: center;
    text-align-last: center; }

.how-dose-it-work-wrapper {
  position: relative;
  padding: 100px 0;
  background: url(/briskly-images/bg-images/bg2.jpg) center center no-repeat; }
  .how-dose-it-work-wrapper .abs-position {
    position: absolute;
    right: 15px;
    top: 0;
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .how-dose-it-work-wrapper .wrapper .is-button-a {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); }

.steps-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px; }
  .steps-wrapper .top-image {
    min-width: 100%;
    max-width: 100%; }
  .steps-wrapper .step-block {
    min-width: 340px;
    max-width: 340px; }
    .steps-wrapper .step-block.step-1 {
      margin-top: -130px; }
    .steps-wrapper .step-block.step-2 {
      margin-top: 20px;
      box-sizing: content-box;
      padding-left: 135px; }
    .steps-wrapper .step-block.step-3 {
      margin-top: -40px;
      padding-left: 55px; }

.short-info-wrapper-block {
  position: relative;
  padding: 100px 0 200px 0; }
  .short-info-wrapper-block .abs-position {
    position: absolute;
    left: -20px;
    top: -250px; }
  .short-info-wrapper-block .flex-wrapper {
    justify-content: space-between; }
    .short-info-wrapper-block .flex-wrapper .flex-block {
      min-width: 324px;
      max-width: 324px;
      padding: 80px 30px;
      /*letter-spacing: -1px;*/
      background: #fff;
      box-shadow: 0px 0px 20px rgba(86, 85, 102, 0.3);
      border-radius: 20px; }
      .short-info-wrapper-block .flex-wrapper .flex-block span, .short-info-wrapper-block .flex-wrapper .flex-block p {
        display: block;
        color: #282828; }
      .short-info-wrapper-block .flex-wrapper .flex-block span {
        font-weight: bold;
        font-size: 27px;
        line-height: 37px;
        margin-bottom: 18px; }
      .short-info-wrapper-block .flex-wrapper .flex-block p {
        font-size: 21px;
        line-height: 25px;
        margin: 0; }

.special-linear-green-bg {
  background: linear-gradient(180deg, rgba(0, 255, 71, 0.039) 0%, rgba(139, 188, 158, 0.1) 100%);
  padding: 100px 0; }

.bpay-block {
  display: flex;
  align-items: center; }
  .bpay-block .bpay-block-text {
    min-width: 550px;
    max-width: 550px; }
    .bpay-block .bpay-block-text .h-block {
      display: flex;
      align-items: flex-start;
      margin-bottom: 60px; }
      .bpay-block .bpay-block-text .h-block h2 {
        line-height: 55px;
        margin: 0 24px 0 0; }
      .bpay-block .bpay-block-text .h-block img {
        width: 160px; }
  .bpay-block .bpay-block-image {
    flex-grow: 1;
    text-align: center;
    text-align-last: center; }

.stores-block {
  display: flex;
  align-items: center;
  justify-content: center; }
  .stores-block p {
    margin: 0 15px;
    line-height: 22px; }
  .stores-block a {
    display: block;
    margin: 0 5px; }

.nums-block-wrapper {
  position: relative;
  padding: 100px 0; }
  .nums-block-wrapper .abs-position {
    position: absolute;
    right: 50%;
    margin-right: 600px;
    top: -230px; }
  .nums-block-wrapper .nums-flex-block {
    display: flex;
    justify-content: space-between; }
    .nums-block-wrapper .nums-flex-block .num-block {
      position: relative;
      min-width: 230px;
      max-width: 230px; }
      .nums-block-wrapper .nums-flex-block .num-block:before {
        content: "";
        display: block;
        width: 148px;
        height: 148px;
        background: url(/briskly-images/union.svg) 0 0 no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1; }
      .nums-block-wrapper .nums-flex-block .num-block .num {
        font-weight: bold;
        font-size: 48px;
        line-height: 148px;
        text-align: center;
        color: #39E569;
        position: relative;
        z-index: 2; }
      .nums-block-wrapper .nums-flex-block .num-block p {
        margin: 0;
        position: absolute;
        top: 50%;
        margin-top: 30px;
        z-index: 2; }

.feedback-wrapper {
  padding: 100px 0; }
  .feedback-wrapper p {
    font-size: 28px;
    line-height: 38px;
    color: #6E7782; }
  .feedback-wrapper .flex-wrapper {
    width: 100%;
    max-width: 1680px;
    padding: 0 40px;
    margin: 0 auto;
    align-items: center; }
    .feedback-wrapper .flex-wrapper .flex-block {
      min-width: 50%;
      max-width: 50%; }
      .feedback-wrapper .flex-wrapper .flex-block img {
        max-width: 85%; }
  .feedback-wrapper .form-wrapper {
    padding-bottom: 40px; }

.is-file-item a:before {
  background: url(https://kassa.mts.ru/h/assets/img/doc.svg) no-repeat 0 0; }

/*questions start*/
.questions-wrapper {
  width: 100%;
  max-width: 1160px;
  box-sizing: border-box;
  padding: 50px 0;
  margin: 0 auto; }
  .questions-wrapper .question-block {
    position: relative;
    padding: 22px 40px;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 200ms linear 0s;
    cursor: pointer;
    /*&:before {
        content: "";
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        background: rgba(57,229,105,1.0);
        border-radius: 100%;
        right: 34px;
        top: 17px;
        transition: all 200ms linear 0s;
        opacity: 0;
    }*/ }
    .questions-wrapper .question-block:last-child {
      margin: 0; }
    .questions-wrapper .question-block:after {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      background: url(/briskly-images/arrow-right-black.svg) 0 0 no-repeat;
      background-size: cover;
      right: 44px;
      top: 27px;
      transition: all 200ms linear 0s; }
    .questions-wrapper .question-block span {
      display: block;
      font-size: 18px;
      line-height: 26px;
      padding-right: 30px; }
    .questions-wrapper .question-block .text {
      display: none;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-left: 30px; }
      .questions-wrapper .question-block .text ul {
        margin-left: 0; }
        .questions-wrapper .question-block .text ul li {
          font-size: 16px;
          line-height: 26px; }
    .questions-wrapper .question-block:hover {
      /*&:before {
          opacity: 1.0;
      }*/
      box-shadow: 0 0 3px 0 rgba(57, 229, 105, 0.8); }
      .questions-wrapper .question-block:hover:after {
        transform: rotate(90deg); }
    .questions-wrapper .question-block.opened:after {
      transform: rotate(270deg); }

/*questions end*/
.questions-wrapper .is-accordion {
  margin: 0; }
  .questions-wrapper .is-accordion .ia-item {
    position: relative;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 200ms linear 0s;
    border: none;
    cursor: pointer; }
    .questions-wrapper .is-accordion .ia-item:first-child {
      border: none; }
    .questions-wrapper .is-accordion .ia-item:last-child {
      margin: 0; }
  .questions-wrapper .is-accordion .ia-title-target {
    padding: 22px 40px; }
  .questions-wrapper .is-accordion .ia-content-inner {
    padding: 0 40px; }
  .questions-wrapper .is-accordion .it-title-sub {
    width: 18px;
    height: 18px;
    background: url(/briskly-images/arrow-right-black.svg) 0 0 no-repeat; }
  .questions-wrapper .is-accordion .ia-title-link {
    font-size: 18px;
    line-height: 25px;
    color: #000; }
  .questions-wrapper .is-accordion .state-active .it-title-sub {
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .questions-wrapper .is-accordion .ia-content-inner .is-style p {
    color: #6e7782; }

@media screen and (min-width: 1280px) and (max-width: 1600px) {
  .how-dose-it-work-wrapper .abs-position {
    width: 280px;
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%); } }
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .about-bpay .form-wrapper {
    position: relative; }
    .about-bpay .form-wrapper .form-block {
      position: absolute;
      right: 0;
      top: 50%;
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); } }
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .bpay-container .wrapper {
    width: 100%;
    padding: 0 40px; }

  .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block {
    width: 500px; }

  .about-bpay {
    flex-wrap: wrap; }
    .about-bpay .text-block {
      min-width: 50%;
      max-width: 50%; }
    .about-bpay .lp-images {
      display: none; }
    .about-bpay .form-wrapper {
      min-width: 50%;
      max-width: 50%; }

  .short-info-wrapper-block {
    padding: 100px 0; }
    .short-info-wrapper-block .flex-wrapper .flex-block {
      min-width: 30%;
      max-width: 30%;
      padding: 50px 30px; }
    .short-info-wrapper-block .abs-position {
      width: 300px;
      top: -150px; }

  .bpay-block .bpay-block-text {
    min-width: 50%;
    max-width: 50%; }
  .bpay-block .bpay-block-image img {
    max-width: 90%; }
  .bpay-block .bpay-block-image .stores-block {
    padding-top: 20px;
    flex-wrap: wrap; }
    .bpay-block .bpay-block-image .stores-block p {
      min-width: 100%;
      max-width: 100%;
      padding-top: 20px;
      order: 1; }
      .bpay-block .bpay-block-image .stores-block p br {
        display: none; }

  .questions-wrapper .is-accordion {
    padding: 0 30px; }

  .how-dose-it-work-wrapper .abs-position {
    width: 200px;
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%); }

  .steps-wrapper .step-block {
    min-width: 30%;
    max-width: 30%; }
    .steps-wrapper .step-block.step-1 {
      margin-top: -100px; }
    .steps-wrapper .step-block.step-2 {
      padding-left: 50px; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .h1-style {
    margin-top: 80px;
    margin-bottom: 80px; }
    .h1-style .bpay-logo img {
      width: 180px; }
    .h1-style h2 {
      margin-left: 30px;
      padding-left: 30px; }

  .bpay-container .wrapper {
    width: 100%;
    padding: 0 40px; }
  .bpay-container h2, .bpay-container .h2 {
    font-size: 35px;
    line-height: 42px; }

  .top-promo-wrapper {
    height: auto;
    background-position: 52% 100%;
    background-size: 1500px; }
    .top-promo-wrapper .wrapper .flex-wrapper .flex-block .mts-business {
      height: 400px; }
    .top-promo-wrapper .wrapper .flex-wrapper .flex-block.info-block {
      padding-left: 40px; }
    .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block {
      width: 500px;
      padding: 50px 0 70px 0; }

  .special-radial-green-bg {
    padding: 50px 0; }
    .special-radial-green-bg .fs30bold {
      width: 600px;
      margin: 20px auto; }

  .how-dose-it-work-wrapper {
    padding: 70px 0; }
    .how-dose-it-work-wrapper .abs-position {
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      width: 200px; }

  .steps-wrapper {
    display: block;
    padding: 50px 0; }
    .steps-wrapper .step-block {
      display: block;
      min-width: 600px;
      max-width: 600px;
      margin: 0 auto 50px auto; }
      .steps-wrapper .step-block.step-1, .steps-wrapper .step-block.step-2, .steps-wrapper .step-block.step-3 {
        margin-top: 0;
        padding: 0; }
      .steps-wrapper .step-block:last-child {
        margin-bottom: 0; }
    .steps-wrapper .top-image {
      display: none; }

  .about-bpay-wrapper {
    padding-bottom: 70px; }

  .about-bpay {
    flex-wrap: wrap; }
    .about-bpay .form-wrapper {
      min-width: 100%;
      max-width: 100%;
      order: -1; }
    .about-bpay .lp-images {
      min-width: calc(100% - 460px);
      max-width: calc(100% - 460px); }
    .about-bpay .form-wrapper .form-block {
      width: 500px;
      margin: 0 auto 70px auto; }

  .short-info-wrapper-block {
    padding: 70px 0; }
    .short-info-wrapper-block .flex-wrapper {
      display: block; }
      .short-info-wrapper-block .flex-wrapper .flex-block {
        min-width: 600px;
        max-width: 600px;
        padding: 50px 30px;
        margin: 0 auto 20px auto; }
    .short-info-wrapper-block .abs-position {
      width: 300px;
      top: -150px; }

  .special-linear-green-bg {
    padding: 70px 0; }

  .bpay-block {
    align-items: flex-end; }
    .bpay-block .bpay-block-text {
      min-width: 60%;
      max-width: 60%; }
    .bpay-block .bpay-block-image img {
      max-width: 100%; }
    .bpay-block .bpay-block-image .stores-block {
      padding-top: 20px;
      flex-wrap: wrap; }
      .bpay-block .bpay-block-image .stores-block p {
        min-width: 100%;
        max-width: 100%;
        padding-bottom: 20px; }
      .bpay-block .bpay-block-image .stores-block a {
        margin-bottom: 10px; }
        .bpay-block .bpay-block-image .stores-block a:last-child {
          margin-bottom: 0; }

  .nums-block-wrapper .nums-flex-block .num-block {
    min-width: 30%;
    max-width: 30%; }

  .questions-wrapper {
    padding: 50px 0 100px 0; }
    .questions-wrapper .is-accordion {
      padding: 0 40px; }

  .feedback-wrapper {
    padding: 80px 0 150px 0;
    position: relative; }
    .feedback-wrapper h2 {
      position: absolute;
      width: 100%;
      text-align: center;
      text-align-last: center;
      top: 0;
      left: 0; }
    .feedback-wrapper p {
      font-size: 20px;
      line-height: 27px; }
    .feedback-wrapper .links-wrapper {
      position: absolute;
      padding: 0 40px;
      width: 100%;
      bottom: 0;
      left: 0; } }
@media screen and (min-width: 0px) and (max-width: 767px) {
  .h1-style {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px; }
    .h1-style .bpay-logo img {
      width: 150px;
      margin-bottom: 20px; }
    .h1-style h2 {
      margin-left: 0;
      padding-left: 0;
      border: none; }

  .bpay-container .wrapper {
    width: 100%;
    padding: 0 15px; }
  .bpay-container h2, .bpay-container .h2 {
    font-size: 28px;
    line-height: 34px; }
  .bpay-container h3, .bpay-container .h3 {
    font-size: 24px;
    font-weight: 500; }

  .top-promo-wrapper {
    height: auto;
    background-position: 100% 100%;
    background-size: 1000px;
    background-color: #BEDFCA;
    padding-bottom: 350px; }
    .top-promo-wrapper .wrapper .flex-wrapper .flex-block .mts-business {
      height: 400px; }
    .top-promo-wrapper .wrapper .flex-wrapper .flex-block.info-block {
      padding-left: 30px; }
    .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block {
      width: 100%;
      padding: 30px 0; }
      .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block img {
        width: 150px;
        margin-bottom: 20px; }
      .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block h3 {
        font-size: 22px; }
        .top-promo-wrapper .wrapper .flex-wrapper .flex-block .text-block h3 br {
          display: none; }

  .special-radial-green-bg {
    padding: 50px 0; }
    .special-radial-green-bg .fs30bold {
      width: 100%;
      max-width: 600px;
      margin: 20px auto;
      font-size: 25px;
      line-height: 30px; }

  .how-dose-it-work-wrapper {
    padding: 0 0 150px 0; }
    .how-dose-it-work-wrapper .abs-position {
      display: none; }

  .steps-wrapper {
    display: block;
    padding: 0 0 50px 0; }
    .steps-wrapper .step-block {
      display: block;
      min-width: 100%;
      max-width: 100%;
      margin: 0 auto 50px auto; }
      .steps-wrapper .step-block.step-1, .steps-wrapper .step-block.step-2, .steps-wrapper .step-block.step-3 {
        margin-top: 0;
        padding: 0; }
      .steps-wrapper .step-block:last-child {
        margin-bottom: 0; }
    .steps-wrapper .top-image {
      display: none; }

  .about-bpay-wrapper {
    padding-bottom: 0; }

  .about-bpay {
    flex-wrap: wrap; }
    .about-bpay .form-wrapper {
      min-width: 100%;
      max-width: 100%;
      order: -2;
      padding: 0; }
      .about-bpay .form-wrapper .form-block {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 70px auto; }
    .about-bpay .lp-images {
      min-width: 100%;
      max-width: 100%;
      margin: 0; }
      .about-bpay .lp-images img {
        max-width: 100%;
        margin: 40px auto 0 auto; }
    .about-bpay .text-block {
      min-width: 100%;
      max-width: 100%; }

  .short-info-wrapper-block {
    padding: 50px 0; }
    .short-info-wrapper-block .flex-wrapper {
      display: block; }
      .short-info-wrapper-block .flex-wrapper .flex-block {
        width: 100%;
        min-width: 0;
        max-width: 600px;
        padding: 40px 30px;
        margin: 0 auto 20px auto; }
        .short-info-wrapper-block .flex-wrapper .flex-block span {
          line-height: 32px; }
    .short-info-wrapper-block .abs-position {
      width: 300px;
      top: -100px; }

  .special-linear-green-bg {
    padding: 70px 0; }

  .bpay-block {
    display: block; }
    .bpay-block .bpay-block-text {
      min-width: 100%;
      max-width: 100%;
      padding-bottom: 50px; }
      .bpay-block .bpay-block-text .h-block {
        margin-bottom: 30px; }
        .bpay-block .bpay-block-text .h-block img {
          width: 120px; }
        .bpay-block .bpay-block-text .h-block h2 {
          line-height: 45px; }
    .bpay-block .bpay-block-image img {
      max-width: 100%; }
    .bpay-block .bpay-block-image .stores-block {
      padding-top: 20px;
      flex-wrap: wrap; }
      .bpay-block .bpay-block-image .stores-block p {
        min-width: 100%;
        max-width: 100%;
        padding-bottom: 20px; }
      .bpay-block .bpay-block-image .stores-block a {
        margin-bottom: 10px; }
        .bpay-block .bpay-block-image .stores-block a:last-child {
          margin-bottom: 0; }

  .nums-block-wrapper {
    padding: 50px 0; }
    .nums-block-wrapper .nums-flex-block {
      display: block; }
      .nums-block-wrapper .nums-flex-block .num-block {
        width: 100%;
        min-width: 0;
        max-width: 230px;
        margin: 0 auto 40px auto; }

  .questions-wrapper {
    padding: 0 0 50px 0; }
    .questions-wrapper .is-accordion {
      padding: 0 15px; }
      .questions-wrapper .is-accordion .ia-content-inner {
        padding: 0 20px; }
      .questions-wrapper .is-accordion .ia-title-target {
        padding: 22px 20px; }
      .questions-wrapper .is-accordion .it-title-sub {
        margin-left: 15px; }

  .feedback-wrapper {
    padding: 80px 0 50px 0;
    position: relative; }
    .feedback-wrapper .flex-wrapper {
      padding: 0 15px;
      display: block; }
      .feedback-wrapper .flex-wrapper .flex-block {
        min-width: 100%;
        max-width: 100%; }
        .feedback-wrapper .flex-wrapper .flex-block img {
          display: block;
          margin: 30px auto; }
    .feedback-wrapper h2 {
      position: absolute;
      width: 100%;
      text-align: center;
      text-align-last: center;
      top: 0;
      left: 0;
      padding: 0 15px;
      box-sizing: border-box; }
    .feedback-wrapper p {
      font-size: 20px;
      line-height: 27px; } }
@media screen and (min-width: 0px) and (max-width: 359px) {
  .bpay-block .bpay-block-text .h-block img {
    width: 90px; }
  .bpay-block .bpay-block-text .h-block h2 {
    margin-right: 15px;
    line-height: 28px; } }

/*# sourceMappingURL=style-for-mts.css.map */
