/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(252,252,253,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(95,98,104,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
h1, h2 {
  font-size: 32px;
  line-height: 44px; }

h3 {
  font-size: 32px;
  line-height: 44px; }

.s14, .s18 {
  font-size: 16px;
  line-height: 24px; }

.s24 {
  font-size: 22px;
  line-height: 33px; }

.p85 {
  padding-top: 55px;
  padding-bottom: 55px; }

.standart li:before {
  left: 5px; }

.btn.btn-big {
  height: 45px;
  line-height: 45px;
  font-size: 14px; }
  .btn.btn-big.btn-green-border {
    line-height: 41px; }
  .btn.btn-big.btn-white {
    height: 45px;
    line-height: 41px;
    font-size: 14px; }
.btn.btn300 {
  width: 240px; }

.bend, .bend-top {
  width: 102%; }

.bend-top {
  top: -2px; }

.first-bend-block {
  padding: 55px 0 115px 0; }
  .first-bend-block.on-affiliate-program {
    padding: 60px 0 100px 0; }
  .first-bend-block.on-preorder-and-delivery-page .flex-wrapper:first-child {
    padding: 0; }
  .first-bend-block.on-preorder-and-delivery-page .flex-wrapper .flex-block.w40 .image-wrapper {
    margin-top: 50px; }
    .first-bend-block.on-preorder-and-delivery-page .flex-wrapper .flex-block.w40 .image-wrapper img {
      margin: 0 auto;
      max-width: 100%; }
  .first-bend-block.on-preorder-and-delivery-page .flex-wrapper .flex-block.right-position {
    padding-top: 100px; }
  .first-bend-block.on-preorder-and-delivery-page .image-wrapper.have-small-icon-blocks {
    max-width: 450px;
    margin: 150px auto 50px auto; }
  .first-bend-block.on-scan-go .flex-wrapper {
    padding-bottom: 40px; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.w40 {
      padding-bottom: 80px; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 {
      padding-left: 0; }

.second-bend-block {
  padding: 50px 0 0 0; }
  .second-bend-block h2 {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }

.wrapper-block {
  width: 100%;
  max-width: 650px; }

.flex-wrapper {
  flex-wrap: wrap; }
  .flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 0;
      margin-bottom: 40px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 0; }
  .flex-wrapper.tab-no-wrap {
    flex-wrap: nowrap; }
    .flex-wrapper.tab-no-wrap .flex-block {
      min-width: 50%;
      max-width: 50%; }
  .flex-wrapper.tablet-wrap {
    flex-wrap: wrap; }
    .flex-wrapper.tablet-wrap .flex-block.w60 {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper.tablet-wrap .flex-block.w40 {
      min-width: 100%;
      max-width: 100%; }
  .flex-wrapper.mobile-reverse {
    flex-wrap: wrap-reverse; }

.pr100 {
  padding-right: 0;
  padding-bottom: 50px; }

/*phone block start*/
.phone-image-block {
  width: 175px; }

/*phone block end*/
/*main-top-block start*/
.main-top-block .bend {
  width: 1024px; }

.main-top-info {
  top: 120px;
  transform: none;
  width: 50%;
  left: 60px;
  margin-left: 0; }
  .main-top-info .logo {
    display: none; }
  .main-top-info h1 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px; }

.main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
  padding-top: 0;
  height: 100%;
  align-items: flex-end; }
.main-top-slider-wrapper .slide-image-block-wrapper .caption {
  font-size: 14px; }
.main-top-slider-wrapper .slide-image-block-wrapper.icebox-box img {
  width: 100%; }
.main-top-slider-wrapper .phone-image-block {
  margin: 0 auto; }
.main-top-slider-wrapper .swiper-slide {
  height: 650px; }
.main-top-slider-wrapper .slide-image-block.icebox-box img {
  width: 260px; }
.main-top-slider-wrapper .main-slider-bacs .swiper-slide:not(:first-child) {
  display: none; }
.main-top-slider-wrapper .main-slider-bacs .swiper-slide img {
  max-height: 100%; }

/*main-top-block end*/
/*top-block start*/
.form-block {
  margin: 30px auto 0 auto; }

/*top-block end*/
/*about-products start*/
.about-products-wrapper {
  flex-wrap: wrap;
  margin-top: 20px; }
  .about-products-wrapper .about-product-block.swiper-slide {
    min-width: 100%;
    max-width: 100%;
    align-items: center;
    margin-bottom: 70px;
    flex-direction: row; }
    .about-products-wrapper .about-product-block.swiper-slide .image-wrapper {
      margin-bottom: 0; }
    .about-products-wrapper .about-product-block.swiper-slide .product-info {
      height: auto;
      min-width: 60%;
      max-width: 60%;
      box-shadow: none;
      padding: 0 0 0 50px; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info h3 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 10px; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info .text-block .s14 {
        font-size: 14px; }
      .about-products-wrapper .about-product-block.swiper-slide .product-info .btn {
        width: 240px; }
    .about-products-wrapper .about-product-block.swiper-slide.about-micromarket .image-wrapper img {
      width: 300px;
      margin-left: 0; }
    .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img:not(.only-mobile) {
      display: none; }
    .about-products-wrapper .about-product-block.swiper-slide.about-briskly-go .image-wrapper img.only-mobile {
      display: block;
      width: 600px; }

/*about-products end*/
/*loss-of-profit start*/
.loss-of-profit {
  height: 950px;
  padding-bottom: 105px; }
  .loss-of-profit .pl100 {
    padding-left: 0; }
  .loss-of-profit .wrapper-block {
    padding-bottom: 0; }
    .loss-of-profit .wrapper-block.revenue-growth-wrapper h2 {
      margin-bottom: 40px; }
    .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block {
      min-width: 40%;
      max-width: 40%; }
      .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block:first-child {
        min-width: 60%;
        max-width: 60%; }
      .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block.pl100 {
        padding-left: 40px; }
  .loss-of-profit .revenue-growth-block {
    padding: 30px 30px 20px 30px; }
  .loss-of-profit .flex-wrapper .flex-block {
    margin-bottom: 50px; }
    .loss-of-profit .flex-wrapper .flex-block:last-child {
      margin-bottom: 0; }
    .loss-of-profit .flex-wrapper .flex-block .phone-image-block {
      width: 100%;
      margin-top: 0; }

/*loss-of-profit end*/
/*briskly-components start*/
.briskly-components-wrapper {
  padding: 50px 0 0 0; }
  .briskly-components-wrapper .briskly-components-block {
    padding: 0 0 40px 0;
    align-items: center; }
    .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper {
      min-width: 40%;
      max-width: 40%; }
    .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper {
      padding-top: 20px;
      min-width: 60%;
      max-width: 60%; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper.pl100 {
        padding-left: 40px; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block {
        margin-bottom: 20px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block .s16 {
          padding-bottom: 5px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block p {
          font-size: 14px;
          line-height: 22px; }

.str-after div {
  padding: 0 50px; }
  .str-after div img {
    width: 80px;
    right: 45px;
    top: 50px; }
.str-after.on-scan-go div {
  min-width: 100%; }
  .str-after.on-scan-go div img {
    top: 20px;
    right: 20px; }

/*briskly-components end*/
/*work-steps start*/
.phone-image-block.tab-w100 {
  width: 100%; }

.steps-wrapper {
  padding-left: 40px; }

.work-steps-wrapper {
  padding: 20px 0 0 0;
  flex-wrap: wrap; }
  .work-steps-wrapper .work-step-block {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px; }
    .work-steps-wrapper .work-step-block:last-child {
      padding-bottom: 0; }
    .work-steps-wrapper .work-step-block .icon-block {
      min-width: 80px;
      max-width: 80px;
      margin-right: 20px; }
      .work-steps-wrapper .work-step-block .icon-block img {
        width: 100%;
        margin: 0;
        border-radius: 18px; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        display: none; }

/*work-steps end*/
/*about-terminal start*/
.about-terminal .flex-wrapper .flex-block {
  padding-bottom: 50px; }
  .about-terminal .flex-wrapper .flex-block.pl100 {
    padding: 0; }
.about-terminal .image-wrapper .main-image {
  width: 80%;
  margin: 0 auto; }
.about-terminal .image-wrapper .card-image {
  width: 268px;
  left: -5px; }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 100px 0 0 0; }
  .embedded-marketing .spec-text {
    width: 100%;
    margin-bottom: 50px;
    left: 0;
    margin-left: 0; }

.laptop-bg {
  background: none;
  min-height: 0;
  padding-bottom: 50px; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 690px; }
  .spec-flex-wrapper .flex-block {
    padding: 0 20px;
    margin: 20px 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 100px;
      max-width: 100px; }
    .spec-flex-wrapper .flex-block p {
      font-size: 15px; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts.wrapper-block {
  margin-top: 50px;
  max-width: 100%;
  padding-left: 60px;
  padding-right: 60px; }
  .about-discounts.wrapper-block .flex-wrapper .flex-block.w40 img {
    max-width: 200px; }
  .about-discounts.wrapper-block.on-main-page {
    margin-top: 50px;
    padding-bottom: 50px; }
  .about-discounts.wrapper-block.on-scan-go {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px; }

/*about-discounts end*/
/*about-security start*/
.about-security.wrapper-block {
  max-width: 100%;
  padding: 250px 60px 100px 60px;
  position: relative; }
  .about-security.wrapper-block h2, .about-security.wrapper-block h4 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
  .about-security.wrapper-block h2 {
    top: 50px; }
  .about-security.wrapper-block h4 {
    top: 100px; }

/*about-security end*/
/*have-questions start*/
.have-questions {
  padding: 75px 0; }
  .have-questions .btns-block {
    justify-content: center; }
    .have-questions .btns-block .btn {
      margin: 0 20px; }

/*have-questions end*/
/*affiliate-program start*/
.dots {
  height: 90px;
  background-size: contain; }

.w660 {
  min-width: 60%;
  max-width: 60%; }
  .w660.absolute-position {
    left: 0;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.top-block-wrapper {
  padding: 120px 0 250px 0; }
  .top-block-wrapper .logo-top {
    display: none; }
  .top-block-wrapper .w660.absolute-position {
    min-width: 100%;
    max-width: 100%;
    padding: 0 60px;
    margin: 0 auto;
    position: initial; }
  .top-block-wrapper .text-block h4 {
    max-width: 660px; }
  .top-block-wrapper.on-for-partners .standart li:not(:first-child) {
    width: 60%; }
  .top-block-wrapper.on-for-partners .btns-block {
    width: 65%;
    max-width: 520px;
    justify-content: space-between; }
    .top-block-wrapper.on-for-partners .btns-block .btn {
      min-width: calc(50% - 10px);
      max-width: calc(50% - 10px); }
  .top-block-wrapper.on-micromarket-page {
    min-height: 0;
    height: auto;
    padding: 120px 0 150px 0; }
    .top-block-wrapper.on-micromarket-page .img-block-responsive .image-wrapper .main-image.max-height {
      margin-top: 80px; }
  .top-block-wrapper.scan-go-top-block {
    min-height: auto;
    padding: 120px 0 0 0;
    background-size: 1190px;
    background-position: top right; }
    .top-block-wrapper.scan-go-top-block .wrapper-block {
      max-width: 100%;
      padding: 0 60px; }
    .top-block-wrapper.scan-go-top-block .flex-wrapper {
      flex-wrap: nowrap; }
      .top-block-wrapper.scan-go-top-block .flex-wrapper .w660 {
        padding: 0;
        min-width: 70%;
        max-width: 70%; }
      .top-block-wrapper.scan-go-top-block .flex-wrapper h3 {
        font-size: 26px;
        line-height: 38px;
        text-shadow: 1px 1px 2px #fff; }
    .top-block-wrapper.scan-go-top-block .phone-image-block {
      margin: 0 auto; }
      .top-block-wrapper.scan-go-top-block .phone-image-block .icon-image {
        width: 60px;
        left: -15px;
        bottom: -25px; }
    .top-block-wrapper.scan-go-top-block .bend.bend-bottom {
      position: relative; }
    .top-block-wrapper.scan-go-top-block .btns-block {
      margin-bottom: 0;
      position: relative;
      z-index: 1; }
  .top-block-wrapper.on-tariffs-page {
    padding-bottom: 0; }
    .top-block-wrapper.on-tariffs-page .wrapper-block {
      max-width: 100%;
      padding-left: 60px;
      padding-right: 60px; }
  .top-block-wrapper.on-delivery-page {
    padding-bottom: 150px; }
    .top-block-wrapper.on-delivery-page .main-image {
      max-width: 100%; }

.img-block-responsive {
  position: absolute;
  width: 40%;
  top: 50%;
  right: 0;
  padding-right: 20px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .img-block-responsive .image-wrapper {
    width: 100%; }
    .img-block-responsive .image-wrapper .main-image {
      margin-top: 20px; }
      .img-block-responsive .image-wrapper .main-image.max-height {
        height: auto;
        width: 100%; }

.dots-bottom-under-div {
  margin-top: -250px; }
  .dots-bottom-under-div .top-form-wrapper {
    height: auto;
    background-position: top left;
    background-size: cover;
    padding: 180px 0 150px 0; }

.top-form-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
  width: 120px; }

.revenue-growth-block-2-wrapper {
  padding-top: 50px; }
  .revenue-growth-block-2-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0; }
  .revenue-growth-block-2-wrapper .flex-wrapper {
    flex-wrap: nowrap; }
    .revenue-growth-block-2-wrapper .flex-wrapper .flex-block {
      padding: 20px;
      min-width: auto;
      max-width: 50%; }

.placements-block {
  display: block;
  padding: 30px 10px;
  margin-bottom: 40px; }

.connection-cost-wrapper .wrapper-block {
  max-width: 100%;
  padding-left: 60px;
  padding-right: 60px; }
  .connection-cost-wrapper .wrapper-block h3 {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
.connection-cost-wrapper .cost {
  font-size: 28px; }

.about-benefit-wrapper {
  padding-bottom: 50px; }
  .about-benefit-wrapper .wrapper-block {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }
  .about-benefit-wrapper .flex-wrapper .flex-block.narrow-block {
    min-width: calc(40% - 10px);
    max-width: calc(40% - 10px);
    margin-right: 20px; }
  .about-benefit-wrapper .flex-wrapper .flex-block img {
    width: auto;
    height: 300px; }
  .about-benefit-wrapper .flex-wrapper .flex-block .h3, .about-benefit-wrapper .flex-wrapper .flex-block .fs50, .about-benefit-wrapper .flex-wrapper .flex-block .bnt {
    bottom: 15px; }
  .about-benefit-wrapper .flex-wrapper .flex-block h4 {
    font-size: 22px;
    line-height: 30px;
    height: 60px;
    margin-bottom: 10px; }
  .about-benefit-wrapper .text-block {
    padding: 15px 15px 90px 15px; }
  .about-benefit-wrapper .h3.color-green {
    width: 650px;
    margin-left: auto;
    margin-right: auto; }
  .about-benefit-wrapper .btn.center-position {
    margin-top: 40px; }

.about-commission .wrapper-block {
  max-width: 100%;
  padding: 40px 60px; }
.about-commission .standart-gray {
  display: block;
  width: 450px; }

.connection-steps {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0; }
  .connection-steps .step-item {
    min-width: 550px;
    max-width: 550px;
    margin-bottom: 60px; }
    .connection-steps .step-item h4 {
      width: 400px;
      margin: 0 auto 20px auto; }
    .connection-steps .step-item img {
      width: 150px;
      margin-bottom: 30px; }

.for-partners .wrapper-block {
  padding: 50px 0 0 0; }

.standart.two-columns-view {
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px; }
  .standart.two-columns-view li {
    font-size: 16px;
    line-height: 26px; }

.str-after-wrapper {
  padding-top: 50px; }
  .str-after-wrapper .str-after {
    max-width: 650px;
    margin: 0 auto; }

@media screen and (min-width: 900px) {
  .top-form-wrapper h3 {
    font-size: 28px;
    line-height: 38px; }
  .top-form-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0 60px; }
  .top-form-wrapper .flex-wrapper {
    display: flex; }
    .top-form-wrapper .flex-wrapper .flex-block {
      min-width: 40%;
      max-width: 40%; }
      .top-form-wrapper .flex-wrapper .flex-block.left-position {
        min-width: 60%;
        max-width: 60%;
        padding-right: 50px;
        margin-bottom: 0; }
  .top-form-wrapper .image-wrapper .s24 {
    max-width: 300px;
    font-size: 18px; } }
/*affiliate-program end*/
/*scan-go start*/
@media screen and (max-width: 799px) {
  .top-block-wrapper.scan-go-top-block .phone-image-block {
    margin: auto 0 auto auto; } }
.first-bend-block.on-scan-go {
  padding: 50px 0 150px 0;
  overflow: hidden; }
  .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper {
    padding: 60px 0; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper img {
      max-width: 100%;
      margin: 0 auto; }

.to-video {
  bottom: -15px; }

.flex-table-view {
  padding: 30px 0; }
  .flex-table-view .table-tr .table-cell {
    padding: 0 10px;
    font-size: 16px; }
    .flex-table-view .table-tr .table-cell .logos-block {
      padding-right: 20px;
      margin-right: 10px; }
      .flex-table-view .table-tr .table-cell .logos-block img {
        width: 55px; }

.scan-go-work .wrapper-block.like-cashbox {
  padding: 60px 15px; }
  .scan-go-work .wrapper-block.like-cashbox .image-wrapper {
    margin-top: 130px;
    margin-bottom: 30px; }
    .scan-go-work .wrapper-block.like-cashbox .image-wrapper .main-image {
      max-width: 95%;
      margin: 0 auto; }
.scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap {
  flex-wrap: nowrap; }

.about-delivery .about-delivery-top-block .text-block {
  width: 100%; }
  .about-delivery .about-delivery-top-block .text-block p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px; }
.about-delivery .about-delivery-top-block .image-wrapper {
  padding-top: 50px; }
  .about-delivery .about-delivery-top-block .image-wrapper img {
    max-width: 100%;
    margin: 0 auto; }
    .about-delivery .about-delivery-top-block .image-wrapper img.ml40 {
      margin: 0 auto; }
.about-delivery .about-delivery-top-block .flex-block {
  position: relative; }
  .about-delivery .about-delivery-top-block .flex-block .s18 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
.about-delivery .about-delivery-top-block .box-image {
  position: absolute;
  width: 200px;
  right: 0;
  bottom: -160px; }
.about-delivery .flex-wrapper .s18 {
  font-size: 18px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
.about-delivery .flex-wrapper .flex-block.right-position {
  padding-top: 40px;
  padding-left: 0; }

.about-discounts.on-scan-go {
  padding: 50px 15px; }
  .about-discounts.on-scan-go .flex-wrapper .flex-block.w60 {
    padding-right: 0; }
    .about-discounts.on-scan-go .flex-wrapper .flex-block.w60 h3 {
      font-size: 30px;
      line-height: 40px; }
  .about-discounts.on-scan-go .phone-image-block {
    width: 200px; }

.included-in-price .flex-wrapper {
  padding: 50px 0; }
.included-in-price .image-wrapper img {
  margin: 0 auto; }

.questions-wrapper .question-block {
  padding: 22px 30px; }
  .questions-wrapper .question-block:before {
    right: 24px; }
  .questions-wrapper .question-block:after {
    right: 34px; }

/*scan-go end*/
/*preorder-and-delivery start*/
.preorder-process {
  justify-content: center; }
  .preorder-process .special-decor {
    margin-bottom: 150px; }
    .preorder-process .special-decor li {
      margin-bottom: 20px; }
  .preorder-process .image-wrapper .image-wrapper-left {
    padding: 0 50px 0 0; }

.about-delivery .absolute-position {
  display: none; }

.delivery-options-wrapper h3 {
  font-size: 28px; }

.delivery-options-block .option-item {
  padding: 0 35px; }
  .delivery-options-block .option-item img {
    min-width: 170px;
    max-width: 170px; }

.checker-screens-wrapper .flex-wrapper .flex-block.w60 {
  padding-right: 0; }
.checker-screens-wrapper .swiper-container {
  width: 250px;
  padding: 0;
  margin-left: 40px; }
  .checker-screens-wrapper .swiper-container .phone-image-block {
    width: 100%; }
  .checker-screens-wrapper .swiper-container:hover .swiper-button-prev, .checker-screens-wrapper .swiper-container:hover .swiper-button-next {
    opacity: 0; }

.about-cheker-block h4 br {
  display: none; }

.preorder-block .flex-wrapper .flex-block.w40 {
  padding-left: 40px; }
.preorder-block .bottom-position {
  width: 70%;
  position: absolute;
  margin-top: 50px; }

.horizontal-special-decor-list .special-decor {
  padding: 150px 0 50px 0;
  display: block; }
  .horizontal-special-decor-list .special-decor li {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px; }
    .horizontal-special-decor-list .special-decor li h4 {
      margin-bottom: 0; }
    .horizontal-special-decor-list .special-decor li p {
      /*padding-left: 28px;*/ }
    .horizontal-special-decor-list .special-decor li img {
      width: 280px; }

.delivery-options-wrapper h3 br {
  display: block; }

.delivery-organization {
  width: 460px;
  margin: 0 auto;
  flex-wrap: wrap; }
  .delivery-organization li {
    min-width: 100%;
    max-width: 100%;
    padding-bottom: 40px; }
    .delivery-organization li:last-child {
      padding-bottom: 0; }

.preorder-process .image-wrapper {
  justify-content: center; }

/*preorder-and-delivery end*/
/*micromarket-page start*/
.form-block-wrapper-special-bg {
  background: none; }

.form-block-wrapper {
  height: auto;
  margin-top: -260px;
  padding-bottom: 120px;
  background-position: 20% 0;
  background-size: 2680px; }
  .form-block-wrapper .wrapper-block h2 {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .form-block-wrapper .wrapper-block h2 br {
      display: none; }
  .form-block-wrapper .dots {
    bottom: 0; }
  .form-block-wrapper .flex-wrapper .flex-block {
    margin-bottom: 30px; }
    .form-block-wrapper .flex-wrapper .flex-block .video-block {
      left: auto;
      right: auto;
      top: auto;
      width: 100%;
      max-width: 500px;
      margin: auto; }
  .form-block-wrapper p:not(.fs24) {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px; }

.for-whom .for-whom-block {
  padding-left: 0;
  padding-bottom: 80px; }
.for-whom .flex-block.for-image img {
  display: block;
  z-index: 4;
  float: none;
  max-width: 100%;
  margin: 0 auto; }
.for-whom .flex-block.for-image .dots {
  background-position: top right;
  bottom: 0;
  right: 220px;
  height: 127px;
  z-index: 3; }
.for-whom.flex-wrapper .flex-block.left-position {
  margin-bottom: 0;
  padding-bottom: 40px; }

.food-types li img {
  width: 60px; }
.food-types li span {
  font-size: 16px;
  line-height: 21px; }

.places-of-use {
  /*padding-top: 60px; */ }

.places-carousel.swiper-container {
  margin-bottom: 40px; }
  .places-carousel.swiper-container .swiper-slide {
    width: 400px;
    height: 293px; }
    .places-carousel.swiper-container .swiper-slide.first-elem-1 {
      display: none; }

.place-item .place-item-info {
  padding: 20px; }
  .place-item .place-item-info span {
    font-size: 26px; }

.food-icons-active .food-icon {
  min-width: 62px;
  max-width: 62px;
  height: 62px;
  margin-right: 20px; }

.icon-text-item .icon-image {
  min-width: 100px;
  max-width: 100px; }

.white-beng-bg {
  padding: 200px 0 150px 0;
  min-height: auto; }

.icebox-work-steps-block {
  flex-wrap: wrap;
  justify-content: center; }
  .icebox-work-steps-block .work-step-block {
    min-width: 500px;
    max-width: 500px;
    padding: 0 0 50px 0; }
    .icebox-work-steps-block .work-step-block img {
      width: 180px;
      margin: 30px auto; }
    .icebox-work-steps-block .work-step-block p br {
      display: none; }

.food-suppliers-wrapper {
  padding: 50px 0; }
  .food-suppliers-wrapper .h-block.wrapper-block {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
    .food-suppliers-wrapper .h-block.wrapper-block h2 {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center; }
      .food-suppliers-wrapper .h-block.wrapper-block h2 br {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1; }
    .food-suppliers-wrapper .h-block.wrapper-block .s24 {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      font-size: 20px; }
  .food-suppliers-wrapper .full-width-block {
    padding-top: 20px; }
    .food-suppliers-wrapper .full-width-block .dots {
      left: 0;
      right: auto;
      margin: 0; }
    .food-suppliers-wrapper .full-width-block .absolute-position {
      display: none; }

.food-suppliers-carousel .swiper-wrapper {
  padding-left: 10px; }
.food-suppliers-carousel .swiper-slide {
  width: 320px;
  padding: 20px 10px 30px 10px; }
  .food-suppliers-carousel .swiper-slide.first-elem-2 {
    display: none; }

.offers-wrapper {
  padding: 40px 0; }
  .offers-wrapper .wrapper-block {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
  .offers-wrapper .offer-block {
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    min-height: auto; }

.feed-bac-mini {
  padding-top: 110px; }
  .feed-bac-mini span.fs55 {
    margin-bottom: 15px; }
  .feed-bac-mini .btns-block .btn {
    margin-right: 50px; }

.about-nums.flex-wrapper .flex-block {
  min-width: calc(50% - 10px);
  max-width: calc(50% - 10px); }

.about-nums-block {
  margin-bottom: 20px;
  padding: 15px 20px; }

.markets-in-num-wrapper {
  min-height: auto;
  padding-top: 200px;
  padding-bottom: 100px;
  background-position: top left;
  background-size: cover; }
  .markets-in-num-wrapper .wrapper-block:not(.have-questions) {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
  .markets-in-num-wrapper .have-questions {
    margin-top: 60px; }

.installation-options-wrapper .wrapper-block {
  width: 740px;
  padding: 80px 0; }
.installation-options-wrapper h2 {
  margin-bottom: 25px; }

.installation-options-carousel .swiper-wrapper {
  display: block; }
.installation-options-carousel .swiper-slide {
  min-width: 100%;
  max-width: 100%;
  padding-bottom: 30px; }
.installation-options-carousel:not(:last-child) {
  margin-bottom: 50px; }

.installation-type-wrapper:not(.spec-type) {
  padding-top: 0; }

.installation-type {
  display: flex;
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
  padding: 30px 30px 100px 30px;
  box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }
  .installation-type .img-block {
    min-width: 280px;
    max-width: 280px;
    margin: 0; }
    .installation-type .img-block img {
      max-width: 100%; }
  .installation-type p {
    font-size: 15px; }
  .installation-type .price {
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    padding: 0 30px;
    min-width: 100%;
    max-width: 100%;
    bottom: 30px; }
    .installation-type .price .service-cost {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      width: 280px;
      line-height: 60px; }
    .installation-type .price .btn {
      margin: 0; }

/*gallery start*/
.gallery-wrapper {
  padding: 50px 0; }
  .gallery-wrapper h3 {
    font-size: 26px; }
  .gallery-wrapper .swiper-container {
    padding-left: 60px; }

/*gallery end*/
/*micromarket-page end*/
.have-page-dots .flickity-page-dots {
  line-height: 0; }
  .have-page-dots .flickity-page-dots .dot {
    position: relative;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 100%;
    margin: 0 13px 0 0;
    opacity: 1.0; }
    .have-page-dots .flickity-page-dots .dot:after {
      content: "";
      width: 14px;
      height: 1px;
      background: #aaa;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -1px; }
    .have-page-dots .flickity-page-dots .dot:last-child {
      margin: 0; }
      .have-page-dots .flickity-page-dots .dot:last-child:after {
        display: none; }
    .have-page-dots .flickity-page-dots .dot.is-selected {
      background: #57D435; }
.have-page-dots.bottom-dots .flickity-page-dots {
  bottom: 0; }

.mobile-bottom-btns {
  display: none; }

/*tariffs-page start*/
.tariffs-wrapper.wrapper-block {
  max-width: 100%;
  padding-left: 60px;
  padding-right: 0;
  position: relative; }
  .tariffs-wrapper.wrapper-block:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 100%;
    background: linear-gradient(to left, #fcfcfd, rgba(252, 252, 253, 0.6) 40%, rgba(252, 252, 253, 0));
    top: 0;
    right: 0;
    z-index: 10; }

.table-wrapper-1 {
  overflow-x: auto; }

.table-wrapper {
  width: 1220px;
  padding-right: 60px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .table-wrapper .two-fingers {
    display: block;
    width: 50px;
    position: absolute;
    z-index: 100;
    left: 492px;
    top: 82px; }
  .table-wrapper .tr-block .td-block.first-td-block {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 10;
    min-width: 300px;
    max-width: 300px;
    background: #fcfcfd; }
    .table-wrapper .tr-block .td-block.first-td-block.hight-z-index {
      z-index: 15;
      cursor: default; }
      .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block {
        z-index: 14; }
        .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block {
          height: auto;
          z-index: 14; }
          .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:before, .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:after {
            opacity: 1.0; }
          .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:before {
            z-index: 12; }
          .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block:after {
            z-index: 14; }
        .table-wrapper .tr-block .td-block.first-td-block.hight-z-index .have-explanatory-note-block .explanatory-note-block-text {
          height: auto;
          opacity: 1.0;
          padding: 15px;
          z-index: 13; }
  .table-wrapper .tr-block.title-tr .td-block.first-td-block {
    z-index: 20;
    background: #fcfcfd;
    border-radius: 0 20px 0 0; }
  .table-wrapper .tr-block.title-tr .td-block span.only-mobile {
    display: none; }
  .table-wrapper .tr-block.btns-fixed-position {
    padding: 20px 0;
    position: initial; }
    .table-wrapper .tr-block.btns-fixed-position.abs-bottom {
      position: initial; }
    .table-wrapper .tr-block.btns-fixed-position .td-block.first-td-block:before {
      position: absolute;
      content: '';
      width: calc(100% - 1px);
      height: 85px;
      left: 0;
      top: -20px;
      background: #fcfcfd;
      border-right: 2px solid #e8e2e1; }

/*tariffs-page end*/
@media screen and (max-width: 959px) {
  .about-discounts.on-main-page h2, .about-discounts.on-scan-go h2 {
    font-size: 25px; } }

/*# sourceMappingURL=tablet.css.map */

.screen-block img {
    width: 100%;
}