<script async type="text/javascript">!function () {
        var t = document.createElement("script");
        t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?168", t.onload = function () {
            VK.Retargeting.Init("VK-RTRG-493502-avijj"), VK.Retargeting.Hit()
        }, document.head.appendChild(t)
    }();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-493502-avijj" style="position:fixed; left:-999px;" alt=""/></noscript>
<script id="bx24_form_inline" data-skip-moving="true">
    (function() {
        var pastCallback = typeof window.roistatVisitCallback === "function" ? window.roistatVisitCallback : null;
        window.roistatVisitCallback = function (visitId) {
            if (pastCallback !== null) {
                pastCallback(visitId);
            }

            (function (w, d, u, b) {
        w['Bitrix24FormObject'] = b;
        w[b] = w[b] || function () {
            arguments[0].ref = u;
            (w[b].forms = w[b].forms || []).push(arguments[0])
        };
        if (w[b]['forms'])
            return;
        var s = d.createElement('script');
        s.async = 1;
        s.src = u + '?' + (1 * new Date());
        var h = d.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s, h);
    })(window, document, 'https://briskly.bitrix24.ru/bitrix/js/crm/form_loader.js', 'b24form');

    b24form({"id": "25", "lang": "ru", "sec": "gjdf77", "type": "inline", "presets": {"roistatID": visitId}});

        };
        VK.Goal('submit_application');
    })();
</script>