<template>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li v-for="(item, index) in content.navigation" :key="index" class="header-nav-item">
        <a v-if="!item.dropdown" :href="item.link" class="header-nav-link" :target="item.target">
          <svg v-if="item.icon" class="inline-icon header-nav-icon">
            <use :href="`#${item.icon}`" />
          </svg>
          {{ item.title }}
        </a>
        <a v-else class="header-nav-link">
          <DropdownNavigation
            :title="item.title"
            :apps="content.apps"
            :contact="content.contact"
            :socials="content.socials"
          >
            <DropdownNavigationItem
              v-for="(element, dropdownIndex) in item.dropdown"
              :key="`dropdown-${dropdownIndex}`"
              :title="element.title"
              :desc="element.desc"
              :icon="element.icon"
              :link="element.link"
              :target="element.target"
            />
          </DropdownNavigation>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
import DropdownNavigation from '@/components/Dropdowns/DropdownNavigation/DropdownNavigation.vue'
import DropdownNavigationItem from '@/components/Dropdowns/DropdownNavigation/DropdownNavigationItem.vue'

export default {
  components: {
    DropdownNavigation,
    DropdownNavigationItem
  },
  props: {
    content: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
