<template>
  <div class="tabs">
    <div :id="name" class="splide container">
      <div class="splide__track">
        <ul class="splide__list">
          <li
            v-for="(tab, index) in tabs"
            :key="index"
            :class="{
              'button': true,
              'tab-button': true,
              'is-flexible': true,
              'is-outline': index !== selectedIndex,
              'splide__slide': true
            }"
            @click="selectTab(index)"
          >
            {{ tab.title }}
          </li>
        </ul>
      </div>
    </div>
    <div class="container tab-content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'tabs'
    }
  },
  data () {
    return {
      selectedIndex: 0,
      tabs: []
    }
  },
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
    this.$nextTick(() => {
      this.initSplide()
    })
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i
      this.tabs.forEach((tab, index) => {
        tab.isActive = (index === i)
      })
    },
    initSplide () {
      new this.$Splide(`#${this.name}`, {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: false,
        lazyLoad: 'sequential',
        gap: '20px'
      }).mount()
    }
  }
}
</script>
