$working-image-size: 160px;
$working-arrow-width: 150px;

.section-working {
  display: block;
  position: relative;
  background: $bgPrimary;
  margin-top: 200px;
  padding-bottom: 150px;
}

.section-working-bg {
  top: -$rotation-height;
  @include rotation-bg($bgPrimary, 3deg, false);
}

.section-working-slider {
  margin-top: 60px;
  
  .splide__track {
    overflow: visible;
  }
}

.section-working-slider-fade {
  overflow: hidden;
}

.section-working-slider-item {
  position: relative;
  display: block;
  width: 300px;
  margin-right: $working-arrow-width;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -$working-arrow-width * 0.5;
    background-position: center; 
    background-repeat: no-repeat;
    height: $working-image-size;
    width: $working-arrow-width;
    background-image: url('static/long-arrow.svg');
  }
}

.section-working-slider {
  .splide__slide {
    &.is-active {
      .section-working-slider-item {
        &::after {
          background-image: url('static/long-arrow-green.svg');
        }
      }
    }
    &:last-child {
      .section-working-slider-item {
        &::after {
          display: none;
        }
      }
    }
  }
}

.section-working-slider-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $working-image-size;
  width: $working-image-size;
  background: $white;
  border-radius: $radius-md;
  box-shadow: 0px 3px 42px rgba(25, 27, 35, 0.06);
  margin-bottom: 37px;
}
.section-working-slider-item-title {
  font-size: 18px;
  font-weight: 500;
  color: $txtPrimary;
  margin-bottom: 12px;
}

.section-working-slider-item-content {
  font-size: 16px;
  line-height: 25px;
  color: $txtTertiary;
}

.section-working-form {
  margin-top: 70px;
}

@include until(1280px) {
  
}

@include until(1140px) {
  
}

@include until(1024px) {
  
}

@include until(768px) {
  .section-working {
    margin-top: 200px;
    padding-bottom: 50px;
  }
}

@include until(640px) {
  
}

@include until(480px) {
  .section-working-slider-item {
    &::after {
      right: 5%;
      background-position: right;
      height: $working-image-size;
      width: 50px;
    }
  }
}