.section-catalog {}

.section-catalog-cards {
  display: grid;
  margin-top: 60px;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
}


.section-catalog-card {
  min-height: auto;
}

@include until(1140px) {
  .section-catalog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include until(1024px) {
  
}

@include until(768px) {
  .section-catalog-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}