.section-mobile-action {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
  padding: $gap;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.section-mobile-action-item {
  flex-grow: 1;
  flex-shrink: 0;

  a.button {
    font-size: 14px;
    min-height: 37px;
    padding: 0 5px;
    min-width: auto;
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@include from(1024px) {
  .section-mobile-action {
    display: none;
  }
}