.section-app {
  position: relative;
  display: block;
  background: $bgPrimary;
  margin-top: 150px;
  padding-bottom: 200px;
}

.section-app-wrapper {
  display: flex;
}

.section-app-image {
  display: block;
  width: 40%;

  img {
    max-width: 700px;
    margin-left: -30px;
  }
}

.section-app-title {
  margin-bottom: 50px;
}

.section-app-text {
  margin-bottom: 40px;
}

.section-app-content {
  padding-left: 50px;
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
}

.section-app-apps {
  display: flex;
  margin-top: 55px;

  a {
    display: inline-block;
    margin-right: 30px;
  }

  img {
    width: 100%;
    max-width: 200px;
  }
}

@include until(1440px) {
  .section-app-image {
    width: 40%;
  }

  .section-app-content {
    width: 55%;
  }
}

@include until(1280px) {
  .section-app-image {
    img {
      min-width: 700px;
      margin-left: -100px;
    }
  }
}

@include until(1140px) {
  
}

@include until(1024px) {
  .section-app-image {
    width: 35%;

    img {
      min-width: 670px;
      margin-left: -250px;
    }
  }
  .section-app-content {
    width: 65%;
  }
}

@include until(768px) {
  .section-app-wrapper {
    display: block;
  }

  .section-app-image {
    width: auto;
    max-width: 100%;

    img {
      min-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  .section-app-content {
    width: auto;
    padding: 0 25px
  }
  .section-app-apps {
    a {
      text-align: center;
      margin-right: 0;
      padding: 10px;
    }
  }
}

@include until(640px) {
  .section-app-image {
    img {
      margin-left: -100px;
    }
  }
}

@include until(480px) {
  .section-app-image {
    img {
      margin-left: -190px;
    }
  }
}