.section-factory-background {
  background: $bgPrimary;
}

.section-factory-padding {
  padding-top: 150px;
}

.section-factory-top {
  max-width: $desktop;
  margin: 0 auto;
}

.section-factory-wrapper {
  display: block;
}

.section-factory-video {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  img {
    position: relative;
    z-index: 2;
    max-width: 800px;
    border-radius: $radius-md;
  }
}

.section-factory-fridge {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -160px;
  right: -160px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
}

.section-factory-form {
  margin-top: 120px;
  background: linear-gradient($bgPrimary 50%, $white 50%);
}

@include until(1280px) {
  
}

@include until(1140px) {
  .section-factory-top {
    padding: 0 25px;
  }

  .section-factory-video {
    height: 425px;

    img {
      border-radius: $radius-md;
      max-width: 680px;
    }
  }

  .section-factory-fridge {
    height: 425px;
  }
}

@include until(1024px) {
  .section-factory {
    padding-top: 80px;
  }
  
  .section-factory-video {
    height: 300px;

    img {
      max-width: 470px;
    }
  }

  .section-factory-fridge {
    height: 300px;
  }
}

@include until(768px) {
  
}

@include until(640px) {
  .section-factory-video {
    height: 220px;

    img {
      max-width: 350px;
    }
  }

  .section-factory-fridge {
    height: 220px;
  }
}

@include until(480px) {
  .section-factory-video {
    height: 160px;

    img {
      max-width: 260px;
    }
  }

  .section-factory-fridge {
    height: 160px;
  }

  .section-factory-wrapper {
    padding-bottom: 60px;
  }

  .section-factory-form {
    margin-top: 60px;
    background: none;
  }
}