.section-brands {
  display: block;
  position: relative;
}

.section-brands-wrapper {
  display: flex;
  height: 180px;
  margin: 50px 0;
  width: 100vw;
}

.section-brands-row {
  position: absolute;
  display: flex;
}

.section-brands-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 180px;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0px 42px 99px rgba(25, 27, 35, 0.06);
  border-radius: $radius-md;
  margin-right: 40px;
  background: $white;
}

@include until(480px) {
  .section-brands-wrapper {
    height: 140px;
  }
  .section-brands-logo {
    width: 236px;
    height: 140px;
    
    img {
      transform: scale(0.7);
    }
  }
}