.section-feedback {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0) 50%, $bgPrimary 50%);
  padding-top: 150px;
  padding-bottom: 80px;
}

.section-feedback-title {
  margin-bottom: 35px;
}

.section-feedback-phone {
  @include text-hover($white, $primary);
}

.section-feedback-bg {
  overflow: hidden;
  padding: 150px 0;
  background: $acColdPine;
}

.section-feedback-wrapper {
  display: flex;
}

.section-feedback-content {
  position: relative;
  z-index: 1;
  width: 65%;
}

.section-feedback-form {
  width: 35%;

  .checkbox-row {
    margin-bottom: 21px;
  }
}

.section-feedback-man-mobile {
  display: none;
}

.section-feedback-man {
  position: absolute;
  bottom: -130px;
  left: 35vw;
  max-width: 500px;
  transform: rotate3d(1, 1, 1, -6deg);
}

@include until(1440px) {
  .section-feedback-content {
    width: 50%;
  }

  .section-feedback-form {
    width: 50%;
  }
}

@include until(1280px) { 
  .section-feedback-man {
    left: 15vw;
    bottom: -100px;
  }
}

@include until(1140px) {
  
}

@include until(1024px) {
  .section-feedback {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .section-feedback-wrapper {
    position: relative;
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }

  .section-feedback-content {
    width: auto;
    margin-bottom: 50px;
  }
  
  .section-feedback-form {
    width: auto;
  }

  .section-feedback-man {
    display: none;
  }

  .section-feedback-man-mobile {
    display: block;
    position: absolute;
    top: 30px;
    right: -40px;
    z-index: 0;

    img {
      max-width: 200px;
      height: auto;
      transform: scale(-1, 1);
    }
  }
}

@include until(768px) {
  .section-feedback {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
}

@include until(640px) {
  
}

@include until(480px) {
  .section-feedback-man-mobile {
    display: none;
  }
}

// Bitrix form

.section-feedback-form {
  .b24-form {
    .b24-form-wrapper {
      .b24-form-field-agreement-link {
        color: rgba($white, 0.9);
        opacity: 1;
      }
    }
  }
}