.section-detail {
  position: relative;
  display: block;
  padding: 250px 0;
}

.section-detail-title {
  position: relative;
  z-index: 2;
  margin-bottom: 87px;
}

.section-detail-bg {
  overflow: hidden;
  background: linear-gradient(-50deg, #1E2330 20.89%, #239E7A 92.7%);
}

// .section-detail-circle-bg {
//   position: absolute;
//   z-index: 1;
//   width: 1200px;
//   height: 1100px;
//   left: -100px;
//   top: -300px;
//   background: url('static/bgBlur_5.png') no-repeat;
//   background-size: contain;
// }

.section-detail-cards {
  position: relative;
  z-index: 2;

  .card-outline {
    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1 / 2;
    }

    &:nth-child(3) {
      grid-column: 1;
      grid-row: 3 / 6;
    }

    &:nth-child(4) {
      grid-column: 2;
      grid-row: 2 / 4;
    }

    &:nth-child(5) {
      grid-column: 2;
      grid-row: 4 / 6;
    }
  }
}

.section-detail-money {
  position: absolute;
  bottom: -180px;
  left: -50px;
  
  img {
    width: 277px;
    height: auto;
  }
}

@include from (768px) {
  .section-detail-cards-splide.splide .splide__list {
    &.section-detail-cards {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }
}

@include until(1440px) {
  // .section-detail-money {
  //   img {
  //     max-width: 320px;
  //   }
  // }
}

@include until(1024px) {
  .section-detail {
    padding-top: 150px;
    padding-bottom: 200px;
  }

  .section-detail-title {
    margin-bottom: 60px;
  }

  // .section-detail-money {
  //   img {
  //     max-width: 277px;
  //   }
  // }
}

@include until(768px) {
  .section-detail {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .section-detail-cards-splide.splide .splide__list {
    .splide__slide {
      width: 80vw;
    }
  }

  .section-detail-title {
    margin-bottom: 40px;
  }

  .section-detail-circle-bg {
    opacity: 0.7;
  }

  .section-detail-money {
    bottom: -120px;

    img {
      max-width: 227px;
    }
  }
}

@include until(480px) {
  .section-detail {
    padding: 50px 0;
  }

  .section-detail-money {
    img {
      max-width: 162px;
    }
  }
}