.section-steps {}

.section-steps-cards {
  display: grid;
  margin-top: 60px;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.section-steps-card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 30px;
}

.section-steps-card-note {
  color: $primary;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-steps-card-title {
  font-size: 28px;
  line-height: 120%;
  font-weight: 800;
  color: $txtPrimary;
}

.section-steps-card-image {}

.section-steps-card-loader {
  display: none;
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: #161A23;
}

.section-steps-card-loader-progress {
  background: $primary;
  animation: stepsLoader 4s infinite;
  height: 5px;
}

.section-steps-card {
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 42px 99px rgba(0, 28, 47, 0.05);
  border-radius: $radius-md;
  background: $white;
  transition: background 0.3s;

  &.is-active {
    background: $txtPrimary;

    .section-steps-card-title {
      color: $white;
    }

    .section-steps-card-loader {
      display: block;
    }
  }
}


@keyframes stepsLoader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@include until(768px) {
  .section-steps-card-note {
    font-size: 16px;
  }
  
  .section-steps-card-title {
    font-size: 20px;
  }

  .section-steps-card-image {
    max-width: 288px;
  }
}