.section-statistics {}

.section-statistics-cards {
  display: grid;
  margin-top: 60px;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.section-statistics-card {
  background: $txtPrimary;
}

.section-statistics-images {
  position: relative;
  z-index: 1; // TODO: убрать
  margin-top: 60px;
  display: flex;
}

.section-statistics-images-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 33.33%;
}

.section-statistics-images-item-logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.section-statistics-images-item-content {
  color: $txtPrimary;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}

@include until(1140px) {
  .section-statistics-images-item-content {
    font-size: 16px;
  }

  .section-statistics-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-statistics-card {
    &:first-child {
      grid-column: 1 / 3;
      grid-row: 1;

      .card-flexible-background-image {
        background-size: contain;
      }
    }

    &:not(:first-child)  {
      grid-row: 2;
    }
  }
}

@include until(1024px) {
  .section-statistics-images {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }

  .section-statistics-images-item-logo {
    min-width: 140px;
    margin-right: 30px;
  }

  .section-statistics-images-item {
    flex-direction: row;
    text-align: left;
    margin-top: 60px;
    width: auto;
  }

  .section-statistics-images-item-content {
    font-size: 20px;
  }
}

@include until(768px) {
  .section-statistics-cards {
    display: block;
  }

  .section-statistics-card {
    margin-bottom: 30px;
    &:first-child {
      .card-flexible-background-image {
        background-size: cover;
      }
    }
  }

  .section-statistics-images-item {
    flex-direction: column;
    text-align: center;
  }

  .section-statistics-images-item-logo {
    margin: 0;
    margin-bottom: 20px;
  }

  .section-statistics-images-item-content {
    font-size: 16px;
  }
}