.section-safe {
  position: relative;
  background: $acColdPine;
  padding-top: 150px;
}

.section-safe-container {
  position: relative;
  z-index: 1;
}

ul.section-safe-list {
  margin-top: 80px;
  li {
    color: rgba($white, 0.9);
    font-size: 18px;
  }
}

.section-safe-gallery {
  margin-top: 86px;
  margin-bottom: 140px;
}

.section-safe-gallery-item {
  cursor: pointer;
}

.section-safe-cards {
  margin-bottom: 150px;
}

.section-safe-cards-wrapper {
  &.splide__list {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
  }
}

.section-safe-card {
  border-color: #068C78 !important;
}

.section-safe-camera {
  position: absolute;
  top: -200px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: hidden;
  z-index: 1;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 1200px;
  //   height: 1030px;
  //   margin-left: 50vw;
  //   top: 0;
  //   z-index: 0;
  //   background: url('static/bgBlur_6.png') no-repeat;
  //   background-size: contain;
  // }

  img {
    position: relative;
    z-index: 1;
    margin-left: 60vw;
    width: 730px;
  }
}

.section-safe-bg {
  top: -200px;
  @include rotation-bg($acColdPine, 3deg)
}

.section-safe-form {
  position: relative;
  z-index: 1;
  background: linear-gradient($acColdPine 50%, $bgPrimary 50%);
}

.section-safe-lightbox {
  position: relative;
  z-index: 2;
}

@include until(1600px) {
  .section-safe-camera {
    &::before {
      width: 1100px;
      height: 900px;
      margin-left: 47vw;
      top: 50px;
    }

    img {
      max-width: 700px;
    }
  }
}

@include until(1440px) {
  .section-safe-camera {
    &::before {
      width: 1000px;
      height: 800px;
      margin-left: 55vw;
      top: 50px;
    }

    img {
      max-width: 587px;
      margin-left: 70vw;
    }
  }
}

@include until(1280px) {
  .section-safe-camera {
    &::before {
      width: 900px;
      height: 700px;
      top: 0;
    }

    img {
      max-width: 470px;
      margin-left: 72vw;
    }
  }
}

@include until(1140px) {
  .section-safe {
    padding-top: 100px;
  }
}

@include until(1024px) {
  .section-safe-camera {
    &::before {
      width: 650px;
      height: 450px;
      margin-left: 65vw;
    }

    img {
      max-width: 340px;
    }
  }
}

@include until(768px) {
  .section-safe {
    padding-top: 70px;
  }

  ul.section-safe-list {
    margin-top: 50px;
  }

  .section-safe-cards {
    padding-bottom: 50px;
    margin-bottom: 30px;
  }

  .section-safe-gallery {
    margin: 50px 0;
  }
}

@include until(640px) {
  .section-safe-camera {
    top: -170px;

    &::before {
      width: 400px;
      height: 200px;
      margin-left: 60vw;
    }
    
    img {
      max-width: 248px;
    }
  }
}

@include until(480px) {
  .section-safe {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .section-safe-camera {
    top: -140px;

    img {
      max-width: 160px;
    }
  }

  .section-safe-form {
    background: none;
  }
}