.section-about {
  position: relative;
  background-color: $bgPrimary;
  margin-bottom: 260px;
  padding-top: 70px;
}

.section-about-wrapper {
  display: flex;
}

.section-about-lightbox {
  position: relative;
  z-index: 99;
}

.section-about-gallery {
  margin-top: 86px;
  margin-bottom: 140px;
  z-index: 2;
}

.section-about-gallery-item {
  cursor: pointer;
  border-radius: 44px;
  max-height: 182px;
}

.section-about-image {
  position: relative;
  width: 50%;
  margin-top: -50px;
  z-index: 2;

  .section-about-image-preview {
    position: relative;
    min-width: 1180px;
    height: auto;
    margin-left: -80%;

    img {
      border-radius: 70px;
    }
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: -400px;
  //   background: url('static/bgBlur_2.png') no-repeat;
  //   background-size: contain;
  //   width: 1000px;
  //   height: 1000px;
  // }
}

.section-about-image-desc {
  position: relative;
  margin-top: 31px;
  display: flex;
  align-items: center;

  span {
    max-width: 245px;
    margin-left: 21px;
    font-size: 16px;
    line-height: 24px;
    color: $txtFocus;
  }

  .section-about-image-desc-mad-in {
    position: relative;

    img {
      position: relative;
      width: 96px;
      height: auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: -40px;
      bottom: 0;
      left: -40px;
      right: 0;
      transition: all 0.5s;
      width: 180px;
      height: 180px;
      background: url('static/bgBlur_3.png') no-repeat;
      background-size: contain;
    }
  }

  &:hover {
    .section-about-image-desc-mad-in {
      &::before {
        transform: rotate(180deg) scale(1.2);
      }
    }
  }
}

.section-about-content {
  width: 50%;
  position: relative;
  z-index: 2;
}

.section-about-text {
  font-weight: 300;
  max-width: 586px;
  margin-top: 41px;
}

.section-about-lists {
  display: flex;
  margin-top: 33px;
  max-width: 550px;
}

.section-about-list {
  width: 50%;
}

.section-about-list-title {
  color: $txtSecondary;
  font-size: 21px;
  line-height: 160%;
  font-weight: 700;
  margin-bottom: 18px;
}

.section-about-more {
  margin-top: 63px;
}

@include until(1280px) {
  .section-about-image {
    // margin-top: -280px;

    .section-about-image-preview {
      margin-left: -87%;
      height: auto;
    }
  }
}

@include until(1140px) {
  .section-about-image {
    // margin-top: -50px;

    .section-about-image-preview {
      margin-left: -70%;
      max-width: 800px;
      min-width: auto;
    }
  }
}

@include until(1024px) {
  .section-about-image {
    padding-right: 30px;
    // margin-top: -150px;
  }

  .section-about-image-desc {
    display: block;

    span {
      max-width: 100%;
      margin-left: 0;
    }

    .section-about-image-desc-mad-in {
      margin-bottom: 20px;
      
      &::before {
        display: none;
      }
    }
  }
}

@include until(768px) {
  .section-about {
    padding-top: 40px;
    margin-bottom: 150px;
  }
  .section-about-list-title {
    font-size: 18px;
    line-height: 29px;
  }

  .section-about-image-desc {
    .section-about-image-desc-mad-in {
      img {
        width: 77px;
        height: auto;
      }
    }
  }

  .section-about-more {
    margin-top: 20px;
  }
}

@include until(640px) {
  .section-about-wrapper {
    display: block;
  }

  .section-about-image-desc {
    display: flex;
    .section-about-image-desc-mad-in {
      margin-bottom: 0;
      margin-right: 15px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .section-about-image {
    width: auto;
    padding: 0;
    margin-bottom: 50px;

    &::before {
      display: none;
    }

    .section-about-image-preview {
      max-width: 100%;
      height: auto;
      margin-left: 0;

      img {
        border-radius: 40px;
      }

      &::before {
        display: none;
      }
    }

    .section-about-image-desc {
      margin-top: $gap;
    }
  }

  .section-about-content {
    width: auto;
  }

  .section-about-more {
    width: 100%;
  }
}

@include until(480px) {
  .section-about-image-desc {
    span {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .section-about-lists {
    display: block;
  }

  .section-about-list {
    margin-bottom: 30px;
    width: auto;
  }
}