.section-scale {}

.section-scale-cards {
  display: grid;
  margin-top: 30px;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}


.section-scale-card {
  min-height: auto;
}

.section-scale-banner {
  background-color: #15181D;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding: 80px 60px;
  border-radius: $radius-md;
  color: $white;
}

.section-scale-banner-note {
  font-size: 24px;
  opacity: 0.5;
  margin-bottom: 38px;
}

.section-scale-banner-title {
  font-size: 34px;
  font-weight: 800;

}

.section-scale-banner-description {
  font-size: 24px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 500;
}

@include until(1140px) {
  .section-scale-banner-note {
    font-size: 20px;
  }

  .section-scale-banner-description {
    font-size: 20px;
  }
}

@include until(1024px) {
  .section-scale-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-scale-card {
    &:last-child {
      display: none;
    }
  }
}

@include until(768px) {
  .section-scale-banner {
    padding: 30px 20px;
    min-height: 500px;
    background-position: center bottom;
    background-size: 250%;
  }

  .section-scale-cards {
    grid-template-columns: repeat(1, 1fr);

    img {
      max-width: 120px;
      height: auto;
    }
  }

  .section-scale-banner-content {
    margin: 0 auto;
    max-width: max-content;
  }

  .section-scale-banner-note {
    font-size: 16px;
  }

  .section-scale-banner-title {
    font-size: 24px;
  }

  .section-scale-banner-description {
    font-size: 16px;
  }
}