.section-offer {
  padding: 200px 0;
}

.section-offer-title {
  font-weight: 800;
  color: $txtPrimary;
}

.section-offer-subtitle {
  max-width: 70%;
  margin-top: 32px;
}

.section-offer-title-procent {
  font-size: 123px;
  line-height: 100%;
  color: $primary;
}

.section-offer-title-service {
  font-size: 80px;
  line-height: 100%;
}

.section-offer-title-acquiring {
  font-size: 42px;
  line-height: 100%;
}

ul.section-offer-list {
  margin-top: 37px;
  margin-bottom: 47px;
  li {
    font-size: 16px;
  }
}

.section-offer-girl {
  position: absolute;
  top: 0;
  right: 0;
  
  img {
    max-width: 490px;
    height: auto;
  }
}

@include until(1280px) {
  .section-offer-title-procent {
    font-size: 112px;
  }

  .section-offer-title-service {
    font-size: 73px;
  }
  
  .section-offer-title-acquiring {
    font-size: 38px;
  }

  .section-offer-girl {
    right: -50px;
  }
}

@include until(1140px) {
  .section-offer-girl {
    right: -100px;
    img {
      max-width: 450px;
    }
  }
}

@include until(1024px) {
  .section-offer-title-procent {
    font-size: 92px;
  }

  .section-offer-title-service {
    font-size: 60px;
  }
  
  .section-offer-title-acquiring {
    font-size: 31px;
  }

  .section-offer-subtitle {
    max-width: 100%;
  }

  .section-offer-girl {
    right: 0;
    top: auto;
    bottom: -120px;

    img {
      width: 280px;
    }
  }
}

@include until(768px) {
  .section-offer-title-procent {
    font-size: 76px;
  }

  .section-offer-title-service {
    font-size: 50px;
  }
  
  .section-offer-title-acquiring {
    font-size: 26px;
  }

  .section-offer-girl {
    right: -50px;
    bottom: -100px;
  }
}

@include until(640px) {
  .section-offer {
    position: relative;
    z-index: 1;
    padding: 100px 0;
  }

  .section-offer-title {
    max-width: 70%;
  }

  .section-offer-subtitle {
    max-width: 80%;
  }

  .section-offer-title-procent {
    font-size: 80px;
  }

  .section-offer-title-service {
    font-size: 45px;
  }
  
  .section-offer-title-acquiring {
    font-size: 24px;
  }

  .section-offer-girl {
    right: -80px;
    top: -50px;
    bottom: auto;
  }
}

@include until(480px) {
  .section-offer-title-procent {
    font-size: 46px;
  }

  .section-offer-title-service {
    font-size: 30px;
  }
  
  .section-offer-title-acquiring {
    font-size: 16px;
  }

  .section-offer-girl {
    right: -30px;
    top: -50px;
    bottom: auto;

    img {
      max-width: 165px;
    }
  }
}