.section-calc {
  background: linear-gradient(to bottom, $bgPrimary 92%, #fff 50%);
  padding-top: 150px;
}

.section-calc-wrapper {
  position: relative;
  z-index: 2;
  max-width: $desktop;
  margin: 0 auto;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: -15%;
  //   right: -25%;
  //   top: 15%;
  //   bottom: 0;
  //   width: 140%;
  //   height: 100%;
  //   z-index: 0;
  //   background: url('static/bgBlur_4.png') no-repeat;
  //   background-size: contain;
  // }
}

.section-calc-robo {
  position: absolute;
  z-index: 1;
  top: -230px;
  right: -200px;
  height: 1030px;
  width: 747px;
  background-image: url('static/antropo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.section-calc-content {
  position: relative;
  z-index: 1;
  min-height: 635px;
  margin-top: 70px;
  background: $bgPrimary;
  border: 1px solid $bgTertiary;
  box-shadow: 0px 42px 99px rgba(25, 27, 35, 0.06);
}

.section-calc-dots {
  position: absolute;
  z-index: 1;
  max-width: 800px;
  top: 200px;
  left: -13%;
}

@include until(1280px) {
  
}

@include until(1140px) {
  
}

@include until(1024px) {
  .section-calc-dots {
    top: 125px;
  }
  
  .section-calc-wrapper {
    margin: 0;

    &::before {
      display: none;
    }
  }

  .section-calc-content {
    margin: 50px -25px;
  }
}

@include until(768px) {
  .section-calc {
    display: none;
    padding-bottom: 150px;
  }

  .section-calc-dots {
    top: 100px;
    left: -25%;
  }

  .section-calc-robo {
    display: none;
  }
}

@include until(640px) {
  .section-calc {
    padding-bottom: 100px;
  }
}

@include until(480px) {
  .section-calc {
    padding-bottom: 70px;
  }
}