.section-presentation {
  position: relative;
  padding-top: 180px;
  padding-bottom: 280px;
  margin-top: -80px;
  margin-bottom: 100px;
}

.section-presentation-container {
  z-index: 9;
}

.section-presentation-bg {
  background: linear-gradient(118.72deg, #1E2330 34.6%, #1F9679 86.93%);
  z-index: 1;
}

.section-presentation-title {
  font-size: 42px;
  font-weight: 800;
  color: $white;
  margin-bottom: 16px;
}

.section-presentation-desc {
  font-size: 21px;
  font-weight: 300;
  color: rgba($white, 0.8);
}

.section-presentation-form {
  margin-top: 41px;
  max-width: 420px;

  .checkbox-row {
    margin-bottom: 21px;
  }
}

.section-presentation-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  padding-top: 40px;
}

.section-presentation-content {
  width: 50%;
}

.section-presentation-video {
  width: 50%;
  margin-top: 10px;
  position: relative;

  a {
    cursor: pointer;
  }

  img {
    position: relative;
    z-index: 1;
  }
}

.section-presentation-video-preview {
  width: 100%;
  height: auto;
  max-width: 536px;
}

.section-presentation-video-desc {
  position: relative;
  z-index: 1;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  color: rgba($white, 0.8);
  margin-top: 41px;
}

.section-presentation-meditation-gay {
  position: absolute;
  max-width: 1900px;
  margin: 0 auto;
  top: -200px;
  left: 0;
  right: 0;
  transform: rotate3d(1, 1, 1, -6deg);
  z-index: 1;
  
  img {
    width: 316px;
    height: auto;
    margin-left: -30px;
  }
}


.section-presentation-post-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: -150px;
  right: -150px;
  overflow: hidden;
  transform: rotate3d(1, 1, 1, 6deg);
}

// .section-presentation-circle-bg {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: -300px;
//   background-image: url('static/bgBlur_1.png');
//   background-size: contain;
//   background-repeat: no-repeat;
//   opacity: 0.8;
//   height: 1000px;
//   width: 1000px;
// }

.section-presentation-post {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  right: -150px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  
  img {
    width: 310px;
    height: auto;
  }
}

.section-presentation-dots {
  position: absolute;
  z-index: 0;
  bottom: -20px;
}

@include until(1280px) {
  .section-presentation-title {
    font-size: 36px;
  }

  .section-presentation-content {
    padding-right: 30px;
  }
  
  .section-presentation-video-preview {
    max-width: 400px;
  }

  .section-presentation-post {
    right: 50px;
  }
}

@include until(1140px) {
  .section-presentation-title {
    font-size: 30px;
  }

  .section-presentation-post {
    right: 100px;
  }
}

@include until(1024px) {
  .section-presentation {
    padding-top: 100px;
  }

  .section-presentation-wrapper {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }

  .section-presentation-content {
    width: auto;
    padding: 0;
  }

  .section-presentation-form {
    max-width: 100%;
  }

  .section-presentation-video {
    width: auto;
    margin-top: 50px;
  }

  .section-presentation-video-preview {
    max-width: 100%;
  }

  .section-presentation-meditation-gay {
    img {
      width: 204px;
      height: auto;
      margin-left: 0;
      margin-top: 30px;
    }
  }

  .section-presentation-post {
    img {
      width: 232px;
      height: auto;
    }
  }
}

@include until(768px) {
  .section-presentation {
    padding-top: 10px;
    padding-bottom: 150px;
  }

  .section-presentation-post {
    img {
      width: 202px;
      height: auto;
    }
  }

  .section-presentation-meditation-gay {
    display: none;
  }
}

@include until(480px) {
  .section-presentation-post {
    img {
      width: 153px;
      height: auto;
    }
  }
}

// Bitrix form

.section-presentation-form {
  .b24-form {
    .b24-form-wrapper {
      .b24-form-control-desc {
        color: rgba($white, 0.8);
        opacity: 1;
      }
    }
  }
}