.section-map {
  display: flex;
  align-items: stretch;
  height: 1000px;
  transform: rotate(-4deg);
  overflow: hidden;
  padding: 0 55px;
  margin: 0 -60px;
  margin-bottom: -200px;
}

.section-map-wrapper {
  flex-grow: 1;
  background: $black;
  transform: rotate(4deg);
  margin-top: -80px;
}

.section-map-title {
  position: absolute;
  margin-top: 80px;
  top: 150px;
  left: 0;
  color: $white;
  font-weight: 800;
  font-size: 80px;
  line-height: 84%;
}

@include until(1440px) {
  .section-map {
    margin-bottom: -150px;
  }

  .section-map-title {
    font-size: 75px;
    left: 50px;
  }
}

@include until(1280px) {
  .section-map {
    height: 900px;
    margin-bottom: -110px;
  }

  .section-map-title {
    font-size: 71px;
    top: 120px;
  }
}

@include until(1140px) {
  .section-map-title {
    font-size: 64px;
  }
}

@include until(1024px) {
  .section-map {
    height: 640px;
    margin-bottom: -90px;
  }
  
  .section-map-title {
    font-size: 54px;
  }
}

@include until(768px) {
  .section-map-title {
    font-size: 42px;
    top: 90px;
  }
}

@include until(640px) {
  .section-map-title {
    font-size: 36px;
  }
}

@include until(480px) {
  .section-map {
    height: 350px;
    margin-bottom: -50px;
  }
  
  .section-map-title {
    font-size: 27px;
    top: 60px;
  }
}