.section-starter {
  padding: 100px 0;
}

.starter-cards {
  margin-top: 70px;
}

ul.starter-cards-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.starter-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  max-width: 420px;

  &.is-popular {
    background: $white;
    border-radius: $radius-md;
    box-shadow: 0px 4px 123px rgba(25, 27, 35, 0.09);
  }
}

.starter-card-description {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 220px;
  height: 31px;
  background: $white;
  border-radius: 8px;
  box-shadow: 0px 3px 42px rgba(25, 27, 35, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 2px;
}

.starter-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  height: 300px;
  width: auto;
}

.starter-title {
  font-size: 24px;
  line-height: 25px;
  font-weight: 800;
  margin-bottom: 21px;
}

.starter-content {
  margin-bottom: auto;
}

ul.starter-list {
  li {
    font-size: 16px;
    color: $txtPrimary;
  }
}

.starter-list-description {
  font-size: 16px;
  font-weight: 100;
  margin-top: 40px;
}

.starter-list-subtitle {
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 40px;
}

.starter-price {
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
  color: $txtPrimary;
  margin-top: 24px;
  margin-bottom: 33px;
}

@include until(1280px) {
  .starter-card {
    width: 390px;
  }
}

@include until(1140px) {
  
}

@include until(1070px) {
  ul.starter-cards-list {
    flex-wrap: nowrap;
  }

  .starter-card {
    width: auto;
    min-width: 420px;
  }
}

@include until(768px) {
  .section-starter {
    padding: 30px 0;
  }
}

@include until(640px) {
  
}

@include until(480px) {
  .starter-cards {
    margin: 40px -25px;
  }

  .starter-card {
    min-width: 85vw;
    padding: 30px 15px;

    &.is-popular {
      box-shadow: none;
      background: none;
    }
  }
}