.section-quote {
  margin-bottom: 100px;
}

.section-quote-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 1070px;
  margin: 0 auto;
}

.section-quote-text {
  font-size: 42px;
  line-height: 53px;
  color: $txtPrimary;
}

.section-quote-mark {
  height: auto;
  width: 40px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 40px;
}

.section-quote-person {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.section-quote-person-image {
  margin-right: 30px;
}

.section-quote-person-name {
  font-size: 24px;
  font-weight: 700;
  color: $primary;
}

.section-quote-person-position {
  font-size: 24px;
  color: $txtSecondary;
}

@include until(1140px) {
  .section-quote-text {
    font-size: 34px;
    line-height: 42px;
  }

  .section-quote-wrapper {
    display: block;
  }

  .section-quote-mark {
    margin-bottom: 30px;
  }
}

@include until(1024px) {
  .section-quote-text {
    font-size: 28px;
    line-height: 35px;
  }

  .section-quote-person-name {
    font-size: 20px;
  }
  
  .section-quote-person-position {
    font-size: 20px;
  }
}

@include until(768px) {
  .section-quote-text {
    font-size: 22px;
    line-height: 27px;
  }

  .section-quote-person-name {
    font-size: 16px;
  }
  
  .section-quote-person-position {
    font-size: 16px;
  }
}