.section-slider {
  position: relative;
  display: block;
  padding-bottom: 150px;

  .slider-cards {
    margin-top: 90px;
  }
}

.section-slider-dots {
  position: absolute;
  top: 100px;
  left: 60vw;
}

@include until(768px) {
  .section-slider {
    padding-bottom: 100px;

    .slider-cards {
      margin-top: 50px;
    }
  }

  .section-slider-dots {
    display: none;
  }
}