.section-soft {}

.section-soft-tabs-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.section-soft-tabs-grid-item {
  width: calc(50% - 30px);
  margin: 15px;
  // .card-content {
  //   min-width: 300px;
  // }
}

.section-soft-tabs-grid-special {
  .section-soft-tabs-grid-item {
    &:nth-child(1) {
      width: calc(60% - 30px);
    }
  
    &:nth-child(2) {
      width: calc(40% - 30px);
    }
  
    &:nth-child(3) {
      width: calc(40% - 30px);
    }
  
    &:nth-child(4) {
      width: calc(60% - 30px);
    }
  
    &:nth-child(5) {
      width: calc(60% - 30px);
    }
  
    &:nth-child(6) {
      width: calc(40% - 30px);
    }
  }
}

@include until(1140px) {
  .section-soft-tabs-grid {
    display: block;
  }

  .section-soft-tabs-grid-item {
    margin-bottom: 30px;
    width: auto !important;
  }
}

@include until(768px) {
  .section-soft-tabs-grid-item {
    .card-content {
      min-width: auto;
    }
  }

  .section-soft-tabs-grid {
    display: block;
  }

  .section-soft-tabs-grid-item {
    margin-bottom: 30px;

    .card-image-side {
      display: none;
    }
  }
}