.section-media {
  display: block;
  margin-bottom: 150px;

  .section-media-cards-more {
    margin-bottom: -180px;
  }
}

.section-media-short {
  margin-bottom: 200px;
}

.section-media-cards {
  position: relative;
  z-index: 1;
}

.section-media-cards-more {
  padding-top: 100px;
  z-index: 1;
}

@include until(640px) {
  .section-media-cards-more {
    padding-top: 50px;
    margin-bottom: -160px;
  }
}