.section-web {
  position: relative;
  padding-top: 150px;
  padding-bottom: 180px;
  overflow: hidden;
  z-index: 1;
}

.section-web-wrapper {
  width: 50%;
}

.section-web-image {
  position: absolute;
  left: 50vw;
  top: 100px;
  width: 937px;
  height: auto;
}

.section-web-image-mobile {
  display: none;
}

@include until(1280px) {
  
}

@include until(1140px) {
  
}

@include until(1024px) {
  
}

@include until(768px) {
  .section-web-wrapper {
    width: auto;
  }

  .section-web-image-mobile {
    display: block;
    margin-left: -20px;
  }

  .section-web-image {
    display: none;
  }
}

@include until(640px) {
  
}

@include until(480px) {

}