<div class="wrapper-block">
    <div class="spec-text">
        <h2 class="leaf-after">Embedded Marketing</h2>
        <p>Our smart algorythms analyze visitors' activity, behavior patterns and shopping profile equipping you with superior marketing strategy</p>
    </div>
</div>
<div class="screen-block wrapper-block">
    <img src="/img/main-page-images/bbo-screen-new.jpg" alt="" />
</div>