/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(244,244,244,1.0)*/
/*$color-white-gray: #fcfdfd; /*rgba(244,244,244,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
.btn.btn300 {
  width: 100% !important;
  max-width: 300px; }

h1, h2, h3 {
  font-size: 23px;
  line-height: 32px; }

h2 .s31 {
  font-size: 20px;
  line-height: 28px; }

h4 {
  font-size: 19px;
  line-height: 27px; }

.s14, .s18 {
  font-size: 16px;
  line-height: 24px; }

/*p, .s16 {
    font-size: 14px;
    line-height: 22px;
}*/
.s24 {
  font-size: 19px;
  line-height: 27px; }

.p85 {
  padding-top: 65px;
  padding-bottom: 65px; }

.bold {
  font-weight: 600; }

.btn.btn-big {
  font-size: 16px;
        /*height: 45px;
        line-height: 45px;
        font-size: 14px;

        &.btn-green-border {
            line-height: 41px;
        }*/ }
.btn.btn300 {
  width: 240px; }

.bend, .bend-top {
  width: 800px; }

.bend-top {
  top: -2px; }

/*.bend {
    bottom: -2px;
}

.bend-top {
    top: -2px;
}*/
.first-bend-block {
  padding: 55px 0 115px 0; }

.second-bend-block {
  padding: 50px 0 0 0; }
  .second-bend-block h2 {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
  .second-bend-block .wrapper-block {
    padding: 0; }

.wrapper-block {
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px; }

.flex-wrapper {
  flex-wrap: wrap; }
  .flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%; }
    .flex-wrapper .flex-block.w70, .flex-wrapper .flex-block.w60, .flex-wrapper .flex-block.w40 {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper .flex-block.on-mobile-none {
      display: none; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 0;
      margin-bottom: 40px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 0; }

.pr100 {
  padding-right: 0;
  padding-bottom: 50px; }

/*phone block start*/
.phone-image-block {
  width: 175px; }

/*phone block end*/
/*main-top-block start*/
header {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 20px 15px 0 15px; }
  header .logo {
    display: block; }
    header .logo a img {
      width: 110px; }
    header .logo a.logo-dark {
      display: none; }
  header .header {
    width: auto;
    padding: 0;
    justify-content: flex-end;
    margin: 0; }
  header .open-menu {
    display: block;
    width: 50px;
    height: 28px;
    z-index: 10;
    margin-left: 30px; }
    header .open-menu span {
      display: block;
      width: 100%;
      height: 4px;
      margin: 4px 0;
      background: #fff; }
    header .open-menu.dark-color span {
      background: #191B23; }
  header menu {
    display: none; }
    header menu ul li {
      margin-right: 22px; }
  header .tel {
    display: none; }
  header.header-dark-color .open-menu span {
    background: #191B23; }
  header.header-dark-color .logo a.logo-dark {
    display: block; }
  header.header-dark-color .logo a.logo-white {
    display: none; }
  header.have-opened-menu {
    display: block;
    height: 100vh;
    overflow: auto;
    background: #353439; }
    header.have-opened-menu .open-menu {
      position: fixed;
      top: 24px;
      right: 15px; }
      header.have-opened-menu .open-menu span {
        transition: all 200ms linear 0s;
        position: absolute;
        top: 8px; }
        header.have-opened-menu .open-menu span:nth-child(2) {
          display: none; }
        header.have-opened-menu .open-menu span:first-child {
          left: 0;
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        header.have-opened-menu .open-menu span:last-child {
          right: 0;
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    header.have-opened-menu .header {
      display: block;
      max-width: 300px;
      margin: 40px auto 0 auto; }
    header.have-opened-menu .logo, header.have-opened-menu .languages {
      display: none; }
    header.have-opened-menu .tel {
      display: block;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      width: 100%; }
    header.have-opened-menu .header-right {
      min-width: 100%;
      justify-content: flex-end; }
    header.have-opened-menu menu {
      display: block;
      width: 100%;
      max-width: 300px;
      margin-bottom: 60px; }
      header.have-opened-menu menu ul li {
        display: block;
        margin-bottom: 25px; }
        header.have-opened-menu menu ul li a {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          *display: inline;
          *zoom: 1;
          font-size: 18px; }
        header.have-opened-menu menu ul li .extra-menu {
          margin-top: 15px;
          padding-left: 40px;
          display: block; }
          header.have-opened-menu menu ul li .extra-menu li {
            margin-bottom: 10px; }
            header.have-opened-menu menu ul li .extra-menu li a {
              font-size: 16px;
              opacity: .8;
              font-weight: 300; }
    header.have-opened-menu.header-dark-color {
      background: #fff; }
      header.have-opened-menu.header-dark-color menu ul li a {
        font-weight: 500; }
      header.have-opened-menu.header-dark-color menu ul li .extra-menu li a {
        opacity: 1.0;
        font-weight: 400; }

.main-top-block .bend {
  width: 1024px;
  left: -150px;
  transform: none; }

.main-top-info {
  top: 100px;
  margin-left: 0;
  left: 0;
  transform: none;
  width: 100%;
  padding: 0 15px; }
  .main-top-info .logo {
    display: none; }
  .main-top-info h1 {
    font-size: 23px;
    line-height: 32px; }
  .main-top-info ul {
    margin-left: 40px; }
    .main-top-info ul li {
      font-size: 16px; }
      .main-top-info ul li:before {
        width: 22px;
        height: 19px; }
  .main-top-info .btn {
    margin: 0 auto; }

.main-top-slider-wrapper {
  background: #f0f3f8; }
  .main-top-slider-wrapper .bend {
    top: 575px; }
  .main-top-slider-wrapper .carousel-cell {
    height: 680px; }
  .main-top-slider-wrapper .main-slider-images {
    height: 438px;
    position: relative;
    margin-top: -60px; }
    .main-top-slider-wrapper .main-slider-images .carousel-cell {
      height: auto; }
  .main-top-slider-wrapper .slide-image-block.icebox-box img {
    max-width: 100%; }
  .main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
    height: auto;
    align-items: flex-end;
    justify-content: center;
    padding-top: 0; }
  .main-top-slider-wrapper .slide-image-block-wrapper .caption {
    font-size: 14px; }
  .main-top-slider-wrapper .slide-image-block-wrapper.icebox-box img {
    width: 100%; }
  .main-top-slider-wrapper .phone-image-block {
    margin: 0 auto; }

/*main-top-block end*/
/*top-block start*/
.form-block {
  width: 100%;
  max-width: 400px;
  margin: 30px auto 0 auto;
  padding: 20px 5px 10px 5px; }
  .form-block .s18 {
    font-size: 19px;
    line-height: 27px;
    padding: 0 10px; }

/*top-block end*/
/*about-products start*/
.box-sh-gray {
  box-shadow: 0px 4px 10px rgba(25, 27, 35, 0.2); }

.about-products {
  max-width: 100%; }

.about-products-wrapper {
  padding-bottom: 50px;
  margin-top: 30px;
  display: block; }
  .about-products-wrapper .about-product-block {
    min-width: 0;
    width: calc(100% - 30px);
    max-width: 360px;
    padding: 15px 10px; }
    .about-products-wrapper .about-product-block:last-child {
      width: calc(100% - 5px); }
    .about-products-wrapper .about-product-block .image-wrapper {
      height: 250px;
      margin-bottom: 50px; }
      .about-products-wrapper .about-product-block .image-wrapper img {
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto; }
      .about-products-wrapper .about-product-block .image-wrapper.have-icon {
        padding-left: 0; }
        .about-products-wrapper .about-product-block .image-wrapper.have-icon .b-pay-icon {
          left: 50%;
          margin-left: -100px; }
    .about-products-wrapper .about-product-block.about-micromarket .image-wrapper img {
      margin: 0 auto; }
    .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img {
      margin: auto;
      position: relative;
      top: 50%;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
  .about-products-wrapper .flickity-slider {
    margin-left: 5px; }
  .about-products-wrapper .flickity-page-dots {
    bottom: auto;
    top: 280px; }
    .about-products-wrapper .flickity-page-dots .dot {
      position: relative;
      width: 13px;
      height: 13px;
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 100%;
      margin: 0 13px 0 0;
      opacity: 1.0; }
      .about-products-wrapper .flickity-page-dots .dot:after {
        content: "";
        width: 14px;
        height: 1px;
        background: #aaa;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -1px; }
      .about-products-wrapper .flickity-page-dots .dot:last-child:after {
        display: none; }
      .about-products-wrapper .flickity-page-dots .dot.is-selected {
        background: #57D435; }

/*.about-products-wrapper {
    flex-wrap: wrap;
    margin-top:  20px;

    .about-product-block {
        min-width: 100%;
        max-width: 100%;
        align-items: center;
        margin-bottom: 70px;
        flex-direction: row;

        .image-wrapper {
            margin-bottom: 0;
        }

        .product-info {
            height: auto;
            min-width: 60%;
            max-width: 60%;
            box-shadow: none;
            padding: 0 0 0 50px;

            h3 {
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 10px;
            }

            .text-block {

                .s14 {
                    font-size: 14px;
                }
            }

            .btn {
                width: 240px;
            }
        }

        &.about-micromarket {
            .image-wrapper {
                img {
                    width: 300px;
                    margin-left: 0;
                }
            }
        }

        &.about-briskly-go {
            .image-wrapper {
                img {
                    &:not(.only-mobile) {
                        display: none;
                    }

                    &.only-mobile {
                        @include b;
                        width: 600px;
                    }
                }
            }
        }
    }
}*/
/*about-products end*/
/*instagram-images start*/
.instagram-images-wrapper .flickity-slider {
  margin-left: 20px; }

.instagram-images-block {
  padding: 75px 0; }
  .instagram-images-block .insta-icon-bg {
    width: 400px; }
  .instagram-images-block .carousel-image {
    width: 150px;
    margin-right: 20px; }

/*instagram-images end*/
/*loss-of-profit start*/
.loss-of-profit {
  height: 1295px;
  padding-bottom: 105px; }
  .loss-of-profit .pl100 {
    padding-left: 0; }
  .loss-of-profit .wrapper-block.revenue-growth-wrapper h2 {
    margin-bottom: 40px; }
  .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block.pl100 {
    padding-left: 0; }
  .loss-of-profit .revenue-growth-block {
    padding: 30px 30px 20px 30px; }
  .loss-of-profit .flex-wrapper .flex-block {
    margin-bottom: 50px; }
    .loss-of-profit .flex-wrapper .flex-block:last-child {
      margin-bottom: 0; }
    .loss-of-profit .flex-wrapper .flex-block .phone-image-block {
      width: 260px;
      margin: 0 auto; }
    .loss-of-profit .flex-wrapper .flex-block h4, .loss-of-profit .flex-wrapper .flex-block .s18 {
      font-size: 16px;
      line-height: 24px; }

/*loss-of-profit end*/
/*briskly-components start*/
.briskly-components-wrapper {
  padding: 50px 0 0 0; }
  .briskly-components-wrapper .briskly-components-block {
    padding: 0 0 40px 0;
    flex-wrap: wrap-reverse;
    align-items: center; }
    .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center; }
      .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper img {
        max-width: 280px; }
    .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper {
      padding-top: 0; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper.pl100 {
        padding-left: 0; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block {
        margin-bottom: 20px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block .s16 {
          padding-bottom: 5px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block p {
          font-size: 14px;
          line-height: 22px; }

.str-after {
  max-width: 310px;
  margin: 0 auto 20px auto; }
  .str-after div {
    padding: 0; }
    .str-after div .s24 {
      font-size: 16px;
      line-height: 24px; }
    .str-after div img {
      width: 50px;
      right: -8px;
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
  .str-after.on-scan-go {
    max-width: 280px; }
    .str-after.on-scan-go div {
      min-width: 100%; }

/*briskly-components end*/
/*about-b-pay start*/
.about-b-pay {
  background-position: center 10%;
  padding: 30px 0; }
  .about-b-pay .flex-wrapper {
    flex-wrap: wrap-reverse; }
    .about-b-pay .flex-wrapper .flex-block.align-right {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      margin-bottom: 40px; }
    .about-b-pay .flex-wrapper .flex-block .phone-image-block {
      margin: 30px auto 0 auto; }
      .about-b-pay .flex-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
        width: 100px; }
    .about-b-pay .flex-wrapper .flex-block .text-block {
      margin-top: 30px; }
    .about-b-pay .flex-wrapper .flex-block .btns-block {
      margin-top: 40px; }
      .about-b-pay .flex-wrapper .flex-block .btns-block .btn {
        padding: 0 30px; }

/*about-b-pay end*/
/*work-steps start*/
.phone-image-block.tab-w100 {
  width: 100%; }

.steps-wrapper {
  padding-left: 0; }

.work-steps-wrapper {
  padding: 0;
  flex-wrap: wrap; }
  .work-steps-wrapper .work-step-block {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px; }
    .work-steps-wrapper .work-step-block:last-child {
      padding-bottom: 0; }
    .work-steps-wrapper .work-step-block .icon-block {
      min-width: 80px;
      max-width: 80px;
      margin-right: 20px; }
      .work-steps-wrapper .work-step-block .icon-block img {
        width: 100%;
        margin: 0;
        border-radius: 18px; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        display: none; }

/*work-steps ens*/
/*about-terminal start*/
.about-terminal {
  padding: 30px 15px 100px 15px; }
  .about-terminal .flex-wrapper .flex-block {
    padding-bottom: 50px; }
    .about-terminal .flex-wrapper .flex-block.pl100 {
      padding: 0; }
  .about-terminal .image-wrapper .main-image {
    width: 80%;
    margin: auto 0 auto auto; }
  .about-terminal .image-wrapper .card-image {
    width: 200px;
    left: -5px; }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 100px 0 0 0; }
  .embedded-marketing .spec-text {
    width: 100%;
    margin-bottom: 50px;
    left: 0;
    margin-left: 0; }

.laptop-bg {
  background: none;
  min-height: 0;
  padding-bottom: 0;
  max-width: 480px;
  margin: 0 auto; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 690px; }
  .spec-flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 0 40px 0; }
    .spec-flex-wrapper .flex-block:last-child {
      margin-bottom: 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 70px;
      max-width: 70px; }
      .spec-flex-wrapper .flex-block .icon-block img {
        border-radius: 12px; }
    .spec-flex-wrapper .flex-block .s18 {
      font-size: 16px; }
    .spec-flex-wrapper .flex-block p {
      font-size: 16px; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts {
  margin-top: 50px; }
  .about-discounts .phone-image-block {
    width: 175px; }
  .about-discounts .flex-wrapper .flex-block.w60 {
    padding-right: 0;
    padding-bottom: 50px; }
  .about-discounts .flex-wrapper .flex-block.align-right {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }

/*about-discounts end*/
/*about-security start*/
.about-security {
  padding: 50px 15px; }
  .about-security .flex-wrapper {
    flex-wrap: wrap-reverse; }
    .about-security .flex-wrapper .flex-block.align-center {
      margin-top: 40px; }
      .about-security .flex-wrapper .flex-block.align-center img {
        width: 175px; }

/*about-security end*/
/*have-questions start*/
.have-questions {
  padding: 40px 0; }
  .have-questions .btns-block {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    .have-questions .btns-block .btn {
      width: 280px;
      margin: 0 auto; }
      .have-questions .btns-block .btn:first-child {
        margin-bottom: 20px; }

/*have-questions end*/
/*articles start*/
.mass-media-about-us {
  padding: 75px 0 0 0; }

.articles-wrapper .flickity-prev-next-button {
  top: -90px; }
  .articles-wrapper .flickity-prev-next-button.previous {
    margin-left: 95px; }
  .articles-wrapper .flickity-prev-next-button.next {
    margin-left: 140px;
    top: -73px; }

/*articles end*/
/*our clients start*/
.our-clients {
  padding: 75px 0; }

/*our clients end*/
/*map block start*/
.map-block-wrapper {
  height: 600px; }

/*map block end*/
/*footer start*/
.links-block a {
  font-size: 14px; }

.foot-contacts .pay-systems {
  min-width: 100%;
  max-width: 100%; }
  .foot-contacts .pay-systems ul {
    justify-content: center; }
.foot-contacts .footer-block-text {
  order: -1; }

.to-top {
  margin-top: 20px; }

.footer .footer-block-text .request-call {
  font-size: 18px; }
.footer p {
  font-size: 14px; }
.footer .logo {
  margin: 0 auto;
  padding-bottom: 0; }
.footer .flex-wrapper {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-around; }
.footer .footer-block {
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 20px; }
  .footer .footer-block .tel {
    font-size: 18px; }
  .footer .footer-block.patent-info {
    order: -1;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    min-width: 100%;
    max-width: 100%;
    padding: 0 0; }
    .footer .footer-block.patent-info .links-block ul {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      margin-top: 30px; }
      .footer .footer-block.patent-info .links-block ul li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        margin: 0 0 10px 0; }
  .footer .footer-block.foot-contacts.flex-column {
    order: -1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px; }
.footer .copyright {
  position: absolute;
  bottom: 0;
  left: 0; }

/*footer end*/
/*affiliate-program start*/
.first-bend-block.on-affiliate-program {
  padding: 50px 0 100px 0; }

.dots {
  height: 90px;
  background-size: contain; }

.w660 {
  min-width: 60%;
  max-width: 60%; }
  .w660.absolute-position {
    left: 0;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.standart.marker-abroad {
  margin-left: 0; }
  .standart.marker-abroad li {
    font-size: 16px;
    line-height: 26px;
    padding-left: 38px; }
.standart.s24 li:before {
  width: 27px;
  height: 24px; }

.top-block-wrapper {
  background-color: #f4f4f4;
  background-position: 0 0;
  background-size: 1500px;
  padding: 100px 0 250px 0; }
  .top-block-wrapper .logo-top {
    display: none; }
  .top-block-wrapper .standart {
    margin-bottom: 40px; }
    .top-block-wrapper .standart li {
      padding-left: 38px;
      font-size: 16px;
      line-height: 23px; }
    .top-block-wrapper .standart.marker-abroad {
      margin-left: 0; }
  .top-block-wrapper .btns-block {
    margin-bottom: 40px;
    display: block; }
    .top-block-wrapper .btns-block .btn {
      margin: 0 auto; }
      .top-block-wrapper .btns-block .btn:first-child {
        margin-bottom: 20px;
        margin-right: auto; }
  .top-block-wrapper.on-for-partners .w660 {
    min-width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: initial; }
  .top-block-wrapper.on-for-partners .text-block h4 {
    max-width: 660px; }
  .top-block-wrapper.on-for-partners .text-block .see-more {
    margin-left: 38px; }
  .top-block-wrapper.scan-go-top-block {
    min-height: auto;
    padding: 100px 0 0 0;
    background: url(/img/scan-go/top-block-bg-mobile.png) no-repeat;
    background-position: top right; }
    .top-block-wrapper.scan-go-top-block .flex-wrapper {
      padding: 0; }
      .top-block-wrapper.scan-go-top-block .flex-wrapper .flex-block.w660 {
        min-width: 100%;
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto; }
    .top-block-wrapper.scan-go-top-block .text-block {
      color: #fff; }
      .top-block-wrapper.scan-go-top-block .text-block h3, .top-block-wrapper.scan-go-top-block .text-block ul li {
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
    .top-block-wrapper.scan-go-top-block .standart li {
      color: #fff; }
    .top-block-wrapper.scan-go-top-block .phone-image-block {
      margin: 0 auto 40px auto; }
      .top-block-wrapper.scan-go-top-block .phone-image-block .icon-image {
        width: 60px;
        left: -15px;
        bottom: -15px; }
    .top-block-wrapper.scan-go-top-block .bend.bend-bottom {
      position: relative; }
    .top-block-wrapper.scan-go-top-block .btns-block {
      position: relative;
      z-index: 1; }

.img-block-responsive {
  padding: 50px 0 0 0;
  width: 75%;
  margin: 0 auto; }
  .img-block-responsive .image-wrapper {
    width: 100%; }
    .img-block-responsive .image-wrapper .main-image {
      width: 100%; }

.dots-bottom-under-div {
  background-color: #f4f4f4;
  margin-top: -250px; }
  .dots-bottom-under-div .top-form-wrapper {
    height: auto;
    background-position: top left;
    background-size: 1380px;
    padding: 100px 0 0 0; }
    .dots-bottom-under-div .top-form-wrapper .image-wrapper {
      margin-top: 100px; }
    .dots-bottom-under-div .top-form-wrapper .flex-block .s24 {
      color: #000;
      font-weight: 700;
      max-width: 360px; }
  .dots-bottom-under-div .dots {
    display: none; }

.top-form-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
  width: 120px; }

.work-steps-wrapper.vertical-view .work-step-block {
  padding-bottom: 20px; }

.revenue-growth-block-2-wrapper {
  padding-top: 25px;
  padding-bottom: 25px; }
  .revenue-growth-block-2-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0; }
  .revenue-growth-block-2-wrapper .flex-wrapper .flex-block {
    padding: 15px; }

.revenue-growth-block-2 h3 {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
  padding: 0 15px;
  margin-bottom: 15px; }
  .revenue-growth-block-2 h3 br {
    display: none; }
.revenue-growth-block-2 .flex-wrapper .flex-block .text-block {
  max-width: 100%; }
  .revenue-growth-block-2 .flex-wrapper .flex-block .text-block .s18 {
    display: block;
    font-size: 16px;
    margin-bottom: 10px; }

.placements-wrapper h3.color-green {
  width: 250px;
  margin: 0 auto 25px auto; }

.placements-block {
  display: block;
  padding: 30px 0;
  margin-bottom: 40px; }
  .placements-block .carousel-cell {
    margin: 0; }
  .placements-block .flickity-slider {
    margin-left: 5px; }

.connection-cost-wrapper .wrapper-block {
  max-width: 100%;
  padding: 40px 0; }
  .connection-cost-wrapper .wrapper-block h3 {
    max-width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 27px; }
.connection-cost-wrapper .flex-wrapper {
  display: block;
  padding-bottom: 30px; }
  .connection-cost-wrapper .flex-wrapper .flex-block.carousel-cell {
    min-width: calc(100% - 60px);
    min-width: calc(100% - 60px);
    margin-right: 15px;
    margin-bottom: 15px; }
.connection-cost-wrapper .flickity-slider {
  margin-left: 15px; }
.connection-cost-wrapper .cost {
  font-size: 25px;
  line-height: 34px; }

.about-benefit-wrapper {
  padding-bottom: 50px; }
  .about-benefit-wrapper .about-benefit-top h3, .about-benefit-wrapper .about-benefit-top .h3 {
    padding: 0 15px;
    font-size: 19px;
    line-height: 27px;
    margin-left: auto;
    margin-right: auto; }
  .about-benefit-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0; }
  .about-benefit-wrapper h4 {
    padding: 0 15px; }
  .about-benefit-wrapper .flex-wrapper .flex-block {
    min-width: 100%; }
    .about-benefit-wrapper .flex-wrapper .flex-block:not(.narrow-block) {
      height: 300px; }
      .about-benefit-wrapper .flex-wrapper .flex-block:not(.narrow-block) .text-block {
        position: relative; }
    .about-benefit-wrapper .flex-wrapper .flex-block.narrow-block {
      min-width: 100%;
      max-width: 100%;
      height: 210px;
      margin-bottom: 10px; }
    .about-benefit-wrapper .flex-wrapper .flex-block img {
      width: auto;
      height: 300px; }
    .about-benefit-wrapper .flex-wrapper .flex-block .h3, .about-benefit-wrapper .flex-wrapper .flex-block .fs50, .about-benefit-wrapper .flex-wrapper .flex-block .bnt {
      bottom: 15px; }
    .about-benefit-wrapper .flex-wrapper .flex-block h4 {
      font-size: 19px;
      line-height: 22px;
      padding: 0;
      margin-bottom: 10px; }
    .about-benefit-wrapper .flex-wrapper .flex-block .btn {
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: calc(100% - 30px);
      max-width: 280px; }
  .about-benefit-wrapper .text-block {
    padding: 15px 15px 60px 15px; }
    .about-benefit-wrapper .text-block .s18 {
      font-size: 14px;
      line-height: 24px; }
  .about-benefit-wrapper .btn.center-position {
    margin-top: 40px; }
  .about-benefit-wrapper .benefits-block .carousel-cell {
    width: calc(100% - 60px);
    max-width: 400px;
    margin-right: 15px; }
  .about-benefit-wrapper .benefits-block .flickity-slider {
    margin-left: 15px; }

.about-commission {
  /*h3 {
      font-size: 19px;
      line-height: 27px;
  }*/ }
  .about-commission .wrapper-block {
    max-width: 100%;
    padding: 40px 15px; }
    .about-commission .wrapper-block .standart {
      margin-left: 0; }
      .about-commission .wrapper-block .standart li {
        font-size: 16px;
        line-height: 23px; }
  .about-commission .standart-gray {
    display: block;
    line-height: 24px; }
  .about-commission .image-wrapper img {
    width: 80%;
    margin: 40px auto 0 auto; }

.connection-steps-wrapper {
  padding-bottom: 50px; }

.connection-steps {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0; }
  .connection-steps .step-item {
    min-width: 0;
    max-width: 450px;
    margin-bottom: 40px; }
    .connection-steps .step-item h4 {
      width: 260px;
      margin: 0 auto 20px auto; }
    .connection-steps .step-item img {
      width: 120px;
      margin-bottom: 30px; }

.for-partners .wrapper-block {
  padding: 50px 15px; }
  .for-partners .wrapper-block h3 {
    margin-bottom: 30px; }

.standart.two-columns-view {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0; }
  .standart.two-columns-view li {
    font-size: 16px;
    line-height: 26px; }

.str-after-wrapper {
  padding-top: 50px; }
  .str-after-wrapper .str-after {
    margin: 0 auto; }

/*scan-go start*/
header.header-dark-color.on-scan-go .logo a.logo-dark {
  display: none; }
header.header-dark-color.on-scan-go .logo a.logo-white {
  display: block; }
header.header-dark-color.on-scan-go .open-menu span {
  background-color: #fff; }
header.header-dark-color.on-scan-go.have-opened-menu .open-menu span {
  background: #191B23; }

.first-bend-block.on-scan-go {
  padding: 50px 0 150px 0;
  overflow: hidden; }
  .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper {
    padding: 60px 0; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper img {
      max-width: 100%; }
  .first-bend-block.on-scan-go h3 br {
    display: none; }

.to-video {
  bottom: -40px; }

.scan-go-work .wrapper-block {
  padding: 40px 15px; }

.application-stores.center-position {
  justify-content: space-between; }
  .application-stores.center-position a {
    min-width: calc(50% - 8px);
    max-width: calc(50% - 8px);
    margin: 0; }
    .application-stores.center-position a.appstore {
      margin: 0; }

.video-wrapper {
  margin: 0 auto 20px auto; }

.flex-table-view .table-tr {
  margin-bottom: 30px; }
  .flex-table-view .table-tr .table-cell {
    font-size: 16px; }
    .flex-table-view .table-tr .table-cell.wide-cell {
      padding-left: 0;
      flex-wrap: wrap; }
      .flex-table-view .table-tr .table-cell.wide-cell .logos-block {
        min-width: 40px;
        margin-right: 10px; }
        .flex-table-view .table-tr .table-cell.wide-cell .logos-block img {
          width: 40px;
          margin-right: -10px; }
      .flex-table-view .table-tr .table-cell.wide-cell span {
        padding: 10px 0; }
  .flex-table-view .table-tr.first-tr .table-cell {
    font-size: 12px; }

.like-cashbox .small-icon-block {
  border-radius: 15px;
  width: 110px;
  height: 110px; }
  .like-cashbox .small-icon-block img {
    height: 40px;
    margin: 0; }
  .like-cashbox .small-icon-block span {
    font-size: 11px; }
    .like-cashbox .small-icon-block span.t-up {
      font-size: 16px;
      line-height: 20px;
      margin: 0; }
  .like-cashbox .small-icon-block.sup-m {
    right: 0; }

.scan-go-work .wrapper-block.like-cashbox {
  padding: 60px 15px; }
  .scan-go-work .wrapper-block.like-cashbox .image-wrapper {
    margin-top: 100px; }
    .scan-go-work .wrapper-block.like-cashbox .image-wrapper .main-image {
      max-width: 95%;
      margin: 60px auto 0 auto; }
.scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap {
  flex-wrap: nowrap; }
  .scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap .flex-block {
    min-width: 0;
    flex-grow: 1; }
    .scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap .flex-block .s18 {
      font-size: 14px; }

.about-delivery .about-delivery-block img {
  width: 100px;
  margin-bottom: 30px; }
.about-delivery .about-delivery-top-block .text-block {
  width: 100%; }
  .about-delivery .about-delivery-top-block .text-block p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px; }
.about-delivery .about-delivery-top-block .image-wrapper {
  padding-top: 50px; }
  .about-delivery .about-delivery-top-block .image-wrapper img {
    max-width: 100%;
    margin: 0; }
.about-delivery .flex-wrapper .flex-block.right-position {
  padding-top: 40px;
  padding-left: 0; }
.about-delivery .flex-wrapper .flex-block .s18 {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
.about-delivery .our-delivery-service p {
  display: block;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  min-width: 100%;
  font-weight: 600;
  padding-bottom: 20px; }
.about-delivery .our-delivery-service img {
  margin: 15px 10px;
  height: 55px; }

.about-discounts.on-scan-go {
  padding: 50px 15px; }
  .about-discounts.on-scan-go .phone-image-block {
    width: 250px; }

.included-in-price .flex-wrapper {
  padding: 50px 0; }

.questions-wrapper .question-block {
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 15px; }
  .questions-wrapper .question-block:after {
    top: 15px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-size: cover; }
  .questions-wrapper .question-block:before {
    display: none; }
  .questions-wrapper .question-block span {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600; }
  .questions-wrapper .question-block .text {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0; }

/*scan-go end*/
@media screen and (min-width: 0px) and (max-width: 413px) {
  .about-products-wrapper .about-product-block .product-info {
    padding: 30px 20px 25px 20px; } }
@media screen and (min-width: 0px) and (max-width: 359px) {
  .main-top-info h1 {
    font-size: 18px;
    line-height: 30px; }

  .about-products-wrapper .about-product-block .product-info {
    padding: 20px; }

  .main-top-slider-wrapper .slide-image-block .caption {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    white-space: normal; }

  .flexible-middle-width .content-wrap {
    min-width: 100% !important; }

  .about-products-wrapper .about-product-block .product-info {
    height: 640px; }

  .placements-wrapper .btn {
    font-size: 14px; }

  .about-benefit-wrapper .benefits-block .carousel-cell {
    width: calc(100% - 45px); }
  .about-benefit-wrapper .text-block {
    padding: 10px 10px 50px 10px; }
  .about-benefit-wrapper .flex-wrapper .flex-block .h3 {
    bottom: 5px; }

  .first-bend-block.on-scan-go h3 {
    font-size: 20px; } }
.have-page-dots .flickity-page-dots {
  line-height: 0; }
  .have-page-dots .flickity-page-dots .dot {
    position: relative;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 100%;
    margin: 0 13px 0 0;
    opacity: 1.0; }
    .have-page-dots .flickity-page-dots .dot:after {
      content: "";
      width: 14px;
      height: 1px;
      background: #aaa;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -1px; }
    .have-page-dots .flickity-page-dots .dot:last-child {
      margin: 0; }
      .have-page-dots .flickity-page-dots .dot:last-child:after {
        display: none; }
    .have-page-dots .flickity-page-dots .dot.is-selected {
      background: #57D435; }
.have-page-dots.bottom-dots .flickity-page-dots {
  bottom: 0; }

/**/
