@charset "UTF-8";
/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(244,244,244,1.0)*/
/*$color-white-gray: #fcfdfd; /*rgba(244,244,244,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  height: 100%; }

body {
  font-stretch: normal;
  font-weight: normal;
  min-height: 100%;
  position: relative;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fcfcfd;
  overflow-x: hidden; }

.container {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  background: #fcfcfd; }

.wrapper-block {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper.center-items {
    align-items: center; }
  .flex-wrapper .flex-block {
    flex-grow: 1;
    min-width: 50%;
    max-width: 50%; }
    .flex-wrapper .flex-block.w30 {
      min-width: 30%;
      max-width: 30%; }
    .flex-wrapper .flex-block.w40 {
      min-width: 40%;
      max-width: 40%; }
    .flex-wrapper .flex-block.w60 {
      min-width: 60%;
      max-width: 60%; }
    .flex-wrapper .flex-block.w70 {
      min-width: 70%;
      max-width: 70%; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 100px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 100px; }
    .flex-wrapper .flex-block.vertical-flex {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between; }
    .flex-wrapper .flex-block.w660 {
      min-width: 660px;
      max-width: 660px; }
    .flex-wrapper .flex-block.auto-width {
      min-width: 0;
      max-width: 100%; }

.right-alignment {
  margin: auto 0 auto auto; }

.left-alignment {
  margin: auto auto auto 0; }

.white-bg {
  background: #fff; }

.dark-bg {
  background: #353439; }

.light-gray-bg {
  background: #f0f3f8; }

.beige-bg {
  background: #f4f4f4; }

h1, h2, h3, h4 {
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 40px;
  line-height: 56px;
  /*margin-bottom: 20px;*/
  margin-bottom: 35px;
  /*╨Ф╨╛╨▒╨░╨▓╨╗╨╡╨╜╨╛ ╨╜╨░ ╤Б╤В╨░╤А╨┤╨╕╨╕ scan&go*/ }

h2 {
  margin-bottom: 50px;
  /*╨Ф╨╛╨▒╨░╨▓╨╗╨╡╨╜╨╛ ╨╜╨░ ╤Б╤В╨░╤А╨┤╨╕╨╕ scan&go*/ }
  h2 .s31 {
    display: block;
    font-size: 31px;
    line-height: 44px; }
  h2.leaf-after {
    position: relative; }
    h2.leaf-after:after {
      content: "";
      display: block;
      width: 25px;
      height: 33px;
      background: url(/img/leaf-icon.svg) 0 0 no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: -55px; }

h3, .h3 {
  display: block;
  font-size: 34px;
  line-height: 46px;
  /*margin-bottom: 28px;*/
  margin-bottom: 35px;
  /*╨Ф╨╛╨▒╨░╨▓╨╗╨╡╨╜╨╛ ╨╜╨░ ╤Б╤В╨░╤А╨┤╨╕╨╕ scan&go*/ }

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  /*margin-bottom: 20px;*/
  margin-bottom: 35px;
  /*╨Ф╨╛╨▒╨░╨▓╨╗╨╡╨╜╨╛ ╨╜╨░ ╤Б╤В╨░╤А╨┤╨╕╨╕ scan&go*/ }

h5 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px; }

p, .s16 {
  font-size: 16px;
  line-height: 24px; }
  p.asterisk, .s16.asterisk {
    position: relative; }
    p.asterisk:before, .s16.asterisk:before {
      content: "*";
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      position: absolute;
      left: -10px; }

.s18 {
  font-size: 18px;
  line-height: 28px; }

.s14 {
  font-size: 14px;
  line-height: 24px; }

p {
  margin-bottom: 20px; }
  p:last-child {
    margin: 0; }
  p.s14 {
    margin-bottom: 15px; }

.middle {
  font-weight: 500; }

.semibold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.fatter {
  font-weight: 800; }

.fattest {
  font-weight: 900; }

strong {
  font-weight: 700; }

.white-bg-br-20 {
  background: #fff; }

.br-35 {
  border-radius: 35px; }

.br-20 {
  border-radius: 20px; }

.br-10 {
  border-radius: 10px; }

.box-sh-gray {
  box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2); }

.box-sh-gray-mini {
  box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }

.pr100 {
  padding-right: 100px; }

.pl100 {
  padding-left: 100px; }

.p85 {
  padding-top: 85px;
  padding-bottom: 85px; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: none; }
  a.standart-green {
    color: #57D435;
    border-bottom: 1px solid #57d435;
    transition: all 200ms linear 0s; }
    a.standart-green:hover, a.standart-green.active {
      border-bottom: 1px solid rgba(87, 212, 53, 0); }
  a.standart-dark {
    color: #2a3c46;
    border-bottom: 1px solid rgba(153, 162, 173, 0.7);
    transition: all 200ms linear 0s; }
    a.standart-dark:hover {
      color: #202020;
      border-bottom: 1px solid #202020; }
  a.standart-gray {
    color: #b1b1b1;
    transition: all 200ms linear 0s; }
    a.standart-gray:hover {
      color: #191B23; }
    a.standart-gray.border-decor {
      border-bottom: 1px solid rgba(177, 177, 177, 0.8); }
      a.standart-gray.border-decor:hover {
        border-bottom: 1px solid rgba(177, 177, 177, 0); }

.s24 {
  font-size: 24px;
  line-height: 36px; }

.fs30 {
  font-size: 30px;
  line-height: 37px; }

.fs40 {
  font-size: 40px;
  line-height: 52px; }

.fs50 {
  font-size: 50px;
  line-height: 64px; }

.fs55 {
  font-size: 55px;
  line-height: 52px; }

.m0 {
  margin: 0; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.color-light-gray {
  color: #99a2ad; }

.color-gray {
  color: #2a3c46; }

.color-green {
  color: #57D435; }

.align-center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }

.align-right {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right; }

.align-left {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left; }

.nowrap {
  white-space: nowrap; }

.h-block h1, .h-block h2, .h-block h3, .h-block h4 {
  margin-bottom: 15px; }

div, li, a, span, button, input {
  box-sizing: border-box; }

a, input, span, div, p, ul, li, :before, :after, img {
  outline: none;
  /*transition: color 200ms linear 0s, background 200ms linear 0s, border 200ms linear 0s, opacity 200ms linear 0s, transform 400ms linear 0s;*/ }

a:focus, a:visited {
  -moz-outline-style: none;
  outline: none; }

button, input {
  border: none;
  background: none;
  border-radius: 0; }

.btn {
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  transition: all 200ms linear 0s;
  padding: 0 15px; }
  .btn.center-position {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .btn.btn-small {
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 25px; }
  .btn.btn-middle {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 44px; }
  .btn.btn-big {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    /*padding: 0 50px;*/
    border-radius: 60px; }
  .btn.btn-medium {
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 14px;
    padding: 0 25px; }
  .btn.btn-green {
    color: #296519;
    background: #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15); }
    .btn.btn-green:hover {
      background: #93F878; }
  .btn.btn-green-border {
    background: rgba(147, 248, 120, 0);
    border: 2px solid #77ea58;
    box-shadow: 0px 5px 14px rgba(77, 199, 44, 0), 0px 1px 6px rgba(119, 234, 88, 0);
    color: #fff; }
    .btn.btn-green-border.btn-small {
      line-height: 32px; }
    .btn.btn-green-border.btn-middle {
      line-height: 40px; }
    .btn.btn-green-border.btn-big {
      line-height: 56px; }
    .btn.btn-green-border.btn-medium {
      line-height: 44px; }
    .btn.btn-green-border:hover {
      border: 2px solid #93F878;
      background: #93f878;
      box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
      color: #296519; }
    .btn.btn-green-border.full-green {
      color: #57D435; }
      .btn.btn-green-border.full-green:hover {
        border: 2px solid #93F878;
        background: #93f878;
        box-shadow: 0px 5px 14px rgba(77, 199, 44, 0.5), 0px 1px 6px rgba(119, 234, 88, 0.15);
        color: #296519; }
  .btn.btn-black {
    background: #000;
    color: #fff; }
  .btn.btn-white {
    color: #57D435;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.25);
    border: 2px solid rgba(87, 212, 53, 0); }
    .btn.btn-white:hover {
      border: 2px solid #57d435; }
    .btn.btn-white.btn-small {
      line-height: 32px; }
    .btn.btn-white.btn-middle {
      line-height: 40px; }
    .btn.btn-white.btn-big {
      line-height: 56px; }
    .btn.btn-white.btn-medium {
      line-height: 44px; }
  .btn.btn300 {
    width: 300px; }

/*.wrapper-block { //╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╨░╤П ╨╛╨▒╨▓╤П╨╖╨║╨░
                 width: 1200px;
                 margin-left: auto;
                 margin-right: auto;
                 font-size: 0;
}*/
* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

.application-stores {
  font-size: 0;
  display: flex; }
  .application-stores a {
    display: block;
    width: 200px; }
    .application-stores a img {
      width: 100%; }
    .application-stores a.appstore {
      margin-right: 20px; }
  .application-stores.center-position {
    justify-content: center; }
    .application-stores.center-position a {
      margin: 0 25px; }
      .application-stores.center-position a.appstore {
        margin: 0 25px; }

.container.hidden {
  overflow: hidden; }

.bend {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }
  .bend.bend-top {
    top: -2px; }
  .bend.bend-bottom {
    bottom: -2px; }

.first-bend-block {
  position: relative;
  padding: 55px 0 175px 0; }
  .first-bend-block.on-affiliate-program {
    padding: 100px 0 175px 0; }
  .first-bend-block.on-scan-go {
    padding: 100px 0 250px 0; }
    .first-bend-block.on-scan-go .flex-wrapper {
      padding-bottom: 80px; }
      .first-bend-block.on-scan-go .flex-wrapper:last-child {
        padding: 0; }
    .first-bend-block.on-scan-go h3 {
      margin-bottom: 50px; }
  .first-bend-block .bend {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: -2px; }
    .first-bend-block .bend.special {
      z-index: 3; }

.second-bend-block {
  padding: 110px 0 100px 0; }

.loss-of-profit {
  position: relative;
  height: 1050px;
  padding-bottom: 205px;
  overflow: hidden; }
  .loss-of-profit .bend {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 3;
    bottom: -1px; }
    .loss-of-profit .bend.bend-top {
      position: relative;
      top: 0; }

.image-wrapper img {
  display: block; }
.image-wrapper.align-center img {
  margin: 0 auto; }

/*phone block start*/
.phone-image-block {
  position: relative;
  width: 290px; }
  .phone-image-block img {
    display: block;
    width: 100%; }
    .phone-image-block img.phone-frame {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2; }

/*phone block end*/
/*main-top-block start*/
.main-top-block {
  position: relative; }
  .main-top-block .bend {
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: -1px; }

.main-top-slider-wrapper .carousel-cell {
  width: 100%;
  height: 800px; }
.main-top-slider-wrapper .flickity-page-dots {
  opacity: 0; }
  .main-top-slider-wrapper .flickity-page-dots .dot {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 2px;
    background: rgba(153, 162, 173, 0.2);
    margin: 0 3px;
    border-radius: 0;
    transition: all 3s linear 0s; }
    .main-top-slider-wrapper .flickity-page-dots .dot:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #99a2ad;
      position: absolute;
      left: 0;
      transition: all 3s linear 0s; }
    .main-top-slider-wrapper .flickity-page-dots .dot.is-selected:before {
      left: 100%; }
.main-top-slider-wrapper .main-slider-bacs .carousel-cell:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  position: absolute;
  top: 0;
  left: 0; }
.main-top-slider-wrapper .main-slider-bacs .carousel-cell img {
  position: relative;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
.main-top-slider-wrapper .main-slider-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
.main-top-slider-wrapper .slide-image-block-wrapper {
  height: 100%;
  width: 100%; }
  .main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
    padding-top: 156px;
    display: flex;
    justify-content: flex-end; }
.main-top-slider-wrapper .slide-image-block {
  width: 294px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  position: relative;
  z-index: 2;
  padding-bottom: 50px; }
  .main-top-slider-wrapper .slide-image-block .caption {
    color: #6d818c;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .main-top-slider-wrapper .slide-image-block.icebox-box {
    padding-bottom: 30px; }
    .main-top-slider-wrapper .slide-image-block.icebox-box img {
      width: 445px;
      position: relative;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 10; }
  header .logo {
    display: none; }
  header .header {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .open-menu {
    display: none; }
  header menu {
    flex-grow: 1; }
    header menu ul li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      position: relative;
      margin-right: 40px; }
      header menu ul li a {
        display: block;
        font-size: 14px;
        line-height: 30px;
        color: #fff;
        transition: all 200ms linear 0s; }
        header menu ul li a:hover, header menu ul li a.active {
          color: #3acd12; }
        header menu ul li a.open-extra-menu {
          position: relative;
          padding-right: 15px; }
          header menu ul li a.open-extra-menu:after {
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            *display: inline;
            *zoom: 1;
            width: 5px;
            height: 5px;
            content: "";
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            position: absolute;
            right: 0;
            top: 50%;
            -moz-transform: translate(0, -50%) rotate(45deg);
            -ms-transform: translate(0, -50%) rotate(45deg);
            -webkit-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
            transition: all 200ms linear 0s; }
          header menu ul li a.open-extra-menu:hover:after, header menu ul li a.open-extra-menu.active:after {
            border-right: 1px solid #3acd12;
            border-bottom: 1px solid #3acd12; }
      header menu ul li .extra-menu {
        display: none; }
      header menu ul li:hover .extra-menu {
        display: block;
        width: 235px;
        padding: 10px 20px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2);
        position: absolute;
        left: -20px;
        z-index: 2; }
        header menu ul li:hover .extra-menu li {
          display: block;
          margin-right: 0; }
          header menu ul li:hover .extra-menu li a {
            color: #202020;
            line-height: 32px; }
            header menu ul li:hover .extra-menu li a:hover {
              color: #3acd12; }
  header .tel {
    height: 60px;
    line-height: 56px;
    border: 2px solid #77ea58;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 0 30px;
    white-space: nowrap;
    transition: all 200ms linear 0s; }
    header .tel:hover {
      border: 2px solid #93F878; }
  header .languages {
    margin-left: 30px;
    height: 14px;
    position: relative;
    padding-right: 15px; }
    header .languages:after {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      width: 5px;
      height: 5px;
      content: "";
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: absolute;
      right: 0;
      top: 50%;
      -moz-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
      -webkit-transform: translate(0, -50%) rotate(45deg);
      transform: translate(0, -50%) rotate(45deg);
      transition: all 200ms linear 0s; }
    header .languages li {
      padding-bottom: 10px; }
      header .languages li a {
        display: flex; }
        header .languages li a img {
          display: block;
          width: 20px;
          border-radius: 3px;
          margin-right: 5px; }
        header .languages li a span {
          display: block;
          line-height: 14px;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px; }
  header .header-right {
    display: flex;
    align-items: center; }
  header.header-dark-color menu ul li a {
    color: #000; }
    header.header-dark-color menu ul li a:hover {
      color: #3acd12; }
    header.header-dark-color menu ul li a.open-extra-menu:after {
      border-right: 1px solid #000;
      border-bottom: 1px solid #000; }
  header.header-dark-color .tel {
    color: #000; }
  header.header-dark-color.on-scan-go .tel {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #fff; }
    header.header-dark-color.on-scan-go .tel:hover {
      background: white; }
  header.header-dark-color.on-scan-go.have-opened-menu .tel {
    border: 2px solid #77ea58; }

.main-top-info {
  position: absolute;
  z-index: 9;
  top: 180px;
  left: 50%;
  width: 680px;
  -moz-transform: translate(-580px, 0);
  -ms-transform: translate(-580px, 0);
  -webkit-transform: translate(-580px, 0);
  transform: translate(-580px, 0);
  color: #fff; }
  .main-top-info h1 {
    margin-bottom: 40px; }
  .main-top-info .logo {
    margin-bottom: 20px; }
    .main-top-info .logo a {
      display: block; }
      .main-top-info .logo a img {
        width: 244px; }
  .main-top-info ul {
    margin-bottom: 40px; }
    .main-top-info ul li {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 18px;
      position: relative; }
      .main-top-info ul li:before {
        display: block;
        content: "";
        width: 27px;
        height: 24px;
        background: url(/img/marker-icon.svg) 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        left: -40px;
        top: 2px; }
  .main-top-info .btn {
    margin-bottom: 20px; }

/*main-top-block end*/
/*top-block start*/
.form-block {
  position: relative;
  z-index: 10;
  width: 400px;
  padding: 30px 30px 14px 30px;
  margin-top: 30px; }

#bx_form_iframe_19 {
  overflow: auto !important; }

.pluses-for-you-wrapper {
  margin-top: -4px; }

.pluses-for-you {
  padding-top: 55px; }
  .pluses-for-you li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .pluses-for-you li:last-child {
      margin-bottom: 0; }
    .pluses-for-you li img {
      min-width: 60px;
      max-width: 60px;
      border-radius: 12px;
      margin-right: 22px; }
      .pluses-for-you li img.green-shadow {
        box-shadow: 0px 6px 14px rgba(100, 236, 114, 0.25); }
      .pluses-for-you li img.blue-shadow {
        box-shadow: 0px 6px 14px rgba(127, 186, 255, 0.25); }
      .pluses-for-you li img.pink-shadow {
        box-shadow: 0px 6px 14px rgba(244, 126, 168, 0.25); }

/*top-block end*/
/*about-products start*/
.about-products-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: -180px; }
  .about-products-wrapper .about-product-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 360px;
    max-width: 360px; }
    .about-products-wrapper .about-product-block .image-wrapper {
      margin-bottom: 35px; }
      .about-products-wrapper .about-product-block .image-wrapper.have-icon {
        padding-left: 50px;
        position: relative; }
        .about-products-wrapper .about-product-block .image-wrapper.have-icon .b-pay-icon {
          width: 100px;
          position: absolute;
          bottom: 38px;
          left: 0; }
    .about-products-wrapper .about-product-block .product-info {
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 35px 35px 35px; }
      .about-products-wrapper .about-product-block .product-info .product-info-text {
        padding-bottom: 30px; }
      .about-products-wrapper .about-product-block .product-info p {
        margin-bottom: 0; }
      .about-products-wrapper .about-product-block .product-info h3 {
        margin-bottom: 20px; }
      .about-products-wrapper .about-product-block .product-info .text-block {
        margin-bottom: 20px; }
        .about-products-wrapper .about-product-block .product-info .text-block:last-child {
          margin-bottom: 0; }
    .about-products-wrapper .about-product-block.about-micromarket .image-wrapper img {
      margin-left: -80px; }
    .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img {
      margin-left: 25px; }
      .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img.only-mobile {
        display: none; }

/*about-products end*/
/*instagram-images start*/
.instagram-images-block {
  padding: 150px 0;
  position: relative; }
  .instagram-images-block .insta-icon-bg {
    position: absolute;
    left: 75%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1; }
  .instagram-images-block h3 {
    position: relative;
    z-index: 2; }

.instagram-images-wrapper {
  position: relative;
  z-index: 2; }
  .instagram-images-wrapper .flickity-slider {
    margin-left: 20px; }
  .instagram-images-wrapper .carousel-image {
    display: block;
    width: 180px;
    margin-right: 24px; }
    .instagram-images-wrapper .carousel-image img {
      display: block;
      width: 100%;
      border-radius: 20px; }

/*instagram-images end*/
/*loss-of-profit start*/
.loss-of-profit .wrapper-block {
  padding-top: 40px;
  padding-bottom: 50px; }
.loss-of-profit .flex-block .text-block {
  margin-bottom: 90px; }
  .loss-of-profit .flex-block .text-block:last-child {
    margin-bottom: 0; }
.loss-of-profit .flex-block .phone-image-block {
  width: 440px;
  margin-top: -80px; }
  .loss-of-profit .flex-block .phone-image-block img:not(.phone-frame) {
    border-radius: 60px;
    /*ОБРАТИ ВНИМАНИЕ, ПОПРАВЬ КАРТИНКУ - ПРОЗРАЧНЫЕ ОТСТУПЫ ПО РАЗМЕРУ*/ }

.revenue-growth-block {
  min-height: 280px;
  padding: 45px 45px 20px 45px; }
  .revenue-growth-block .carousel-cell {
    width: 100%;
    min-height: 172px; }
    .revenue-growth-block .carousel-cell span {
      display: block;
      margin-bottom: 30px; }
  .revenue-growth-block .flickity-enabled {
    padding-bottom: 43px; }
  .revenue-growth-block .flickity-page-dots {
    line-height: 0;
    bottom: 0; }
    .revenue-growth-block .flickity-page-dots .dot {
      position: relative;
      width: 13px;
      height: 13px;
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 100%;
      margin: 0 13px 0 0;
      opacity: 1.0; }
      .revenue-growth-block .flickity-page-dots .dot:after {
        content: "";
        width: 14px;
        height: 1px;
        background: #aaa;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -1px; }
      .revenue-growth-block .flickity-page-dots .dot:last-child {
        margin: 0; }
        .revenue-growth-block .flickity-page-dots .dot:last-child:after {
          display: none; }
      .revenue-growth-block .flickity-page-dots .dot.is-selected {
        background: #57D435; }

/*loss-of-profit end*/
/*briskly-components start*/
.briskly-components-wrapper {
  padding: 100px 0 0 0; }

.str-after {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
  .str-after div {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 0 125px;
    position: relative; }
    .str-after div img {
      position: absolute;
      right: 0;
      top: 30px;
      z-index: 10; }
  .str-after.on-scan-go div {
    min-width: 900px; }

.briskly-components-block {
  padding: 60px 0; }
  .briskly-components-block .flex-block.image-wrapper {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right; }
    .briskly-components-block .flex-block.image-wrapper img {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      max-width: 100%; }
  .briskly-components-block .flex-block.text-wrapper {
    padding-top: 35px; }
    .briskly-components-block .flex-block.text-wrapper .text-block {
      margin-bottom: 40px; }
      .briskly-components-block .flex-block.text-wrapper .text-block:last-child {
        margin-bottom: 0; }

/*briskly-components end*/
/*about-b-pay start*/
.about-b-pay {
  padding: 140px 0;
  /* background: url(/img/b-pay-logo-bg.svg) center center no-repeat; */
  background-size: 102%;
    /*.btns-block {
        margin-top: 80px;
        display: flex;

        .btn {
            padding: 0 55px;

            &:first-child {
                margin-right: 20px;
            }

            position: relative;

            &.btn-ios {
                &:before {
                    content: "";
                    @include ib;
                    width: 20px;
                    height: 20px;
                    background: url(/img/icons/apple-icon.svg) 0 0 no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                    position: relative;
                    top: 50%;
                    @include transform(translate(0,-50%));
                    margin-top: -3px;
                }
            }
            &.btn-android {
                &:before {
                    content: "";
                    @include ib;
                    width: 20px;
                    height: 20px;
                    background: url(/img/icons/android-icon.svg) 0 0 no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                    position: relative;
                    top: 50%;
                    @include transform(translate(0,-50%));
                }
            }
        }
    }*/ }
  .about-b-pay .flex-block .text-block {
    margin-top: 60px; }
    .about-b-pay .flex-block .text-block .s24 {
      display: block;
      margin-bottom: 10px; }
  .about-b-pay .flex-block .phone-image-block {
    margin-top: 90px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1; }
    .about-b-pay .flex-block .phone-image-block.have-icon .b-pay-icon {
      width: 230px;
      position: absolute;
      left: 0;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 64px;
      z-index: 10; }
  .about-b-pay .btns-block {
    margin-top: 80px;
    display: flex; }
    .about-b-pay .btns-block a {
      display: block; }
      .about-b-pay .btns-block a img {
        width: 100%; }
      .about-b-pay .btns-block a.appstore {
        margin-right: 20px; }

/*about-b-pay end*/
/*work-steps start*/
.work-steps-wrapper {
  padding-top: 60px;
  width: 100%;
  justify-content: space-between;
  display: flex; }
  .work-steps-wrapper .work-step-block {
    min-width: 230px;
    max-width: 230px; }
    .work-steps-wrapper .work-step-block span {
      display: block;
      margin-bottom: 10px; }
    .work-steps-wrapper .work-step-block .icon-block {
      position: relative; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        content: "";
        width: 15px;
        height: 30px;
        background: url(/img/arrow-r-gray.svg) 0 0 no-repeat;
        background-size: contain;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        position: absolute;
        top: 50%;
        left: 185px;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .work-steps-wrapper .work-step-block .icon-block img {
        display: block;
        width: 100px;
        margin-bottom: 30px;
        border-radius: 24px; }
        .work-steps-wrapper .work-step-block .icon-block img.green-shadow {
          box-shadow: 0px 6px 24px rgba(95, 218, 62, 0.25); }
        .work-steps-wrapper .work-step-block .icon-block img.blue-shadow {
          box-shadow: 0px 6px 24px rgba(76, 162, 242, 0.25); }
        .work-steps-wrapper .work-step-block .icon-block img.purple-shadow {
          box-shadow: 0px 6px 24px rgba(169, 76, 242, 0.25); }
    .work-steps-wrapper .work-step-block:last-child .icon-block:after {
      display: none; }
  .work-steps-wrapper.vertical-view {
    padding: 0;
    display: block; }
    .work-steps-wrapper.vertical-view .work-step-block {
      min-width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 35px; }
      .work-steps-wrapper.vertical-view .work-step-block:last-child {
        margin-bottom: 0; }
      .work-steps-wrapper.vertical-view .work-step-block .text-block {
        max-width: 400px; }
      .work-steps-wrapper.vertical-view .work-step-block span {
        margin-bottom: 0; }
      .work-steps-wrapper.vertical-view .work-step-block .icon-block {
        margin-right: 25px; }
        .work-steps-wrapper.vertical-view .work-step-block .icon-block:after {
          display: none; }
        .work-steps-wrapper.vertical-view .work-step-block .icon-block img {
          margin-bottom: 0; }

/*work-steps ens*/
/*about-terminal start*/
.about-terminal {
  padding: 85px 0 140px 0; }
  .about-terminal .image-wrapper {
    position: relative; }
    .about-terminal .image-wrapper .main-image {
      border-radius: 20px;
      box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25); }
    .about-terminal .image-wrapper .card-image {
      position: absolute;
      left: -60px;
      bottom: -40px;
      border-radius: 20px;
      box-shadow: 3px 12px 70px rgba(111, 236, 77, 0.2); }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 140px 0; }
  .embedded-marketing.on-scan-go {
    padding: 80px 0 40px 0; }
  .embedded-marketing .spec-text {
    width: 100%;
    max-width: 680px;
    margin: 0 auto 80px auto;
    /*position: relative;
    left: 50%;
    margin-left: -280px;*/ }

.laptop-bg {
  display: flex;
  align-items: center;
  min-height: 730px;
  background: url(/img/laptop-bg.svg) bottom center no-repeat; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .spec-flex-wrapper .flex-block {
    min-width: 50%;
    max-width: 50%;
    padding-left: 60px;
    display: flex;
    align-items: center;
    margin: 50px 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 130px;
      max-width: 130px;
      margin-right: 20px; }
      .spec-flex-wrapper .flex-block .icon-block img {
        display: block;
        width: 100%;
        border-radius: 24px; }
        .spec-flex-wrapper .flex-block .icon-block img.green-shadow {
          box-shadow: 0px 8px 20px rgba(112, 249, 48, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.blue-shadow {
          box-shadow: 0px 8px 20px rgba(48, 200, 249, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.pink-shadow {
          box-shadow: 0px 8px 20px rgba(249, 48, 120, 0.15); }
        .spec-flex-wrapper .flex-block .icon-block img.purple-shadow {
          box-shadow: 0px 8px 20px rgba(249, 48, 229, 0.15); }
      .spec-flex-wrapper .flex-block .icon-block.have-tail {
        position: relative; }
        .spec-flex-wrapper .flex-block .icon-block.have-tail:before {
          display: block;
          content: "";
          width: 24px;
          height: 23px;
          background: url(/img/icons/tail.svg) 0 0 no-repeat;
          background-size: contain;
          position: absolute;
          left: -13px;
          bottom: 0; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts {
  margin-top: -220px; }
  .about-discounts .w60 {
    padding-right: 40px; }
  .about-discounts .phone-image-block {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 445px; }
  .about-discounts.on-scan-go {
    padding: 50px 0;
    margin-top: 0; }
    .about-discounts.on-scan-go .phone-image-block {
      width: 310px; }

/*about-discounts end*/
/*about-security start*/
.about-security {
  padding: 130px 0; }
  .about-security .image-wrapper {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative; }
    .about-security .image-wrapper:before, .about-security .image-wrapper:after {
      content: '';
      position: absolute;
      background: #161313;
      filter: blur(24px);
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      z-index: 10; }
    .about-security .image-wrapper:after {
      width: 68px;
      height: 2px;
      bottom: -88px;
      visibility: hidden; }
    .about-security .image-wrapper:before {
      width: 184px;
      height: 8px;
      opacity: .4;
      bottom: -85px;
      visibility: hidden; }

/*about-security end*/
/*have-questions start*/
.have-questions {
  padding: 150px 0; }
  .have-questions .btns-block {
    display: flex;
    width: 640px;
    justify-content: space-between;
    margin: 40px auto 0 auto; }

/*have-questions end*/
/*articles start*/
.mass-media-about-us {
  padding: 150px 0 0 0; }
  .mass-media-about-us .h-block h2 {
    margin-bottom: 35px; }

/*.articles-wrapper {
    .flickity-slider {
        margin-left: 40px;
    }

    .carousel-cell {
        padding: 5px;
        margin-right: 30px;
    }

    .flickity-prev-next-button {
        width: 35px;
        height: 35px;
        background: url(/img/control.svg) 0 0 no-repeat;
        background-size: cover;
        top: -100px;
        left: 50%;

        &.previous {
            @include transform(rotate(180deg));
            margin-left: -120px;
        }

        &.next {
            margin-left: -75px;
            top: -83px;
        }
    }
}*/
.articles-wrapper .swiper-button-prev, .articles-wrapper .swiper-button-next {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  margin-top: -17px;
  opacity: 0;
  transition: all 200ms linear 0s; }
.articles-wrapper .swiper-button-prev {
  transform: rotate(180deg);
  left: 23px; }
.articles-wrapper .swiper-button-next {
  right: 23px; }
.articles-wrapper.swiper-container {
  padding: 20px 40px; }
  .articles-wrapper.swiper-container:hover .swiper-button-prev, .articles-wrapper.swiper-container:hover .swiper-button-next {
    opacity: 1.0; }

.articles-items-wrapper {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  justify-content: space-between; }

.article-item {
  position: relative;
  min-width: 260px;
  max-width: 260px;
  height: 345px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  padding: 25px 20px 65px 20px;
  transition: 150ms linear 0s;
  cursor: default; }
  .article-item .img-wrapper {
    display: block;
    padding-bottom: 10px; }
    .article-item .img-wrapper img {
      width: 220px;
      max-width: 100%;
      margin: 0 auto; }
  .article-item .media-name {
    display: block;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px; }
  .article-item p {
    font-size: 15px;
    line-height: 22px; }
  .article-item .btn {
    width: 130px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .article-item.wide {
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    margin-bottom: 40px; }
    .article-item.wide .btn {
      left: 20px;
      transform: none; }
  .article-item:hover {
    margin-top: -10px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    transition: 150ms linear 0s; }

/*articles end*/
/*our clients start*/
.our-clients {
  padding: 150px 0; }
  .our-clients h2 {
    margin-bottom: 60px; }
  .our-clients .swiper-container {
    margin-bottom: 60px; }
    .our-clients .swiper-container:last-child {
      margin-bottom: 0; }
  .our-clients .carousel-image img {
    height: 100%;
    height: 45px;
    margin: 0 50px; }

.clients-logos-line-block {
  margin-bottom: 60px;
  /*.flickity-slider {
      margin-left: 50px;
  }*/ }
  .clients-logos-line-block:last-child {
    margin-bottom: 0; }

/*our clients end*/
/*map block start*/
.map-block-wrapper {
  position: relative;
  height: 700px; }
  .map-block-wrapper:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 12px;
    background: #353439;
    bottom: 0;
    left: 0; }
  .map-block-wrapper .bend-bottom {
    position: absolute;
    bottom: 10px;
    z-index: 2; }
  .map-block-wrapper .bend-top {
    position: absolute;
    top: -1px;
    z-index: 2; }

.map-block {
  height: 100%; }

/*map block end*/
/*footer start*/
.pay-systems ul {
  height: 40px;
  display: flex; }
  .pay-systems ul li {
    display: block;
    margin-right: 20px; }
    .pay-systems ul li:last-child {
      margin-right: 0; }
    .pay-systems ul li img {
      max-height: 100%; }

.links-block a {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  opacity: .75; }
  .links-block a:hover {
    opacity: 1.0; }
.links-block ul li {
  display: block;
  margin-bottom: 20px; }
  .links-block ul li:last-child {
    margin: 0; }

.footer {
  padding: 30px 0; }
  .footer .flex-wrapper {
    justify-content: space-between;
    padding-bottom: 40px; }
  .footer .logo {
    display: block;
    width: 180px;
    padding-bottom: 15px; }
    .footer .logo img {
      width: 100%; }
  .footer .footer-block {
    padding-right: 75px; }
    .footer .footer-block.flex-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .footer .footer-block:last-child {
      padding-right: 0; }
  .footer p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px; }
    .footer p:last-child {
      margin-bottom: 0; }
  .footer .footer-block-text .tel {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px; }
  .footer .footer-block-text .standart-green {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 30px; }

.to-top {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  background: #202020;
  opacity: .5;
  margin: 40px auto 0 auto;
  transition: all 200ms liner 0s; }
  .to-top:before {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 29px;
    background: url(/img/to-top.svg) 0 0 no-repeat;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .to-top:hover, .to-top.active {
    opacity: 1.0; }

.socila-networks ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-right: 10px; }
  .socila-networks ul li:last-child {
    margin-right: 0; }
  .socila-networks ul li a {
    display: block;
    width: 32px; }
    .socila-networks ul li a img {
      display: block;
      width: 100%; }

/*footer end*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .wrapper-block {
    /*max-width: 1000px;*/
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }

  .flex-wrapper .flex-block.left-position {
    padding-right: 50px; }
  .flex-wrapper .flex-block.right-position {
    padding-left: 50px; }

  header .header {
    /*max-width: 1000px;*/
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }
  header menu ul li {
    margin-right: 30px; }
  header .tel {
    height: 50px;
    line-height: 46px;
    padding: 0 20px; }

  .main-top-info {
    width: 580px;
    -moz-transform: translate(-500px, 0);
    -ms-transform: translate(-500px, 0);
    -webkit-transform: translate(-500px, 0);
    transform: translate(-500px, 0); }
    .main-top-info .logo a img {
      width: 230px; }
    .main-top-info h1 {
      font-size: 36px;
      line-height: 50px; }

  .second-bend-block {
    padding: 50px 0 20px 0; }

  .about-products-wrapper {
    margin-top: -80px; }
    .about-products-wrapper .about-product-block {
      min-width: 320px;
      max-width: 320px; }
      .about-products-wrapper .about-product-block .product-info {
        height: 650px; }
      .about-products-wrapper .about-product-block.about-phone-app .image-wrapper img:not(.b-pay-icon) {
        width: 86px; }
      .about-products-wrapper .about-product-block.about-phone-app .image-wrapper.have-icon {
        padding-left: 30px; }
        .about-products-wrapper .about-product-block.about-phone-app .image-wrapper.have-icon .b-pay-icon {
          width: 60px;
          bottom: 22px; }
      .about-products-wrapper .about-product-block.about-micromarket .image-wrapper img {
        width: 250px;
        margin-left: -47px; }
      .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img {
        width: 600px; }

  .loss-of-profit .flex-block .phone-image-block {
    width: 400px; }

  .briskly-components-wrapper .str-after div .s24 {
    font-size: 20px; }

  .about-b-pay {
    padding: 140px 0 70px 0; }

  .steps-wrapper {
    padding-left: 50px; }

  .work-steps-wrapper .work-step-block {
    min-width: 180px;
    max-width: 180px; }

  .about-terminal {
    /*padding: 54px 0 100px 0;*/
    padding: 54px 60px 100px 60px; }

  .embedded-marketing {
    padding-top: 80px; }

  .laptop-bg {
    width: 1000px;
    min-height: 570px;
    background-size: 100%;
    margin: 0 auto; }

  .spec-flex-wrapper {
    width: 760px; }
    .spec-flex-wrapper .flex-block {
      padding-left: 30px; }
      .spec-flex-wrapper .flex-block .icon-block {
        min-width: 100px;
        max-width: 100px; }
      .spec-flex-wrapper .flex-block p {
        font-size: 15px; }

  .about-discounts .phone-image-block {
    width: 350px; }

  .about-discounts {
    margin-top: -120px; }

  .about-security {
    padding: 100px 0 60px 0; }

  .have-questions {
    padding: 100px 0; }

  .mass-media-about-us {
    padding: 100px 0 0 0; }

  .our-clients {
    padding: 100px 0; }

  .h-block {
    max-width: 100%;
    padding: 0 40px; }

  .articles-wrapper .flickity-prev-next-button.previous {
    margin-left: -80px; }
  .articles-wrapper .flickity-prev-next-button.next {
    margin-left: -35px; } }
@media screen and (min-width: 1025px) and (max-width: 1139px) {
  .main-top-info ul {
    margin-left: 40px; } }
/*affiliate-program start*/
.str-after-wrapper {
  padding-top: 100px; }

.dots {
  height: 127px;
  width: 100%;
  background: url(/img/dots-bg.svg) top left repeat-x;
  position: absolute; }
  .dots.green-dots {
    background: url(/img/dots-green-bg.svg) 0 0 repeat; }

.standart {
  margin-bottom: 50px;
  padding: 0; }
  .standart li {
    display: block;
    position: relative;
    padding-left: 47px;
    color: #000;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px; }
    .standart li:before {
      content: '';
      display: block;
      position: absolute;
      width: 27px;
      height: 24px;
      background: url(/img/marker-icon.svg) 0 0 no-repeat;
      background-size: contain;
      left: 0;
      top: 2px; }
    .standart li:last-child {
      margin: 0; }
  .standart.two-columns-view {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 130px;
    -moz-column-gap: 130px;
    column-gap: 130px; }
  .standart.marker-abroad {
    margin-left: -47px; }
  .standart.s24 li {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px; }
    .standart.s24 li:before {
      width: 34px;
      height: 30px; }

.see-more {
  display: block;
  font-size: 18px;
  line-height: 23px;
  color: #2a3c46;
  position: relative;
  padding-left: 24px;
  transition: all 200ms linear 0s; }
  .see-more:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 23px;
    background: url(/img/str-to-bottom.svg) 0 0 no-repeat;
    opacity: .2;
    left: 0;
    transition: all 200ms linear 0s; }
  .see-more:hover, .see-more.active {
    color: #202020; }
    .see-more:hover:before, .see-more.active:before {
      opacity: .5; }

.w660 {
  width: 100%;
  min-width: 660px;
  max-width: 660px; }
  .w660.absolute-position {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-580px, 0);
    -ms-transform: translate(-580px, 0);
    -webkit-transform: translate(-580px, 0);
    transform: translate(-580px, 0);
    z-index: 2; }

/*top-block start*/
.top-block-wrapper {
  min-height: 950px;
  position: relative;
  background: url(/img/affiliate-program/top-block-bg-2.svg) top center no-repeat;
  padding: 120px 0 0 0;
  overflow: hidden; }
  .top-block-wrapper .btns-block {
    margin-bottom: 60px;
    display: flex; }
    .top-block-wrapper .btns-block .btn:first-child {
      margin-right: 20px; }
  .top-block-wrapper.scan-go-top-block {
    min-height: 820px;
    background: url(/img/scan-go/top-block-bg.png) top center no-repeat; }
    .top-block-wrapper.scan-go-top-block .bend.bend-bottom {
      position: absolute; }
    .top-block-wrapper.scan-go-top-block .phone-image-block {
      z-index: 3;
      margin: auto 0 auto auto; }
      .top-block-wrapper.scan-go-top-block .phone-image-block:before {
        content: "";
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border-radius: 30px;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 1; }
      .top-block-wrapper.scan-go-top-block .phone-image-block .icon-image {
        position: absolute;
        z-index: 3;
        width: 100px;
        border-radius: 20px;
        left: -30px;
        bottom: -50px;
        box-shadow: 0px 6px 24px rgba(218, 90, 62, 0.25); }

.img-block-responsive {
  position: relative;
  height: 100%;
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  margin: 0 auto; }
  .img-block-responsive .image-wrapper {
    position: relative;
    width: 40%; }
    .img-block-responsive .image-wrapper img {
      display: block;
      width: 100%;
      max-width: 700px; }
    .img-block-responsive .image-wrapper .phone-image-block {
      width: 26%;
      position: absolute;
      top: 50%;
      left: 5%;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }

.logo-top {
  width: 178px;
  margin-bottom: 40px; }
  .logo-top a {
    display: block; }
    .logo-top a img {
      display: block;
      width: 100%; }

.top-menu-wrapper .open-menu {
  display: none; }

.top-menu {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  font-size: 0;
  transition: all 200ms liner 0; }
  .top-menu li {
    position: relative;
    padding-right: 35px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    transition: all 200ms liner 0; }
    .top-menu li a {
      display: block;
      line-height: 40px;
      font-size: 18px;
      font-weight: 500;
      opacity: .85;
      color: #202020;
      transition: all 200ms liner 0;
      color: #202020; }
      .top-menu li a:hover {
        opacity: 1.0; }
    .top-menu li ul {
      display: none;
      width: 220px;
      position: absolute;
      padding: 15px 15px;
      border: 1px solid #2a3c46;
      background: #fff;
      box-shadow: 0 0 5px 3px rgba(153, 162, 173, 0); }
      .top-menu li ul li {
        display: block;
        padding: 0; }
        .top-menu li ul li a {
          font-size: 16px;
          line-height: 40px;
          border-bottom: 1px dashed #2a3c46; }
        .top-menu li ul li:last-child a {
          border: none; }
      .top-menu li ul:hover {
        box-shadow: 0 0 3px 0px rgba(153, 162, 173, 0.8); }
    .top-menu li.nested-list .nested-list-a {
      padding-right: 20px;
      position: relative; }
      .top-menu li.nested-list .nested-list-a:after {
        position: absolute;
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        border-top: 2px solid #202020;
        border-right: 2px solid #202020;
        -moz-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
        -webkit-transform: translate(0, -50%) rotate(45deg);
        transform: translate(0, -50%) rotate(45deg);
        top: 50%;
        right: 0;
        transition: all 200ms liner 0; }
    .top-menu li.nested-list:hover .nested-list-a:after {
      -moz-transform: translate(0, -50%) rotate(135deg);
      -ms-transform: translate(0, -50%) rotate(135deg);
      -webkit-transform: translate(0, -50%) rotate(135deg);
      transform: translate(0, -50%) rotate(135deg); }
    .top-menu li.nested-list:hover ul {
      display: block; }

/*top-block end*/
/*top form start*/
.dots-bottom-under-div {
  margin-top: -100px;
  position: relative; }
  .dots-bottom-under-div .dots {
    bottom: 0;
    z-index: 1;
    background-color: #f4f4f4; }

.top-form-wrapper {
  position: relative;
  z-index: 2;
  height: 1080px;
  background: url(/img/affiliate-program/top-form-bg.png) 0 0 no-repeat;
  display: flex;
  align-items: center; }
  .top-form-wrapper .flex-block .phone-image-block {
    margin: 0 auto; }
    .top-form-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
      width: 230px;
      position: absolute;
      left: 0;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 64px;
      z-index: 10; }
  .top-form-wrapper .flex-block .s24 {
    display: block;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    max-width: 390px;
    margin: 20px auto 0 auto; }

/*top form end*/
/*revenue-growth-block-2 start*/
.revenue-growth-block-2 .flex-wrapper {
  justify-content: center;
  align-items: stretch; }
  .revenue-growth-block-2 .flex-wrapper .flex-block {
    min-width: auto;
    max-width: auto;
    flex-grow: 0;
    padding: 20px 60px 30px 60px; }
    .revenue-growth-block-2 .flex-wrapper .flex-block .text-block {
      width: 100%;
      height: 100%;
      padding: 25px 20px; }
      .revenue-growth-block-2 .flex-wrapper .flex-block .text-block .standart {
        margin-bottom: 0;
        margin-top: 30px; }
        .revenue-growth-block-2 .flex-wrapper .flex-block .text-block .standart li {
          font-size: 16px;
          line-height: 25px; }

/*revenue-growth-block-2 end*/
/*placements start*/
.placements-block {
  padding: 70px 0;
  display: flex; }
  .placements-block .carousel-cell {
    min-width: 290px;
    max-width: 290px;
    padding: 10px 10px 15px 10px;
    margin: 0; }
  .placements-block .placements-item {
    height: 385px;
    padding: 25px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .placements-block .placements-item h5 {
      height: 48px; }
    .placements-block .placements-item img {
      display: block;
      width: 150px;
      border-radius: 100%;
      margin: 0 auto 20px auto; }

/*placements end*/
/*connection-cost start*/
.connection-cost-wrapper {
  position: relative; }
  .connection-cost-wrapper .wrapper-block {
    padding: 85px 0; }
    .connection-cost-wrapper .wrapper-block h3 {
      margin-bottom: 60px; }
  .connection-cost-wrapper .dots {
    top: 0; }
  .connection-cost-wrapper .flex-wrapper {
    justify-content: space-between; }
    .connection-cost-wrapper .flex-wrapper .flex-block {
      padding: 20px 25px;
      min-width: calc(50% - 10px);
      max-width: calc(50% - 10px); }
  .connection-cost-wrapper .cost {
    display: block;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px; }

/*connection-cost end*/
/*about-benefit start*/
.about-benefit-wrapper {
  padding-bottom: 50px; }
  .about-benefit-wrapper .about-benefit-top {
    margin-bottom: 60px; }
    .about-benefit-wrapper .about-benefit-top h3 {
      margin-bottom: 10px; }
    .about-benefit-wrapper .about-benefit-top .h3.color-green {
      margin-bottom: 0; }
  .about-benefit-wrapper .flex-wrapper {
    margin-bottom: 30px; }
    .about-benefit-wrapper .flex-wrapper:last-child {
      margin-bottom: 0; }
    .about-benefit-wrapper .flex-wrapper .flex-block {
      min-width: auto;
      max-width: 100%;
      overflow: hidden;
      position: relative; }
      .about-benefit-wrapper .flex-wrapper .flex-block.narrow-block {
        min-width: 400px;
        max-width: 400px;
        margin-right: 60px; }
      .about-benefit-wrapper .flex-wrapper .flex-block img {
        display: block;
        width: 100%; }
      .about-benefit-wrapper .flex-wrapper .flex-block h3 {
        line-height: 34px; }
      .about-benefit-wrapper .flex-wrapper .flex-block .fs50 {
        line-height: 50px; }
      .about-benefit-wrapper .flex-wrapper .flex-block .h3, .about-benefit-wrapper .flex-wrapper .flex-block .fs50, .about-benefit-wrapper .flex-wrapper .flex-block .btn {
        position: absolute;
        bottom: 20px;
        margin: 0; }
  .about-benefit-wrapper .text-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 555px;
    height: 100%;
    padding: 20px 20px 90px 20px; }
    .about-benefit-wrapper .text-block.green-bg {
      background: linear-gradient(180deg, rgba(95, 218, 62, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(0deg, rgba(95, 218, 62, 0.5), rgba(95, 218, 62, 0.5)), url(image.png); }

/*about-benefit end*/
/*about-commission start*/
.about-commission .wrapper-block {
  padding: 40px 0; }
  .about-commission .wrapper-block .standart {
    margin-left: -47px; }

/*about-commission end*/
/*connection-steps start*/
.connection-steps-wrapper {
  padding-top: 50px; }

.connection-steps {
  padding: 50px 0;
  display: flex;
  justify-content: space-between; }
  .connection-steps .step-item {
    min-width: 30%;
    max-width: 30%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .connection-steps .step-item h4 {
      line-height: 32px; }
    .connection-steps .step-item img {
      display: block;
      width: 180px;
      border-radius: 40px;
      margin: 0 auto 50px auto; }
      .connection-steps .step-item img.green-shadow {
        box-shadow: 0px 6px 24px rgba(95, 218, 62, 0.25); }
      .connection-steps .step-item img.blue-shadow {
        box-shadow: 0px 6px 24px rgba(76, 162, 242, 0.25); }
      .connection-steps .step-item img.purple-shadow {
        box-shadow: 0px 6px 24px rgba(169, 76, 242, 0.25); }

/*connection-steps end*/
/*for-partners start*/
.for-partners .wrapper-block {
  padding: 50px 0; }
  .for-partners .wrapper-block h3 {
    margin-bottom: 60px; }
  .for-partners .wrapper-block .standart {
    margin-bottom: 0; }

/*for-partners end*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .w660 {
    min-width: 580px;
    max-width: 580px;
    padding: 0; }
    .w660.absolute-position {
      -moz-transform: translate(-500px, 0);
      -ms-transform: translate(-500px, 0);
      -webkit-transform: translate(-500px, 0);
      transform: translate(-500px, 0); }

  .top-form-wrapper .flex-block.left-position h3 {
    font-size: 30px;
    line-height: 40px; }
  .top-form-wrapper .flex-block .phone-image-block {
    margin: auto 0 auto auto; }

  .placements-wrapper {
    max-width: 100%;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px; }

  .placements-block .placements-item {
    padding: 25px 10px; }
  .placements-block .carousel-cell {
    min-width: 25%;
    max-width: 290px;
    margin: 0;
    padding: 25px 10px; }

  .about-commission .wrapper-block .standart {
    margin-left: 0; }

  .connection-steps .step-item h4 {
    font-size: 20px; }

  .pay-systems ul {
    height: 35px; }
    .pay-systems ul li {
      margin-right: 10px; }

  .standart.two-columns-view {
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px; } }
@media screen and (min-width: 1025px) and (max-width: 1139px) {
  .placements-block .carousel-cell .text-block p {
    font-size: 15px; } }
/*affiliate-program end*/
@media screen and (min-width: 1921px) {
  .bend {
    width: 102%; }

  .main-top-slider-wrapper .main-slider-bacs .carousel-cell img {
    width: 100%; }

  .top-form-wrapper {
    background-size: 100% 100%; }

  .top-block-wrapper.scan-go-top-block {
    background-size: 100%; } }
/*micromarket start*/
.top-block-left-spec-bg {
/*  background: url(/img/top-spec-bg.png) top center no-repeat;*/
}

.flex-wrapper-two-parts {
  display: flex; }
  .flex-wrapper-two-parts .flex-block {
    min-width: 50%;
    max-width: 50%; }
  .flex-wrapper-two-parts.for-whom .flex-block {
    padding-bottom: 85px;
    overflow: hidden; }

/*form-block start*/
.form-block-wrapper {
  position: relative;
  height: 1510px;
  /*background: url(/img/dark-bend-bg.svg) top center no-repeat;*/
  background: url(/img/micro-market/dark-bend-bg-2.png) top center no-repeat;
  margin-top: -220px;
  z-index: 1; }
  .form-block-wrapper .dots {
    height: 128px;
    bottom: 240px;
    left: 0;
    z-index: 1; }
  .form-block-wrapper .wrapper-block {
    padding-top: 280px; }
  .form-block-wrapper .flex-wrapper-two-parts {
    flex-wrap: wrap;
    justify-content: space-between; }
    .form-block-wrapper .flex-wrapper-two-parts .flex-block {
      min-width: 520px;
      max-width: 520px; }
      .form-block-wrapper .flex-wrapper-two-parts .flex-block.full-width {
        min-width: 100%;
        max-width: 100%; }
  .form-block-wrapper .fs24 {
    margin-bottom: 30px; }

.form-block-wrapper-special-bg {
  width: 100%;
  height: 100%;
  /*background: url(/img/greens-bg.png) top center no-repeat;*/
  background: url(/img/micro-market/greens-bg-new-4.png) top center no-repeat;
  position: relative;
  z-index: 2; }

.video-block {
  position: relative;
  width: 600px;
  top: -60px; }
  .video-block img:not(.video-icon) {
    width: 100%; }
  .video-block .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: all 200ms linear 0s; }
  .video-block a {
    display: block; }
    .video-block a:hover .video-icon {
      opacity: .7; }

.form-block.on-micromarket-page {
  width: 100%;
  padding: 0;
  font-size: 0; }
  .form-block.on-micromarket-page .input-wrapper {
    padding-bottom: 16px; }
    .form-block.on-micromarket-page .input-wrapper.half-width {
      width: calc(50% - 8px);
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1; }
    .form-block.on-micromarket-page .input-wrapper.mr16 {
      margin-right: 16px; }
  .form-block.on-micromarket-page .btn {
    margin: 30px auto 0 auto; }

input.input-standart {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #fff;
  border-radius: 6px;
  padding: 0 20px;
  font-size: 18px;
  font-family: 'Montserrat', Arial, sans-serif; }

/*form-block end*/
.for-whom-wrapper {
  padding-top: 60px; }
  .for-whom-wrapper h2 {
    margin-bottom: 50px; }

.for-whom .flex-block.for-image {
  padding-right: 60px;
  position: relative; }
  .for-whom .flex-block.for-image img {
    position: relative;
    z-index: 2;
    float: right; }
  .for-whom .flex-block.for-image .green-dots {
    width: 200%;
    bottom: 0;
    right: 220px;
    z-index: 1; }
.for-whom .icon-image {
  display: block;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  border-radius: 25px;
  width: 125px;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12); }
  .for-whom .icon-image img {
    display: block;
    width: 100%; }
.for-whom .for-whom-block {
  padding-left: 40px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
  .for-whom .for-whom-block .icon-text-item {
    margin-bottom: 50px; }
  .for-whom .for-whom-block .flex-block {
    padding-bottom: 85px; }
.for-whom .icon-text-item {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
  align-items: flex-start;
  display: flex; }
  .for-whom .icon-text-item .icon-image {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    /*min-width: 125px;
    max-width: 125px;*/
    min-width: 96px;
    max-width: 96px;
    transition: all 200ms linear 0s; }
  .for-whom .icon-text-item h4 {
    margin-bottom: 8px; }
  .for-whom .icon-text-item .icon-text {
    flex-grow: 1;
    padding-left: 50px; }
    .for-whom .icon-text-item .icon-text p {
      font-size: 14px;
      line-height: 22px; }
  .for-whom .icon-text-item:hover .icon-image {
    box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.5); }

/*places-of-use start*/
.places-of-use {
  padding-top: 110px; }
  .places-of-use h2 {
    margin-bottom: 50px; }

.food-types {
  display: flex;
  justify-content: space-between; }
  .food-types li {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .food-types li img {
      display: block;
      margin: 0 auto 20px auto;
      width: 82px; }
    .food-types li span {
      display: block;
      font-size: 22px;
      line-height: 26px;
      font-weight: 600; }

.food-icons-active {
  display: flex;
  justify-content: flex-start; }
  .food-icons-active .food-icon {
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    display: block;
    margin-right: 30px;
    position: relative; }
    .food-icons-active .food-icon:last-child {
      margin-right: 0; }
    .food-icons-active .food-icon:before, .food-icons-active .food-icon:after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
    .food-icons-active .food-icon:after {
      opacity: 0; }
    .food-icons-active .food-icon.salad:before {
      background: url(/img/micro-market/food-icons/salad.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.salad:after {
      background: url(/img/micro-market/food-icons/salad-white.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.sandwich:before {
      background: url(/img/micro-market/food-icons/sandwich.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.sandwich:after {
      background: url(/img/micro-market/food-icons/sandwich-white.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.freezing:before {
      background: url(/img/micro-market/food-icons/freezing.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.freezing:after {
      background: url(/img/micro-market/food-icons/freezing-white.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.snacks:before {
      background: url(/img/micro-market/food-icons/snacks.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.snacks:after {
      background: url(/img/micro-market/food-icons/snacks-white.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.non-food:before {
      background: url(/img/micro-market/food-icons/non-food.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.non-food:after {
      background: url(/img/micro-market/food-icons/non-food-white.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.coffee:before {
      background: url(/img/micro-market/food-icons/coffee.svg) 0 0 no-repeat;
      background-size: contain; }
    .food-icons-active .food-icon.coffee:after {
      background: url(/img/micro-market/food-icons/coffee-white.svg) 0 0 no-repeat;
      background-size: contain; }
  .food-icons-active:hover .food-icon:before {
    opacity: 0; }
  .food-icons-active:hover .food-icon:after {
    opacity: 1.0; }

.places-carousel {
  padding-bottom: 80px; }
  .places-carousel .carousel-cell {
    padding: 20px 20px 30px 20px; }

.place-item {
  position: relative;
  width: 540px;
  height: 377px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2); }
  .place-item img {
    display: block;
    width: 100%;
    height: 100%; }
  .place-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .place-item .place-item-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #08c792 0%, rgba(8, 199, 146, 0.25) 100%);
    padding: 40px 20px; }
    .place-item .place-item-info span {
      font-size: 35px;
      height: 43px;
      color: #fff;
      font-weight: 700;
      position: relative;
      z-index: 2; }
    .place-item .place-item-info:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(0deg, rgba(8, 199, 146, 0.5), rgba(8, 199, 146, 0.5));
      z-index: 1; }
  .place-item .food-icons-active {
    z-index: 2; }
    .place-item .food-icons-active .food-icon:before {
      opacity: 0; }
    .place-item .food-icons-active .food-icon:after {
      opacity: 1.0; }

.icebox-work-steps-wrapper {
  padding: 50px 0; }

.icebox-work-steps-block {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .icebox-work-steps-block .work-step-block {
    min-width: 33.3%;
    max-width: 33.3%;
    padding: 0 10px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .icebox-work-steps-block .work-step-block img {
      display: block;
      width: 270px;
      margin: 60px auto; }

/*places-of-use end*/
/*food-suppliers start*/
.food-suppliers-wrapper {
  padding: 80px 0; }
  .food-suppliers-wrapper .h-block h2 br {
    display: none; }
  .food-suppliers-wrapper .full-width-block {
    padding-top: 80px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .food-suppliers-wrapper .full-width-block .absolute-position {
      position: absolute;
      right: 50%;
      bottom: 40px;
      margin-right: 500px;
      max-height: 100%; }
    .food-suppliers-wrapper .full-width-block .dots {
      right: 50%;
      margin-right: 300px;
      bottom: 50px; }

.food-suppliers-carousel .carousel-cell {
  padding: 20px 20px 30px 20px; }

.supplier-card {
  width: 300px;
  height: 380px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15);
  border-radius: 10px;
  padding: 35px 30px; }
  .supplier-card .logo-block {
    display: block;
    margin: 0 auto 15px auto; }
    .supplier-card .logo-block img {
      display: block;
      max-width: 100%; }
  .supplier-card .supplier-name {
    height: 85px;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left; }
    .supplier-card .supplier-name h4 {
      line-height: 28px;
      margin: 0; }
  .supplier-card p {
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left; }

/*food-suppliers end*/
/*offers-block start*/
.offers-wrapper {
  position: relative;
  padding: 50px 0 0 0; }
  .offers-wrapper h2 {
    margin-bottom: 50px; }
  .offers-wrapper .absolute-position {
    display: none;
    width: 240px;
    position: absolute; }
    .offers-wrapper .absolute-position.left-img {
      top: 0;
      right: 50%;
      margin-right: 670px; }
    .offers-wrapper .absolute-position.right-img {
      left: 50%;
      bottom: 0;
      margin-left: 670px;
      margin-bottom: 120px;
      -moz-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
      -webkit-transform: translate(0, 50%);
      transform: translate(0, 50%); }

.offer-blocks-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .offer-blocks-wrapper .offer-block {
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    min-height: 400px;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(25, 27, 35, 0.2);
    padding: 30px;
    transition: all 200ms liner 0s; }
    .offer-blocks-wrapper .offer-block p {
      margin-bottom: 20px; }
      .offer-blocks-wrapper .offer-block p:last-child {
        margin-bottom: 0; }
    .offer-blocks-wrapper .offer-block:hover {
      box-shadow: 0px 4px 20px rgba(87, 212, 53, 0.5); }

/*offers-block end*/
/*markets-in-numbers start*/
.markets-in-num-wrapper {
  position: relative;
  overflow-x: hidden;
  background: url(/img/micro-market/micromarket-bg.jpg) top center no-repeat;
  min-height: 1570px;
  padding-top: 250px;
  /*margin-top: -300px;*/ }
  .markets-in-num-wrapper .have-questions {
    margin-top: 110px;
    padding: 0; }

.about-nums {
  justify-content: space-between; }
  .about-nums .flex-block {
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; }

.about-nums-block {
  width: 100%;
  border: 1px solid #57D435;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 40px;
  color: #fff; }
  .about-nums-block:last-child {
    margin-bottom: 0; }
  .about-nums-block p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px; }

.have-questions h2 {
  margin-bottom: 30px; }

/*markets-in-numbers end*/
/*green-dots-decoration start*/
.green-dots-decoration {
  position: relative; }
  .green-dots-decoration:before, .green-dots-decoration:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(/img/dots-green-bg.svg) 0 0 repeat; }
  .green-dots-decoration:before {
    right: 100%; }
  .green-dots-decoration:after {
    left: 100%; }

/*green-dots-decoration end*/
/*installation-options start*/
.installation-options-wrapper {
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 135px;
  margin-bottom: -135px; }
  .installation-options-wrapper h2 {
    margin-bottom: 50px; }
  .installation-options-wrapper .wrapper-block {
    padding: 120px 0; }

.installation-options-carousel {
  display: flex;
  justify-content: space-between; }
  .installation-options-carousel .carousel-cell {
    min-width: calc(33% - 20px);
    max-width: calc(33% - 20px); }

.installation-type-wrapper {
  position: relative;
  height: 100%;
  padding: 32px 2px 2px 2px;
  border-radius: 10px; }
  .installation-type-wrapper.spec-type {
    background: #ccd3dd;
    box-shadow: 0px 4px 12px rgba(25, 27, 35, 0.15); }
    .installation-type-wrapper.spec-type .popular {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      display: block;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      font-size: 16px;
      line-height: 32px;
      color: #6d818c;
      font-weight: 700; }

.installation-type {
  position: relative;
  height: 100%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  background: #fff;
  border-radius: 10px;
  padding: 45px 25px 200px 25px; }
  .installation-type p {
    font-size: 16px;
    line-height: 32px;
    margin: 0; }
  .installation-type .price {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    position: absolute;
    left: 0;
    bottom: 50px; }
    .installation-type .price .btn {
      margin-top: 20px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      width: 240px; }
  .installation-type .img-block {
    margin-bottom: 20px; }
    .installation-type .img-block img {
      max-width: 100%; }

/*installation-options end*/
@media screen and (min-width: 1921px) {
  .top-block-wrapper {
    background-size: 100%; }

  .img-block-responsive {
    max-width: 1920px;
    margin: 0 auto; }

  .top-block-left-spec-bg {
    background-size: 100%; }

  .form-block-wrapper {
    background-size: 100% 100%; }

  .white-beng-bg-mini {
    background-size: 100%; }

  .markets-in-num-wrapper {
    background-size: 100% 100%; }

  .map-block-wrapper .map-bend-top {
    top: -1px;
    width: 100%; }

  .map-block-wrapper .map-bend-bottom {
    bottom: -1px;
    width: 100%; }

  .bottom-dark-wrapper {
    background-size: 100%;
    position: relative; }
    .bottom-dark-wrapper:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -2px;
      background: #353439; }

  .dop-bottom-bg {
    background-position: center right; } }
/*micromarket end*/
/*scan-go start*/
/*scan-go-work start*/
.scan-go-work .wrapper-block {
  padding: 50px 0; }

.video-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px auto; }
  .video-wrapper .video-block {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    border-radius: 25px;
    overflow: hidden;
    top: 0; }
    .video-wrapper .video-block iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.like-cashbox .image-wrapper {
  position: relative; }
.like-cashbox .small-icon-block {
  position: absolute;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 3px 25px rgba(119, 234, 88, 0.5);
  border-radius: 20px;
  padding: 0 15px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
  .like-cashbox .small-icon-block.azs {
    top: 0;
    left: 70px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .like-cashbox .small-icon-block.sup-m {
    top: 50%;
    right: -30px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .like-cashbox .small-icon-block.micro-m {
    left: 10px;
    bottom: -30px; }
  .like-cashbox .small-icon-block ima {
    display: block;
    height: 55px;
    margin: 0 auto 15px auto; }
  .like-cashbox .small-icon-block span {
    display: block;
    font-size: 12px;
    line-height: 17px; }
    .like-cashbox .small-icon-block span.t-up {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 29px;
      font-weight: 500;
      margin-bottom: 5px; }
  .like-cashbox .small-icon-block.bac-green {
    background: #64ec72;
    color: #fff; }

.to-video {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 10px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 250px;
  height: 210px;
  border-radius: 100%;
  /*padding: 45px 0 0 0;
  background: $color-btn-green;
  box-shadow: -8px 1px 14px rgba(119, 234, 88, 0.25), 5px 5px 14px rgba(95, 218, 62, 0.5);*/ }
  .to-video a {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 45px 0 0 0;
    background: #77ea58;
    box-shadow: -8px 1px 14px rgba(119, 234, 88, 0.25), 5px 5px 14px rgba(95, 218, 62, 0.5); }
    .to-video a span {
      display: block;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      color: #296519;
      margin-bottom: 10px; }
    .to-video a img {
      margin: 0 auto;
      width: 33px; }

/*scan-go-work end*/
/*questions start*/
.questions-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto; }
  .questions-wrapper .question-block {
    position: relative;
    padding: 22px 45px;
    border-radius: 35px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 200ms linear 0s;
    cursor: pointer; }
    .questions-wrapper .question-block:last-child {
      margin: 0; }
    .questions-wrapper .question-block:before {
      position: absolute;
      display: block;
      content: "";
      width: 36px;
      height: 36px;
      background: #84e46b;
      border-radius: 100%;
      right: 34px;
      top: 17px;
      transition: all 200ms linear 0s;
      opacity: 0; }
    .questions-wrapper .question-block:after {
      position: absolute;
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      background: url(/img/arrow-right-black.svg) 0 0 no-repeat;
      background-size: cover;
      right: 44px;
      top: 27px;
      transition: all 200ms linear 0s; }
    .questions-wrapper .question-block span {
      display: block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      padding-right: 30px; }
    .questions-wrapper .question-block .text {
      display: none;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-left: 30px; }
      .questions-wrapper .question-block .text ul {
        margin-left: 0; }
        .questions-wrapper .question-block .text ul li {
          font-size: 16px;
          line-height: 26px; }
    .questions-wrapper .question-block:hover {
      box-shadow: 0 0 3px 0 rgba(74, 203, 39, 0.8); }
      .questions-wrapper .question-block:hover:before {
        opacity: 1.0; }
      .questions-wrapper .question-block:hover:after {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); }
    .questions-wrapper .question-block.opened {
      /*.text {
          @include b;
      }*/ }
      .questions-wrapper .question-block.opened:after {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg); }

/*questions end*/
/*video-block start*/
/*video-block end*/
/*like-cashbox start*/
/*like-cashbox end*/
/*about-delivery start*/
.about-delivery {
  padding-top: 50px; }
  .about-delivery .flex-wrapper {
    padding-bottom: 80px; }
    .about-delivery .flex-wrapper .flex-block.right-position {
      padding-left: 80px; }
  .about-delivery .about-delivery-top-block .text-block {
    width: 480px;
    padding-bottom: 50px; }
    .about-delivery .about-delivery-top-block .text-block:last-child {
      padding-bottom: 0; }
    .about-delivery .about-delivery-top-block .text-block p {
      font-size: 18px;
      margin-bottom: 35px; }
      .about-delivery .about-delivery-top-block .text-block p:last-child {
        margin-bottom: 0; }
  .about-delivery .about-delivery-top-block .image-wrapper img {
    margin-left: -40px; }
  .about-delivery .about-delivery-block img {
    display: block;
    width: 130px;
    border-radius: 30px;
    margin: 0 auto 50px auto; }
  .about-delivery .about-delivery-block span {
    display: block;
    margin-bottom: 35px; }
  .about-delivery .our-delivery-service {
    padding-bottom: 30px;
    align-items: flex-end;
    justify-content: center; }
    .about-delivery .our-delivery-service p {
      font-size: 18px;
      margin: 0; }
    .about-delivery .our-delivery-service img {
      display: block;
      height: 70px;
      margin-left: 40px; }

/*about-delivery end*/
/*included-in-price start*/
.included-in-price .image-wrapper img {
  width: 100%;
  max-width: 425px;
  margin: auto 0 auto auto; }
.included-in-price .flex-wrapper {
  padding: 50px 0 150px 0; }

/*included-in-price end*/
.flex-table-view .table-tr {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }
  .flex-table-view .table-tr .table-cell {
    min-width: 25%;
    max-width: 25%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 24px; }
    .flex-table-view .table-tr .table-cell.wide-cell {
      min-width: 50%;
      max-width: 50%;
      padding-left: 80px;
      text-align: left;
      -moz-text-align-last: left;
      text-align-last: left;
      display: flex;
      align-items: center;
      font-weight: 600;
      position: relative; }
      .flex-table-view .table-tr .table-cell.wide-cell .logos-block {
        min-width: 160px;
        max-width: 160px;
        margin-right: 30px; }
        .flex-table-view .table-tr .table-cell.wide-cell .logos-block img {
          position: relative;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          *display: inline;
          *zoom: 1;
          margin-right: -40px; }
  .flex-table-view .table-tr.first-tr .table-cell {
    font-weight: 600; }
  .flex-table-view .table-tr:last-child {
    margin-bottom: 0; }

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .scan-go-work .wrapper-block {
    padding: 50px 60px; }
    .scan-go-work .wrapper-block .like-cashbox {
      padding: 130px 60px 60px 60px; }

  .like-cashbox .image-wrapper .main-image {
    max-width: 100%; }

  .about-discounts.on-scan-go {
    padding: 50px 60px; }

  .top-block-wrapper.scan-go-top-block .phone-image-block {
    width: 250px; }

  .first-bend-block.on-scan-go .form-block {
    width: 100%;
    padding: 30px 15px 14px 15px; }
  .first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 {
    padding-right: 50px; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.w60 h3 {
      font-size: 28px;
      line-height: 36px; }

  .about-delivery .about-delivery-top-block .image-wrapper img {
    margin-left: 0; } }
/*scan-go end*/
