/*rgba(0,0,0,1.0)*/
/*rgba(0,0,0,1.0)*/
/*rgba(255,255,255,1.0)*/
/*rgba(244,244,244,1.0)*/
/*$color-white-gray: #fcfdfd; /*rgba(244,244,244,1.0)*/
/*rgba(42,60,70,1.0)*/
/*rgba(25,27,35,1.0)*/
/*rgba(109,129,140,1.0)*/
/*rgba(153,162,173,1.0)*/
/*rgba(204,211,221,1.0)*/
/*rgba(240,243,248,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(53,52,57,1.0)*/
/*rgba(87,212,53,1.0)*/
/*rgba(74,203,39,1.0)*/
/*rgba(132,228,107,1.0)*/
/*rgba(119,234,88,1.0)*/
/*rgba(147,248,120,1.0)*/
/*rgba(41,101,25,1.0)*/
/*rgba(244,110,92,1.0)*/
/*rgba(232,78,57,1.0)*/
/*rgba(250,161,149,1.0)*/
h1, h2 {
  font-size: 32px;
  line-height: 44px; }

h3 {
  font-size: 32px;
  line-height: 44px; }

.s14, .s18 {
  font-size: 16px;
  line-height: 24px; }

/*p, .s16 {
    font-size: 14px;
    line-height: 22px;
}*/
.s24 {
  font-size: 22px;
  line-height: 33px; }

.p85 {
  padding-top: 55px;
  padding-bottom: 55px; }

/*.bold {
    font-weight: 600;
}*/
.standart li:before {
  left: 5px; }

.btn.btn-big {
  height: 45px;
  line-height: 45px;
  font-size: 14px; }
  .btn.btn-big.btn-green-border {
    line-height: 41px; }
.btn.btn300 {
  width: 240px; }

.bend, .bend-top {
  width: 102%; }

.bend-top {
  top: -2px; }

/*.bend {
    bottom: -2px;
}

.bend-top {
    top: -2px;
}*/
.first-bend-block {
  padding: 55px 0 115px 0; }
  .first-bend-block.on-affiliate-program {
    padding: 60px 0 100px 0; }

.second-bend-block {
  padding: 50px 0 0 0; }
  .second-bend-block h2 {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }

.wrapper-block {
  width: 100%;
  max-width: 650px; }

.flex-wrapper {
  flex-wrap: wrap; }
  .flex-wrapper .flex-block {
    min-width: 100%;
    max-width: 100%; }
    .flex-wrapper .flex-block.left-position {
      padding-right: 0;
      margin-bottom: 40px; }
    .flex-wrapper .flex-block.right-position {
      padding-left: 0; }
  .flex-wrapper.tab-no-wrap {
    flex-wrap: nowrap; }
    .flex-wrapper.tab-no-wrap .flex-block {
      min-width: 50%;
      max-width: 50%; }
  .flex-wrapper.tablet-wrap {
    flex-wrap: wrap; }
    .flex-wrapper.tablet-wrap .flex-block.w60 {
      min-width: 100%;
      max-width: 100%; }
    .flex-wrapper.tablet-wrap .flex-block.w40 {
      min-width: 100%;
      max-width: 100%; }

.pr100 {
  padding-right: 0;
  padding-bottom: 50px; }

/*phone block start*/
.phone-image-block {
  width: 175px; }

/*phone block end*/
/*main-top-block start*/
header {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 30px 60px 0 60px; }
  header .logo {
    display: block; }
    header .logo a img {
      width: 110px; }
    header .logo a.logo-dark {
      display: none; }
  header .header {
    width: auto;
    padding: 0;
    justify-content: flex-end;
    margin: 0; }
  header .open-menu {
    display: block;
    width: 50px;
    height: 28px;
    z-index: 10;
    margin-left: 30px; }
    header .open-menu span {
      display: block;
      width: 100%;
      height: 4px;
      margin: 4px 0;
      background: #fff; }
    header .open-menu.dark-color span {
      background: #191B23; }
  header menu {
    display: none; }
    header menu ul li {
      margin-right: 22px; }
  header .tel {
    display: none; }
  header.header-dark-color .open-menu span {
    background: #191B23; }
  header.header-dark-color .logo a.logo-dark {
    display: block; }
  header.header-dark-color .logo a.logo-white {
    display: none; }
  header.have-opened-menu {
    display: block;
    height: 100vh;
    overflow: auto;
    background: #353439; }
    header.have-opened-menu .open-menu {
      position: fixed;
      top: 34px;
      right: 60px; }
      header.have-opened-menu .open-menu span {
        transition: all 200ms linear 0s;
        position: absolute;
        top: 8px; }
        header.have-opened-menu .open-menu span:nth-child(2) {
          display: none; }
        header.have-opened-menu .open-menu span:first-child {
          left: 0;
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        header.have-opened-menu .open-menu span:last-child {
          right: 0;
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    header.have-opened-menu .header {
      display: block;
      max-width: 300px;
      margin: 80px auto 0 auto; }
    header.have-opened-menu .logo, header.have-opened-menu .languages {
      display: none; }
    header.have-opened-menu .tel {
      display: block;
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      width: 100%; }
    header.have-opened-menu .header-right {
      min-width: 100%;
      justify-content: flex-end; }
    header.have-opened-menu menu {
      display: block;
      width: 100%;
      max-width: 300px;
      margin-bottom: 60px; }
      header.have-opened-menu menu ul li {
        display: block;
        margin-bottom: 25px; }
        header.have-opened-menu menu ul li a {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          *display: inline;
          *zoom: 1;
          font-size: 18px; }
        header.have-opened-menu menu ul li .extra-menu {
          margin-top: 15px;
          padding-left: 40px;
          display: block; }
          header.have-opened-menu menu ul li .extra-menu li {
            margin-bottom: 10px; }
            header.have-opened-menu menu ul li .extra-menu li a {
              font-size: 16px;
              opacity: .8;
              font-weight: 300; }
    header.have-opened-menu.header-dark-color {
      background: #fff; }

.main-top-block .bend {
  width: 1024px; }

.main-top-info {
  top: 120px;
  transform: none;
  width: 50%;
  left: 60px;
  margin-left: 0; }
  .main-top-info .logo {
    display: none; }
  .main-top-info h1 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px; }
  .main-top-info ul {
    padding-right: 50px; }
    .main-top-info ul li {
      font-size: 16px; }
      .main-top-info ul li:before {
        width: 22px;
        height: 19px;
        left: -30px; }

.main-top-slider-wrapper .slide-image-block-wrapper .wrapper-block {
  padding-top: 0;
  height: 100%;
  align-items: flex-end; }
.main-top-slider-wrapper .slide-image-block-wrapper .caption {
  font-size: 14px; }
.main-top-slider-wrapper .slide-image-block-wrapper.icebox-box img {
  width: 100%; }
.main-top-slider-wrapper .phone-image-block {
  margin: 0 auto; }
.main-top-slider-wrapper .carousel-cell {
  height: 650px; }
.main-top-slider-wrapper .slide-image-block.icebox-box img {
  width: 260px; }
.main-top-slider-wrapper .main-slider-bacs .carousel-cell img {
  max-height: 100%; }

/*main-top-block end*/
/*top-block start*/
.form-block {
  margin: 30px auto 0 auto; }

/*top-block end*/
/*about-products start*/
.about-products-wrapper {
  flex-wrap: wrap;
  margin-top: 20px; }
  .about-products-wrapper .about-product-block {
    min-width: 100%;
    max-width: 100%;
    align-items: center;
    margin-bottom: 70px;
    flex-direction: row; }
    .about-products-wrapper .about-product-block .image-wrapper {
      margin-bottom: 0; }
    .about-products-wrapper .about-product-block .product-info {
      height: auto;
      min-width: 60%;
      max-width: 60%;
      box-shadow: none;
      padding: 0 0 0 50px; }
      .about-products-wrapper .about-product-block .product-info h3 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 10px; }
      .about-products-wrapper .about-product-block .product-info .text-block .s14 {
        font-size: 14px; }
      .about-products-wrapper .about-product-block .product-info .btn {
        width: 240px; }
    .about-products-wrapper .about-product-block.about-micromarket .image-wrapper img {
      width: 300px;
      margin-left: 0; }
    .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img:not(.only-mobile) {
      display: none; }
    .about-products-wrapper .about-product-block.about-briskly-go .image-wrapper img.only-mobile {
      display: block;
      width: 600px; }

/*about-products end*/
/*instagram-images start*/
.instagram-images-wrapper .flickity-slider {
  margin-left: 20px; }

.instagram-images-block {
  padding: 75px 0; }
  .instagram-images-block .insta-icon-bg {
    width: 400px; }
  .instagram-images-block .carousel-image {
    width: 150px;
    margin-right: 20px; }

/*instagram-images end*/
/*loss-of-profit start*/
.loss-of-profit {
  height: 950px;
  padding-bottom: 105px; }
  .loss-of-profit .pl100 {
    padding-left: 0; }
  .loss-of-profit .wrapper-block {
    padding-bottom: 0; }
    .loss-of-profit .wrapper-block.revenue-growth-wrapper h2 {
      margin-bottom: 40px; }
    .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block {
      min-width: 40%;
      max-width: 40%; }
      .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block:first-child {
        min-width: 60%;
        max-width: 60%; }
      .loss-of-profit .wrapper-block.revenue-growth-wrapper .flex-block.pl100 {
        padding-left: 40px; }
  .loss-of-profit .revenue-growth-block {
    padding: 30px 30px 20px 30px; }
  .loss-of-profit .flex-wrapper .flex-block {
    margin-bottom: 50px; }
    .loss-of-profit .flex-wrapper .flex-block:last-child {
      margin-bottom: 0; }
    .loss-of-profit .flex-wrapper .flex-block .phone-image-block {
      width: 100%;
      margin-top: 0; }

/*loss-of-profit end*/
/*briskly-components start*/
.briskly-components-wrapper {
  padding: 50px 0 0 0; }
  .briskly-components-wrapper .briskly-components-block {
    padding: 0 0 40px 0;
    align-items: center; }
    .briskly-components-wrapper .briskly-components-block .flex-block.image-wrapper {
      min-width: 40%;
      max-width: 40%; }
    .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper {
      padding-top: 20px;
      min-width: 60%;
      max-width: 60%; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper.pl100 {
        padding-left: 40px; }
      .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block {
        margin-bottom: 20px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block .s16 {
          padding-bottom: 5px; }
        .briskly-components-wrapper .briskly-components-block .flex-block.text-wrapper .text-block p {
          font-size: 14px;
          line-height: 22px; }

.str-after div {
  padding: 0 50px; }
  .str-after div img {
    width: 80px;
    right: 45px;
    top: 50px; }
.str-after.on-scan-go div {
  min-width: 100%; }
  .str-after.on-scan-go div img {
    top: 20px;
    right: 20px; }

/*briskly-components end*/
/*about-b-pay start*/
.about-b-pay {
  background-position: center 18%;
  padding: 70px 0; }
  .about-b-pay .flex-wrapper .flex-block:first-child {
    min-width: 60%;
    max-width: 60%; }
  .about-b-pay .flex-wrapper .flex-block.align-right {
    min-width: 40%;
    max-width: 40%; }
  .about-b-pay .flex-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
    width: 138px; }
  .about-b-pay .flex-wrapper .flex-block .text-block {
    margin-top: 30px; }
  .about-b-pay .flex-wrapper .flex-block .btns-block {
    margin-top: 40px; }
    .about-b-pay .flex-wrapper .flex-block .btns-block .btn {
      padding: 0 30px; }

/*about-b-pay end*/
/*work-steps start*/
.phone-image-block.tab-w100 {
  width: 100%; }

.steps-wrapper {
  padding-left: 40px; }

.work-steps-wrapper {
  padding: 20px 0 0 0;
  flex-wrap: wrap; }
  .work-steps-wrapper .work-step-block {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px; }
    .work-steps-wrapper .work-step-block:last-child {
      padding-bottom: 0; }
    .work-steps-wrapper .work-step-block .icon-block {
      min-width: 80px;
      max-width: 80px;
      margin-right: 20px; }
      .work-steps-wrapper .work-step-block .icon-block img {
        width: 100%;
        margin: 0;
        border-radius: 18px; }
      .work-steps-wrapper .work-step-block .icon-block:after {
        display: none; }

/*work-steps ens*/
/*about-terminal start*/
.about-terminal .flex-wrapper .flex-block {
  padding-bottom: 50px; }
  .about-terminal .flex-wrapper .flex-block.pl100 {
    padding: 0; }
.about-terminal .image-wrapper .main-image {
  width: 80%;
  margin: 0 auto; }
.about-terminal .image-wrapper .card-image {
  width: 268px;
  left: -5px; }

/*about-terminal end*/
/*embedded-marketing start*/
.embedded-marketing {
  padding: 100px 0 0 0; }
  .embedded-marketing .spec-text {
    width: 100%;
    margin-bottom: 50px;
    left: 0;
    margin-left: 0; }

.laptop-bg {
  background: none;
  min-height: 0;
  padding-bottom: 50px; }

.spec-flex-wrapper {
  width: 100%;
  max-width: 690px; }
  .spec-flex-wrapper .flex-block {
    padding: 0 20px;
    margin: 20px 0; }
    .spec-flex-wrapper .flex-block .icon-block {
      min-width: 100px;
      max-width: 100px; }
    .spec-flex-wrapper .flex-block p {
      font-size: 15px; }

/*embedded-marketing end*/
/*about-discounts start*/
.about-discounts {
  margin-top: 50px; }
  .about-discounts .phone-image-block {
    width: 100%; }

/*about-discounts end*/
/*about-security start*/
/*about-security end*/
/*have-questions start*/
.have-questions {
  padding: 75px 0; }
  .have-questions .btns-block {
    justify-content: center; }
    .have-questions .btns-block .btn {
      margin: 0 20px; }

/*have-questions end*/
/*articles start*/
.mass-media-about-us {
  padding: 75px 0 0 0; }

.articles-wrapper .flickity-prev-next-button.next {
  margin-left: 90px; }

.articles-wrapper .flickity-prev-next-button.previous {
  margin-left: 40px; }

/*articles end*/
/*our clients start*/
.our-clients {
  padding: 75px 0; }

/*our clients end*/
/*map block start*/
.map-block-wrapper {
  height: 600px; }

/*map block end*/
/*footer start*/
.footer .wrapper-block {
  padding: 0; }
.footer .logo {
  margin: 0 auto;
  padding-bottom: 0; }
.footer .flex-wrapper {
  flex-wrap: wrap;
  justify-content: space-between; }
.footer .footer-block {
  padding: 0; }
  .footer .footer-block:last-child {
    padding: 0; }
  .footer .footer-block.patent-info {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    min-width: 100%;
    max-width: 100%;
    padding: 0 20px 40px 20px; }
    .footer .footer-block.patent-info .links-block ul {
      text-align: center;
      -moz-text-align-last: center;
      text-align-last: center;
      margin-top: 30px; }
      .footer .footer-block.patent-info .links-block ul li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        *display: inline;
        *zoom: 1;
        margin: 0 20px 10px 20px; }

/*footer end*/
/*affiliate-program start*/
.dots {
  height: 90px;
  background-size: contain; }

.w660 {
  min-width: 60%;
  max-width: 60%; }
  .w660.absolute-position {
    left: 0;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.top-block-wrapper {
  padding: 120px 0 250px 0; }
  .top-block-wrapper .logo-top {
    display: none; }
  .top-block-wrapper.on-for-partners .w660 {
    min-width: 100%;
    max-width: 100%;
    padding: 0 60px;
    margin: 0 auto;
    position: initial; }
  .top-block-wrapper.on-for-partners .standart li:not(:first-child) {
    width: 60%; }
  .top-block-wrapper.on-for-partners .btns-block {
    width: 65%;
    max-width: 520px;
    justify-content: space-between; }
    .top-block-wrapper.on-for-partners .btns-block .btn {
      min-width: calc(50% - 10px);
      max-width: calc(50% - 10px); }
  .top-block-wrapper .text-block h4 {
    max-width: 660px; }
  .top-block-wrapper.scan-go-top-block {
    min-height: auto;
    padding: 120px 0 0 0;
    background-size: 1190px;
    background-position: top right; }
    .top-block-wrapper.scan-go-top-block .wrapper-block {
      max-width: 100%;
      padding: 0 60px; }
    .top-block-wrapper.scan-go-top-block .flex-wrapper {
      flex-wrap: nowrap; }
      .top-block-wrapper.scan-go-top-block .flex-wrapper .w660 {
        padding: 0;
        min-width: 70%;
        max-width: 70%; }
      .top-block-wrapper.scan-go-top-block .flex-wrapper h3 {
        font-size: 26px;
        line-height: 38px;
        text-shadow: 1px 1px 2px #fff; }
    .top-block-wrapper.scan-go-top-block .phone-image-block {
      margin: 0 auto; }
      .top-block-wrapper.scan-go-top-block .phone-image-block .icon-image {
        width: 60px;
        left: -15px;
        bottom: -25px; }
    .top-block-wrapper.scan-go-top-block .bend.bend-bottom {
      position: relative; }
    .top-block-wrapper.scan-go-top-block .btns-block {
      margin-bottom: 0;
      position: relative;
      z-index: 1; }

.img-block-responsive {
  position: absolute;
  width: 40%;
  top: 50%;
  right: 0;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .img-block-responsive .image-wrapper {
    width: 100%; }
    .img-block-responsive .image-wrapper img {
      margin-top: 20px; }

.dots-bottom-under-div {
  margin-top: -250px; }
  .dots-bottom-under-div .top-form-wrapper {
    height: auto;
    background-position: top left;
    background-size: cover;
    padding: 180px 0 150px 0; }

.top-form-wrapper .flex-block .phone-image-block.have-icon .b-pay-icon {
  width: 120px; }

.revenue-growth-block-2-wrapper {
  padding-top: 50px; }
  .revenue-growth-block-2-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0; }
  .revenue-growth-block-2-wrapper .flex-wrapper {
    flex-wrap: nowrap; }
    .revenue-growth-block-2-wrapper .flex-wrapper .flex-block {
      padding: 20px;
      min-width: auto;
      max-width: 50%; }

.placements-block {
  display: block;
  padding: 30px 0;
  margin-bottom: 40px; }
  .placements-block .carousel-cell {
    margin: 0; }
  .placements-block .flickity-slider {
    margin-left: 10px; }

.connection-cost-wrapper .wrapper-block {
  max-width: 100%;
  padding-left: 60px;
  padding-right: 60px; }
  .connection-cost-wrapper .wrapper-block h3 {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
.connection-cost-wrapper .cost {
  font-size: 28px; }

.about-benefit-wrapper {
  padding-bottom: 50px; }
  .about-benefit-wrapper .wrapper-block {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px; }
  .about-benefit-wrapper .flex-wrapper .flex-block.narrow-block {
    min-width: calc(40% - 10px);
    max-width: calc(40% - 10px);
    margin-right: 20px; }
  .about-benefit-wrapper .flex-wrapper .flex-block img {
    width: auto;
    height: 300px; }
  .about-benefit-wrapper .flex-wrapper .flex-block .h3, .about-benefit-wrapper .flex-wrapper .flex-block .fs50, .about-benefit-wrapper .flex-wrapper .flex-block .bnt {
    bottom: 15px; }
  .about-benefit-wrapper .flex-wrapper .flex-block h4 {
    font-size: 22px;
    line-height: 30px;
    height: 60px;
    margin-bottom: 10px; }
  .about-benefit-wrapper .text-block {
    padding: 15px 15px 90px 15px; }
  .about-benefit-wrapper .h3.color-green {
    width: 650px;
    margin-left: auto;
    margin-right: auto; }
  .about-benefit-wrapper .btn.center-position {
    margin-top: 40px; }

.about-commission .wrapper-block {
  max-width: 100%;
  padding: 40px 60px; }
.about-commission .standart-gray {
  display: block;
  width: 450px; }

.connection-steps {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0; }
  .connection-steps .step-item {
    min-width: 550px;
    max-width: 550px;
    margin-bottom: 60px; }
    .connection-steps .step-item h4 {
      width: 400px;
      margin: 0 auto 20px auto; }
    .connection-steps .step-item img {
      width: 150px;
      margin-bottom: 30px; }

.for-partners .wrapper-block {
  padding: 50px 0 0 0; }

.standart.two-columns-view {
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px; }
  .standart.two-columns-view li {
    font-size: 16px;
    line-height: 26px; }

.str-after-wrapper {
  padding-top: 50px; }
  .str-after-wrapper .str-after {
    max-width: 650px;
    margin: 0 auto; }

@media screen and (min-width: 900px) {
  .top-form-wrapper h3 {
    font-size: 28px;
    line-height: 38px; }
  .top-form-wrapper .wrapper-block {
    max-width: 100%;
    padding: 0 60px; }
  .top-form-wrapper .flex-wrapper {
    display: flex; }
    .top-form-wrapper .flex-wrapper .flex-block {
      min-width: 40%;
      max-width: 40%; }
      .top-form-wrapper .flex-wrapper .flex-block.left-position {
        min-width: 60%;
        max-width: 60%;
        padding-right: 50px;
        margin-bottom: 0; }
  .top-form-wrapper .image-wrapper .s24 {
    max-width: 300px;
    font-size: 18px; } }
/*affiliate-program end*/
/*scan-go start*/
@media screen and (max-width: 799px) {
  .top-block-wrapper.scan-go-top-block .phone-image-block {
    margin: auto 0 auto auto; } }
.first-bend-block.on-scan-go {
  padding: 50px 0 150px 0;
  overflow: hidden; }
  .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper {
    padding: 60px 0; }
    .first-bend-block.on-scan-go .flex-wrapper .flex-block.right-position .image-wrapper img {
      max-width: 100%;
      margin: 0 auto; }

.to-video {
  bottom: -40px; }

.flex-table-view .table-tr {
  margin-bottom: 30px; }
  .flex-table-view .table-tr .table-cell {
    font-size: 16px; }
    .flex-table-view .table-tr .table-cell.wide-cell {
      padding-left: 0;
      flex-wrap: wrap; }
      .flex-table-view .table-tr .table-cell.wide-cell .logos-block {
        min-width: 40px;
        margin-right: 20px; }
        .flex-table-view .table-tr .table-cell.wide-cell .logos-block img {
          width: 55px;
          margin-right: -10px; }
      .flex-table-view .table-tr .table-cell.wide-cell span {
        padding: 10px 0; }
  .flex-table-view .table-tr.first-tr .table-cell {
    font-size: 16px; }

.scan-go-work .wrapper-block.like-cashbox {
  padding: 60px 15px; }
  .scan-go-work .wrapper-block.like-cashbox .image-wrapper {
    margin-top: 130px;
    margin-bottom: 30px; }
    .scan-go-work .wrapper-block.like-cashbox .image-wrapper .main-image {
      max-width: 95%;
      margin: 0 auto; }
.scan-go-work .wrapper-block .flex-wrapper.tab-no-wrap {
  flex-wrap: nowrap; }

.about-delivery .about-delivery-top-block .text-block {
  width: 100%; }
  .about-delivery .about-delivery-top-block .text-block p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px; }
.about-delivery .about-delivery-top-block .image-wrapper {
  padding-top: 50px; }
  .about-delivery .about-delivery-top-block .image-wrapper img {
    max-width: 100%;
    margin: 0 auto; }
.about-delivery .flex-wrapper .flex-block.right-position {
  padding-top: 40px;
  padding-left: 0; }
.about-delivery .flex-wrapper .flex-block .s18 {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center; }
.about-delivery .our-delivery-service p {
  display: block;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  min-width: 100%;
  font-weight: 600;
  padding-bottom: 20px; }
.about-delivery .our-delivery-service img {
  margin: 15px 10px;
  height: 55px; }

.about-discounts.on-scan-go {
  padding: 50px 15px; }
  .about-discounts.on-scan-go .flex-wrapper .flex-block.w60 {
    padding-right: 0; }
    .about-discounts.on-scan-go .flex-wrapper .flex-block.w60 h3 {
      font-size: 30px;
      line-height: 40px; }
  .about-discounts.on-scan-go .phone-image-block {
    width: 200px; }

.included-in-price .flex-wrapper {
  padding: 50px 0; }
.included-in-price .image-wrapper img {
  margin: 0 auto; }

.questions-wrapper .question-block {
  padding: 22px 30px; }
  .questions-wrapper .question-block:before {
    right: 24px; }
  .questions-wrapper .question-block:after {
    right: 34px; }

/*scan-go end*/
.have-page-dots .flickity-page-dots {
  line-height: 0; }
  .have-page-dots .flickity-page-dots .dot {
    position: relative;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 100%;
    margin: 0 13px 0 0;
    opacity: 1.0; }
    .have-page-dots .flickity-page-dots .dot:after {
      content: "";
      width: 14px;
      height: 1px;
      background: #aaa;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -1px; }
    .have-page-dots .flickity-page-dots .dot:last-child {
      margin: 0; }
      .have-page-dots .flickity-page-dots .dot:last-child:after {
        display: none; }
    .have-page-dots .flickity-page-dots .dot.is-selected {
      background: #57D435; }
.have-page-dots.bottom-dots .flickity-page-dots {
  bottom: 0; }
