<template>
  <svg style="display: none;" height="0" width="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="arrow-button" viewBox="0 0 64 64">
      <g>
        <circle cx="32" cy="32" r="32" fill="white"/>
      </g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.5832 28.9581C24.2096 29.3611 24 29.9051 24 30.472C24 31.0389 24.2096 31.5829 24.5832 31.9859L30.4614 38.3126C30.8974 38.7714 31.4614 38.9997 32.0194 38.9997C32.5774 38.9997 33.1314 38.7714 33.5574 38.3126L39.4176 32.0073C39.7908 31.6039 40 31.06 40 30.4933C40 29.9266 39.7908 29.3827 39.4176 28.9794C39.234 28.7806 39.0151 28.6227 38.7737 28.5149C38.5323 28.4071 38.2732 28.3516 38.0116 28.3516C37.7499 28.3516 37.4909 28.4071 37.2495 28.5149C37.0081 28.6227 36.7892 28.7806 36.6055 28.9794L32.0094 33.9234L27.3953 28.9581C27.2112 28.76 26.9922 28.6028 26.7508 28.4955C26.5095 28.3882 26.2507 28.333 25.9892 28.333C25.7278 28.333 25.4689 28.3882 25.2276 28.4955C24.9863 28.6028 24.7673 28.76 24.5832 28.9581Z" fill="#22C951"/>
    </symbol>
    <symbol id="arrow-base" viewBox="0 0 18 10">
      <path d="M12.8601 10L17.6328 5.22727L12.8601 0.454546L12.0398 1.2642L15.4169 4.64133H0.875V5.81321H15.4169L12.0398 9.17969L12.8601 10Z" fill="inherit"/>
    </symbol>
    <symbol id="arrow-big" viewBox="0 0 48 49">
      <path d="M21.1086 35.786L23.9999 38.6774L37.7142 24.9631L23.9999 11.2488L21.1086 14.1401L29.8868 22.9183H10.2856V27.0078H29.8868L21.1086 35.786Z" fill="inherit"/>
    </symbol>
    <symbol id="hamburger" viewBox="0 0 18 13">
      <path d="M0 0.5H18V2.5H0V0.5ZM0 5.5H18V7.5H0V5.5ZM0 10.5H18V12.5H0V10.5Z" fill="inherit"/>
    </symbol>
    <symbol id="social-vk" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12ZM13.0277 16.138C13.0277 16.138 13.2587 16.1128 13.3771 15.9881C13.4854 15.8738 13.4816 15.6581 13.4816 15.6581C13.4816 15.6581 13.4672 14.6509 13.9436 14.5022C14.4132 14.3559 15.0161 15.4762 15.6559 15.907C16.1392 16.2327 16.5061 16.1614 16.5061 16.1614L18.2158 16.138C18.2158 16.138 19.1098 16.084 18.686 15.3938C18.6509 15.3373 18.4387 14.8832 17.4151 13.9503C16.3427 12.9738 16.4866 13.1318 17.7776 11.4424C18.5639 10.4137 18.8782 9.78567 18.7799 9.51713C18.6866 9.26025 18.1081 9.32847 18.1081 9.32847L16.1836 9.34014C16.1836 9.34014 16.0409 9.32109 15.9351 9.38316C15.8318 9.444 15.7648 9.58595 15.7648 9.58595C15.7648 9.58595 15.4606 10.3818 15.0542 11.059C14.1972 12.4871 13.8547 12.5627 13.7145 12.4742C13.3883 12.2671 13.4697 11.6434 13.4697 11.2003C13.4697 9.81579 13.6838 9.23874 13.0534 9.08941C12.8443 9.03964 12.6903 9.00707 12.155 9.00154C11.4682 8.99478 10.8873 9.004 10.558 9.16193C10.3389 9.26701 10.1698 9.50176 10.2731 9.51528C10.4002 9.53187 10.6882 9.59148 10.8409 9.79551C11.0381 10.0591 11.0313 10.6503 11.0313 10.6503C11.0313 10.6503 11.1446 12.28 10.7664 12.4822C10.5073 12.6211 10.1517 12.3378 9.38726 11.0418C8.99598 10.3781 8.70048 9.64433 8.70048 9.64433C8.70048 9.64433 8.64351 9.50729 8.54147 9.43355C8.41814 9.34444 8.24597 9.31679 8.24597 9.31679L6.41729 9.32847C6.41729 9.32847 6.14245 9.33584 6.04166 9.45321C5.95213 9.55707 6.03477 9.77277 6.03477 9.77277C6.03477 9.77277 7.46654 13.0611 9.08801 14.7185C10.5749 16.2376 12.2627 16.138 12.2627 16.138H13.0277Z" fill="inherit"/>
    </symbol>
    <symbol id="social-tiktok" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM10.245 16.1084C9.93158 16.1085 9.62282 16.0322 9.34559 15.8859L9.3451 15.8856C9.1068 15.5569 8.9785 15.1613 8.97847 14.7553C8.97897 14.2413 9.18337 13.7485 9.54681 13.3849C9.91026 13.0214 10.4031 12.817 10.9171 12.8163C11.1169 12.8163 11.3083 12.8494 11.4891 12.9061V10.5516C11.2996 10.5248 11.1085 10.5109 10.9171 10.51C10.8969 10.51 10.8769 10.5107 10.8569 10.5114C10.8436 10.5118 10.8304 10.5123 10.817 10.5125V9.96647C10.6275 9.93964 10.4364 9.9257 10.245 9.92479C7.90431 9.92479 6 11.8294 6 14.1701C6 15.606 6.7176 16.877 7.81229 17.6456L7.81315 17.6462C8.20935 18.0732 8.68937 18.4138 9.22327 18.6468C9.75754 18.8799 10.3342 19.0001 10.9171 19C13.2578 19 15.1621 17.0957 15.1621 14.7553V10.0684C16.0969 10.7406 17.2195 11.1016 18.3708 11.1003V8.79356C18.14 8.79356 17.9155 8.7688 17.6984 8.72231V8.20868C17.0781 8.20927 16.4712 8.0289 15.9519 7.68967L15.9512 7.68893C15.4422 7.10646 15.1618 6.35906 15.1621 5.5855H12.8557V5.58518H14.5442C14.5082 5.3922 14.4899 5.19632 14.4897 5H12.1836L12.1798 14.2429C12.1413 15.278 11.289 16.1084 10.245 16.1084ZM6.95208 16.2699C7.14909 16.7832 7.44311 17.2489 7.81135 17.6446C7.43561 17.2425 7.14548 16.7749 6.95208 16.2699Z" fill="inherit"/>
    </symbol>
    <symbol id="social-telegram" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24 12C24 18.6274 18.6274 24 12 24C5.3726 24 0 18.6274 0 12C0 5.3726 5.3726 0 12 0C18.6274 0 24 5.3726 24 12ZM8.03575 10.9008C6.83365 11.4256 5.59855 11.9649 4.46913 12.587C3.87939 13.0188 4.66319 13.3243 5.39855 13.6108C5.51545 13.6563 5.6311 13.7014 5.73985 13.7464C5.83035 13.7742 5.92235 13.8035 6.0156 13.8332C6.83345 14.0938 7.74535 14.3843 8.53935 13.9473C9.84365 13.198 11.0745 12.3318 12.3045 11.4662C12.7074 11.1826 13.1103 10.8991 13.5156 10.6199C13.5346 10.6077 13.556 10.5938 13.5794 10.5786C13.9247 10.3548 14.7012 9.85145 14.4139 10.545C13.7347 11.2878 13.0072 11.9454 12.2757 12.6065C11.7827 13.0521 11.288 13.4993 10.805 13.9753C10.3843 14.317 9.94745 15.0044 10.4185 15.483C11.5035 16.2425 12.6054 16.9837 13.7066 17.7243C14.0649 17.9653 14.4233 18.2064 14.7809 18.448C15.387 18.9319 16.3343 18.5404 16.4675 17.7843C16.5268 17.4364 16.5863 17.0886 16.6458 16.7407C16.9746 14.8184 17.3034 12.8954 17.594 10.9668C17.6335 10.6642 17.6782 10.3617 17.723 10.059C17.8316 9.3255 17.9403 8.59105 17.9743 7.85355C17.8868 7.11755 16.9943 7.2794 16.4977 7.4449C13.9451 8.4162 11.418 9.4595 8.90095 10.5212C8.6158 10.6475 8.32675 10.7737 8.03575 10.9008Z" fill="inherit"/>
    </symbol>
    <symbol id="social-instagram" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12ZM12.0006 5.6C10.2624 5.6 10.0443 5.6076 9.36164 5.63867C8.6803 5.66987 8.21523 5.77773 7.80829 5.936C7.38735 6.09947 7.03028 6.31814 6.67454 6.67401C6.31854 7.02975 6.09987 7.38682 5.93587 7.80762C5.7772 8.21469 5.6692 8.6799 5.63853 9.36097C5.608 10.0436 5.6 10.2619 5.6 12.0001C5.6 13.7382 5.60773 13.9557 5.63867 14.6384C5.67 15.3197 5.77787 15.7848 5.936 16.1917C6.09961 16.6126 6.31827 16.9697 6.67414 17.3255C7.02975 17.6815 7.38682 17.9007 7.80749 18.0641C8.21469 18.2224 8.6799 18.3303 9.36111 18.3615C10.0438 18.3925 10.2618 18.4001 11.9998 18.4001C13.7381 18.4001 13.9556 18.3925 14.6382 18.3615C15.3196 18.3303 15.7852 18.2224 16.1924 18.0641C16.6132 17.9007 16.9697 17.6815 17.3253 17.3255C17.6813 16.9697 17.9 16.6126 18.064 16.1918C18.2213 15.7848 18.3293 15.3196 18.3613 14.6385C18.392 13.9558 18.4 13.7382 18.4 12.0001C18.4 10.2619 18.392 10.0438 18.3613 9.36111C18.3293 8.67977 18.2213 8.21469 18.064 7.80776C17.9 7.38682 17.6813 7.02975 17.3253 6.67401C16.9693 6.31801 16.6133 6.09934 16.192 5.936C15.784 5.77773 15.3186 5.66987 14.6373 5.63867C13.9546 5.6076 13.7373 5.6 11.9986 5.6H12.0006Z" fill="inherit"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4265 6.75335C11.5969 6.75308 11.787 6.75335 12.0006 6.75335C13.7094 6.75335 13.912 6.75948 14.5868 6.79015C15.2108 6.81868 15.5494 6.92295 15.775 7.01055C16.0737 7.12655 16.2866 7.26522 16.5105 7.48922C16.7345 7.71322 16.8732 7.92656 16.9895 8.22523C17.0771 8.45056 17.1815 8.78923 17.2099 9.41324C17.2405 10.0879 17.2472 10.2906 17.2472 11.9986C17.2472 13.7066 17.2405 13.9093 17.2099 14.584C17.1813 15.208 17.0771 15.5466 16.9895 15.772C16.8735 16.0706 16.7345 16.2833 16.5105 16.5072C16.2865 16.7312 16.0738 16.8699 15.775 16.9859C15.5497 17.0739 15.2108 17.1779 14.5868 17.2064C13.9121 17.2371 13.7094 17.2437 12.0006 17.2437C10.2916 17.2437 10.0891 17.2371 9.41444 17.2064C8.79043 17.1776 8.45176 17.0733 8.22603 16.9857C7.92736 16.8697 7.71402 16.731 7.49002 16.507C7.26602 16.283 7.12735 16.0702 7.01108 15.7714C6.92348 15.5461 6.81908 15.2074 6.79068 14.5834C6.76001 13.9088 6.75388 13.7061 6.75388 11.997C6.75388 10.2879 6.76001 10.0863 6.79068 9.41164C6.81921 8.78763 6.92348 8.44896 7.01108 8.22336C7.12708 7.92469 7.26602 7.71136 7.49002 7.48735C7.71402 7.26335 7.92736 7.12468 8.22603 7.00841C8.45163 6.92041 8.79043 6.81641 9.41444 6.78775C10.0048 6.76108 10.2336 6.75308 11.4265 6.75175V6.75335ZM15.4169 7.81602C14.9929 7.81602 14.6489 8.15963 14.6489 8.58376C14.6489 9.00777 14.9929 9.35177 15.4169 9.35177C15.8409 9.35177 16.1849 9.00777 16.1849 8.58376C16.1849 8.15976 15.8409 7.81602 15.4169 7.81602ZM12.0006 8.71337C10.1855 8.71337 8.7139 10.185 8.7139 12.0001C8.7139 13.8152 10.1855 15.2861 12.0006 15.2861C13.8157 15.2861 15.2868 13.8152 15.2868 12.0001C15.2868 10.185 13.8157 8.71337 12.0006 8.71337Z" fill="inherit"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0006 9.86671C13.1787 9.86671 14.134 10.8218 14.134 12.0001C14.134 13.1782 13.1787 14.1334 12.0006 14.1334C10.8223 14.1334 9.86724 13.1782 9.86724 12.0001C9.86724 10.8218 10.8223 9.86671 12.0006 9.86671Z" fill="inherit"/>
    </symbol>
    <symbol id="social-facebook" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12ZM13.2508 19.0557V12.5271H15.053L15.2918 10.2773H13.2508L13.2538 9.15125C13.2538 8.56447 13.3096 8.25006 14.1524 8.25006H15.279V6H13.4766C11.3116 6 10.5495 7.0914 10.5495 8.92678V10.2776H9.2V12.5274H10.5495V19.0557H13.2508Z" fill="inherit"/>
    </symbol>
    <symbol id="icon-lock" viewBox="0 0 12 16">
      <path d="M9.75 5.75V4.25C9.75 3.25544 9.35491 2.30161 8.65165 1.59835C7.94839 0.895088 6.99456 0.5 6 0.5C5.00544 0.5 4.05161 0.895088 3.34835 1.59835C2.64509 2.30161 2.25 3.25544 2.25 4.25V5.75C1.65326 5.75 1.08097 5.98705 0.65901 6.40901C0.237053 6.83097 0 7.40326 0 8V13.25C0 13.8467 0.237053 14.419 0.65901 14.841C1.08097 15.2629 1.65326 15.5 2.25 15.5H9.75C10.3467 15.5 10.919 15.2629 11.341 14.841C11.7629 14.419 12 13.8467 12 13.25V8C12 7.40326 11.7629 6.83097 11.341 6.40901C10.919 5.98705 10.3467 5.75 9.75 5.75ZM3.75 4.25C3.75 3.65326 3.98705 3.08097 4.40901 2.65901C4.83097 2.23705 5.40326 2 6 2C6.59674 2 7.16903 2.23705 7.59099 2.65901C8.01295 3.08097 8.25 3.65326 8.25 4.25V5.75H3.75V4.25ZM10.5 13.25C10.5 13.4489 10.421 13.6397 10.2803 13.7803C10.1397 13.921 9.94891 14 9.75 14H2.25C2.05109 14 1.86032 13.921 1.71967 13.7803C1.57902 13.6397 1.5 13.4489 1.5 13.25V8C1.5 7.80109 1.57902 7.61032 1.71967 7.46967C1.86032 7.32902 2.05109 7.25 2.25 7.25H9.75C9.94891 7.25 10.1397 7.32902 10.2803 7.46967C10.421 7.61032 10.5 7.80109 10.5 8V13.25Z" fill="inherit"/>
    </symbol>
    <symbol id="icon-dropdown" viewBox="0 0 6 5">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.218692 0.734403C0.0785821 0.885548 0 1.08955 0 1.30212C0 1.51469 0.0785821 1.7187 0.218692 1.86984L2.42301 4.24235C2.58651 4.41438 2.79802 4.5 3.00728 4.5C3.21653 4.5 3.42429 4.41438 3.58404 4.24235L5.78161 1.87784C5.92154 1.7266 6 1.52264 6 1.31012C6 1.09761 5.92154 0.893651 5.78161 0.742404C5.71273 0.667841 5.63065 0.60863 5.54013 0.568215C5.44961 0.5278 5.35247 0.506988 5.25434 0.506988C5.15622 0.506988 5.05907 0.5278 4.96855 0.568215C4.87803 0.60863 4.79595 0.667841 4.72708 0.742404L3.00353 2.5964L1.27322 0.734403C1.20419 0.66013 1.12206 0.601177 1.03157 0.560945C0.941068 0.520713 0.844 0.5 0.745957 0.5C0.647918 0.5 0.550849 0.520713 0.460352 0.560945C0.369855 0.601177 0.287721 0.66013 0.218692 0.734403Z" fill="inherit"/>
    </symbol>
  </svg>
</template>
