<template>
  <div id="app">
    <share-header logo="https://briskly.online/logo.svg" :content="header" />
    <share-footer :content="footer" />
  </div>
</template>

<script>
import ShareHeader from './components/ShareHeader.vue'
import ShareFooter from './components/ShareFooter.vue'

export default {
  name: 'App',
  components: {
    ShareHeader,
    ShareFooter
  },
  data () {
    return {
      header: null,
      footer: null
    }
  },
  mounted () {
    this.getHeaderContent()
    this.getFooterContent()
  },
  methods: {
    getHeaderContent () {
      fetch('content/ru/mock-header.json').then(response => response.json())
      .then(data => {
        this.header = data
      })
    },
    getFooterContent () {
      fetch('content/ru/mock-footer.json').then(response => response.json())
      .then(data => {
        this.footer = data
      })
    }
  }
}
</script>
