@font-face {
  font-family: 'Geometria';
  // src: url('~assets/fonts/Geometria-ExtraBold.eot');
  src:
    // url('~assets/fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Geometria-ExtraBold.woff2') format('woff2'),
    url('~assets/fonts/Geometria-ExtraBold.woff') format('woff');
    // url('~assets/fonts/Geometria-ExtraBold.ttf') format('truetype'),
    // url('~assets/fonts/Geometria-ExtraBold.svg#Geometria-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  // src: url('~assets/fonts/Geometria-Bold.eot');
  src:
    // url('~assets/fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Geometria-Bold.woff2') format('woff2'),
    url('~assets/fonts/Geometria-Bold.woff') format('woff');
    // url('~assets/fonts/Geometria-Bold.ttf') format('truetype'),
    // url('~assets/fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  // src: url('~assets/fonts/Geometria-Medium.eot');
  src:
    // url('~assets/fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Geometria-Medium.woff2') format('woff2'),
    url('~assets/fonts/Geometria-Medium.woff') format('woff');
    // url('~assets/fonts/Geometria-Medium.ttf') format('truetype'),
    // url('~assets/fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  // src: url('~assets/fonts/Geometria-Regular.eot');
  src:
    // url('~assets/fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Geometria-Regular.woff2') format('woff2'),
    url('~assets/fonts/Geometria-Regular.woff') format('woff');
    // url('~assets/fonts/Geometria-Regular.ttf') format('truetype'),
    // url('~assets/fonts/Geometria-Regular.svg#Geometria') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  // src: url('~assets/fonts/Geometria-Light.eot');
  src:
    // url('~assets/fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Geometria-Light.woff2') format('woff2'),
    url('~assets/fonts/Geometria-Light.woff') format('woff');
    // url('~assets/fonts/Geometria-Light.ttf') format('truetype'),
    // url('~assets/fonts/Geometria-Light.svg#Geometria-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}