.checkbox {
  display: inline-block;
}

.checkbox-label {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

.checkbox-row {
  display: flex;

  .checkbox-label {
    margin-left: 8px;
  }
}