.content {
  font-size: 18px;
  color: $txtPrimary;
  line-height: 29px;

  a {
    text-decoration: none;
    @include text-hover($primary, $acBrisklyPrimary)
  }

  &.has-content-margin {
    margin-bottom: 55px;
  }
}

@include until(768px) {
  .content {
    font-size: 16px;
    line-height: 26px;
  
    &.has-content-margin {}
  }
}

@include until(480px) {
  .content {
    font-size: 18px;
    line-height: 29px;
  
    &.has-content-margin {}
  }
}