.input {
  @include control;
  background-color: $white;
  padding: 18px 25px;
  color: $txtPrimary;
  max-height: 64px;

  &::placeholder {
    font-family: $font-family;
    color: $txtInverseTertiary;
    font-size: 18px;
  }

  &.is-full {
    min-width: 100%;
  }

  &.is-outline {
    border: 1px solid $txtStateDisabled;
  }

  &.size-md {
    padding: 21px 30px;
  }
}