.section {
  margin-top: 200px;
  
  &.is-last {
    margin-bottom: 200px;
  }
}

.section-title {
  font-size: 54px;
  line-height: 110%;
  color: $txtPrimary;
  font-weight: 800;
}

.section-description {
  font-size: 24px;
  line-height: 160%;
  color: $txtSecondary;
  margin-top: 30px;
}

@include until(1280px) {
  .section {
    margin-top: 140px;
    
    &.is-last {
      margin-bottom: 140px;
    }
  }

  .section-title {
    font-size: 48px;
  }

  .section-description {
    font-size: 20px;
  }
}

@include until(1024px) {
  .section-title {
    font-size: 42px;
  }
}

@include until(768px) {
  .section {
    margin-top: 100px;
    
    &.is-last {
      margin-bottom: 100px;
    }
  }

  .section-title {
    font-size: 30px;
  }

  .section-description {
    font-size: 18px;
  }
}


// @include until(1280px) {
  
// }

// @include until(1024px) {
  
// }

// @include until(768px) {
  
// }