<template>
  <Layout
    layout-classes="layout-primary-bg"
    header-classes="is-light"
    header-logo="logo-white.svg"
    :header-content="header"
    :footer-content="footer"
    :cookies-content="cookies"
  >
    <FirstScreen :content="page.FirstScreen" />
    <SectionStatistics :content="sections.SectionStatistics" />
    <SectionSoft :content="sections.SectionSoft" />
    <SectionCatalog :content="sections.SectionCatalog" />
    <SectionFactory :content="sections.SectionFactory" :background="false" />
    <SectionScale :content="sections.SectionScale" />
    <SectionBrands :content="brands" />
    <SectionQuote :content="sections.SectionQuote" />
    <SectionMedia :content="sections.SectionMedia" :items="media" />
    <SectionFeedback :content="sections.SectionFeedback" />
  </Layout>
</template>

<script>
import Layout from '@/components/Layout'
import FirstScreen from '@/components/Pages/index/FirstScreen'
import { sectionsMap } from '@/utils/index'

const components = {
  SectionStatistics: () => import('@/components/Sections/SectionStatistics'),
  SectionSoft: () => import('@/components/Sections/SectionSoft'),
  SectionFactory: () => import('@/components/Sections/SectionFactory'),
  SectionCatalog: () => import('@/components/Sections/SectionCatalog'),
  SectionBrands: () => import('@/components/Sections/SectionBrands'),
  SectionScale: () => import('@/components/Sections/SectionScale'),
  SectionQuote: () => import('@/components/Sections/SectionQuote'),
  SectionMedia: () => import('@/components/Sections/SectionMediaShort'),
  SectionFeedback: () => import('@/components/Sections/SectionFeedback')
}

export default {
  components: {
    FirstScreen,
    Layout,
    ...components
  },
  async asyncData ({ $content, app }) {
    const locale = app.i18n.locale
    const slug = 'index'
    const page = await $content(locale, slug).fetch()
    const media = await $content(locale, 'media').fetch()
    const header = await $content(locale, 'main/header').fetch()
    const footer = await $content(locale, 'main/footer').fetch()
    const cookies = await $content(locale, 'main/cookies').fetch()
    const brands = await $content(locale, 'main/brands').fetch()
    const sections = await $content(locale, 'sections').where({
      slug: {
        $in: Object.keys(components).map(component => component)
      }
    }).fetch()
      .then(data => sectionsMap(data))

    return {
      page,
      sections,
      media,
      header,
      footer,
      brands,
      cookies
    }
  },
  head () {
    return {
      title: this.page.title,
      meta: [
        { hid: 'description', name: 'description', content: this.page.description },
        { hid: 'keywords', name: 'keywords', content: this.page.keywords }
      ]
    }
  }
}
</script>
