<template>
  <Layout
    header-classes="is-bordered"
    header-logo="logo.svg"
    :header-content="header"
    :footer-content="footer"
    :cookies-content="cookies"
  >
    <FirstScreen :content="page.FirstScreen" />
    <SectionPresentation :content="sections.SectionPresentation" />
    <SectionAbout :content="sections.SectionAbout" />
    <SectionStarter :content="sections.SectionStarter" :products="products" />
    <SectionWorking :content="sections.SectionWorking" :form="formLine" />
    <SectionSliderFirst :content="sections.SectionSliderFirst" />
    <SectionSliderSecond v-if="sections.SectionSliderSecond.visible" :content="sections.SectionSliderSecond" />
    <SectionCalc v-if="sections.SectionCalc.visible" :content="sections.SectionCalc" />
    <SectionOffer v-if="sections.SectionOffer.visible" :content="sections.SectionOffer" />
    <SectionDetail :content="sections.SectionDetail" />
    <SectionStatistics :content="sections.SectionStatistics" />
    <SectionApp :content="sections.SectionApp" />
    <SectionSafe :content="sections.SectionSafe" :form="formLine" />
    <SectionFactory class="mt-0" :content="sections.SectionFactory" :form="formLine" />
    <SectionWeb :content="sections.SectionWeb" />
    <SectionMedia :content="sections.SectionMedia" :items="media" />
    <SectionBrands :content="brands" />
    <SectionMap :content="sections.SectionMap" />
    <SectionFeedback :content="sections.SectionFeedback" />
    <SectionMobileAction :content="sections.SectionMobileAction" />
  </Layout>
</template>

<script>
import FirstScreen from '@/components/Pages/micromarket/FirstScreen'
import Layout from '@/components/Layout'
import { sectionsMap } from '@/utils/index'

const components = {
  SectionPresentation: () => import('@/components/Sections/SectionPresentation'),
  SectionAbout: () => import('@/components/Sections/SectionAbout'),
  SectionStarter: () => import('@/components/Sections/SectionStarter'),
  SectionWorking: () => import('@/components/Sections/SectionWorking'),
  SectionSliderFirst: () => import('@/components/Sections/SectionSliderFirst'),
  SectionSliderSecond: () => import('@/components/Sections/SectionSliderSecond'),
  SectionCalc: () => import('@/components/Sections/SectionCalc'),
  SectionFactory: () => import('@/components/Sections/SectionFactory'),
  SectionOffer: () => import('@/components/Sections/SectionOffer'),
  SectionDetail: () => import('@/components/Sections/SectionDetail'),
  SectionStatistics: () => import('@/components/Sections/SectionStatistics'),
  SectionApp: () => import('@/components/Sections/SectionApp'),
  SectionSafe: () => import('@/components/Sections/SectionSafe'),
  SectionWeb: () => import('@/components/Sections/SectionWeb'),
  SectionMedia: () => import('@/components/Sections/SectionMedia'),
  SectionBrands: () => import('@/components/Sections/SectionBrands'),
  SectionFeedback: () => import('@/components/Sections/SectionFeedback'),
  SectionMap: () => import('@/components/Sections/SectionMap'),
  SectionMobileAction: () => import('@/components/Sections/SectionMobileAction')
}

export default {
  components: {
    Layout,
    FirstScreen,
    ...components
  },
  async asyncData ({ $content, app }) {
    const locale = app.i18n.locale
    const slug = 'micromarket'
    const page = await $content(locale, slug).fetch()
    const media = await $content(locale, 'media').fetch()
    const products = await $content(locale, 'products').sortBy('index', 'asc').fetch()
    const header = await $content(locale, 'main/header').fetch()
    const footer = await $content(locale, 'main/footer').fetch()
    const brands = await $content(locale, 'main/brands').fetch()
    const formLine = await $content(locale, 'main/form-line').fetch()
    const cookies = await $content(locale, 'main/cookies').fetch()
    const sections = await $content(locale, 'sections').where({
      slug: {
        $in: Object.keys(components).map(component => component)
      }
    }).fetch()
      .then(data => sectionsMap(data))

    return {
      page,
      sections,
      media,
      products,
      formLine,
      header,
      footer,
      brands,
      cookies
    }
  },
  head () {
    return {
      title: this.page.title,
      meta: [
        { hid: 'description', name: 'description', content: this.page.description },
        { hid: 'keywords', name: 'keywords', content: this.page.keywords }
      ]
    }
  }
}
</script>
