$top-offset: ($header-height + ($header-padding * 2) + 1);

.firstscreen-index {
  background-color: $txtPrimary;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: -$top-offset;
  padding-top: $top-offset + 20px;
  padding-bottom: $top-offset;
}

.firstscreen-index-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 750px;
}

.firstscreen-index-title {
  font-weight: 800;
  color: $primary;
  font-size: 84px;
}

.firstscreen-index-description {
  font-weight: 800;
  color: $white;
  font-size: 64px;
}

.firstscreen-index-text {
  font-weight: 500;
  color: $white;
  font-size: 34px;
  margin-top: 70px;
}

.firstscreen-index-links-slider {
  position: relative;
  z-index: 2;
  width: 100%;
}

.firstscreen-index-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  box-shadow: 0px 10px 20px rgba(9, 13, 23, 0.4);
  border: 1px solid rgba($white, 0.3);
  border-radius: $radius-xs;
  background-color: rgba($white, 0.05);

  &.splide__list {
    padding: 40px !important;
    margin-top: 40px !important;
    width: auto !important;
  }
}

.firstscreen-index-down-icon {
  width: 20px;
  height: 20px;
  fill: $primary;
  margin-right: 10px;
  transition: fill 0.3s;
}

.firstscreen-index-down {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: 2;
  font-size: 18px;
  font-weight: 700;
  @include text-hover($primary, $white);

  &:hover {
    .firstscreen-index-down-icon {
      fill: $white;
    }
  }
}

@include until(1280px) {
  .firstscreen-index-title {
    font-size: 64px;
  }

  .firstscreen-index-description {
    font-size: 48px;
  }

  .firstscreen-index-text {
    font-size: 26px;
    margin-top: 50px;
  }

  .firstscreen-index-links {
    padding: 30px;
    .button {
      font-size: 16px;
      padding: 14px 16px;
      min-height: auto;
      min-width: auto;
    }
  }
}

@include until(1024px) {
  .firstscreen-index-title {
    font-size: 58px;
  }

  .firstscreen-index-description {
    font-size: 42px;
  }

  .firstscreen-index-text {
    font-size: 22px;
    margin-top: 40px;
  }

  .firstscreen-index-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include until(768px) {
  .firstscreen-index-title {
    font-size: 34px;
  }

  .firstscreen-index-description {
    font-size: 28px;
  }

  .firstscreen-index-text {
    font-size: 18px;
  }

  .firstscreen-index-links {
    padding: 20px 16px !important;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0;

    &.splide__list {
      width: max-content !important;
    }
  }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .firstscreen-index-title {
    font-size: 64px;
  }

  .firstscreen-index-description {
    font-size: 48px;
  }

  .firstscreen-index-text {
    font-size: 26px;
    margin-top: 30px;
  }
}

// @include until(320px) {}
