<template>
  <header :class="[ 'header', classes ]">
    <div v-if="getContent" class="container">
      <ShareSprite />
      <div class="header-wrapper">
        <a href="/" class="header-logo">
          <img :src="logo" alt="">
        </a>
        <Navigation
          :content="{
            navigation: getContent.navigation,
            apps: getContent.apps,
            contact: getContent.contact,
            socials: getContent.socials
          }"
        />
        <a :href="getContent.contact.phoneAction" class="header-phone">{{ getContent.contact.phone }}</a>
        <!-- <button class="header-search">
          <img src="search.svg" alt="">
        </button> -->
        <!-- <DropdownLang :lang="$i18n.locale" /> -->
        <slot />
        <div class="header-hamburger" @click="mobileNavigation = !mobileNavigation">
          <svg class="inline-icon">
            <use href="#hamburger" />
          </svg>
        </div>
        <DropdownMobile
          v-if="mobileNavigation"
          :content="{
            navigation: getContent.navigation,
            apps: getContent.apps,
            contact: getContent.contact,
            socials: getContent.socials
          }"
          @on:close="closeMobileNavigation"
        />
      </div>
    </div>
  </header>
</template>

<script>
import Navigation from '@/components/Navigation/index.vue'
import DropdownMobile from '@/components/Dropdowns/DropdownMobile.vue'
import ShareSprite from '@/components/ShareSprite/index.vue'

export default {
  name: 'ShareHeader',
  components: {
    DropdownMobile,
    Navigation,
    ShareSprite
  },
  props: {
    classes: {
      type: String,
      default: ''
    },
    logo: {
      type: String,
      default: ''
    },
    content: {
      type: Object,
      default: () => {}
    },
    url: {
      type: String || null,
      default: null
    }
  },
  computed: {
    getContent () {
      return this.content ? this.content : this.externalContent
    }
  },
  data () {
    return {
      mobileNavigation: false,
      externalContent: null
    }
  },
  mounted () {
    if (!this.content && this.url) {
      this.loadContent()
    }
  },
  methods: {
    loadContent () {
      axios
        .get(this.url)
        .then(response => (this.externalContent = response.data))
    },
    closeMobileNavigation () {
      this.mobileNavigation = false
    }
  }
}
</script>

<style lang="scss">
@import '~/node_modules/share-styles/abstracts.scss';
@import '~/node_modules/share-styles/layout.scss';
@import '~/node_modules/share-styles/elements.scss';
@import '~/node_modules/share-styles/helpers.scss';
@import '~/node_modules/share-styles/elements/link';
@import '~/node_modules/share-styles/components/header';
@import '~/node_modules/share-styles/components/dropdown';
</style>
