<template>
  <footer class="footer">
    <div v-if="getContent" class="container">
      <ShareSprite />
      <div class="footer-wrapper">
        <div class="footer-about">
          <a href="/" class="footer-about-logo">
            <img src="https://briskly.online/logo.svg" alt="">
          </a>
          <div v-if="getContent.description" class="footer-about-desc">
            {{ getContent.description }}
          </div>
          <div v-if="getContent.certificates" class="footer-about-certificates">
            {{ getContent.certificates }}
          </div>
          <div v-if="getContent.info" class="footer-about-desc">
            {{ getContent.info }}
          </div>
          <div class="footer-about-copy">
            {{ getContent.year }}
          </div>
        </div>
        <nav class="footer-nav">
          <ul>
            <li v-for="(item, index) in getContent.navigationOne" :key="`navigationOne-${index}`">
              <a :href="item.link" :target="item.target">{{ item.title }}</a>
            </li>
          </ul>
          <ul>
            <li v-for="(item, index) in getContent.navigationTwo" :key="`navigationTwo-${index}`">
              <a :href="item.link" :target="item.target">{{ item.title }}</a>
            </li>
          </ul>
        </nav>
        <div class="footer-contacts">
          <div>
            <div class="footer-contacts-row footer-social">
              <a v-for="item in getContent.social" :key="item.icon" :href="item.link" target="_blank">
                <svg class="inline-icon footer-social-icon">
                  <use :href="`#${item.icon}`" />
                </svg>
              </a>
            </div>
            <div class="footer-contacts-row">
              <a :href="getContent.contact.phoneAction" class="footer-phone">{{ getContent.contact.phone }}</a>
              <a v-if="getContent.contact.button" :href="`${currentPath}${getContent.contact.link}`" class="footer-phone-desc link">{{ getContent.contact.button }}</a>
            </div>
            <div v-for="phone in getContent.additionalPhones" :key="phone.number" class="footer-contacts-row">
              <a :href="phone.action" class="footer-phone">{{ phone.number }}</a>
              <span class="footer-phone-desc">{{ phone.country }}</span>
            </div>
            <div v-if="getContent.additionalLogo" class="footer-contacts-row">
              <a :href="getContent.additionalLogo.link" target="_blank">
                <img :src="getContent.additionalLogo.image" :alt="getContent.additionalLogo.link">
              </a>
              <span v-if="getContent.additionalLogo.text" class="is-block">
                {{ getContent.additionalLogo.text }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-icons">
        <div v-for="icon in getContent.icons" :key="icon" class="footer-icon">
          <img :src="icon" alt="">
        </div>
      </div>
      <div class="footer-content">
        {{ getContent.copy }}
      </div>
    </div>
    <a v-if="getContent" :href="getContent.bottomLink" target="_blank" class="footer-offer">
      <span class="container is-block">
        <span class="footer-offer-content">
          <span>
            {{ getContent.bottomText }}
          </span>
          <svg class="inline-icon footer-offer-content-arrow">
            <use href="#arrow-big" />
          </svg>
        </span>
      </span>
    </a>
  </footer>
</template>

<script>
import ShareSprite from '@/components/ShareSprite/index.vue'

export default {
  name: 'ShareFooter',
  components: {
    ShareSprite
  },
  props: {
    content: {
      type: Object,
      default: () => {}
    },
    url: {
      type: String || null,
      default: null
    }
  },
  data () {
    return {
      externalContent: null,
      currentPath: ''
    }
  },
  computed: {
    getContent () {
      return this.content ? this.content : this.externalContent
    }
  },
  mounted () {
    if (!this.content && this.url) {
      this.loadContent()
    }
    this.$nextTick(() => {
      this.currentPath = window.location.pathname
    })
  },
  methods: {
    loadContent () {
      axios
        .get(this.url)
        .then(response => (this.externalContent = response.data))
    }
  }
}
</script>

<style lang="scss">
@import '~/node_modules/share-styles/abstracts.scss';
@import '~/node_modules/share-styles/layout.scss';
@import '~/node_modules/share-styles/elements.scss';
@import '~/node_modules/share-styles/helpers.scss';
@import '~/node_modules/share-styles/elements/link';
@import '~/node_modules/share-styles/components/footer';
</style>
