<?/*<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v10.0'
        });
        function fb_chat_callback() {
            ym(50899424, 'reachGoal', 'chat');
            ga('send', 'event', 'general', 'chat');
        }

        FB.Event.subscribe('customerchat.dialogShow', fb_chat_callback);
    };

    (function (d, s, id) {
        if (document.body.clientWidth < 769)
            return;
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/<?=isset($fb_chat_params[0]) ? $fb_chat_params[0] : 'en_US'?>/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-customerchat" attribution="page_inbox" page_id="157071151805524" greeting_dialog_display="fade" greeting_dialog_delay="10">
</div>
*/?>
