<template>
  <div class="form-responsive">
    <div class="bitrix-form-line">
      <client-only>
        <slot />
      </client-only>
    </div>
    <a v-smooth-scroll href="#section-feedback" class="button form-feedback-button">{{ button }}</a>
    <!-- <form action="/" class="form form-inline">
      <input type="text" placeholder="Имя" class="input size-md is-outline">
      <input type="text" placeholder="Номер телефона" class="input size-md is-outline">
      <button class="button">Перезвоните мне</button>
    </form>
    <button class="button form-feedback-button">Связаться с нами</button> -->
  </div>
</template>

<script>
export default {
  props: {
    button: {
      type: String,
      default: 'Связаться с нами'
    }
  }
}
</script>
