<div class="full-width map-block-wrapper" id="map">
    <div class="map-block">
        
    </div>
    <img class="bend bend-top" src="/img/bend-images/map-bend-top.svg" alt="" />
    <img class="bend bend-bottom" src="/img/bend-images/map-bend-bottom.svg" alt="" />
</div>