<template>
  <a :href="link" :target="target" class="dropdown-item">
    <span class="dropdown-item-icon">
      <img :src="icon" :alt="title">
    </span>
    <span>
      <span class="dropdown-item-title">
        {{ title }}
      </span>
      <span class="dropdown-item-desc">
        {{ desc }}
      </span>
    </span>
  </a>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    desc: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: 'dropdown-nav-icon-1.png'
    },
    link: {
      type: String,
      default: '#'
    },
    target: {
      type: String,
      default: ''
    }
  }
}
</script>

