<div class="wrapper-block">
    <div class="spec-text">
        <h2 class="leaf-after">Кабинет владельца торговой точки с встроенным маркетингом</h2>
        <p>В личном кабинете на платформе bbo.briskly.online можно настраивать работу магазина: часы работы, его отображение в приложении, радиус доступности и другие детали. Можно пополнять ассортимент, вводить новые товарные позиции и снимать отчёты по продажам. Смотреть записи с камеры микромаркета и историю взаимодействий с ним.</p>
        <p>Также, благодаря приложению, вы держите связь со своей аудиторией и поэтому - можете стимулировать продажи с помощью скидок, акций и промокодов. </p>
    </div>
</div>
<div class="screen-block wrapper-block">
    <img src="/img/main-page-images/bbo-screen-new.jpg" alt="" />
</div>