.dropdown-link {
  display: block;
}

.dropdown-item-icon {
  flex-shrink: 0;
  flex-grow: 0;
  width: 48px;
  height: 48px;
  margin-right: 18px;
}

.dropdown-item-title {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: $txtPrimary;
  transition: color 0.3s;
  font-weight: 500;
}

.dropdown-item-desc {
  display: block;
  font-size: 13px;
  line-height: 115%;
  font-weight: 400;
  color: #8B98A8;
  margin-top: 5px;
}

.dropdown-item {
  display: flex;
  align-items: center;

  &:hover {
    .dropdown-item-title {
      color: $primary;
    }
  }
}

.dropdown {
  background: rgba($white, 0.85);
  box-shadow: 0px 6px 99px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(15px);
  border-radius: $radius-sm;
  width: 100%;
}

.dropdown-wrapper {
  position: absolute;
  z-index: 99;
  padding-top: 25px;

  &.is-nav {
    left: 0;
    right: 0;
    max-width: 960px;
    margin: 0 auto;

    .dropdown {
      display: flex;
      min-height: 200px;
      padding: 48px 52px;

      .dropdown-navigation-contacts {
        min-width: 250px;
        margin-left: 60px;
      }

      .dropdown-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
      }

      .dropdown-item {
        &:nth-child(odd) {
          grid-column: 1;
        }

        &:nth-child(even) {
          grid-column: 2;
        }
      }
    }
  }

  &.is-lang {
    min-width: 110px;
    right: 5px;

    .dropdown {
      padding: 30px;

      .dropdown-item-title {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        color: $txtQuaternary;
        transition: color 0.3s;
      }

      .dropdown-item-icon {
        display: inline-block;
      }

      .dropdown-item {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          margin-top: -2px;
          margin-right: 10px;
        }

        &:hover {
          .dropdown-item-title {
            color: $primary;
          }
        }

        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .dropdown {
    background: rgba($white, 0.98);
  }
}

.dropdown-navigation-contacts {
  display: block;
}

.dropdown-navigation-contacts-apps {
  display: flex;
  margin-bottom: 45px;

  a {
    width: 116px;

    &:first-child {
      margin-right: 4px;
    }
    &:last-child {
      margin-left: 4px;
    }
  }
}

.dropdown-navigation-contacts-title {
  font-size: 14px;
  line-height: 17px;
  color: $txtPrimary;
  margin-bottom: 12px;
  font-weight: 500;
}

.dropdown-navigation-contacts-social {
  display: flex;

  a {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

.dropdown-navigation-contacts-social-icon {
  fill: $txtSecondary;
  width: 24px;
  height: 24px;
  transition: fill 0.3s;

  &:hover {
    fill: $primary;
  }
}

.dropdown-navigation-contacts-phone {
  display: inline-block;
  margin-top: 14px;
  font-size: 21px;
  line-height: 171%;
  color: $txtSecondary;
}

.dropdown-navigation-contacts-phone-desc {
  display: block;
  font-size: 12px;
  line-height: 16px;
}

.dropdown-mobile {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 62px;
  background: rgba($white, 0.95);
  backdrop-filter: blur(15px);
  z-index: 99;
}

.dropdown-mobile-links {
  margin-bottom: 90px;

  .dropdown-item {
    margin-top: 38px;
    list-style: none;
  }
}

.dropdown-mobile-link {
  display: block;
  cursor: pointer;

  &.is-active {
    .header-nav-dropdown-icon{
      transform: rotate(180deg);
    }
  }

  .dropdown-mobile-link-title {
    display: flex;
    align-items: center;
    color: #8B98A8;
    font-size: 21px;
    line-height: 14px;
    font-weight: 500;
  }

  &:hover {
    .dropdown-mobile-link-title {
      color: $primary;
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.dropdown-mobile-dropdown {
  display: block;
}

.dropdown-mobile-actions {
  display: flex;
  position: absolute;
  top: 62px;
  right: 62px;
}

.dropdown-mobile-actions-item {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 36px;
  }
}

.dropdown-lang {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;

  svg {
    margin: 0;
    margin-left: 8px;
    height: 15px;
  }
}

@include until(1280px) {

}

@include until(1140px) {
  .dropdown-item {
    &:hover {
      .dropdown-item-title {
        color: $txtPrimary;
      }
    }
  }
}

@include until(1024px) {

}

@include until(768px) {

}

@include until(640px) {
  .dropdown-lang {
    margin-left: 20px;
  }

  .dropdown-wrapper {
    &.is-lang {
      right: auto;
    }
  }
}

@include until(480px) {
  .dropdown-mobile {
    padding: 40px 25px;
  }

  .dropdown-mobile-actions {
    top: 38px;
    right: 25px;
  }

  .dropdown-mobile-actions-item {
    &:not(:last-child) {
      margin-right: 26px;
    }
  }
}

// Animation
.fade-enter-active, .fade-leave-active {
  transition: all .3s;
}
.fade-enter, .fade-leave-to {
  transform: translateY(15px);
  opacity: 0;
}
