.header {
  display: block;
  position: relative;
  padding: $header-padding 0;
  z-index: 99;

  img, video {
    height: auto;
    max-width: 100%;
  }
}

.header-logo {
  display: flex;
}

.header-wrapper {
  display: flex;
  align-items: center;
  height: $header-height;
}

.header-nav-icon {
  transition: fill 0.3s;
  height: 18px;
  width: 18px;
  margin-top: -2px;
  margin-right: 5px;
  fill: $txtFocus;
}

.header-nav-dropdown-icon {
  width: 8px;
  height: 6px;
  margin-left: 5px;
  margin-top: 2px;
  fill: $txtStateDisabled;
}

.header-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;

  ul.header-nav-list {
    display: flex;
    list-style: none;
  }

  li.header-nav-item {
    margin: 0 20px;
  }

  .header-nav-link {
    @include text-hover($txtFocus, $primary);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &.is-active {
      .header-nav-dropdown-icon{
        transform: rotate(180deg);
      }
    }

    &:hover {
      .header-nav-icon {
        fill: $primary;
      }
    }
  }
}

.header-phone {
  min-height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 32px;
  border: 1px solid $primary;
  color: $txtFocus;
  font-size: 14px;
  font-weight: 500;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  @include text-hover($txtFocus, $primary);
}

.header-search {
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0 30px;
}

.header-hamburger {
  display: none;
  margin-left: 30px;

  svg {
    width: 18px;
    height: 12px;
    fill: $txtSecondary;
  }
}

// Styling
.header {
  &.is-bordered {
    border-bottom: 1px solid rgba($txtTertiary, 0.1);
  }

  &.is-light {
    .header-nav-link {
      @include text-hover($white, $primary);
    }

    .header-phone {
      @include text-hover($white, $primary);
    }

    .header-nav-icon {
      fill: $white;
    }
  }
}

@include until(1140px) {
  .header-hamburger {
    display: block;
  }

  .header-nav {
    display: none;
  }

  .header-phone {
    margin-left: auto;
  }
}

@include until(640px) {
  .header {
    padding-top: 30px;
  }

  .header-phone {
    display: none;
  }

  .header-search {
    margin-left: auto;
  }

  .header-hamburger {
    margin-left: auto;
  }
}

@include until(480px) {
  .header {
    padding: $header-mobile-padding 0;
  }
}
