.button {
  @include control;
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: 18px;
  line-height: 20px;
  min-width: 260px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $acBrisklyPrimary;
    border-color: $acBrisklyPrimary;
  }

  &.is-full {
    min-width: 100%;
  }

  &.is-outline {
    background: none;
    border: 1px solid $primary;
    color: $primary;
    transition: all 0.3s;
    &:hover {
      background: $primary;
      color: $white;
    }
  }
}

@include until(480px) {
  .button {
    min-width: 100%;
  }
}
