.inline-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  &.size-1 {
    width: 12px;
    height: 12px;
  }

  &.size-2 {
    width: 24px;
    height: 24px;
  }

  &.size-3 {
    width: 32px;
    height: 32px;
  }

  &.size-4 {
    width: 48px;
    height: 48px;
  }

  &.size-5 {
    width: 54px;
    height: 54px;
  }

  &.size-6 {
    width: 64px;
    height: 64px;
  }
}