$list-height: 28px;
$list-height-mobile: 22px;

ul.list {
  li {
    position: relative;
    min-height: $list-height;
    padding-left: $list-height + 12px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    color: $txtSecondary;
    margin-bottom: 12px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('static/check-circle.svg');
      height: $list-height;
      width: $list-height;
    }
  }
}

ol.list {
	list-style-type: none;
	counter-reset: num;
	margin: 0 0 0 20px;
	padding: 15px 0 5px 0;
  font-size: 18px;
  color: $txtSecondary;

  li {
    position: relative;
    margin: 0;
    &:not(:last-child) {
      padding-bottom: 24px;
    }
  }

  li::before {
    content: counter(num) '.';
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -26px;
    width: 20px;
    color: $primary;
    text-align: center;
  }
}

@include until(1140px) {
  ul.list {
    li {
      font-size: 18px;
      line-height: 29px;
    }
  }
}

@include until(1024px) {
  ul.list {
    li {
      font-size: 16px;
      line-height: 24px;
      
      &::before {
        top: -3px;
      }
    }
  }
}

@include until(768px) {}

@include until(640px) {
  ul.list {
    li {
      font-size: 15px;
      line-height: 21px;
      min-height: $list-height-mobile;
      padding-left: $list-height-mobile + 12px;

      &::before {
        top: -2px;
        background-size: $list-height-mobile;
        height: $list-height-mobile;
        width: $list-height-mobile;
      }
    }
  }
}

@include until(480px) {
  ul.list {
    li {
      font-size: 16px;
      line-height: 24px;

      &::before {
        top: 0;
      }
    }
  }
}