.subtitle {
  color: $txtSecondary;
  font-weight: 300;
  font-size: 21px;
  line-height: 33px;
}

@include until(640px) {
  .subtitle {
    font-size: 18px;
    line-height: 29px;
  }
}

@include until(480px) {
  .subtitle {
    font-size: 16px;
    line-height: 26px;
  }
}