.title {
  color: $txtPrimary;
  font-weight: 800;

  &.size-1 {
    font-size: 48px;
    line-height: 42px;
  }

  &.size-2 {
    font-size: 54px;
    line-height: 60px;
  }

  &.size-3 {
    font-size: 60px;
    line-height: 54px;
  }

  &.size-4 {
    font-size: 99px;
    line-height: 90px;
  }

  &.size-5 {
    font-size: 123px;
    line-height: 98px;
  }

  &.has-title-margin-1 {
    margin-bottom: 27px;
  }

  &.has-title-margin-2 {
    margin-bottom: 55px;
  }
}

@include until(1600px) {
  .title {
    &.size-4 {
      font-size: 90px;
      line-height: 80px;
    }

    &.size-5 {
      font-size: 111px;
      line-height: 89px;
    }
  }
}

@include until(1440px) {
  .title {
    &.size-1 {
      font-size: 42px;
      line-height: 38px;
    }

    &.size-4 {
      font-size: 80px;
      line-height: 72px;
    }
  }
}

@include until(1280px) {
  .title {
    &.has-title-margin-1 {
      margin-bottom: 17px;
    }

    &.size-4 {
      font-size: 72px;
      line-height: 65px;
    }

    &.size-5 {
      font-size: 90px;
      line-height: 72px;
    }
  }
}

@include until(1140px) {
  .title {
    &.size-1 {
      font-size: 36px;
      line-height: 32px;
    }

    &.size-4 {
      font-size: 64px;
      line-height: 57px;
    }
  }
}

@include until(1024px) {
  .title {
    &.size-1 {
      font-size: 33px;
      line-height: 30px;
    }

    &.size-2 {
      font-size: 48px;
      line-height: 43px;
    }

    &.size-3 {
      font-size: 42px;
      line-height: 38px;
    }

    &.size-4 {
      font-size: 54px;
      line-height: 48px;
    }

    &.size-5 {
      font-size: 63px;
      line-height: 50px;
    }
  }
}

@include until(768px) {
  .title {
    &.size-2 {
      font-size: 42px;
      line-height: 38px;
    }

    &.size-3 {
      font-size: 33px;
      line-height: 30px;
    }

    &.size-4 {
      font-size: 48px;
      line-height: 43px;
    }

    &.size-5 {
      font-size: 54px;
      line-height: 43px;
    }

    &.has-title-margin-1 {
      margin-bottom: 9px;
    }

    &.has-title-margin-2 {
      margin-bottom: 22px;
    }
  }
}

@include until(640px) {
  .title {
    &.size-1 {
      font-size: 30px;
      line-height: 27px;
    }

    &.size-2 {
      font-size: 39px;
      line-height: 36px;
    }

    &.size-3 {
      font-size: 33px;
      line-height: 30px;
    }

    &.size-4 {
      font-size: 36px;
      line-height: 34px;
    }

    &.size-5 {
      font-size: 42px;
      line-height: 34px;
    }
  }
}

@include until(480px) {
  .title {
    &.size-2 {
      font-size: 36px;
      line-height: 32px;
    }

    &.size-3 {
      font-size: 27px;
      line-height: 25px;
    }

    &.size-4 {
      font-size: 27px;
      line-height: 25px;
    }

    &.size-5 {
      font-size: 27px;
      line-height: 22px;
    }

    &.has-title-margin-1 {
      margin-bottom: 16px;
    }
  }
}