textarea.textarea {
  @include control;
  background-color: $white;
  padding: 18px 25px;
  color: $txtPrimary;
  min-height: 150px;

  &::placeholder {
    font-family: $font-family;
    color: $txtInverseTertiary;
    font-size: 15px;
  }
}