.has-text-white {
  color: $white;
}

.has-text-black {
  color: $black;
}

.has-text-primary {
  color: $primary;
}

.has-text-focus {
  color: $txtFocus;
}

.has-text-secondary {
  color: $txtSecondary;
}

.has-text-tertiary {
  color: $txtTertiary;
}

.has-text-quaternary {
  color: $txtQuaternary;
}

.has-text-state-disabled {
  color: $txtStateDisabled;
}

.has-text-inverse-tertiary {
  color: $txtInverseTertiary;
}

.has-bg-primary {
  background-color: $bgPrimary;
}

.has-bg-secondary {
  background-color: $bgSecondary;
}

.has-bg-tertiary {
  background-color: $bgTertiary;
}