.is-bold {
  font-weight: 700;
}

.is-extra-bold {
  font-weight: 800;
}

.is-medium {
  font-weight: 500;
}

.is-regular {
  font-weight: 400;
}

.is-light {
  font-weight: 300;
}

.has-text-center {
  text-align: center;
}

.has-text-right {
  text-align: right;
}