// responsive
@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}
@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}
@mixin between($from, $until) {
  @media screen and (min-width: $from) and (max-width: $until - 1px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}
@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}
@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
@mixin desktop-only {
  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
    @content;
  }
}
@mixin until-widescreen {
  @media screen and (max-width: $widescreen - 1px) {
    @content;
  }
}
@mixin widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}
@mixin widescreen-only {
  @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
    @content;
  }
}

// text hover
@mixin text-hover($color, $color-hover) {
  color: $color;
  transition: color 0.3s;
  &:hover {
    color: $color-hover;
  }
}

// decoration background
@mixin rotation-bg($color, $deg, $isBottom: false) {
  height: $rotation-height;
  width: 100vw;
  position: absolute;
  @if $isBottom {
    background: linear-gradient($deg, rgba(255, 255, 255, 0) 50%, $color 50%);
  } @else {
    background: linear-gradient($deg, $color 50%, rgba(255, 255, 255, 0) 50%);
  }
}

@mixin card($margin: 50px, $hover: true, $width: $card-width, $height: 100%, $background: $white, $padding: $card-padding, $overflow: hidden) {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  background: $background;
  border-radius: $radius-md;
  padding: $padding;
  box-shadow: 0px 42px 99px rgba(25, 27, 35, 0.06);
  transition: all 0.3s;
  overflow: $overflow;

  width: $width;
  height: $height;
  margin-right: $margin;

  @if $hover {
    @include from(1024px) {
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 42px 99px rgba(25, 27, 35, 0.12);
      }
    }
  }
}

// @include until(1280px) {
  
// }

// @include until(1140px) {
  
// }

// @include until(1024px) {
  
// }

// @include until(768px) {
  
// }

// @include until(640px) {
  
// }

// @include until(480px) {

// }