$primary: #22C951;

$txtPrimary: #191B23;
$txtFocus: #323846;
$txtSecondary: #515C72;
$txtTertiary: #6A7B95;
$txtQuaternary: #8792AB;
$txtStateDisabled: #C2C5D3;
$txtInverseSecondary: #DCDEE6;
$txtInverseTertiary: #A7AFC1;

$black: $txtPrimary;
$white: #ffffff;

$bgPrimary: #F7FAFC;
$bgSecondary: #E9EBF3;
$bgTertiary: $txtInverseSecondary;
$acColdPine: #005D58;
$acBrisklyPrimary: #1FD552;
$bgHeader: #E5ECF4;
$borderCardOutline: rgba(138, 240, 181, 0.42);

$font-family: 'Geometria', 'Arial', sans-serif;

$touch: 768px;
$tablet: 1024px;
$desktop: 1170px;
$widescreen: 1306px;
$fullhd: 1920px;

$gap: 20px;
$gap-sm: ($gap * 0.5);
$gap-md: ($gap * 2);

$radius-xs: 8px;
$radius-sm: 10px;
$radius-md: 24px;
$radius-xl: 33px;

$header-height: 40px;
$header-height-mobile: 30px;
$header-padding: 27px;
$header-mobile-padding: 16px;

$card-bordered-padding-x: 35px;
$card-bordered-padding-y: 30px;
$card-bordered-radius: $radius-md;
$card-padding: 34px;
$card-width: 360px;
$card-width-mobile: 260px;

$rotation-height: 260px;
$rotation-bg-margin: 200px;