<template>
  <div class="slider-cards splide-arrow-on-hover">
    <div class="container">
      <div :id="`splide-${name}`" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li v-for="(slide, index) in slides" :key="index" class="splide__slide">
              <div class="card">
                <div v-if="slide.note.length" class="card-note">
                  {{ slide.note }}
                </div>
                <div v-lazy-container="{ selector: 'img' }" class="card-image">
                  <img :data-src="slide.image">
                </div>
                <p v-if="slide.content" class="card-text">
                  {{ slide.content }}
                </p>
                <a v-if="slide.link.length" :href="slide.link" target="_blank" class="card-link">
                  {{ slide.button }}
                  <svg class="inline-icon card-link-icon">
                    <use href="#arrow-base" />
                  </svg>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    slides: {
      type: Array,
      required: true
    }
  },
  mounted () {
    this.initSplide()
  },
  methods: {
    initSplide () {
      new this.$Splide(`#splide-${this.name}`, {
        type: 'slide',
        autoWidth: true,
        pagination: false,
        arrows: true,
        // lazyLoad: 'sequential',
        padding: {
          top: '50px',
          bottom: '50px'
        }
      }).mount()
    }
  }
}
</script>
